workflows/01_the_author_agent_hub.json
{
  "id": "RcHfwiB7uM2vFfJ3",
  "name": "The Author Agent",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "author_request",
        "options": {}
      },
      "id": "hub-webhook",
      "name": "webhook_trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        256,
        -384
      ],
      "webhookId": "87c552c6-3d64-47e4-898a-76d42d2bc30a"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "hub-chat",
      "name": "chat_trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        -160
      ],
      "webhookId": "51ef2658-ee92-49bc-affd-03821bdcc4cb"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput || $json.body?.user_message_request || $json.body.user_message_request}}",
        "options": {
          "systemMessage": "=You are The Author Agent, a specialized AI writing assistant. You help plan, research, write, and manage fiction and non-fiction content across multiple genres.\n\nToday's date is {{ $now.format('yyyy-MM-dd') }}. You are operating in the year {{ $now.format('yyyy') }}.\n\n## AVAILABLE GENRES\nEach genre has a slug you must pass to writing tools. Match the user's request to the best genre:\n\n| Genre Slug | Genre Name | Matches These Topics |\n|---|---|---|\n| post-apocalyptic | Post-Apocalyptic Sci-Fi | apocalypse, survival, wasteland, collapse, dystopian, extinction, plague, fallout |\n| political-scifi | Political Sci-Fi | politics in space, empire, republic, governance, revolution, propaganda, insurgency, diplomacy |\n| historical-time-travel | Historical Time Travel | time travel, past lives, romance across eras, historical periods, paradox, alternate history, reincarnation |\n| ai-marketing | AI & Marketing Technology | artificial intelligence, AI tools, marketing automation, LLM, martech, generative AI, content marketing |\n| political-history | Political & Historical Events | geopolitics, political history, revolution, democracy, elections, cold war, historical analysis |\n| ancient-history | Ancient History & Historical Novels | ancient Rome, Greece, Egypt, Mesopotamia, medieval, archaeology, classical antiquity, historical fiction |\n\n## INTERPRETING VOICE COMMANDS\nUsers often speak casually via voice. Interpret their intent:\n- Map loose descriptions to the closest genre_slug using the table above\n- If the topic spans multiple genres, ask the user which genre to use\n- If the user names a genre that does not exist yet, list available genres and ask which is closest\n- Extract the core request even when the voice transcription is messy or repetitive\n\n## CRITICAL RULES FOR TOOL USAGE\n- ALWAYS CALL TOOLS. Never respond with text describing what you would do.\n- ALWAYS RELAY TOOL OUTPUT VERBATIM. Copy every manage_library result word-for-word to your response — lists, empty results (e.g. \"No drafts found\"), confirmations, and errors alike. Never output an empty response after a tool call. Never summarize or paraphrase tool results.\n- CONTEXT RESOLUTION: When the user says \"that item\", \"this item\", \"it\", or any pronoun referring to recently discussed content, scan the conversation history for the most recently mentioned [ID:...] value and use it as content_id. NEVER ask the user for the ID when it appeared in the previous message.\n## LIBRARY OPERATIONS — CALL TOOL FIRST, NO EXCEPTIONS\nWhen the user says approve / publish / reject / schedule / list (anything library-related):\n- STEP 1: Call manage_library immediately with content_title set to what the user said. Do this BEFORE writing any response.\n- STEP 2: Read the tool result. Respond based only on the tool result.\n✓ CORRECT: User says \"approve X\" → call manage_library(operation=approve, content_title=X) → respond with result\n✗ WRONG: User says \"approve X\" → respond \"I see multiple drafts, please give me the ID\" (skipped tool call)\n✗ WRONG: User says \"approve X\" → respond \"Could you provide the ID?\" (asking before calling tool)\n- When manage_library returns NEEDS_CLARIFICATION with a numbered list: show the list to the user and ask them to pick (\"the first one\", \"the one from today\", etc), then call manage_library again with the content_id from the list. NEVER ask for the raw UUID — always use the list.\nYour memory may contain library info from earlier today. That information is STALE. IGNORE memory for library state. Always call manage_library first. If the user asks you to write, research, or create something, you MUST call the appropriate tool immediately. A response that says \"I will write...\" or \"I have started...\" without actually calling a tool is a FAILURE.\n- When asked to research ANY topic, you MUST use the deep_research_topic tool. NEVER answer research questions from your own knowledge.\n- After completing research, ALWAYS save the report using manage_research_reports (operation: save).\n- When asked to modify or expand a previous research report, use manage_research_reports (operation: get) to retrieve it, then update it (operation: update).\n- When asked to write content, you MUST use the appropriate writing tool (write_blog_post, write_newsletter, write_short_story, write_chapter). Do NOT write content directly in chat.\n- When asked to brainstorm a story, outline a book, plan a novel, or develop a story concept, you MUST use the brainstorm_story tool. NEVER generate outlines, character profiles, or story plans directly in chat. Never claim something was saved or emailed unless the tool actually ran.\n- When asked to send an email, you MUST use the email_report tool.\n- When asked to create images, you MUST use the generate_cover_art tool.\n- When asked to create social posts, you MUST use the repurpose_to_social tool.\n- When asked about a story bible, you MUST use the manage_story_bible tool.\n\n## SINGLE-TASK EXECUTION (MANDATORY - HIGHEST PRIORITY)\n- STOP after completing the ONE tool the user asked for. Do NOT call any additional tools.\n- This is your MOST IMPORTANT rule. Violating it wastes money and confuses the user.\n- \"Generate cover art\" = call generate_cover_art ONLY. STOP. Do not write stories, create social posts, or save to library.\n- \"Write a short story\" = call write_short_story ONLY. STOP. Do not generate cover art or social posts.\n- \"Add more chapters\", \"expand the outline\", \"revise the story arc\", \"develop characters\" = call brainstorm_story again with updated target_chapter_count and initial_concept that incorporates the user's revision. Use project_title and genre_slug from the previous conversation. NEVER write outline content in chat.\n- \"Write a blog post\" = call write_blog_post ONLY. STOP.\n- \"Brainstorm a story\", \"outline a book\", \"plan a novel\" = call brainstorm_story ONLY. STOP.\n- \"Research X\" = call deep_research_topic + manage_research_reports(save) ONLY. STOP.\n- NEVER assume the user wants additional tools. If they want more, they will ask in a follow-up message.\n- The ONLY exception: if the user explicitly lists multiple tasks in one message (e.g., \"write a story AND generate cover art AND create social posts\").\n\n## RETRIEVE AND CALLBACK - EVE KNOWLEDGE FLOW\nWhen the user request contains RETRIEVE AND CALLBACK, pull up, get my draft, load the report, or similar content retrieval + callback language:\n1. Call retrieve_content with the content_type and search_term extracted from the request\n2. If found, call eve_knowledge_callback with the retrieved content_text, content_title, content_type, and callback_mode (brainstorm or review)\n3. Return a confirmation: Content loaded and Eve is calling you now.\n\nDetermining callback_mode:\n- brainstorm, outline, plan, lets brainstorm = callback_mode brainstorm\n- review, revise, edit, improve, suggest changes, feedback = callback_mode review\n- If unclear, default to review\n\nWhen retrieving content WITHOUT a callback request (no mention of Eve, calling, or callback):\n- Just call retrieve_content and return the result summary to the user\n\n## Handling Empty or Error Results\n- If manage_story_bible returns empty, tell the user the project does not exist yet and suggest brainstorming or writing chapter 1 to create it.\n- If manage_research_reports returns empty on list, tell the user no reports are saved yet.\n- If retrieve_content returns found=false, tell the user to try a different search term, or list drafts/reports.\n- If a writing tool fails because genre_config is empty, tell the user the genre needs to be configured.\n- NEVER say there was an error without explaining what the user can do about it.\n\n## Your Capabilities\n- Research: deep_research_topic for research with citations. manage_research_reports to save/retrieve/update/list. email_report to deliver via email.\n- Writing: write_blog_post, write_newsletter, write_short_story, write_chapter\n- Visual: generate_cover_art for genre-specific cover images\n- Distribution: repurpose_to_social for Twitter/LinkedIn/Instagram posts\n- Continuity: manage_story_bible to track characters, events, locations across chapters\n- Content Library: manage_library to list drafts, approve, publish, or reject content\n- Content Retrieval: retrieve_content to search and fetch any saved content (research reports, stories, blog posts, newsletters, chapters)\n- Eve Callback: eve_knowledge_callback to load content into Eve knowledge base and trigger an outbound phone call for live discussion\n\n## Story Bible Workflow\n1. Starting a new book: Brainstorm, then save elements with manage_story_bible (operation: update)\n2. Before writing a chapter: Always retrieve the story bible first with manage_story_bible (operation: get)\n3. After writing a chapter: Update the story bible with new characters, locations, events, or plot developments\n4. Entry types: character, event, location, timeline, plot_thread, world_rule\n\n## Workflow\n1. When asked to write, infer the genre from context using the genre table above. If ambiguous, ask which genre to use.\n2. For fiction: brainstorm > outline > research > write\n3. For non-fiction: research > outline > write\n4. For books: create a project, establish story bible, then write chapter by chapter\n5. Always email results to the recipient configured in the system (do not hardcode email addresses)\n\n## Rules\n- Use Claude Sonnet for all writing tasks\n- Use deep_research_topic (Perplexity) for ALL factual research\n- Always save research reports via manage_research_reports after completing research\n- Save all drafts to Supabase storage\n- Track content provenance"
        }
      },
      "id": "hub-agent",
      "name": "Author Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        832,
        -288
      ]
    },
    {
      "parameters": {},
      "id": "hub-think",
      "name": "think",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        288,
        240
      ]
    },
    {
      "parameters": {
        "name": "email_report",
        "description": "Send a markdown report via email. Input: markdownReportContent (the full markdown text), emailAddress (default: eric@agileadtesting.com), subjectLine (email subject).",
        "workflowId": {
          "__rl": true,
          "value": "QAbYfOOd05lyesva",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "markdownReportContent": "={{ $fromAI('markdownReportContent', 'The full markdown content for the report', 'string') }}",
            "emailAddress": "={{ $fromAI('emailAddress', 'The email address to send to, default eric@agileadtesting.com', 'string') }}",
            "subjectLine": "={{ $fromAI('subjectLine', 'The email subject line', 'string') }}",
            "recipient_email": "={{ $('hub_settings').first().json.recipient_email }}",
            "bcc_email": "={{ $('hub_settings').first().json.bcc_email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "markdownReportContent",
              "displayName": "markdownReportContent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "emailAddress",
              "displayName": "emailAddress",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subjectLine",
              "displayName": "subjectLine",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recipient_email",
              "displayName": "recipient_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bcc_email",
              "displayName": "bcc_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        }
      },
      "id": "hub-email-report",
      "name": "email_report",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1744,
        256
      ]
    },
    {
      "parameters": {
        "name": "generate_cover_art",
        "description": "Generate genre-specific cover art via DALL-E and email it. Input: image_description (description of the image), story_title (title for the content), content_type (Blog Post, Short Story, Book Chapter, Social Media Post), genre_slug (any active genre slug).",
        "workflowId": {
          "value": "SxeLHxzvITEKyKc0",
          "__rl": true,
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "image_description": "={{ $fromAI('image_description', 'Detailed description of the image to generate', 'string') }}",
            "story_title": "={{ $fromAI('story_title', 'Title of the content this art is for', 'string') }}",
            "genre_slug": "={{ $fromAI('genre_slug', 'Genre slug from the available genres table in the system prompt', 'string') }}",
            "content_type": "={{ $fromAI('content_type', 'Type of content: Blog Post, Short Story, Book Chapter, or Social Media Post', 'string') }}",
            "recipient_email": "={{ $('hub_settings').first().json.recipient_email }}",
            "bcc_email": "={{ $('hub_settings').first().json.bcc_email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "image_description",
              "displayName": "image_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "story_title",
              "displayName": "story_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "genre_slug",
              "displayName": "genre_slug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content_type",
              "displayName": "content_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recipient_email",
              "displayName": "recipient_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bcc_email",
              "displayName": "bcc_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        }
      },
      "id": "hub-cover-art",
      "name": "generate_cover_art",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        480,
        240
      ]
    },
    {
      "parameters": {
        "name": "repurpose_to_social",
        "description": "Repurpose content into social media posts for Twitter, LinkedIn, Facebook, or Instagram. ALWAYS use this tool for social post creation — never write posts directly in chat. Input: content (text to repurpose), platform (twitter, linkedin, facebook, or instagram), genre_slug (optional, used for image generation).",
        "workflowId": {
          "__rl": true,
          "value": "95z13RGuzJDHVNSw",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "={{ $fromAI('content', 'The content to repurpose into social posts', 'string') }}",
            "platform": "={{ $fromAI('platform', 'Target platform: twitter, linkedin, facebook, or instagram', 'string') }}",
            "genre_slug": "={{ $fromAI('genre_slug', 'Genre slug from the available genres table in the system prompt', 'string') }}",
            "recipient_email": "={{ $('hub_settings').first().json.recipient_email }}",
            "bcc_email": "={{ $('hub_settings').first().json.bcc_email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "platform",
              "displayName": "platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "genre_slug",
              "displayName": "genre_slug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recipient_email",
              "displayName": "recipient_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bcc_email",
              "displayName": "bcc_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        }
      },
      "id": "hub-social",
      "name": "repurpose_to_social",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        656,
        240
      ]
    },
    {
      "parameters": {
        "name": "write_blog_post",
        "description": "Write an SEO-optimized blog post. Input: topic (blog post topic), genre_slug (any active genre slug), keywords (comma-separated SEO keywords), target_length (word count).",
        "workflowId": {
          "__rl": true,
          "value": "iMBIWzO2PjsLNH9w",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "topic": "={{ $fromAI('topic', 'The blog post topic', 'string') }}",
            "genre_slug": "={{ $fromAI('genre_slug', 'Genre slug from the available genres table in the system prompt', 'string') }}",
            "keywords": "={{ $fromAI('keywords', 'Comma-separated SEO keywords', 'string') }}",
            "target_length": "={{ $fromAI('target_length', 'Target word count', 'string') }}",
            "recipient_email": "={{ $('hub_settings').first().json.recipient_email }}",
            "bcc_email": "={{ $('hub_settings').first().json.bcc_email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "genre_slug",
              "displayName": "genre_slug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "keywords",
              "displayName": "keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "target_length",
              "displayName": "target_length",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recipient_email",
              "displayName": "recipient_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bcc_email",
              "displayName": "bcc_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        }
      },
      "id": "hub-blog",
      "name": "write_blog_post",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        704,
        448
      ]
    },
    {
      "parameters": {
        "name": "write_newsletter",
        "description": "Write a genre-focused newsletter. Input: topic (newsletter theme), genre_slug (any active genre slug), date (YYYY-MM-DD).",
        "workflowId": {
          "__rl": true,
          "value": "cjIUEjrqvyGZyKwN",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "topic": "={{ $fromAI('topic', 'The newsletter theme or topic', 'string') }}",
            "genre_slug": "={{ $fromAI('genre_slug', 'Genre slug from the available genres table in the system prompt', 'string') }}",
            "date": "={{ $fromAI('date', 'Newsletter date in YYYY-MM-DD format', 'string') }}",
            "recipient_email": "={{ $('hub_settings').first().json.recipient_email }}",
            "bcc_email": "={{ $('hub_settings').first().json.bcc_email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "genre_slug",
              "displayName": "genre_slug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recipient_email",
              "displayName": "recipient_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bcc_email",
              "displayName": "bcc_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        }
      },
      "id": "hub-newsletter",
      "name": "write_newsletter",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        928,
        240
      ]
    },
    {
      "parameters": {
        "name": "write_short_story",
        "description": "Write a short story with style matching and scene-by-scene generation. Input: genre_slug (any active genre slug), premise (story premise), tone (e.g. literary, dark, hopeful), length (target word count), research_topics (JSON array of topics to research).",
        "workflowId": {
          "__rl": true,
          "value": "LTZ63B2H0w8Sl4FW",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "genre_slug": "={{ $fromAI('genre_slug', 'Genre slug from the available genres table in the system prompt', 'string') }}",
            "premise": "={{ $fromAI('premise', 'The story premise and plot summary', 'string') }}",
            "tone": "={{ $fromAI('tone', 'Desired tone: literary, dark, hopeful, etc', 'string') }}",
            "length": "={{ $fromAI('length', 'Target word count', 'string') }}",
            "research_topics": "={{ $fromAI('research_topics', 'JSON array of research topics for factual grounding', 'string') }}",
            "recipient_email": "={{ $('hub_settings').first().json.recipient_email }}",
            "bcc_email": "={{ $('hub_settings').first().json.bcc_email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "genre_slug",
              "displayName": "genre_slug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "premise",
              "displayName": "premise",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tone",
              "displayName": "tone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "length",
              "displayName": "length",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "research_topics",
              "displayName": "research_topics",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recipient_email",
              "displayName": "recipient_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bcc_email",
              "displayName": "bcc_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        }
      },
      "id": "hub-short-story",
      "name": "write_short_story",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1056,
        336
      ]
    },
    {
      "parameters": {
        "name": "write_chapter",
        "description": "Write a book chapter with continuity tracking via story bible. Input: genre_slug (any active genre slug), project_title (book title), chapter_number, brief (chapter description), outline (chapter outline), research_topics (JSON array of topics).",
        "workflowId": {
          "__rl": true,
          "value": "tpj55Sf66jrBPNT8",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "genre_slug": "={{ $fromAI('genre_slug', 'Genre slug from the available genres table in the system prompt', 'string') }}",
            "project_title": "={{ $fromAI('project_title', 'The book project title', 'string') }}",
            "chapter_number": "={{ $fromAI('chapter_number', 'Chapter number', 'string') }}",
            "brief": "={{ $fromAI('brief', 'Brief description of what happens in this chapter', 'string') }}",
            "outline": "={{ $fromAI('outline', 'Detailed chapter outline with scenes', 'string') }}",
            "research_topics": "={{ $fromAI('research_topics', 'JSON array of research topics for factual grounding', 'string') }}",
            "recipient_email": "={{ $('hub_settings').first().json.recipient_email }}",
            "bcc_email": "={{ $('hub_settings').first().json.bcc_email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "genre_slug",
              "displayName": "genre_slug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "project_title",
              "displayName": "project_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chapter_number",
              "displayName": "chapter_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "brief",
              "displayName": "brief",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "outline",
              "displayName": "outline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "research_topics",
              "displayName": "research_topics",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recipient_email",
              "displayName": "recipient_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bcc_email",
              "displayName": "bcc_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        }
      },
      "id": "hub-chapter",
      "name": "write_chapter",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1152,
        224
      ]
    },
    {
      "parameters": {
        "name": "manage_story_bible",
        "description": "Read or update the story bible for a book project. Input: operation (get or update), project_title (book title), entries (JSON array of story bible entries for updates, empty string for get).",
        "workflowId": {
          "__rl": true,
          "value": "9cvuhBS412AQRJxf",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "operation": "={{ $fromAI('operation', 'Operation: get or update', 'string') }}",
            "project_title": "={{ $fromAI('project_title', 'The book project title', 'string') }}",
            "entries": "={{ $fromAI('entries', 'JSON array of story bible entries for update, or empty string for get', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "operation",
              "displayName": "operation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "project_title",
              "displayName": "project_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "entries",
              "displayName": "entries",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        }
      },
      "id": "hub-story-bible",
      "name": "manage_story_bible",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1312,
        320
      ]
    },
    {
      "parameters": {},
      "id": "hub-noop",
      "name": "no_operation",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1232,
        -288
      ]
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "=Today's date is {{ $now.format('yyyy-MM-dd') }}. You are operating in the year {{ $now.format('yyyy') }}. You are a research assistant. Provide detailed, comprehensive answers with citations from reliable sources. Always include specific data points, names, dates, and URLs when available.",
              "role": "system"
            },
            {
              "content": "={{ $fromAI('query', 'The research question to investigate', 'string') }}"
            }
          ]
        },
        "simplify": true,
        "options": {
          "temperature": 0.1,
          "searchRecency": "month"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        1616,
        384
      ],
      "id": "6f2f51b6-61a4-4ba7-a6d6-3c36c2c88d3c",
      "name": "deep_research_topic",
      "credentials": {
        "perplexityApi": {
          "id": "ggr9QCRobQVA6Lwb",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=author-agent -{{ $now.format('yyyy-MM-dd') }}-",
        "contextWindowLength": 1000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        144,
        240
      ],
      "id": "00bafd2d-8b4f-4f42-b5df-d95f2a9dfe3e",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "n8IeXB9NzHxHnxbd",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -16,
        240
      ],
      "id": "c4b751c7-dee0-47cd-a3ca-9b826c39d77f",
      "name": "gemini-2.5-pro",
      "credentials": {
        "googlePalmApi": {
          "id": "QCbiHRahj2Q15wqr",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Shared",
        "height": 448,
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        144
      ],
      "typeVersion": 1,
      "id": "3a8e2ade-df6f-4334-b4d2-bd5528496a2a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Content Creation\n",
        "height": 448,
        "width": 1008,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        432,
        144
      ],
      "typeVersion": 1,
      "id": "0cf0a214-bb4e-4ce7-96bc-a3ea328ad55c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Content Research",
        "height": 448,
        "width": 448,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        144
      ],
      "typeVersion": 1,
      "id": "6e3e3db7-398c-44af-8e43-cc4fd27c16f6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "name": "manage_research_reports",
        "description": "Save, retrieve, list, or update research reports in persistent storage. Operations: save (store new report), get (retrieve by report_id), list (show recent reports), update (modify existing report by report_id). Input: operation, report_id (for get/update), topic (for save/update), genre_slug (for save), content (report text for save/update), status (draft/final/archived for save/update).",
        "workflowId": {
          "__rl": true,
          "value": "MLjncwcdMSjBkS4Z",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "operation": "={{ $fromAI('operation', 'Operation: save, get, list, or update', 'string') }}",
            "report_id": "={{ $fromAI('report_id', 'Report UUID for get/update operations, empty for save/list', 'string') }}",
            "topic": "={{ $fromAI('topic', 'Research topic title', 'string') }}",
            "genre_slug": "={{ $fromAI('genre_slug', 'Genre slug if applicable, or empty', 'string') }}",
            "content": "={{ $fromAI('content', 'Full research report content in markdown', 'string') }}",
            "status": "={{ $fromAI('status', 'Report status: draft, final, or archived', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "operation",
              "displayName": "operation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "report_id",
              "displayName": "report_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "genre_slug",
              "displayName": "genre_slug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        }
      },
      "id": "hub-research-reports",
      "name": "manage_research_reports",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1472,
        240
      ]
    },
    {
      "parameters": {
        "name": "manage_library",
        "description": "Manage the content library. Operations: list_all (all items any status), list_drafts, list_approved, list_published, list_rejected, list_scheduled, approve, publish, reject, unpublish (revert published→approved), schedule, unschedule (revert scheduled→draft), list_versions, get_version. Use list_approved for items with approved status (not yet published); list_published for live published items; list_all to see everything. Use content_title (the exact title) OR content_id (UUID) to identify items for approve/publish/reject/unpublish/schedule/unschedule/version operations — prefer content_title when working from user requests. Optional content_type_filter (short_story, blog_post, newsletter, chapter). schedule_date (ISO date like 2026-03-15) for schedule operation. version_number for get_version. Email notification sent on approve/publish/reject/unpublish/schedule/unschedule.",
        "workflowId": {
          "__rl": true,
          "value": "1JERh5yJ3yDJka8s",
          "mode": "list",
          "cachedResultName": "Sub - Manage Library"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "operation": "={{ $fromAI('operation', 'Operation to perform: list_all, list_drafts, list_approved, list_published, list_rejected, list_scheduled, approve, publish, reject, unpublish, schedule, unschedule, list_versions, or get_version') }}",
            "content_title": "={{ $fromAI('content_title', 'Title of the content item. Use this instead of content_id when you know the title. Leave empty if providing content_id.', 'string', '') }}",
            "content_id": "={{ $fromAI('content_id', 'UUID of the content item. Leave empty if providing content_title instead.', 'string', '') }}",
            "content_type_filter": "={{ $fromAI('content_type_filter', 'Optional filter: short_story, blog_post, newsletter, or chapter. Leave empty for no filter.', 'string', '') }}",
            "recipient_email": "={{ $('hub_settings').first().json.recipient_email }}",
            "schedule_date": "={{ $fromAI('schedule_date', 'ISO date for scheduled publishing e.g. 2026-03-15. Leave empty for non-schedule operations.', 'string', '') }}",
            "version_number": "={{ $fromAI('version_number', 'Version number for get_version operation. Leave empty for all other operations.', 'string', '') }}",
            "change_note": "={{ $fromAI('change_note', 'Note describing the change. Leave empty if not needed.', 'string', '') }}",
            "bcc_email": "={{ $('hub_settings').first().json.bcc_email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "operation",
              "displayName": "operation",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "removed": false
            },
            {
              "id": "content_title",
              "displayName": "content_title",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "removed": false
            },
            {
              "id": "content_id",
              "displayName": "content_id",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "removed": false
            },
            {
              "id": "content_type_filter",
              "displayName": "content_type_filter",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "removed": false
            },
            {
              "id": "recipient_email",
              "displayName": "recipient_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "schedule_date",
              "displayName": "schedule_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "version_number",
              "displayName": "version_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "change_note",
              "displayName": "change_note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        }
      },
      "id": "hub-manage-lib",
      "name": "manage_library",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        848,
        448
      ]
    },
    {
      "parameters": {
        "name": "brainstorm_story",
        "description": "Brainstorm and outline a new book. Researches the concept, generates character profiles and a chapter-by-chapter outline. Saves the outline to writing_projects for automatic use by write_chapter.",
        "workflowId": {
          "__rl": true,
          "value": "StwejB5GLFE26hmU",
          "mode": "list",
          "cachedResultName": "Tool - Brainstorm Story"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "genre_slug": "={{ $fromAI('genre_slug', 'Genre slug from the available genres table in the system prompt') }}",
            "project_title": "={{ $fromAI('project_title', 'Title of the book project') }}",
            "initial_concept": "={{ $fromAI('initial_concept', 'The core concept or premise of the story') }}",
            "themes": "={{ $fromAI('themes', 'Themes to explore, comma-separated') }}",
            "target_chapter_count": "={{ $fromAI('target_chapter_count', 'Target number of chapters, default 10', 'number') }}",
            "recipient_email": "={{ $('hub_settings').first().json.recipient_email }}",
            "bcc_email": "={{ $('hub_settings').first().json.bcc_email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "genre_slug",
              "displayName": "genre_slug",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "removed": false
            },
            {
              "id": "project_title",
              "displayName": "project_title",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "removed": false
            },
            {
              "id": "initial_concept",
              "displayName": "initial_concept",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "removed": false
            },
            {
              "id": "themes",
              "displayName": "themes",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "removed": false
            },
            {
              "id": "target_chapter_count",
              "displayName": "target_chapter_count",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "removed": false
            },
            {
              "id": "recipient_email",
              "displayName": "recipient_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bcc_email",
              "displayName": "bcc_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        }
      },
      "id": "hub-brainstorm",
      "name": "brainstorm_story",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1216,
        448
      ]
    },
    {
      "parameters": {
        "name": "retrieve_content",
        "description": "Search for and retrieve any content from the system. Content types: research_report, short_story, blog_post, newsletter, chapter. If content_type is omitted, searches all types. Returns the full text content, title, and type. Use search_term to find content by title or topic keyword.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "DQS2zIhVjyuxabcb"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "search_term": "={{ $fromAI('search_term', 'Title or keyword to search for — e.g. The Seed Vault chapter 1, post-apocalyptic blog, Roman aqueducts', 'string') }}",
            "content_type": "={{ $fromAI('content_type', 'Optional: filter by type — chapter, blog_post, short_story, newsletter, research_report. Leave empty to search all types.', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "search_term",
              "displayName": "search_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content_type",
              "displayName": "content_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        }
      },
      "id": "hub-retrieve",
      "name": "retrieve_content",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1488,
        464
      ]
    },
    {
      "parameters": {
        "name": "eve_knowledge_callback",
        "description": "Load content into Eve's knowledge base and trigger a callback phone call. Use AFTER retrieving content that the user wants to discuss with Eve. Eve will call the user back on the phone with the content loaded for discussion. Set callback_mode to 'brainstorm' for creative outlining or 'review' for editorial feedback and revisions.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "PaFJlsxWq4BKt0iq"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "hub-eve-callback",
      "name": "eve_knowledge_callback",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1744,
        448
      ]
    },
    {
      "parameters": {
        "jsCode": "const SUPABASE_URL = 'https://qsirioazmsmrrfoltrhn.supabase.co';\nconst SUPABASE_API_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFzaXJpb2F6bXNtcnJmb2x0cmhuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjgwOTU2MSwiZXhwIjoyMDg4Mzg1NTYxfQ.oqvzwBcCwYTI1pe1MPnNQn64Yc3e-mozT2yFOYi3iAk';\n\nlet recipient_email = 'eric@agileadtesting.com';\nlet bcc_email = '';\n\ntry {\n  const rows = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${SUPABASE_URL}/rest/v1/app_config?key=in.(recipient_email,bcc_email)&select=key,value`,\n    headers: { 'apikey': SUPABASE_API_KEY, 'Authorization': `Bearer ${SUPABASE_API_KEY}` }\n  });\n  for (const row of rows) {\n    if (row.key === 'recipient_email') recipient_email = row.value;\n    if (row.key === 'bcc_email') bcc_email = row.value;\n  }\n} catch (e) {\n  // fallback to defaults above\n}\n\nconst input = $input.first().json;\nreturn [{ json: { ...input, recipient_email, bcc_email } }];"
      },
      "id": "hub-settings",
      "name": "hub_settings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        -288
      ]
    },
    {
      "id": "preprocess-msg",
      "name": "preprocess_message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        686,
        -288
      ],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst msg = (input.chatInput || input.body?.user_message_request || '').toLowerCase();\nconst original = input.chatInput || input.body?.user_message_request || '';\n\n// BRAINSTORM ops checked first — story planning, outline expansion, character development\nconst isBrainstormOp = /\\b(brainstorm|expand.{0,25}outline|add.{0,15}(more\\s+)?chapter|develop.{0,20}character|revise.{0,20}(outline|story\\s+arc)|rework.{0,20}(outline|story)|outline\\s+(a|the|my|this)\\s+\\w|plan\\s+(a|the|my)\\s+(novel|book|story)|create\\s+(a|the|my)\\s+(outline|book))/.test(msg);\n\n// LIBRARY ops — content status management only\nconst isLibraryOp = /\\b(approve|unschedule|unpublish|publish|reject|schedule|list\\s+(all|draft|published|scheduled|approved|rejected)|content\\s+librar|my\\s+(draft|post|content|article|newsletter|chapter|stor)|show\\s+(me\\s+)?(my|what|all)|what.{0,20}(written|published|draft|created)|show\\s+all|see\\s+all|all\\s+content|all\\s+(my\\s+)?(posts?|draft|items?|articles?)|remove.{0,20}(schedule|publish)|cancel.{0,20}schedule|version\\s+histor|list\\s+version|get\\s+version|show.{0,15}version|version.{0,10}(this|that|it))/.test(msg);\n\n// WRITING ops — trigger writing sub-workflows\nconst isWritingOp = /\\b(write\\s+(a|the|my|an)\\s+(blog|newsletter|short\\s+stor|chapter|article)|write\\s+chapter)/.test(msg);\n\nif (isBrainstormOp) {\n  return [{ json: { ...input, chatInput: original + ' [MANDATORY: Call brainstorm_story tool RIGHT NOW with all project details from my message. Do NOT generate any outline, character profiles, or story content in chat. Do not write any response before calling the tool.]' } }];\n}\nif (isLibraryOp) {\n  return [{ json: { ...input, chatInput: original + ' [MANDATORY: Call manage_library with content_title from my message right now. Do not respond with any text before calling the tool.]' } }];\n}\nif (isWritingOp) {\n  return [{ json: { ...input, chatInput: original + ' [MANDATORY: Call the appropriate writing tool (write_blog_post, write_newsletter, write_short_story, or write_chapter) right now. Do NOT write content in chat. Do not respond before calling the tool.]' } }];\n}\n\nreturn [{ json: input }];"
      }
    }
  ],
  "connections": {
    "webhook_trigger": {
      "main": [
        [
          {
            "node": "hub_settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chat_trigger": {
      "main": [
        [
          {
            "node": "hub_settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "think": {
      "ai_tool": [
        [
          {
            "node": "Author Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "email_report": {
      "ai_tool": [
        [
          {
            "node": "Author Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "generate_cover_art": {
      "ai_tool": [
        [
          {
            "node": "Author Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "repurpose_to_social": {
      "ai_tool": [
        [
          {
            "node": "Author Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "write_blog_post": {
      "ai_tool": [
        [
          {
            "node": "Author Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "write_newsletter": {
      "ai_tool": [
        [
          {
            "node": "Author Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "write_short_story": {
      "ai_tool": [
        [
          {
            "node": "Author Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "write_chapter": {
      "ai_tool": [
        [
          {
            "node": "Author Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "manage_story_bible": {
      "ai_tool": [
        [
          {
            "node": "Author Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Author Agent": {
      "main": [
        [
          {
            "node": "no_operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deep_research_topic": {
      "ai_tool": [
        [
          {
            "node": "Author Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Author Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "gemini-2.5-pro": {
      "ai_languageModel": [
        [
          {
            "node": "Author Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "manage_research_reports": {
      "main": [
        []
      ],
      "ai_tool": [
        [
          {
            "node": "Author Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "manage_library": {
      "ai_tool": [
        [
          {
            "node": "Author Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "brainstorm_story": {
      "ai_tool": [
        [
          {
            "node": "Author Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "retrieve_content": {
      "ai_tool": [
        [
          {
            "node": "Author Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "eve_knowledge_callback": {
      "ai_tool": [
        [
          {
            "node": "Author Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "hub_settings": {
      "main": [
        [
          {
            "node": "preprocess_message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "preprocess_message": {
      "main": [
        [
          {
            "node": "Author Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}