workflows/05_data_content_ingestion.json
{
  "id": "iLuMoCq0tNJJAH5n",
  "name": "Data: Content Ingestion",
  "nodes": [
    {
      "id": "ci-trigger",
      "name": "workflow_trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "genre_slug"
            },
            {
              "name": "date"
            }
          ]
        }
      }
    },
    {
      "id": "ci-settings",
      "name": "settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        120,
        0
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s1",
              "name": "SUPABASE_URL",
              "value": "https://qsirioazmsmrrfoltrhn.supabase.co",
              "type": "string"
            },
            {
              "id": "sapi",
              "name": "SUPABASE_API_KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFzaXJpb2F6bXNtcnJmb2x0cmhuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjgwOTU2MSwiZXhwIjoyMDg4Mzg1NTYxfQ.oqvzwBcCwYTI1pe1MPnNQn64Yc3e-mozT2yFOYi3iAk",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "ci-params",
      "name": "set_params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        0
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p1",
              "name": "genre_slug",
              "value": "={{ $('workflow_trigger').item.json.genre_slug }}",
              "type": "string"
            },
            {
              "id": "p2",
              "name": "query_date",
              "value": "={{ $('workflow_trigger').item.json.date || $now.format('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "ci-query",
      "name": "query_content_index",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $('settings').item.json.SUPABASE_URL }}/rest/v1/content_index?genre_slug=eq.{{ $json.genre_slug }}&scraped_at=gte.{{ $json.query_date }}&order=scraped_at.desc&limit=50",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('settings').item.json.SUPABASE_API_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('settings').item.json.SUPABASE_API_KEY }}"
            }
          ]
        }
      }
    },
    {
      "id": "ci-download",
      "name": "download_content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $('settings').item.json.SUPABASE_URL }}/storage/v1/object/public/author-content/{{ $json.content_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "id": "ci-prepare",
      "name": "prepare_content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        0
      ],
      "parameters": {
        "jsCode": "// Parse the downloaded batch.json which contains all cleaned items.\nconst raw = $input.first().json.data || $input.first().json;\nlet items;\ntry {\n  items = typeof raw === 'string' ? JSON.parse(raw) : raw;\n} catch (e) {\n  items = [];\n}\nif (!Array.isArray(items)) items = [items];\n\nconst genre = $('dedupe_paths').first().json.genre_slug;\n\nreturn items\n  .filter(d => d && d.title)\n  .map(d => ({\n    json: {\n      title: d.title,\n      source_type: d.source_type || '',\n      source_url: d.source_url || '',\n      genre_slug: genre,\n      summary: d.summary || '',\n      feed_name: d.feed_name || '',\n      content: JSON.stringify(d)\n    }\n  }));"
      }
    },
    {
      "id": "ci-aggregate",
      "name": "aggregate_content",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1560,
        0
      ],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      }
    },
    {
      "id": "ci-dedupe",
      "name": "dedupe_paths",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        0
      ],
      "parameters": {
        "jsCode": "// Filter items with non-empty titles AND deduplicate by content_path.\nconst seen = new Set();\nconst results = [];\nfor (const item of $input.all()) {\n  const title = item.json.title;\n  const path = item.json.content_path;\n  // Skip items without a real title\n  if (!title || (typeof title === 'string' && title.trim() === '')) continue;\n  // Deduplicate by content_path so we download each batch file only once\n  if (path && !seen.has(path)) {\n    seen.add(path);\n    results.push(item);\n  }\n}\nreturn results;"
      }
    }
  ],
  "connections": {
    "workflow_trigger": {
      "main": [
        [
          {
            "node": "settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "settings": {
      "main": [
        [
          {
            "node": "set_params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_params": {
      "main": [
        [
          {
            "node": "query_content_index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download_content": {
      "main": [
        [
          {
            "node": "prepare_content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare_content": {
      "main": [
        [
          {
            "node": "aggregate_content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dedupe_paths": {
      "main": [
        [
          {
            "node": "download_content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "query_content_index": {
      "main": [
        [
          {
            "node": "dedupe_paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "meta": null,
  "pinData": {}
}
