workflows/06_data_ai_scraping_pipeline_v2.json
{
  "updatedAt": "2026-03-17T11:31:34.758Z",
  "createdAt": "2026-03-15T16:42:19.520Z",
  "id": "Ugc2BonNNMCoeXP0",
  "name": "Data: AI Scraping Pipeline V2",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "sp-trigger",
      "name": "schedule_trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s1",
              "name": "SUPABASE_URL",
              "value": "https://faklxfakgzkpkbxfihzh.supabase.co",
              "type": "string"
            },
            {
              "id": "s2",
              "name": "GOOGLE_BOOKS_API_KEY",
              "value": "AIzaSyAYcaijaBykSzNM2hpfGIS9274_WZvGW3k",
              "type": "string"
            },
            {
              "id": "s3",
              "name": "JINA_API_KEY",
              "value": "jina_da590009969f4ee09edb32352f8fa645XRu8tBvLsc1nAc1p45EBfBni0Akp",
              "type": "string"
            },
            {
              "id": "sapi",
              "name": "SUPABASE_API_KEY",
              "value": "REDACTED_SUPABASE_KEY",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "sp-settings",
      "name": "settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $('settings').item.json.SUPABASE_URL }}/rest/v1/genre_config_v2?active=eq.true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('settings').item.json.SUPABASE_API_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('settings').item.json.SUPABASE_API_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "sp-genres",
      "name": "get_active_genres",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "sp-iterate-genres",
      "name": "iterate_genres",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sg1",
              "name": "genre_slug",
              "value": "={{ $json.genre_slug }}",
              "type": "string"
            },
            {
              "id": "sg2",
              "name": "genre_name",
              "value": "={{ $json.genre_name }}",
              "type": "string"
            },
            {
              "id": "sg3",
              "name": "keywords",
              "value": "={{ $json.keywords }}",
              "type": "string"
            },
            {
              "id": "sg4",
              "name": "subreddit_names",
              "value": "={{ $json.subreddit_names }}",
              "type": "string"
            },
            {
              "id": "sg5",
              "name": "rss_feed_urls",
              "value": "={{ $json.rss_feed_urls }}",
              "type": "string"
            },
            {
              "id": "sg6",
              "name": "today",
              "value": "={{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "sp-set-genre",
      "name": "set_genre_context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "sp-iterate-rss",
      "name": "iterate_rss_feeds",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1200,
        -160
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.feed_url }}",
        "options": {}
      },
      "id": "sp-scrape-rss",
      "name": "scrape_rss_feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        1568,
        -176
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "pr1",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "pr2",
              "name": "source_url",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "pr3",
              "name": "summary",
              "value": "={{ $json.contentSnippet || $json.content?.substring(0, 500) || '' }}",
              "type": "string"
            },
            {
              "id": "pr4",
              "name": "source_type",
              "value": "rss",
              "type": "string"
            },
            {
              "id": "pr5",
              "name": "feed_name",
              "value": "={{ $json.creator || new URL($json.link || '').hostname }}",
              "type": "string"
            },
            {
              "id": "pr6",
              "name": "pub_date",
              "value": "={{ $json.isoDate || $json.pubDate }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "sp-prepare-rss",
      "name": "prepare_rss_content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1920,
        -160
      ]
    },
    {
      "parameters": {
        "url": "=https://www.reddit.com/r/{{ JSON.parse($('set_genre_context').first().json.subreddit_names)[0] }}/hot.json?limit=25",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "sp-scrape-reddit",
      "name": "scrape_reddit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        160
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/books/v1/volumes?q=subject:science+fiction+{{ JSON.parse($('set_genre_context').first().json.keywords)[0] }}&maxResults=10&orderBy=newest&key={{ $('settings').first().json.GOOGLE_BOOKS_API_KEY }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "sp-scrape-books",
      "name": "scrape_google_books",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        320
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "pb1",
              "name": "title",
              "value": "={{ $json.volumeInfo?.title || $json.items?.[0]?.volumeInfo?.title || null }}",
              "type": "string"
            },
            {
              "id": "pb2",
              "name": "source_url",
              "value": "={{ $json.volumeInfo?.infoLink || $json.items?.[0]?.volumeInfo?.infoLink || null }}",
              "type": "string"
            },
            {
              "id": "pb3",
              "name": "summary",
              "value": "={{ ($json.volumeInfo?.description || $json.items?.[0]?.volumeInfo?.description || '').substring(0, 500) }}",
              "type": "string"
            },
            {
              "id": "pb4",
              "name": "source_type",
              "value": "google_books",
              "type": "string"
            },
            {
              "id": "pb5",
              "name": "feed_name",
              "value": "Google Books",
              "type": "string"
            },
            {
              "id": "pb6",
              "name": "authors",
              "value": "={{ ($json.volumeInfo?.authors || $json.items?.[0]?.volumeInfo?.authors || []).join(', ') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "sp-prepare-books",
      "name": "prepare_book_data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        320
      ]
    },
    {
      "parameters": {
        "url": "=https://openlibrary.org/search.json?subject=science_fiction&q={{ JSON.parse($('set_genre_context').first().json.keywords)[0] }}&limit=10&sort=new",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "sp-scrape-ol",
      "name": "scrape_open_library",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        480
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "sp-aggregate",
      "name": "aggregate_all_content",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1680,
        160
      ]
    },
    {
      "parameters": {},
      "id": "sp-next",
      "name": "iterate_next",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2640,
        160
      ]
    },
    {
      "parameters": {},
      "id": "sp-done",
      "name": "no_op_done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        544,
        432
      ]
    },
    {
      "parameters": {
        "jsCode": "const aggregated = $input.first().json;\nconst items = Array.isArray(aggregated.data) ? aggregated.data : [aggregated];\nconst genre = $('set_genre_context').first().json;\nconst cleaned = [];\nconst indexRecords = [];\n\nfor (const d of items) {\n  if (d && d.title && typeof d.title === 'string') {\n    const clean = {\n      title: String(d.title),\n      source_url: String(d.source_url || ''),\n      summary: String(d.summary || '').substring(0, 1000),\n      source_type: String(d.source_type || ''),\n      feed_name: String(d.feed_name || 'unknown'),\n    };\n    cleaned.push(clean);\n    indexRecords.push({\n      genre_slug: genre.genre_slug,\n      source_type: clean.source_type,\n      feed_name: clean.feed_name,\n      source_url: clean.source_url,\n      title: clean.title,\n      summary: clean.summary,\n      content_path: genre.today + '/' + genre.genre_slug + '/batch.json'\n    });\n  }\n}\n\nreturn [{ json: { data: cleaned, index_body: JSON.stringify(indexRecords) } }];"
      },
      "id": "sp-clean",
      "name": "clean_data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const genre = $input.first().json;\nconst urls = typeof genre.rss_feed_urls === 'string' ? JSON.parse(genre.rss_feed_urls) : (genre.rss_feed_urls || []);\nreturn urls.map(url => ({ json: { feed_url: url, genre_slug: genre.genre_slug } }));"
      },
      "id": "sp-split-rss",
      "name": "split_rss_feeds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst children = response?.data?.children || [];\nreturn children\n  .filter(c => c.data && c.data.score >= 10)\n  .slice(0, 10)\n  .map(c => ({\n    json: {\n      title: c.data.title || null,\n      source_url: 'https://www.reddit.com' + (c.data.permalink || ''),\n      summary: (c.data.selftext || '').substring(0, 500),\n      source_type: 'reddit',\n      feed_name: 'r/' + (c.data.subreddit || 'unknown'),\n      authors: c.data.author || ''\n    }\n  }));"
      },
      "id": "sp-prepare-reddit",
      "name": "prepare_reddit_content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        160
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst docs = response?.docs || [];\nreturn docs.slice(0, 10).map(doc => {\n  let summary = (doc.first_sentence || []).join(' ');\n  if (!summary && doc.subtitle) {\n    summary = doc.subtitle;\n  }\n  if (!summary) {\n    const parts = [];\n    if (doc.subject && doc.subject.length > 0) {\n      parts.push('Subjects: ' + doc.subject.slice(0, 5).join(', '));\n    }\n    if (doc.publisher && doc.publisher.length > 0) {\n      parts.push('Publisher: ' + doc.publisher[0]);\n    }\n    if (doc.first_publish_year) {\n      parts.push('First published: ' + doc.first_publish_year);\n    }\n    if (doc.author_name && doc.author_name.length > 0) {\n      parts.push('By: ' + doc.author_name.join(', '));\n    }\n    summary = parts.join('. ');\n  }\n  return {\n    json: {\n      title: doc.title || null,\n      source_url: 'https://openlibrary.org' + (doc.key || ''),\n      summary: summary.substring(0, 500),\n      source_type: 'open_library',\n      feed_name: 'Open Library',\n      authors: (doc.author_name || []).join(', ')\n    }\n  };\n});"
      },
      "id": "sp-prepare-ol",
      "name": "prepare_open_library_data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        480
      ],
      "onError": "continueRegularOutput"
    },
    {
      "id": "sp-upload",
      "name": "upload_to_supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        160
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $('settings').first().json.SUPABASE_URL }}/storage/v1/object/author-content/{{ $('set_genre_context').first().json.today }}/{{ $('set_genre_context').first().json.genre_slug }}/batch.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('settings').first().json.SUPABASE_API_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('settings').first().json.SUPABASE_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.data) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "sp-index",
      "name": "index_content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        160
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $('settings').first().json.SUPABASE_URL }}/rest/v1/content_index",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('settings').first().json.SUPABASE_API_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('settings').first().json.SUPABASE_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('clean_data').first().json.index_body }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "schedule_trigger": {
      "main": [
        [
          {
            "node": "settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "settings": {
      "main": [
        [
          {
            "node": "get_active_genres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_active_genres": {
      "main": [
        [
          {
            "node": "iterate_genres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "iterate_genres": {
      "main": [
        [
          {
            "node": "set_genre_context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "no_op_done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_genre_context": {
      "main": [
        [
          {
            "node": "scrape_reddit",
            "type": "main",
            "index": 0
          },
          {
            "node": "scrape_google_books",
            "type": "main",
            "index": 0
          },
          {
            "node": "scrape_open_library",
            "type": "main",
            "index": 0
          },
          {
            "node": "split_rss_feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "iterate_rss_feeds": {
      "main": [
        [
          {
            "node": "scrape_rss_feed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "aggregate_all_content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare_rss_content": {
      "main": [
        [
          {
            "node": "iterate_rss_feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "scrape_google_books": {
      "main": [
        [
          {
            "node": "prepare_book_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare_book_data": {
      "main": [
        [
          {
            "node": "aggregate_all_content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "iterate_next": {
      "main": [
        [
          {
            "node": "iterate_genres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aggregate_all_content": {
      "main": [
        [
          {
            "node": "clean_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split_rss_feeds": {
      "main": [
        [
          {
            "node": "iterate_rss_feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "scrape_reddit": {
      "main": [
        [
          {
            "node": "prepare_reddit_content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare_reddit_content": {
      "main": [
        [
          {
            "node": "aggregate_all_content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "scrape_open_library": {
      "main": [
        [
          {
            "node": "prepare_open_library_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare_open_library_data": {
      "main": [
        [
          {
            "node": "aggregate_all_content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "scrape_rss_feed": {
      "main": [
        [
          {
            "node": "prepare_rss_content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clean_data": {
      "main": [
        [
          {
            "node": "upload_to_supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload_to_supabase": {
      "main": [
        [
          {
            "node": "index_content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "index_content": {
      "main": [
        [
          {
            "node": "iterate_next",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:schedule_trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "f466e3c2-0736-4175-8cc4-e58acbc30cce",
  "activeVersionId": "f466e3c2-0736-4175-8cc4-e58acbc30cce",
  "versionCounter": 26,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-15T16:42:19.520Z",
      "createdAt": "2026-03-15T16:42:19.520Z",
      "role": "workflow:owner",
      "workflowId": "Ugc2BonNNMCoeXP0",
      "projectId": "so6FfyLmNOjnxEMJ",
      "project": {
        "updatedAt": "2026-01-12T16:36:13.622Z",
        "createdAt": "2026-01-12T15:34:50.204Z",
        "id": "so6FfyLmNOjnxEMJ",
        "name": "Eric Beser <eric@agileadtesting.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fd7cc91d-5051-4455-95a6-842a68ceadb7"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-17T11:31:34.761Z",
    "createdAt": "2026-03-17T11:31:34.761Z",
    "versionId": "f466e3c2-0736-4175-8cc4-e58acbc30cce",
    "workflowId": "Ugc2BonNNMCoeXP0",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 6 * * *"
              }
            ]
          }
        },
        "id": "sp-trigger",
        "name": "schedule_trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "s1",
                "name": "SUPABASE_URL",
                "value": "https://faklxfakgzkpkbxfihzh.supabase.co",
                "type": "string"
              },
              {
                "id": "s2",
                "name": "GOOGLE_BOOKS_API_KEY",
                "value": "AIzaSyAYcaijaBykSzNM2hpfGIS9274_WZvGW3k",
                "type": "string"
              },
              {
                "id": "s3",
                "name": "JINA_API_KEY",
                "value": "jina_da590009969f4ee09edb32352f8fa645XRu8tBvLsc1nAc1p45EBfBni0Akp",
                "type": "string"
              },
              {
                "id": "sapi",
                "name": "SUPABASE_API_KEY",
                "value": "REDACTED_SUPABASE_KEY",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "sp-settings",
        "name": "settings",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          128,
          0
        ]
      },
      {
        "parameters": {
          "url": "={{ $('settings').item.json.SUPABASE_URL }}/rest/v1/genre_config_v2?active=eq.true",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('settings').item.json.SUPABASE_API_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('settings').item.json.SUPABASE_API_KEY }}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "sp-genres",
        "name": "get_active_genres",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          240,
          0
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "sp-iterate-genres",
        "name": "iterate_genres",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 2,
        "position": [
          480,
          0
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "sg1",
                "name": "genre_slug",
                "value": "={{ $json.genre_slug }}",
                "type": "string"
              },
              {
                "id": "sg2",
                "name": "genre_name",
                "value": "={{ $json.genre_name }}",
                "type": "string"
              },
              {
                "id": "sg3",
                "name": "keywords",
                "value": "={{ $json.keywords }}",
                "type": "string"
              },
              {
                "id": "sg4",
                "name": "subreddit_names",
                "value": "={{ $json.subreddit_names }}",
                "type": "string"
              },
              {
                "id": "sg5",
                "name": "rss_feed_urls",
                "value": "={{ $json.rss_feed_urls }}",
                "type": "string"
              },
              {
                "id": "sg6",
                "name": "today",
                "value": "={{ $now.format('yyyy-MM-dd') }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "sp-set-genre",
        "name": "set_genre_context",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          720,
          0
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "sp-iterate-rss",
        "name": "iterate_rss_feeds",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 2,
        "position": [
          1200,
          -160
        ]
      },
      {
        "parameters": {
          "url": "={{ $json.feed_url }}",
          "options": {}
        },
        "id": "sp-scrape-rss",
        "name": "scrape_rss_feed",
        "type": "n8n-nodes-base.rssFeedRead",
        "typeVersion": 1,
        "position": [
          1568,
          -176
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "pr1",
                "name": "title",
                "value": "={{ $json.title }}",
                "type": "string"
              },
              {
                "id": "pr2",
                "name": "source_url",
                "value": "={{ $json.link }}",
                "type": "string"
              },
              {
                "id": "pr3",
                "name": "summary",
                "value": "={{ $json.contentSnippet || $json.content?.substring(0, 500) || '' }}",
                "type": "string"
              },
              {
                "id": "pr4",
                "name": "source_type",
                "value": "rss",
                "type": "string"
              },
              {
                "id": "pr5",
                "name": "feed_name",
                "value": "={{ $json.creator || new URL($json.link || '').hostname }}",
                "type": "string"
              },
              {
                "id": "pr6",
                "name": "pub_date",
                "value": "={{ $json.isoDate || $json.pubDate }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "sp-prepare-rss",
        "name": "prepare_rss_content",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1920,
          -160
        ]
      },
      {
        "parameters": {
          "url": "=https://www.reddit.com/r/{{ JSON.parse($('set_genre_context').first().json.subreddit_names)[0] }}/hot.json?limit=25",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "sp-scrape-reddit",
        "name": "scrape_reddit",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          960,
          160
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "url": "=https://www.googleapis.com/books/v1/volumes?q=subject:science+fiction+{{ JSON.parse($('set_genre_context').first().json.keywords)[0] }}&maxResults=10&orderBy=newest&key={{ $('settings').first().json.GOOGLE_BOOKS_API_KEY }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "sp-scrape-books",
        "name": "scrape_google_books",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          960,
          320
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "pb1",
                "name": "title",
                "value": "={{ $json.volumeInfo?.title || $json.items?.[0]?.volumeInfo?.title || null }}",
                "type": "string"
              },
              {
                "id": "pb2",
                "name": "source_url",
                "value": "={{ $json.volumeInfo?.infoLink || $json.items?.[0]?.volumeInfo?.infoLink || null }}",
                "type": "string"
              },
              {
                "id": "pb3",
                "name": "summary",
                "value": "={{ ($json.volumeInfo?.description || $json.items?.[0]?.volumeInfo?.description || '').substring(0, 500) }}",
                "type": "string"
              },
              {
                "id": "pb4",
                "name": "source_type",
                "value": "google_books",
                "type": "string"
              },
              {
                "id": "pb5",
                "name": "feed_name",
                "value": "Google Books",
                "type": "string"
              },
              {
                "id": "pb6",
                "name": "authors",
                "value": "={{ ($json.volumeInfo?.authors || $json.items?.[0]?.volumeInfo?.authors || []).join(', ') }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "sp-prepare-books",
        "name": "prepare_book_data",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1200,
          320
        ]
      },
      {
        "parameters": {
          "url": "=https://openlibrary.org/search.json?subject=science_fiction&q={{ JSON.parse($('set_genre_context').first().json.keywords)[0] }}&limit=10&sort=new",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "sp-scrape-ol",
        "name": "scrape_open_library",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          960,
          480
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "id": "sp-aggregate",
        "name": "aggregate_all_content",
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1680,
          160
        ]
      },
      {
        "parameters": {},
        "id": "sp-next",
        "name": "iterate_next",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          2640,
          160
        ]
      },
      {
        "parameters": {},
        "id": "sp-done",
        "name": "no_op_done",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          544,
          432
        ]
      },
      {
        "parameters": {
          "jsCode": "const aggregated = $input.first().json;\nconst items = Array.isArray(aggregated.data) ? aggregated.data : [aggregated];\nconst genre = $('set_genre_context').first().json;\nconst cleaned = [];\nconst indexRecords = [];\n\nfor (const d of items) {\n  if (d && d.title && typeof d.title === 'string') {\n    const clean = {\n      title: String(d.title),\n      source_url: String(d.source_url || ''),\n      summary: String(d.summary || '').substring(0, 1000),\n      source_type: String(d.source_type || ''),\n      feed_name: String(d.feed_name || 'unknown'),\n    };\n    cleaned.push(clean);\n    indexRecords.push({\n      genre_slug: genre.genre_slug,\n      source_type: clean.source_type,\n      feed_name: clean.feed_name,\n      source_url: clean.source_url,\n      title: clean.title,\n      summary: clean.summary,\n      content_path: genre.today + '/' + genre.genre_slug + '/batch.json'\n    });\n  }\n}\n\nreturn [{ json: { data: cleaned, index_body: JSON.stringify(indexRecords) } }];"
        },
        "id": "sp-clean",
        "name": "clean_data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1920,
          160
        ]
      },
      {
        "parameters": {
          "jsCode": "const genre = $input.first().json;\nconst urls = typeof genre.rss_feed_urls === 'string' ? JSON.parse(genre.rss_feed_urls) : (genre.rss_feed_urls || []);\nreturn urls.map(url => ({ json: { feed_url: url, genre_slug: genre.genre_slug } }));"
        },
        "id": "sp-split-rss",
        "name": "split_rss_feeds",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          960,
          -160
        ]
      },
      {
        "parameters": {
          "jsCode": "const response = $input.first().json;\nconst children = response?.data?.children || [];\nreturn children\n  .filter(c => c.data && c.data.score >= 10)\n  .slice(0, 10)\n  .map(c => ({\n    json: {\n      title: c.data.title || null,\n      source_url: 'https://www.reddit.com' + (c.data.permalink || ''),\n      summary: (c.data.selftext || '').substring(0, 500),\n      source_type: 'reddit',\n      feed_name: 'r/' + (c.data.subreddit || 'unknown'),\n      authors: c.data.author || ''\n    }\n  }));"
        },
        "id": "sp-prepare-reddit",
        "name": "prepare_reddit_content",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          160
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const response = $input.first().json;\nconst docs = response?.docs || [];\nreturn docs.slice(0, 10).map(doc => {\n  let summary = (doc.first_sentence || []).join(' ');\n  if (!summary && doc.subtitle) {\n    summary = doc.subtitle;\n  }\n  if (!summary) {\n    const parts = [];\n    if (doc.subject && doc.subject.length > 0) {\n      parts.push('Subjects: ' + doc.subject.slice(0, 5).join(', '));\n    }\n    if (doc.publisher && doc.publisher.length > 0) {\n      parts.push('Publisher: ' + doc.publisher[0]);\n    }\n    if (doc.first_publish_year) {\n      parts.push('First published: ' + doc.first_publish_year);\n    }\n    if (doc.author_name && doc.author_name.length > 0) {\n      parts.push('By: ' + doc.author_name.join(', '));\n    }\n    summary = parts.join('. ');\n  }\n  return {\n    json: {\n      title: doc.title || null,\n      source_url: 'https://openlibrary.org' + (doc.key || ''),\n      summary: summary.substring(0, 500),\n      source_type: 'open_library',\n      feed_name: 'Open Library',\n      authors: (doc.author_name || []).join(', ')\n    }\n  };\n});"
        },
        "id": "sp-prepare-ol",
        "name": "prepare_open_library_data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          480
        ],
        "onError": "continueRegularOutput"
      },
      {
        "id": "sp-upload",
        "name": "upload_to_supabase",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2160,
          160
        ],
        "parameters": {
          "method": "POST",
          "url": "={{ $('settings').first().json.SUPABASE_URL }}/storage/v1/object/author-content/{{ $('set_genre_context').first().json.today }}/{{ $('set_genre_context').first().json.genre_slug }}/batch.json",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('settings').first().json.SUPABASE_API_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('settings').first().json.SUPABASE_API_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "x-upsert",
                "value": "true"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.data) }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "id": "sp-index",
        "name": "index_content",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2400,
          160
        ],
        "parameters": {
          "method": "POST",
          "url": "={{ $('settings').first().json.SUPABASE_URL }}/rest/v1/content_index",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('settings').first().json.SUPABASE_API_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('settings').first().json.SUPABASE_API_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $('clean_data').first().json.index_body }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "text"
              }
            }
          }
        },
        "onError": "continueRegularOutput"
      }
    ],
    "connections": {
      "schedule_trigger": {
        "main": [
          [
            {
              "node": "settings",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "settings": {
        "main": [
          [
            {
              "node": "get_active_genres",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "get_active_genres": {
        "main": [
          [
            {
              "node": "iterate_genres",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "iterate_genres": {
        "main": [
          [
            {
              "node": "set_genre_context",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "no_op_done",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "set_genre_context": {
        "main": [
          [
            {
              "node": "scrape_reddit",
              "type": "main",
              "index": 0
            },
            {
              "node": "scrape_google_books",
              "type": "main",
              "index": 0
            },
            {
              "node": "scrape_open_library",
              "type": "main",
              "index": 0
            },
            {
              "node": "split_rss_feeds",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "iterate_rss_feeds": {
        "main": [
          [
            {
              "node": "scrape_rss_feed",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "aggregate_all_content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "prepare_rss_content": {
        "main": [
          [
            {
              "node": "iterate_rss_feeds",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "scrape_google_books": {
        "main": [
          [
            {
              "node": "prepare_book_data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "prepare_book_data": {
        "main": [
          [
            {
              "node": "aggregate_all_content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "iterate_next": {
        "main": [
          [
            {
              "node": "iterate_genres",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "aggregate_all_content": {
        "main": [
          [
            {
              "node": "clean_data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "split_rss_feeds": {
        "main": [
          [
            {
              "node": "iterate_rss_feeds",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "scrape_reddit": {
        "main": [
          [
            {
              "node": "prepare_reddit_content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "prepare_reddit_content": {
        "main": [
          [
            {
              "node": "aggregate_all_content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "scrape_open_library": {
        "main": [
          [
            {
              "node": "prepare_open_library_data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "prepare_open_library_data": {
        "main": [
          [
            {
              "node": "aggregate_all_content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "scrape_rss_feed": {
        "main": [
          [
            {
              "node": "prepare_rss_content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "clean_data": {
        "main": [
          [
            {
              "node": "upload_to_supabase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "upload_to_supabase": {
        "main": [
          [
            {
              "node": "index_content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "index_content": {
        "main": [
          [
            {
              "node": "iterate_next",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Eric Beser",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-17T11:31:34.852Z",
        "id": 957,
        "workflowId": "Ugc2BonNNMCoeXP0",
        "versionId": "f466e3c2-0736-4175-8cc4-e58acbc30cce",
        "event": "deactivated",
        "userId": "fd7cc91d-5051-4455-95a6-842a68ceadb7"
      },
      {
        "createdAt": "2026-03-17T11:31:34.907Z",
        "id": 958,
        "workflowId": "Ugc2BonNNMCoeXP0",
        "versionId": "f466e3c2-0736-4175-8cc4-e58acbc30cce",
        "event": "activated",
        "userId": "fd7cc91d-5051-4455-95a6-842a68ceadb7"
      }
    ]
  }
}