workflows/07_tool_write_blog_post.json
{
  "name": "Tool - Write Blog Post",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "topic"
            },
            {
              "name": "genre_slug"
            },
            {
              "name": "keywords"
            },
            {
              "name": "target_length"
            }
          ]
        }
      },
      "id": "bp-trigger",
      "name": "workflow_trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s1",
              "name": "SUPABASE_URL",
              "value": "https://qsirioazmsmrrfoltrhn.supabase.co",
              "type": "string"
            },
            {
              "id": "sapi",
              "name": "SUPABASE_API_KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFzaXJpb2F6bXNtcnJmb2x0cmhuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjgwOTU2MSwiZXhwIjoyMDg4Mzg1NTYxfQ.oqvzwBcCwYTI1pe1MPnNQn64Yc3e-mozT2yFOYi3iAk",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bp-settings",
      "name": "settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $('settings').first().json.SUPABASE_URL }}/rest/v1/genre_config?genre_slug=eq.{{ $('workflow_trigger').first().json.genre_slug }}&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('settings').first().json.SUPABASE_API_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('settings').first().json.SUPABASE_API_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "bp-genre",
      "name": "get_genre_config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "value": "iLuMoCq0tNJJAH5n"
        },
        "options": {}
      },
      "id": "bp-content",
      "name": "get_recent_content",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bpp1",
              "name": "prompt",
              "value": "=You are a world-class science fiction blogger specializing in {{ $('get_genre_config').first().json[0]?.genre_name }}.\n\n## Genre Guidelines\n{{ $('get_genre_config').first().json[0]?.writing_guidelines }}\n\n## Recent Curated Content\n{{ JSON.stringify($('get_recent_content').first().json.data?.slice(0, 10)?.map(i => ({ title: i.title, source: i.source_type })) || []) }}\n\n## Assignment\nWrite a blog post about: {{ $('workflow_trigger').item.json.topic }}\nTarget length: {{ $('workflow_trigger').item.json.target_length || 1500 }} words\nSEO keywords: {{ $('workflow_trigger').item.json.keywords }}\n\n## Requirements\n- Attention-grabbing headline\n- Hook opening paragraph\n- 3-5 subheadings for scannability\n- Reference recent content from the genre\n- Include relevant book/movie recommendations\n- End with a discussion prompt\n- SEO-optimized without being keyword-stuffed\n\n## Output\nReturn JSON: { title, meta_description, body_markdown, tags }",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bp-prompt",
      "name": "build_prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        0
      ]
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "=You are a research assistant. Provide detailed, current information with citations.",
              "role": "system"
            },
            {
              "content": "=Research current developments in {{ $('get_genre_config').first().json[0]?.genre_name }} related to: {{ $('workflow_trigger').item.json.topic }}. Provide recent news, book releases, and notable discussions."
            }
          ]
        },
        "simplify": true,
        "options": {
          "temperature": 0.1,
          "searchRecency": "month"
        },
        "requestOptions": {}
      },
      "id": "bp-research",
      "name": "research_topic",
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        960,
        0
      ],
      "credentials": {
        "perplexityApi": {
          "id": "ggr9QCRobQVA6Lwb",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('build_prompt').item.json.prompt }}\n\n## Research Context\n{{ $json.message?.content || $json.choices?.[0]?.message?.content || '' }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "id": "bp-write",
      "name": "write_blog",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1152,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "options": {
          "maxTokensToSample": 8000
        }
      },
      "id": "bp-claude",
      "name": "claude-sonnet",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1200,
        208
      ],
      "credentials": {
        "anthropicApi": {
          "id": "5LhCYKsaFO3fF7II",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{ \"type\": \"object\", \"properties\": { \"title\": { \"type\": \"string\" }, \"meta_description\": { \"type\": \"string\" }, \"body_markdown\": { \"type\": \"string\" }, \"tags\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } } }, \"required\": [\"title\", \"body_markdown\"] }"
      },
      "id": "bp-parser",
      "name": "blog_output_parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1392,
        208
      ]
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.output?.body_markdown || '' }}",
        "options": {}
      },
      "id": "bp-html",
      "name": "convert_to_html",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1440,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('settings').item.json.SUPABASE_URL }}/storage/v1/object/author-content/drafts/blog_{{ $now.format('yyyy-MM-dd_HHmmss') }}.md",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('settings').item.json.SUPABASE_API_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('settings').item.json.SUPABASE_API_KEY }}"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/markdown",
        "body": "={{ $('write_blog').item.json.output?.body_markdown || '' }}",
        "options": {}
      },
      "id": "bp-save",
      "name": "save_draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        0
      ]
    },
    {
      "parameters": {
        "sendTo": "eric@agileadtesting.com",
        "subject": "=Blog Draft: {{ $('write_blog').item.json.output?.title || 'Untitled' }}",
        "message": "={{ $('convert_to_html').item.json.data }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "bp-email",
      "name": "send_email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2160,
        0
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "CPCSZOInV8Zj1PI1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bpr1",
              "name": "result",
              "value": "=Blog post written and emailed: {{ $('write_blog').item.json.output?.title || 'Untitled' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bp-result",
      "name": "set_result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2400,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "value": "SxeLHxzvITEKyKc0"
        },
        "options": {},
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "story_title": "={{ $json.output?.title || $('workflow_trigger').item.json.topic }}",
            "image_description": "=A blog header image for \"{{ $json.output?.title || $('workflow_trigger').item.json.topic }}\".\n\nBlog summary: {{ $json.output?.meta_description || '' }}\n\nOpening content:\n{{ ($json.output?.content || $json.text || '').substring(0, 1200) }}\n\nCreate a visually striking header image that captures the blog post's theme \u2014 conceptual, atmospheric, and modern. Do NOT include any text, titles, or words in the image.",
            "genre_slug": "={{ $('workflow_trigger').item.json.genre_slug || 'post-apocalyptic' }}",
            "content_type": "Blog Post"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "image_description",
              "displayName": "image_description",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "removed": false
            },
            {
              "id": "story_title",
              "displayName": "story_title",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "removed": false
            },
            {
              "id": "genre_slug",
              "displayName": "genre_slug",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "removed": false
            },
            {
              "id": "content_type",
              "displayName": "content_type",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "removed": false
            }
          ]
        }
      },
      "id": "bp-image",
      "name": "generate_blog_image",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1440,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const supabaseUrl = $('settings').first().json.SUPABASE_URL;\nconst apiKey = $('settings').first().json.SUPABASE_API_KEY;\nconst headers = { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey, 'Content-Type': 'application/json' };\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: supabaseUrl + '/rest/v1/published_content',\n    headers,\n    body: {\n      title: ($('write_blog').item.json.output?.title || 'Untitled Blog Post'),\n      content_type: 'blog_post',\n      genre_slug: $('workflow_trigger').first().json.genre_slug,\n      content_text: ($('write_blog').item.json.output?.body_markdown || ''),\n      storage_path: $json.Key || '',\n      project_id: null,\n      chapter_number: null,\n      status: 'draft'\n    }\n  });\n} catch (e) {\n  // Don't fail the workflow if draft insert fails\n}\n\nreturn $input.all();"
      },
      "id": "bp-draft",
      "name": "insert_draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        0
      ]
    }
  ],
  "connections": {
    "workflow_trigger": {
      "main": [
        [
          {
            "node": "settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "settings": {
      "main": [
        [
          {
            "node": "get_genre_config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_genre_config": {
      "main": [
        [
          {
            "node": "get_recent_content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_recent_content": {
      "main": [
        [
          {
            "node": "build_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build_prompt": {
      "main": [
        [
          {
            "node": "research_topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "research_topic": {
      "main": [
        [
          {
            "node": "write_blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "claude-sonnet": {
      "ai_languageModel": [
        [
          {
            "node": "write_blog",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "blog_output_parser": {
      "ai_outputParser": [
        [
          {
            "node": "write_blog",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "write_blog": {
      "main": [
        [
          {
            "node": "convert_to_html",
            "type": "main",
            "index": 0
          },
          {
            "node": "generate_blog_image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert_to_html": {
      "main": [
        [
          {
            "node": "save_draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save_draft": {
      "main": [
        [
          {
            "node": "insert_draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_email": {
      "main": [
        [
          {
            "node": "set_result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_draft": {
      "main": [
        [
          {
            "node": "send_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {}
}