workflows/07_tool_write_blog_post.json
{
  "name": "Tool - Write Blog Post",
  "nodes": [
    {
      "id": "bp-trigger",
      "name": "workflow_trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "topic"
            },
            {
              "name": "genre_slug"
            },
            {
              "name": "keywords"
            },
            {
              "name": "target_length"
            }
          ]
        }
      }
    },
    {
      "id": "bp-settings",
      "name": "settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        120,
        0
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s1",
              "name": "SUPABASE_URL",
              "value": "https://qsirioazmsmrrfoltrhn.supabase.co",
              "type": "string"
            },
            {
              "id": "sapi",
              "name": "SUPABASE_API_KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFzaXJpb2F6bXNtcnJmb2x0cmhuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjgwOTU2MSwiZXhwIjoyMDg4Mzg1NTYxfQ.oqvzwBcCwYTI1pe1MPnNQn64Yc3e-mozT2yFOYi3iAk",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "bp-genre",
      "name": "get_genre_config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $('settings').item.json.SUPABASE_URL }}/rest/v1/genre_config?genre_slug=eq.{{ $json.genre_slug }}&limit=1",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('settings').item.json.SUPABASE_API_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('settings').item.json.SUPABASE_API_KEY }}"
            }
          ]
        }
      }
    },
    {
      "id": "bp-content",
      "name": "get_recent_content",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        480,
        0
      ],
      "parameters": {
        "workflowId": {
          "value": "iLuMoCq0tNJJAH5n"
        },
        "fields": {
          "values": [
            {
              "name": "genre_slug",
              "value": "={{ $('workflow_trigger').item.json.genre_slug }}"
            },
            {
              "name": "date",
              "value": "={{ $now.minus(7, 'days').format('yyyy-MM-dd') }}"
            }
          ]
        }
      }
    },
    {
      "id": "bp-prompt",
      "name": "build_prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        0
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bpp1",
              "name": "prompt",
              "value": "=You are a world-class science fiction blogger specializing in {{ $('get_genre_config').first().json[0]?.genre_name }}.\n\n## Genre Guidelines\n{{ $('get_genre_config').first().json[0]?.writing_guidelines }}\n\n## Recent Curated Content\n{{ JSON.stringify($('get_recent_content').first().json.data?.slice(0, 10)?.map(i => ({ title: i.title, source: i.source_type })) || []) }}\n\n## Assignment\nWrite a blog post about: {{ $('workflow_trigger').item.json.topic }}\nTarget length: {{ $('workflow_trigger').item.json.target_length || 1500 }} words\nSEO keywords: {{ $('workflow_trigger').item.json.keywords }}\n\n## Requirements\n- Attention-grabbing headline\n- Hook opening paragraph\n- 3-5 subheadings for scannability\n- Reference recent content from the genre\n- Include relevant book/movie recommendations\n- End with a discussion prompt\n- SEO-optimized without being keyword-stuffed\n\n## Output\nReturn JSON: { title, meta_description, body_markdown, tags }",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "bp-research",
      "name": "research_topic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'sonar-reasoning', messages: [{ role: 'user', content: 'Research current developments in ' + $('get_genre_config').first().json[0]?.genre_name + ' related to: ' + $('workflow_trigger').item.json.topic + '. Provide recent news, book releases, and notable discussions.' }] }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "bp-write",
      "name": "write_blog",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1200,
        0
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $('build_prompt').item.json.prompt }}\n\n## Research Context\n{{ $('research_topic').item.json.choices?.[0]?.message?.content || '' }}",
        "hasOutputParser": true,
        "batching": {}
      }
    },
    {
      "id": "bp-claude",
      "name": "claude-sonnet",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1200,
        208
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "options": {
          "maxTokensToSample": 8000
        }
      }
    },
    {
      "id": "bp-parser",
      "name": "blog_output_parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1392,
        208
      ],
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{ \"type\": \"object\", \"properties\": { \"title\": { \"type\": \"string\" }, \"meta_description\": { \"type\": \"string\" }, \"body_markdown\": { \"type\": \"string\" }, \"tags\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } } }, \"required\": [\"title\", \"body_markdown\"] }"
      }
    },
    {
      "id": "bp-html",
      "name": "convert_to_html",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1440,
        0
      ],
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.output?.body_markdown || '' }}",
        "options": {}
      }
    },
    {
      "id": "bp-save",
      "name": "save_draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $('settings').item.json.SUPABASE_URL }}/storage/v1/object/author-content/drafts/blog_{{ $now.format('yyyy-MM-dd') }}.md",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/markdown",
        "body": "={{ $('write_blog').item.json.output?.body_markdown || '' }}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('settings').item.json.SUPABASE_API_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('settings').item.json.SUPABASE_API_KEY }}"
            }
          ]
        }
      }
    },
    {
      "id": "bp-email",
      "name": "send_email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1920,
        0
      ],
      "parameters": {
        "operation": "send",
        "sendTo": "eric@agileadtesting.com",
        "subject": "=Blog Draft: {{ $('write_blog').item.json.output?.title || 'Untitled' }}",
        "message": "={{ $('convert_to_html').item.json.data }}",
        "options": {
          "appendAttribution": false
        }
      }
    },
    {
      "id": "bp-result",
      "name": "set_result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        0
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bpr1",
              "name": "result",
              "value": "=Blog post written and emailed: {{ $('write_blog').item.json.output?.title || 'Untitled' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "workflow_trigger": {
      "main": [
        [
          {
            "node": "settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "settings": {
      "main": [
        [
          {
            "node": "get_genre_config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_genre_config": {
      "main": [
        [
          {
            "node": "get_recent_content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_recent_content": {
      "main": [
        [
          {
            "node": "build_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build_prompt": {
      "main": [
        [
          {
            "node": "research_topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "research_topic": {
      "main": [
        [
          {
            "node": "write_blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "claude-sonnet": {
      "ai_languageModel": [
        [
          {
            "node": "write_blog",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "blog_output_parser": {
      "ai_outputParser": [
        [
          {
            "node": "write_blog",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "write_blog": {
      "main": [
        [
          {
            "node": "convert_to_html",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert_to_html": {
      "main": [
        [
          {
            "node": "save_draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save_draft": {
      "main": [
        [
          {
            "node": "send_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_email": {
      "main": [
        [
          {
            "node": "set_result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  }
}
