workflows/08_tool_write_newsletter.json
{
  "name": "Tool - Write Newsletter",
  "nodes": [
    {
      "id": "nl-trigger",
      "name": "workflow_trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "topic"
            },
            {
              "name": "genre_slug"
            },
            {
              "name": "date"
            }
          ]
        }
      }
    },
    {
      "id": "nl-settings",
      "name": "settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        120,
        0
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s1",
              "name": "SUPABASE_URL",
              "value": "https://qsirioazmsmrrfoltrhn.supabase.co",
              "type": "string"
            },
            {
              "id": "sapi",
              "name": "SUPABASE_API_KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFzaXJpb2F6bXNtcnJmb2x0cmhuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjgwOTU2MSwiZXhwIjoyMDg4Mzg1NTYxfQ.oqvzwBcCwYTI1pe1MPnNQn64Yc3e-mozT2yFOYi3iAk",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "nl-genre",
      "name": "get_genre_config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $('settings').item.json.SUPABASE_URL }}/rest/v1/genre_config?genre_slug=eq.{{ $json.genre_slug }}&limit=1",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('settings').item.json.SUPABASE_API_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('settings').item.json.SUPABASE_API_KEY }}"
            }
          ]
        }
      }
    },
    {
      "id": "nl-content",
      "name": "get_recent_content",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        480,
        0
      ],
      "parameters": {
        "workflowId": {
          "value": "iLuMoCq0tNJJAH5n"
        },
        "fields": {
          "values": [
            {
              "name": "genre_slug",
              "value": "={{ $('workflow_trigger').item.json.genre_slug }}"
            },
            {
              "name": "date",
              "value": "={{ $now.minus(7, 'days').format('yyyy-MM-dd') }}"
            }
          ]
        }
      }
    },
    {
      "id": "nl-research",
      "name": "research_topic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'sonar-reasoning', messages: [{ role: 'user', content: 'Research current developments in ' + $('get_genre_config').first().json[0].genre_name + ' related to: ' + $('workflow_trigger').item.json.topic + '. Provide recent news, book releases, and notable discussions.' }] }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "nl-prompt",
      "name": "build_newsletter_prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        0
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "nlp1",
              "name": "prompt",
              "value": "=You are a world-class science fiction newsletter editor specializing in {{ $('get_genre_config').first().json[0].genre_name }}.\n\n## Genre Guidelines\n{{ $('get_genre_config').first().json[0].writing_guidelines }}\n\n## Research Context\n{{ $('research_topic').item.json.choices?.[0]?.message?.content || '' }}\n\n## Recent Curated Content\n{{ JSON.stringify($('get_recent_content').first().json.data?.slice(0, 10)?.map(i => ({ title: i.title, source: i.source_type, url: i.source_url })) || []) }}\n\n## Assignment\nWrite a newsletter about: {{ $('workflow_trigger').item.json.topic }}\nDate: {{ $('workflow_trigger').item.json.date || $now.format('yyyy-MM-dd') }}\n\n## Requirements\n- Subject line: compelling, under 60 chars\n- Pre-header: teaser text, under 100 chars\n- Introduction: 2-3 sentences hooking the reader\n- 3-5 sections, each covering a different angle or story\n- Each section: headline + 2-3 paragraph analysis with links to sources\n- Outro: forward-looking thought + CTA\n- Tone: knowledgeable insider sharing discoveries with fellow enthusiasts\n- Include links to source content where available\n\n## Output\nReturn JSON with: subject_line, pre_header, intro, sections (array of {headline, body}), outro",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "nl-write",
      "name": "write_newsletter",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1200,
        0
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "hasOutputParser": true,
        "batching": {}
      }
    },
    {
      "id": "nl-claude",
      "name": "claude-sonnet",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1200,
        208
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "options": {
          "maxTokensToSample": 8000
        }
      }
    },
    {
      "id": "nl-parser",
      "name": "newsletter_parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1392,
        208
      ],
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{ \"type\": \"object\", \"properties\": { \"subject_line\": { \"type\": \"string\" }, \"pre_header\": { \"type\": \"string\" }, \"intro\": { \"type\": \"string\" }, \"sections\": { \"type\": \"array\", \"items\": { \"type\": \"object\", \"properties\": { \"headline\": { \"type\": \"string\" }, \"body\": { \"type\": \"string\" } } } }, \"outro\": { \"type\": \"string\" } }, \"required\": [\"subject_line\", \"pre_header\", \"intro\", \"sections\", \"outro\"] }"
      }
    },
    {
      "id": "nl-autofix",
      "name": "newsletter_auto_parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        1584,
        208
      ],
      "parameters": {}
    },
    {
      "id": "nl-autofix-claude",
      "name": "claude-sonnet-fix",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1584,
        400
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "options": {}
      }
    },
    {
      "id": "nl-assemble",
      "name": "set_full_newsletter",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        0
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "nla1",
              "name": "newsletter_md",
              "value": "=# {{ $json.output.subject_line }}\n\n*{{ $json.output.pre_header }}*\n\n{{ $json.output.intro }}\n\n---\n\n{{ $json.output.sections?.map(s => '## ' + s.headline + '\\n\\n' + s.body).join('\\n\\n---\\n\\n') || '' }}\n\n---\n\n{{ $json.output.outro }}",
              "type": "string"
            },
            {
              "id": "nla2",
              "name": "subject_line",
              "value": "={{ $json.output.subject_line }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "nl-html",
      "name": "convert_to_html",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1680,
        0
      ],
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.newsletter_md }}",
        "options": {}
      }
    },
    {
      "id": "nl-save",
      "name": "save_draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $('settings').item.json.SUPABASE_URL }}/storage/v1/object/author-content/drafts/newsletter_{{ $now.format('yyyy-MM-dd') }}.md",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/markdown",
        "body": "={{ $('set_full_newsletter').item.json.newsletter_md }}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('settings').item.json.SUPABASE_API_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('settings').item.json.SUPABASE_API_KEY }}"
            }
          ]
        }
      }
    },
    {
      "id": "nl-email",
      "name": "send_email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2160,
        0
      ],
      "parameters": {
        "operation": "send",
        "sendTo": "eric@agileadtesting.com",
        "subject": "=Newsletter: {{ $('set_full_newsletter').item.json.subject_line }}",
        "message": "={{ $('convert_to_html').item.json.data }}",
        "options": {
          "appendAttribution": false
        }
      }
    },
    {
      "id": "nl-result",
      "name": "set_result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2400,
        0
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "nlr1",
              "name": "result",
              "value": "=Newsletter written and emailed: {{ $('set_full_newsletter').item.json.subject_line }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "workflow_trigger": {
      "main": [
        [
          {
            "node": "settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "settings": {
      "main": [
        [
          {
            "node": "get_genre_config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_genre_config": {
      "main": [
        [
          {
            "node": "get_recent_content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_recent_content": {
      "main": [
        [
          {
            "node": "research_topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "research_topic": {
      "main": [
        [
          {
            "node": "build_newsletter_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build_newsletter_prompt": {
      "main": [
        [
          {
            "node": "write_newsletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "claude-sonnet": {
      "ai_languageModel": [
        [
          {
            "node": "write_newsletter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "newsletter_parser": {
      "ai_outputParser": [
        [
          {
            "node": "newsletter_auto_parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "newsletter_auto_parser": {
      "ai_outputParser": [
        [
          {
            "node": "write_newsletter",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "claude-sonnet-fix": {
      "ai_languageModel": [
        [
          {
            "node": "newsletter_auto_parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "write_newsletter": {
      "main": [
        [
          {
            "node": "set_full_newsletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_full_newsletter": {
      "main": [
        [
          {
            "node": "convert_to_html",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert_to_html": {
      "main": [
        [
          {
            "node": "save_draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save_draft": {
      "main": [
        [
          {
            "node": "send_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_email": {
      "main": [
        [
          {
            "node": "set_result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  }
}
