workflows/08_tool_write_newsletter_v2.json
{
  "id": "cjIUEjrqvyGZyKwN",
  "name": "Tool - Write Newsletter",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "topic"
            },
            {
              "name": "genre_slug"
            },
            {
              "name": "date"
            },
            {
              "name": "user_prompt"
            },
            {
              "name": "recipient_email"
            },
            {
              "name": "bcc_email"
            },
            {
              "name": "user_id"
            }
          ]
        }
      },
      "id": "nl-trigger",
      "name": "workflow_trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const SUPABASE_URL = 'https://faklxfakgzkpkbxfihzh.supabase.co';\nconst SUPABASE_API_KEY = 'sb_publishable_HsIkelEZaIr0VauiB3GgIQ_59XJRoWc';\nconst trigger = $('workflow_trigger').first().json;\nconst userId = trigger.user_id || '';\n\n// Fetch email config from app_config (centralized source of truth)\nlet recipient_email = trigger.recipient_email;\nlet bcc_email = trigger.bcc_email;\nif (!recipient_email) {\n  try {\n    const rows = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `${SUPABASE_URL}/rest/v1/app_config_v2?key=in.(recipient_email,bcc_email)&select=key,value&user_id=eq.${userId}`,\n      headers: { 'apikey': SUPABASE_API_KEY, 'Authorization': `Bearer ${SUPABASE_API_KEY}` }\n    });\n    for (const row of rows) {\n      if (row.key === 'recipient_email') recipient_email = row.value;\n      if (row.key === 'bcc_email') bcc_email = row.value;\n    }\n  } catch (e) {\n    recipient_email = 'eric@agileadtesting.com';\n    bcc_email = '';\n  }\n}\n\nreturn [{ json: { SUPABASE_URL, SUPABASE_API_KEY, recipient_email, bcc_email: bcc_email || '', userId } }];"
      },
      "id": "nl-settings",
      "name": "settings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $('settings').item.json.SUPABASE_URL }}/rest/v1/genre_config_v2?genre_slug=eq.{{ $('workflow_trigger').item.json.genre_slug }}&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('settings').item.json.SUPABASE_API_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('settings').item.json.SUPABASE_API_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "nl-genre",
      "name": "get_genre_config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "value": "z9E2vmG8sZux4aNH"
        },
        "options": {}
      },
      "id": "nl-content",
      "name": "get_recent_content",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        480,
        0
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "=You are a research assistant. Your job is to find real articles with working URLs. Return results in a strict format.",
              "role": "system"
            },
            {
              "content": "=Research the following topic: {{ $('workflow_trigger').item.json.topic }}.\n\nDomain: {{ $('get_genre_config').first().json.genre_name }}.\n\nReturn EXACTLY this format for each source (find 8-12 sources):\n\n---\nSOURCE 1:\nTitle: [article title]\nURL: [full https URL]\nAuthor: [author name or publication]\nDate: [publication date if available]\nSummary: [2-3 sentence summary of the key insight]\n---\nSOURCE 2:\n...\n\nRequirements:\n- Every source MUST have a working URL\n- Use reputable publications (major news, academic, industry)\n- Focus specifically on the topic requested\n- Include a mix of recent news, analysis, and expert commentary"
            }
          ]
        },
        "simplify": true,
        "options": {
          "temperature": 0.1,
          "searchRecency": "month"
        },
        "requestOptions": {}
      },
      "id": "nl-research",
      "name": "research_topic",
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        720,
        0
      ],
      "credentials": {
        "perplexityApi": {
          "id": "ggr9QCRobQVA6Lwb",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "nlp1",
              "name": "prompt",
              "value": "=You are a world-class newsletter editor and subject-matter expert specializing in {{ $('get_genre_config').first().json.genre_name }}.\n\n## Genre Guidelines\n{{ $('get_genre_config').first().json.writing_guidelines }}\n\n## SOURCE ARTICLES (embed links to these in your writing)\n{{ $('research_topic').item.json.message || '' }}\n\n## Recent Curated Content\n{{ JSON.stringify($('get_recent_content').first().json?.data?.slice(0, 10)?.map(i => ({ title: i.title, source: i.source_type, url: i.source_url })) || []) }}\n\n## Assignment\nWrite a newsletter about: {{ $('workflow_trigger').item.json.topic }}\nDate: {{ $('workflow_trigger').item.json.date || $now.format('yyyy-MM-dd') }}\n\nReturn ONLY valid JSON (no markdown code fences, no extra text) with this exact structure:\n{\n  \"subject_line\": \"compelling subject, under 60 chars\",\n  \"pre_header\": \"teaser text, under 100 chars\",\n  \"intro\": \"2-3 sentences hooking the reader\",\n  \"sections\": [\n    {\"headline\": \"section title\", \"body\": \"section content with [Source Title](https://url) links embedded naturally\"}\n  ],\n  \"outro\": \"forward-looking thought + CTA\"\n}\n\n## Writing Prime Directive\nWrite like a human, not a machine. Use clear, everyday language and short sentences. Cut cliches \u2014 no 'revolutionize,' 'game-changing,' 'unleash,' or 'delve.' Get to the point \u2014 remove filler words. No hype, just facts. Be genuine \u2014 don't fake excitement. Show, don't tell \u2014 use concrete examples instead of vague claims. Stay focused \u2014 one main idea per paragraph. Keep paragraphs short and scannable. Respect the reader's intelligence and time. Write like you'd explain something to a smart friend. Skip unnecessary adjectives and adverbs.\n\nRULES:\n- 3-5 sections, each covering a different angle of the topic\n- EMBED source links as markdown [Title](url) naturally within each section body\n- Each section MUST include at least one linked source from the research above\n- Tone: knowledgeable insider sharing discoveries\n- Stay focused on the specific topic\n- Do NOT wrap the JSON in code fences or add any text outside the JSON object",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "nl-prompt",
      "name": "build_newsletter_prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        0
      ]
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "=You are a world-class newsletter writer. You always embed source links as markdown [Title](url) in your writing. You return only valid JSON, never markdown code fences.",
              "role": "system"
            },
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "simplify": true,
        "options": {
          "temperature": 0.3
        },
        "requestOptions": {}
      },
      "id": "nl-write",
      "name": "write_newsletter",
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        1136,
        0
      ],
      "credentials": {
        "perplexityApi": {
          "id": "ggr9QCRobQVA6Lwb",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the Perplexity response into structured newsletter JSON\nconst response = $('write_newsletter').first().json;\nconst text = response.message || response.content || '';\nconst writeCitations = response.citations || [];\n\nlet newsletter;\ntry {\n  // Try direct JSON parse\n  newsletter = JSON.parse(text);\n} catch (e) {\n  try {\n    // Try extracting from markdown code block\n    const jsonMatch = text.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n    if (jsonMatch) {\n      newsletter = JSON.parse(jsonMatch[1].trim());\n    } else {\n      // Try finding JSON object in text\n      const objMatch = text.match(/\\{[\\s\\S]*\\}/);\n      if (objMatch) {\n        newsletter = JSON.parse(objMatch[0]);\n      } else {\n        // Fallback: wrap raw text as single-section newsletter\n        newsletter = {\n          subject_line: $('workflow_trigger').first().json.topic || 'Newsletter',\n          pre_header: 'Your latest newsletter',\n          intro: '',\n          sections: [{ headline: 'Newsletter', body: text }],\n          outro: ''\n        };\n      }\n    }\n  } catch (e2) {\n    // Last resort fallback\n    newsletter = {\n      subject_line: $('workflow_trigger').first().json.topic || 'Newsletter',\n      pre_header: 'Your latest newsletter',\n      intro: '',\n      sections: [{ headline: 'Newsletter', body: text }],\n      outro: ''\n    };\n  }\n}\n\nreturn [{ json: { output: newsletter, citations: writeCitations } }];"
      },
      "id": "nl-parse",
      "name": "parse_newsletter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Safety net: inject source links into sections that don't already have them\nconst researchData = $('research_topic').first().json;\nconst researchCitations = researchData.citations || [];\nconst writeCitations = $json.citations || [];\nconst researchText = researchData.message || '';\n\n// Parse SOURCE blocks from research text\nconst sources = [];\nconst sourceBlocks = researchText.split('---').filter(b => b.includes('SOURCE'));\nfor (const block of sourceBlocks) {\n  const titleMatch = block.match(/Title:\\s*(.+)/i);\n  const urlMatch = block.match(/URL:\\s*(https?:\\/\\/[^\\s]+)/i);\n  if (titleMatch && urlMatch) {\n    sources.push({ title: titleMatch[1].trim(), url: urlMatch[1].trim() });\n  }\n}\n\n// Fallback: use raw citations arrays\nif (sources.length === 0) {\n  const allCitations = [...new Set([...researchCitations, ...writeCitations])];\n  for (const url of allCitations) {\n    const domain = url.replace(/https?:\\/\\/(www\\.)?/, '').split('/')[0];\n    sources.push({ title: domain, url });\n  }\n}\n\nconst output = $json.output || {};\nconst sections = output.sections || [];\n\n// Only add links to sections that don't already have markdown links\nconst enrichedSections = sections.map((section, i) => {\n  if (section.body && /\\[.+?\\]\\(https?:\\/\\/.+?\\)/.test(section.body)) {\n    return section; // Already has links\n  }\n  const startIdx = (i * 2) % Math.max(sources.length, 1);\n  const sectionSources = sources.slice(startIdx, startIdx + 2);\n  if (sectionSources.length === 0) return section;\n\n  const links = sectionSources\n    .map(s => '[' + s.title + '](' + s.url + ')')\n    .join(' | ');\n\n  return {\n    ...section,\n    body: section.body + '\\n\\n**Read more:** ' + links\n  };\n});\n\nreturn [{\n  json: {\n    output: {\n      ...output,\n      sections: enrichedSections\n    }\n  }\n}];"
      },
      "id": "nl-inject-links",
      "name": "inject_source_links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "nla1",
              "name": "newsletter_md",
              "value": "=# {{ $json.output.subject_line }}\n\n*{{ $json.output.pre_header }}*\n\n{{ $json.output.intro }}\n\n---\n\n{{ $json.output.sections?.map(s => '## ' + s.headline + '\\n\\n' + s.body).join('\\n\\n---\\n\\n') || '' }}\n\n---\n\n{{ $json.output.outro }}",
              "type": "string"
            },
            {
              "id": "nla2",
              "name": "subject_line",
              "value": "={{ $json.output.subject_line }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "nl-assemble",
      "name": "set_full_newsletter",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        0
      ]
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.newsletter_md }}",
        "options": {}
      },
      "id": "nl-html",
      "name": "convert_to_html",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1760,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('settings').item.json.SUPABASE_URL }}/storage/v1/object/author-content/drafts/newsletter_{{ $now.format('yyyy-MM-dd_HHmmss') }}.md",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('settings').item.json.SUPABASE_API_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('settings').item.json.SUPABASE_API_KEY }}"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/markdown",
        "body": "={{ $('set_full_newsletter').item.json.newsletter_md }}",
        "options": {}
      },
      "id": "nl-save",
      "name": "save_draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const supabaseUrl = $('settings').first().json.SUPABASE_URL;\nconst apiKey = $('settings').first().json.SUPABASE_API_KEY;\nconst userId = $('settings').first().json.userId;\nconst headers = { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey, 'Content-Type': 'application/json' };\n\ntry {\n  const output = $('inject_source_links').first().json.output || {};\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: supabaseUrl + '/rest/v1/published_content_v2',\n    headers,\n    body: {\n      title: output.subject_line || 'Newsletter',\n      content_type: 'newsletter',\n      genre_slug: $('workflow_trigger').first().json.genre_slug || 'post-apocalyptic',\n      content_text: $('set_full_newsletter').first().json.newsletter_md || '',\n      storage_path: $json.Key || '',\n      project_id: null,\n      chapter_number: null,\n      status: 'draft',\n      user_id: userId\n    }\n  });\n} catch (e) {\n  // Don't fail the workflow if draft insert fails\n}\n\nreturn $input.all();"
      },
      "id": "nl-draft",
      "name": "insert_draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        0
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('settings').item.json.recipient_email }}",
        "subject": "=Newsletter: {{ $('set_full_newsletter').item.json.subject_line }}",
        "message": "={{ ($('workflow_trigger').first().json.user_prompt ? '<div style=\"background:#f0f0f0; border-left:4px solid #666; padding:12px 16px; margin-bottom:24px; font-family:sans-serif; font-size:14px; color:#333;\"><strong>Command:</strong> ' + $('workflow_trigger').first().json.user_prompt + '</div>' : '') + $('convert_to_html').item.json.data }}",
        "options": {
          "appendAttribution": false,
          "bccList": "={{ $('settings').item.json.bcc_email }}"
        }
      },
      "id": "nl-email",
      "name": "send_email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2400,
        0
      ],
      "webhookId": "9eaa47ca-abaf-4ec6-99ac-1be3f5f87cf7",
      "credentials": {
        "gmailOAuth2": {
          "id": "CPCSZOInV8Zj1PI1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "nlr1",
              "name": "result",
              "value": "=Newsletter written and emailed: {{ $('set_full_newsletter').item.json.subject_line }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "nl-result",
      "name": "set_result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2640,
        0
      ]
    }
  ],
  "connections": {
    "workflow_trigger": {
      "main": [
        [
          {
            "node": "settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "settings": {
      "main": [
        [
          {
            "node": "get_genre_config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_genre_config": {
      "main": [
        [
          {
            "node": "get_recent_content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_recent_content": {
      "main": [
        [
          {
            "node": "research_topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "research_topic": {
      "main": [
        [
          {
            "node": "build_newsletter_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build_newsletter_prompt": {
      "main": [
        [
          {
            "node": "write_newsletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "write_newsletter": {
      "main": [
        [
          {
            "node": "parse_newsletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse_newsletter": {
      "main": [
        [
          {
            "node": "inject_source_links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inject_source_links": {
      "main": [
        [
          {
            "node": "set_full_newsletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_full_newsletter": {
      "main": [
        [
          {
            "node": "convert_to_html",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert_to_html": {
      "main": [
        [
          {
            "node": "save_draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save_draft": {
      "main": [
        [
          {
            "node": "insert_draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_draft": {
      "main": [
        [
          {
            "node": "send_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_email": {
      "main": [
        [
          {
            "node": "set_result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}