workflows/09_sub_manage_story_bible_v2.json
{
  "updatedAt": "2026-03-16T22:17:24.881Z",
  "createdAt": "2026-03-15T16:42:20.460Z",
  "id": "iDCqICsm4OpQNV6C",
  "name": "Sub - Manage Story Bible V2",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "operation"
            },
            {
              "name": "project_title"
            },
            {
              "name": "entries"
            },
            {
              "name": "user_id"
            }
          ]
        }
      },
      "id": "sb-trigger",
      "name": "workflow_trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s1",
              "name": "SUPABASE_URL",
              "value": "https://faklxfakgzkpkbxfihzh.supabase.co",
              "type": "string"
            },
            {
              "id": "sapi",
              "name": "SUPABASE_API_KEY",
              "value": "REDACTED_SUPABASE_KEY",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "sb-settings",
      "name": "settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const supabaseUrl = $('settings').first().json.SUPABASE_URL;\nconst apiKey = $('settings').first().json.SUPABASE_API_KEY;\nconst headers = { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey, 'Content-Type': 'application/json' };\nconst projectTitle = $('workflow_trigger').first().json.project_title;\nconst operation = $('workflow_trigger').first().json.operation || 'get';\nconst userId = $('workflow_trigger').first().json.user_id || '';\n\n// Find the project\nlet project = null;\ntry {\n  let projectUrl = supabaseUrl + '/rest/v1/writing_projects_v2?title=eq.' + encodeURIComponent(projectTitle) + '&limit=1';\n  if (userId) projectUrl += '&user_id=eq.' + encodeURIComponent(userId);\n  const resp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: projectUrl,\n    headers: headers\n  });\n  const projects = Array.isArray(resp) ? resp : [resp];\n  if (projects.length > 0 && projects[0]?.id) {\n    project = projects[0];\n  }\n} catch (e) {}\n\nif (!project) {\n  return [{ json: { project: null, error: 'Project not found: ' + projectTitle, operation: operation, user_id: userId } }];\n}\n\nreturn [{ json: { project: project, operation: operation, user_id: userId } }];"
      },
      "id": "sb-project",
      "name": "get_project",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.operation }}",
              "rightValue": "get",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "sb-check",
      "name": "check_operation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $('settings').first().json.SUPABASE_URL }}/rest/v1/story_bible_v2?project_id=eq.{{ $('get_project').first().json.project?.id }}&order=entry_type,name{{ $('get_project').first().json.user_id ? '&user_id=eq.' + encodeURIComponent($('get_project').first().json.user_id) : '' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('settings').first().json.SUPABASE_API_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('settings').first().json.SUPABASE_API_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "sb-get",
      "name": "get_story_bible",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "const supabaseUrl = $('settings').first().json.SUPABASE_URL;\nconst apiKey = $('settings').first().json.SUPABASE_API_KEY;\nconst headers = { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey, 'Content-Type': 'application/json' };\nconst projectId = $('get_project').first().json.project?.id;\nconst userId = $('get_project').first().json.user_id || '';\n\nif (!projectId) {\n  return [{ json: { result: 'Error: Project not found. Cannot update story bible.' } }];\n}\n\nconst entriesStr = $('workflow_trigger').first().json.entries || '[]';\nlet entries = [];\ntry {\n  entries = JSON.parse(entriesStr);\n} catch (e) {\n  // entries might already be an array/object\n  entries = Array.isArray(entriesStr) ? entriesStr : [entriesStr];\n}\n\nconst enriched = entries.map(e => ({ ...e, project_id: projectId, user_id: userId }));\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: supabaseUrl + '/rest/v1/story_bible_v2',\n    headers: headers,\n    body: enriched\n  });\n} catch (e) {\n  return [{ json: { result: 'Error updating story bible: ' + e.message } }];\n}\n\nreturn [{ json: { result: 'Story bible updated with ' + entries.length + ' entries for project ' + $('workflow_trigger').first().json.project_title } }];"
      },
      "id": "sb-update",
      "name": "update_story_bible",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        112
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sr1",
              "name": "result",
              "value": "={{ $json.result || JSON.stringify($json) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "sb-result",
      "name": "set_result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        0
      ]
    }
  ],
  "connections": {
    "workflow_trigger": {
      "main": [
        [
          {
            "node": "settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "settings": {
      "main": [
        [
          {
            "node": "get_project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_project": {
      "main": [
        [
          {
            "node": "check_operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_operation": {
      "main": [
        [
          {
            "node": "get_story_bible",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_story_bible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_story_bible": {
      "main": [
        [
          {
            "node": "set_result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_story_bible": {
      "main": [
        [
          {
            "node": "set_result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "207af880-bfe1-48fd-88bd-16c3e7a6b729",
  "activeVersionId": "207af880-bfe1-48fd-88bd-16c3e7a6b729",
  "versionCounter": 26,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-15T16:42:20.460Z",
      "createdAt": "2026-03-15T16:42:20.460Z",
      "role": "workflow:owner",
      "workflowId": "iDCqICsm4OpQNV6C",
      "projectId": "so6FfyLmNOjnxEMJ",
      "project": {
        "updatedAt": "2026-01-12T16:36:13.622Z",
        "createdAt": "2026-01-12T15:34:50.204Z",
        "id": "so6FfyLmNOjnxEMJ",
        "name": "Eric Beser <eric@agileadtesting.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fd7cc91d-5051-4455-95a6-842a68ceadb7"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-16T22:17:24.886Z",
    "createdAt": "2026-03-16T22:17:24.886Z",
    "versionId": "207af880-bfe1-48fd-88bd-16c3e7a6b729",
    "workflowId": "iDCqICsm4OpQNV6C",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "operation"
              },
              {
                "name": "project_title"
              },
              {
                "name": "entries"
              },
              {
                "name": "user_id"
              }
            ]
          }
        },
        "id": "sb-trigger",
        "name": "workflow_trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "s1",
                "name": "SUPABASE_URL",
                "value": "https://faklxfakgzkpkbxfihzh.supabase.co",
                "type": "string"
              },
              {
                "id": "sapi",
                "name": "SUPABASE_API_KEY",
                "value": "REDACTED_SUPABASE_KEY",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "sb-settings",
        "name": "settings",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          128,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const supabaseUrl = $('settings').first().json.SUPABASE_URL;\nconst apiKey = $('settings').first().json.SUPABASE_API_KEY;\nconst headers = { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey, 'Content-Type': 'application/json' };\nconst projectTitle = $('workflow_trigger').first().json.project_title;\nconst operation = $('workflow_trigger').first().json.operation || 'get';\nconst userId = $('workflow_trigger').first().json.user_id || '';\n\n// Find the project\nlet project = null;\ntry {\n  let projectUrl = supabaseUrl + '/rest/v1/writing_projects_v2?title=eq.' + encodeURIComponent(projectTitle) + '&limit=1';\n  if (userId) projectUrl += '&user_id=eq.' + encodeURIComponent(userId);\n  const resp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: projectUrl,\n    headers: headers\n  });\n  const projects = Array.isArray(resp) ? resp : [resp];\n  if (projects.length > 0 && projects[0]?.id) {\n    project = projects[0];\n  }\n} catch (e) {}\n\nif (!project) {\n  return [{ json: { project: null, error: 'Project not found: ' + projectTitle, operation: operation, user_id: userId } }];\n}\n\nreturn [{ json: { project: project, operation: operation, user_id: userId } }];"
        },
        "id": "sb-project",
        "name": "get_project",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          288,
          0
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $json.operation }}",
                "rightValue": "get",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ]
          },
          "options": {}
        },
        "id": "sb-check",
        "name": "check_operation",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          480,
          0
        ]
      },
      {
        "parameters": {
          "url": "={{ $('settings').first().json.SUPABASE_URL }}/rest/v1/story_bible_v2?project_id=eq.{{ $('get_project').first().json.project?.id }}&order=entry_type,name{{ $('get_project').first().json.user_id ? '&user_id=eq.' + encodeURIComponent($('get_project').first().json.user_id) : '' }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('settings').first().json.SUPABASE_API_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('settings').first().json.SUPABASE_API_KEY }}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "sb-get",
        "name": "get_story_bible",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          720,
          -96
        ]
      },
      {
        "parameters": {
          "jsCode": "const supabaseUrl = $('settings').first().json.SUPABASE_URL;\nconst apiKey = $('settings').first().json.SUPABASE_API_KEY;\nconst headers = { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey, 'Content-Type': 'application/json' };\nconst projectId = $('get_project').first().json.project?.id;\nconst userId = $('get_project').first().json.user_id || '';\n\nif (!projectId) {\n  return [{ json: { result: 'Error: Project not found. Cannot update story bible.' } }];\n}\n\nconst entriesStr = $('workflow_trigger').first().json.entries || '[]';\nlet entries = [];\ntry {\n  entries = JSON.parse(entriesStr);\n} catch (e) {\n  // entries might already be an array/object\n  entries = Array.isArray(entriesStr) ? entriesStr : [entriesStr];\n}\n\nconst enriched = entries.map(e => ({ ...e, project_id: projectId, user_id: userId }));\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: supabaseUrl + '/rest/v1/story_bible_v2',\n    headers: headers,\n    body: enriched\n  });\n} catch (e) {\n  return [{ json: { result: 'Error updating story bible: ' + e.message } }];\n}\n\nreturn [{ json: { result: 'Story bible updated with ' + entries.length + ' entries for project ' + $('workflow_trigger').first().json.project_title } }];"
        },
        "id": "sb-update",
        "name": "update_story_bible",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          720,
          112
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "sr1",
                "name": "result",
                "value": "={{ $json.result || JSON.stringify($json) }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "sb-result",
        "name": "set_result",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          960,
          0
        ]
      }
    ],
    "connections": {
      "workflow_trigger": {
        "main": [
          [
            {
              "node": "settings",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "settings": {
        "main": [
          [
            {
              "node": "get_project",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "get_project": {
        "main": [
          [
            {
              "node": "check_operation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "check_operation": {
        "main": [
          [
            {
              "node": "get_story_bible",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "update_story_bible",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "get_story_bible": {
        "main": [
          [
            {
              "node": "set_result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "update_story_bible": {
        "main": [
          [
            {
              "node": "set_result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Eric Beser",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-16T22:17:25.199Z",
        "id": 938,
        "workflowId": "iDCqICsm4OpQNV6C",
        "versionId": "207af880-bfe1-48fd-88bd-16c3e7a6b729",
        "event": "activated",
        "userId": "fd7cc91d-5051-4455-95a6-842a68ceadb7"
      }
    ]
  }
}