workflows/10_tool_write_short_story_v2.json
{
  "id": "LTZ63B2H0w8Sl4FW",
  "name": "Tool - Write Short Story",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "genre_slug"
            },
            {
              "name": "premise"
            },
            {
              "name": "tone"
            },
            {
              "name": "length"
            },
            {
              "name": "style_references"
            },
            {
              "name": "research_topics"
            },
            {
              "name": "project_title"
            },
            {
              "name": "user_prompt"
            },
            {
              "name": "recipient_email"
            },
            {
              "name": "bcc_email"
            }
          ]
        }
      },
      "id": "ss-trigger",
      "name": "workflow_trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const SUPABASE_URL = 'https://faklxfakgzkpkbxfihzh.supabase.co';\nconst SUPABASE_API_KEY = 'sb_publishable_HsIkelEZaIr0VauiB3GgIQ_59XJRoWc';\nconst trigger = $('workflow_trigger').first().json;\n\nlet recipient_email = trigger.recipient_email;\nlet bcc_email = trigger.bcc_email;\nlet story_structure_guidelines = '';\ntry {\n  const rows = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${SUPABASE_URL}/rest/v1/app_config_v2?key=in.(recipient_email,bcc_email,story_structure_guidelines)&select=key,value`,\n    headers: { 'apikey': SUPABASE_API_KEY, 'Authorization': `Bearer ${SUPABASE_API_KEY}` }\n  });\n  for (const row of rows) {\n    if (row.key === 'recipient_email' && !recipient_email) recipient_email = row.value;\n    if (row.key === 'bcc_email' && !bcc_email) bcc_email = row.value;\n    if (row.key === 'story_structure_guidelines') story_structure_guidelines = row.value;\n  }\n} catch (e) {\n  if (!recipient_email) recipient_email = 'eric@agileadtesting.com';\n}\n\n// Auto-load outline from writing_projects when project_title is provided\nlet project_outline = null;\nconst project_title = trigger.project_title || '';\nif (project_title) {\n  try {\n    const resp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `${SUPABASE_URL}/rest/v1/writing_projects_v2?title=ilike.${encodeURIComponent(project_title)}&limit=1`,\n      headers: { 'apikey': SUPABASE_API_KEY, 'Authorization': `Bearer ${SUPABASE_API_KEY}` }\n    });\n    const projects = Array.isArray(resp) ? resp : [resp];\n    if (projects.length > 0 && projects[0]?.outline) {\n      project_outline = projects[0].outline;\n    }\n  } catch (e) {}\n}\n\nreturn [{ json: { SUPABASE_URL, SUPABASE_API_KEY, recipient_email, bcc_email: bcc_email || '', story_structure_guidelines, project_outline, project_title } }];"
      },
      "id": "ss-settings",
      "name": "settings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $('settings').item.json.SUPABASE_URL }}/rest/v1/genre_config_v2?genre_slug=eq.{{ $('workflow_trigger').item.json.genre_slug }}&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('settings').item.json.SUPABASE_API_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('settings').item.json.SUPABASE_API_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "ss-genre",
      "name": "get_genre_config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "rq1",
              "name": "research_query",
              "value": "=Research for a {{ $('get_genre_config').first().json.genre_name || $('get_genre_config').first().json[0]?.genre_name }} short story about: {{ $('workflow_trigger').item.json.premise }}. Provide factual details about: {{ $('workflow_trigger').item.json.research_topics || $('workflow_trigger').item.json.premise }}. Include scientific accuracy, historical details, cultural context, and sensory details useful for fiction writing.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ss-research-query",
      "name": "build_research_query",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "=You are a research assistant. Provide detailed, factual information with citations useful for fiction writing.",
              "role": "system"
            },
            {
              "content": "={{ $json.research_query }}"
            }
          ]
        },
        "simplify": true,
        "options": {
          "temperature": 0.1,
          "searchRecency": "month"
        },
        "requestOptions": {}
      },
      "id": "ss-research",
      "name": "research_topic",
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        720,
        0
      ],
      "credentials": {
        "perplexityApi": {
          "id": "ggr9QCRobQVA6Lwb",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const supabaseUrl = $('settings').first().json.SUPABASE_URL;\nconst apiKey = $('settings').first().json.SUPABASE_API_KEY;\nconst headers = { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey };\n\nlet files = [];\ntry {\n  const listResp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: supabaseUrl + '/storage/v1/object/list/author-content',\n    headers: { ...headers, 'Content-Type': 'application/json' },\n    body: { prefix: 'writing-samples', limit: 20 },\n    returnFullResponse: false\n  });\n  files = (listResp || []).filter(f => f.name && f.name !== '.gitkeep' && f.metadata?.size > 0);\n} catch (e) {\n  return [{ json: { samples_text: 'No writing samples available.', sample_count: 0 } }];\n}\n\nif (files.length === 0) {\n  return [{ json: { samples_text: 'No writing samples available.', sample_count: 0 } }];\n}\n\nconst samples = [];\nfor (const file of files.slice(0, 5)) {\n  try {\n    const content = await this.helpers.httpRequest({\n      method: 'GET',\n      url: supabaseUrl + '/storage/v1/object/author-content/writing-samples/' + file.name,\n      headers: headers,\n      returnFullResponse: false,\n      encoding: 'utf-8',\n      json: false\n    });\n    samples.push('--- ' + file.name + ' ---\\n' + (typeof content === 'string' ? content : JSON.stringify(content)));\n  } catch (e) {}\n}\n\nconst samplesText = samples.length > 0 ? samples.join('\\n\\n') : 'No writing samples available.';\nreturn [{ json: { samples_text: samplesText, sample_count: samples.length } }];"
      },
      "id": "ss-samples",
      "name": "fetch_writing_samples",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        160
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze these writing samples and extract the author's distinctive style guidelines:\n\nSamples found: {{ $json.sample_count || 0 }}\n\n{{ $json.samples_text }}\n\nIf no samples are available, describe a general literary fiction style with vivid imagery and strong character voice.\n\nExtract and summarize: Voice, Pacing, Sentence structure, Dialogue style, Literary devices, Paragraph structure, Formatting rules.",
        "batching": {}
      },
      "id": "ss-style",
      "name": "style_analysis",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1152,
        160
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "options": {}
      },
      "id": "ss-style-claude",
      "name": "claude-sonnet-style",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1200,
        368
      ],
      "credentials": {
        "anthropicApi": {
          "id": "5LhCYKsaFO3fF7II",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "value": "iLuMoCq0tNJJAH5n"
        },
        "options": {}
      },
      "id": "ss-content",
      "name": "get_recent_content",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        960,
        -160
      ],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const research = $('research_topic').first().json.message || '';\nlet style = '';\ntry { style = $('style_analysis').first().json.output || $('style_analysis').first().json.text || ''; } catch (e) { style = ''; }\nconst trigger = $('workflow_trigger').first().json;\nconst genre = $('get_genre_config').first().json;\nconst genreData = Array.isArray(genre) ? genre[0] : genre;\nconst genreName = genreData?.genre_name || 'Science Fiction';\nconst genreGuidelines = genreData?.writing_guidelines || '';\nconst structureGuidelines = $('settings').first().json.story_structure_guidelines || '';\nconst length = parseInt(trigger.length) || 3000;\n\n// Auto-load outline from writing_projects if available\nconst outline = $('settings').first().json.project_outline;\nconst projectTitle = $('settings').first().json.project_title;\n\n// Determine title: outline title > project_title > first words of premise\nlet title = 'Untitled';\nif (outline && typeof outline === 'object' && outline.title) {\n  title = outline.title;\n} else if (projectTitle) {\n  title = projectTitle;\n} else if (trigger.premise) {\n  title = trigger.premise.split(' ').slice(0, 5).join(' ');\n}\n\n// Build outline section for the prompt if a stored outline exists\nlet outlineSection = '';\nlet premiseText = trigger.premise || '';\nif (outline && typeof outline === 'object') {\n  // Use the stored premise — it's the canonical version from brainstorming\n  if (outline.premise) premiseText = outline.premise;\n  const parts = [];\n  if (outline.premise) parts.push('PREMISE: ' + outline.premise);\n  if (outline.themes) parts.push('THEMES: ' + (Array.isArray(outline.themes) ? outline.themes.join(', ') : outline.themes));\n  if (outline.characters) {\n    parts.push('CHARACTERS:\\n' + outline.characters.map(c => \n      '- ' + c.name + ' (' + c.role + '): ' + c.arc + (c.description ? ' \\u2014 ' + c.description : '')\n    ).join('\\n'));\n  }\n  if (outline.chapters) {\n    parts.push('STORY STRUCTURE:\\n' + outline.chapters.map(ch => \n      'Part ' + ch.number + ' \\u2014 ' + ch.title + ': ' + ch.brief + (ch.arc_notes ? ' [Arc: ' + ch.arc_notes + ']' : '')\n    ).join('\\n'));\n  }\n  outlineSection = parts.join('\\n\\n');\n} else if (typeof outline === 'string' && outline) {\n  outlineSection = outline;\n}\n\nconst outlineBlock = outlineSection ? `\\n\\n## Story Outline (FOLLOW THIS EXACTLY — do not rename characters, change the premise, or deviate from this outline)\\n${outlineSection}` : '';\n\nconst prompt = `You are a world-class science fiction author.\\n\\n## Genre\\n${genreName}\\n\\n## Genre Guidelines\\n${genreGuidelines}\\n\\n## Writing Prime Directive\\nWrite like a human, not a machine. Use clear, everyday language and short sentences. Cut cliches \\u2014 no \\\"revolutionize,\\\" \\\"game-changing,\\\" \\\"unleash,\\\" or \\\"delve.\\\" Get to the point \\u2014 remove filler words. No hype, just facts. Be genuine \\u2014 don't fake excitement. Show, don't tell \\u2014 use concrete details and sensory moments instead of vague claims. Stay focused \\u2014 one idea per paragraph. Keep paragraphs short. Respect the reader's intelligence. Write like you'd tell a story to a smart friend. Skip unnecessary adjectives and adverbs. Relax about perfect grammar if it makes dialogue or narration sound more natural. After drafting, cut anything that doesn't move the story forward.\\n\\n## Story Structure Guidelines\\n${structureGuidelines}${outlineBlock}\\n\\n## Research\\n${research}\\n\\n## Writing Style\\n${style}\\n\\n## Assignment\\nWrite a complete short story titled \\\"${title}\\\" of approximately ${length} words.\\n\\n- Premise: ${premiseText}\\n- Tone: ${trigger.tone}\\n- Target length: ${length} words${outlineSection ? '\\n- IMPORTANT: Follow the outline above exactly. Use the character names, premise, and story structure as specified. Do not rename characters or change the story concept.' : ''}\\n\\n## Structure\\nWrite the story with natural scene breaks (use --- between scenes). Include:\\n1. Opening: Establish the world, introduce the protagonist\\n2. Rising action: Develop conflict, deepen character\\n3. Climax and resolution\\n\\nWrite the story text directly. No JSON wrapping, no metadata, no scene labels. Just the story.`;\n\nreturn [{ json: { prompt: prompt, title: title } }];"
      },
      "id": "ss-plan",
      "name": "build_story_prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "batching": {}
      },
      "id": "ss-write",
      "name": "write_story",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1680,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "options": {
          "maxTokensToSample": 16000
        }
      },
      "id": "ss-write-claude",
      "name": "claude-sonnet-write",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1680,
        208
      ],
      "credentials": {
        "anthropicApi": {
          "id": "5LhCYKsaFO3fF7II",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const storyText = $input.first().json.output || $input.first().json.text || '';\nconst title = $('build_story_prompt').first().json.title || 'Untitled';\nconst trigger = $('workflow_trigger').first().json;\nconst genre = $('get_genre_config').first().json;\nconst genreData = Array.isArray(genre) ? genre[0] : genre;\nconst genreName = genreData?.genre_name || 'Science Fiction';\n\n// Extract the opening scene (first ~300 words) for visual reference\nconst openingScene = storyText.split(/\\n---\\n|\\n\\n/)[0]?.substring(0, 1200) || storyText.substring(0, 1200);\n\n// Build a rich visual image description from the story content\nconst imagePrompt = `A cinematic, atmospheric cover image for a ${genreName} short story titled \"${title}\".\n\nStory premise: ${trigger.premise}\nTone: ${trigger.tone || 'literary'}\n\nKey scene from the opening:\n${openingScene}\n\nCreate a single powerful visual scene that captures the mood, setting, and central tension of this story. Focus on the most visually striking moment — the environment, lighting, character silhouettes, and atmospheric details. Do NOT include any text, titles, or words in the image.`;\n\nreturn [{ json: { story_text: storyText, title: title, image_prompt: imagePrompt } }];"
      },
      "id": "ss-full",
      "name": "set_full_story",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('settings').first().json.SUPABASE_URL }}/storage/v1/object/author-content/drafts/story_{{ $json.title?.toLowerCase().replace(/[^a-z0-9]+/g, '-').substring(0, 50) || 'untitled' }}_{{ $now.format('yyyy-MM-dd_HHmmss') }}.md",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('settings').first().json.SUPABASE_API_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('settings').first().json.SUPABASE_API_KEY }}"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/markdown",
        "body": "={{ $json.story_text }}",
        "options": {}
      },
      "id": "ss-save",
      "name": "save_draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        0
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('settings').item.json.recipient_email }}",
        "subject": "=Short Story Draft: {{ $('set_full_story').first().json.title }}",
        "message": "={{ ($('workflow_trigger').first().json.user_prompt ? '<div style=\"background:#f0f0f0; border-left:4px solid #666; padding:12px 16px; margin-bottom:24px; font-family:sans-serif; font-size:14px; color:#333;\"><strong>Command:</strong> ' + $('workflow_trigger').first().json.user_prompt + '</div>' : '') + $('set_full_story').first().json.story_text.replace(/\\n/g, '<br>') }}",
        "options": {
          "appendAttribution": false,
          "bccList": "={{ $('settings').item.json.bcc_email }}"
        }
      },
      "id": "ss-email",
      "name": "send_email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2640,
        0
      ],
      "webhookId": "161a2317-1fdf-494b-b9c5-cb8a60825107",
      "credentials": {
        "gmailOAuth2": {
          "id": "CPCSZOInV8Zj1PI1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "value": "SxeLHxzvITEKyKc0"
        },
        "options": {},
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "story_title": "={{ $('set_full_story').first().json.title }}",
            "image_description": "={{ $('set_full_story').first().json.image_prompt }}",
            "genre_slug": "={{ $('workflow_trigger').first().json.genre_slug }}",
            "content_type": "Short Story"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "image_description",
              "displayName": "image_description",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "removed": false
            },
            {
              "id": "story_title",
              "displayName": "story_title",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "removed": false
            },
            {
              "id": "genre_slug",
              "displayName": "genre_slug",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "removed": false
            },
            {
              "id": "content_type",
              "displayName": "content_type",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "removed": false
            }
          ]
        }
      },
      "id": "ss-cover",
      "name": "generate_cover_image",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2160,
        240
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sr1",
              "name": "result",
              "value": "=Short story written, saved, emailed, and cover art generated: {{ $('set_full_story').first().json.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ss-result",
      "name": "set_result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2880,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const supabaseUrl = $('settings').first().json.SUPABASE_URL;\nconst apiKey = $('settings').first().json.SUPABASE_API_KEY;\nconst headers = { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey, 'Content-Type': 'application/json' };\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: supabaseUrl + '/rest/v1/published_content_v2',\n    headers,\n    body: {\n      title: $('set_full_story').first().json.title,\n      content_type: 'short_story',\n      genre_slug: $('workflow_trigger').first().json.genre_slug,\n      content_text: $('set_full_story').first().json.story_text,\n      storage_path: $json.Key || '',\n      project_id: null,\n      chapter_number: null,\n      status: 'draft'\n    }\n  });\n} catch (e) {\n  // Don't fail the workflow if draft insert fails\n}\n\nreturn $input.all();"
      },
      "id": "ss-draft",
      "name": "insert_draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        0
      ]
    }
  ],
  "connections": {
    "workflow_trigger": {
      "main": [
        [
          {
            "node": "settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "settings": {
      "main": [
        [
          {
            "node": "get_genre_config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_genre_config": {
      "main": [
        [
          {
            "node": "build_research_query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build_research_query": {
      "main": [
        [
          {
            "node": "research_topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "research_topic": {
      "main": [
        [
          {
            "node": "fetch_writing_samples",
            "type": "main",
            "index": 0
          },
          {
            "node": "get_recent_content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch_writing_samples": {
      "main": [
        [
          {
            "node": "style_analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "claude-sonnet-style": {
      "ai_languageModel": [
        [
          {
            "node": "style_analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "style_analysis": {
      "main": [
        [
          {
            "node": "build_story_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_recent_content": {
      "main": [
        [
          {
            "node": "build_story_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build_story_prompt": {
      "main": [
        [
          {
            "node": "write_story",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "claude-sonnet-write": {
      "ai_languageModel": [
        [
          {
            "node": "write_story",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "write_story": {
      "main": [
        [
          {
            "node": "set_full_story",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_full_story": {
      "main": [
        [
          {
            "node": "save_draft",
            "type": "main",
            "index": 0
          },
          {
            "node": "generate_cover_image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save_draft": {
      "main": [
        [
          {
            "node": "insert_draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_email": {
      "main": [
        [
          {
            "node": "set_result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate_cover_image": {
      "main": [
        [
          {
            "node": "set_result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_draft": {
      "main": [
        [
          {
            "node": "send_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}
