workflows/10_tool_write_short_story.json
{
  "name": "Tool - Write Short Story",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "genre_slug"
            },
            {
              "name": "premise"
            },
            {
              "name": "tone"
            },
            {
              "name": "length"
            },
            {
              "name": "style_references"
            },
            {
              "name": "research_topics"
            }
          ]
        }
      },
      "id": "ss-trigger",
      "name": "workflow_trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s1",
              "name": "SUPABASE_URL",
              "value": "https://qsirioazmsmrrfoltrhn.supabase.co",
              "type": "string"
            },
            {
              "id": "sapi",
              "name": "SUPABASE_API_KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFzaXJpb2F6bXNtcnJmb2x0cmhuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjgwOTU2MSwiZXhwIjoyMDg4Mzg1NTYxfQ.oqvzwBcCwYTI1pe1MPnNQn64Yc3e-mozT2yFOYi3iAk",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ss-settings",
      "name": "settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $('settings').item.json.SUPABASE_URL }}/rest/v1/genre_config?genre_slug=eq.{{ $('workflow_trigger').item.json.genre_slug }}&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('settings').item.json.SUPABASE_API_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('settings').item.json.SUPABASE_API_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "ss-genre",
      "name": "get_genre_config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "rq1",
              "name": "research_query",
              "value": "=Research for a {{ $('get_genre_config').first().json.genre_name || $('get_genre_config').first().json[0]?.genre_name }} short story about: {{ $('workflow_trigger').item.json.premise }}. Provide factual details about: {{ $('workflow_trigger').item.json.research_topics || $('workflow_trigger').item.json.premise }}. Include scientific accuracy, historical details, cultural context, and sensory details useful for fiction writing.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ss-research-query",
      "name": "build_research_query",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "=You are a research assistant. Provide detailed, factual information with citations useful for fiction writing.",
              "role": "system"
            },
            {
              "content": "={{ $json.research_query }}"
            }
          ]
        },
        "simplify": true,
        "options": {
          "temperature": 0.1,
          "searchRecency": "month"
        },
        "requestOptions": {}
      },
      "id": "ss-research",
      "name": "research_topic",
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        720,
        0
      ],
      "credentials": {
        "perplexityApi": {
          "id": "ggr9QCRobQVA6Lwb",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const supabaseUrl = $('settings').first().json.SUPABASE_URL;\nconst apiKey = $('settings').first().json.SUPABASE_API_KEY;\nconst headers = { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey };\n\nlet files = [];\ntry {\n  const listResp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: supabaseUrl + '/storage/v1/object/list/author-content',\n    headers: { ...headers, 'Content-Type': 'application/json' },\n    body: { prefix: 'writing-samples', limit: 20 },\n    returnFullResponse: false\n  });\n  files = (listResp || []).filter(f => f.name && f.name !== '.gitkeep' && f.metadata?.size > 0);\n} catch (e) {\n  return [{ json: { samples_text: 'No writing samples available.', sample_count: 0 } }];\n}\n\nif (files.length === 0) {\n  return [{ json: { samples_text: 'No writing samples available.', sample_count: 0 } }];\n}\n\nconst samples = [];\nfor (const file of files.slice(0, 5)) {\n  try {\n    const content = await this.helpers.httpRequest({\n      method: 'GET',\n      url: supabaseUrl + '/storage/v1/object/author-content/writing-samples/' + file.name,\n      headers: headers,\n      returnFullResponse: false,\n      encoding: 'utf-8',\n      json: false\n    });\n    samples.push('--- ' + file.name + ' ---\\n' + (typeof content === 'string' ? content : JSON.stringify(content)));\n  } catch (e) {}\n}\n\nconst samplesText = samples.length > 0 ? samples.join('\\n\\n') : 'No writing samples available.';\nreturn [{ json: { samples_text: samplesText, sample_count: samples.length } }];"
      },
      "id": "ss-samples",
      "name": "fetch_writing_samples",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        160
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze these writing samples and extract the author's distinctive style guidelines:\n\nSamples found: {{ $json.sample_count || 0 }}\n\n{{ $json.samples_text }}\n\nIf no samples are available, describe a general literary fiction style with vivid imagery and strong character voice.\n\nExtract and summarize: Voice, Pacing, Sentence structure, Dialogue style, Literary devices, Paragraph structure, Formatting rules.",
        "batching": {}
      },
      "id": "ss-style",
      "name": "style_analysis",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1152,
        160
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "options": {}
      },
      "id": "ss-style-claude",
      "name": "claude-sonnet-style",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1200,
        368
      ],
      "credentials": {
        "anthropicApi": {
          "id": "5LhCYKsaFO3fF7II",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "value": "iLuMoCq0tNJJAH5n"
        },
        "options": {}
      },
      "id": "ss-content",
      "name": "get_recent_content",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        960,
        -160
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const research = $('research_topic').first().json.message || '';\nconst style = $('style_analysis').first().json.output || $('style_analysis').first().json.text || '';\nconst trigger = $('workflow_trigger').first().json;\nconst genre = $('get_genre_config').first().json;\nconst genreData = Array.isArray(genre) ? genre[0] : genre;\nconst genreName = genreData?.genre_name || 'Science Fiction';\nconst guidelines = genreData?.writing_guidelines || '';\nconst length = parseInt(trigger.length) || 3000;\n\nconst prompt = `You are a world-class science fiction author.\n\n## Genre\n${genreName}\n\n## Genre Guidelines\n${guidelines}\n\n## Research\n${research}\n\n## Writing Style\n${style}\n\n## Assignment\nWrite a complete short story of approximately ${length} words.\n\n- Premise: ${trigger.premise}\n- Tone: ${trigger.tone}\n- Target length: ${length} words\n\n## Structure\nWrite the story with natural scene breaks (use --- between scenes). Include:\n1. Opening: Establish the world, introduce the protagonist\n2. Rising action: Develop conflict, deepen character\n3. Climax and resolution\n\nWrite the story text directly. No JSON wrapping, no metadata, no scene labels. Just the story.`;\n\nreturn [{ json: { prompt: prompt, title: trigger.premise?.split(' ').slice(0, 5).join(' ') || 'Untitled' } }];"
      },
      "id": "ss-plan",
      "name": "build_story_prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "batching": {}
      },
      "id": "ss-write",
      "name": "write_story",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1680,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "options": {
          "maxTokensToSample": 16000
        }
      },
      "id": "ss-write-claude",
      "name": "claude-sonnet-write",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1680,
        208
      ],
      "credentials": {
        "anthropicApi": {
          "id": "5LhCYKsaFO3fF7II",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const storyText = $input.first().json.output || $input.first().json.text || '';\nconst title = $('build_story_prompt').first().json.title || 'Untitled';\nconst trigger = $('workflow_trigger').first().json;\nconst genre = $('get_genre_config').first().json;\nconst genreData = Array.isArray(genre) ? genre[0] : genre;\nconst genreName = genreData?.genre_name || 'Science Fiction';\n\n// Extract the opening scene (first ~300 words) for visual reference\nconst openingScene = storyText.split(/\\n---\\n|\\n\\n/)[0]?.substring(0, 1200) || storyText.substring(0, 1200);\n\n// Build a rich visual image description from the story content\nconst imagePrompt = `A cinematic, atmospheric cover image for a ${genreName} short story titled \"${title}\".\n\nStory premise: ${trigger.premise}\nTone: ${trigger.tone || 'literary'}\n\nKey scene from the opening:\n${openingScene}\n\nCreate a single powerful visual scene that captures the mood, setting, and central tension of this story. Focus on the most visually striking moment \u2014 the environment, lighting, character silhouettes, and atmospheric details. Do NOT include any text, titles, or words in the image.`;\n\nreturn [{ json: { story_text: storyText, title: title, image_prompt: imagePrompt } }];"
      },
      "id": "ss-full",
      "name": "set_full_story",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('settings').first().json.SUPABASE_URL }}/storage/v1/object/author-content/drafts/story_{{ $json.title?.toLowerCase().replace(/[^a-z0-9]+/g, '-').substring(0, 50) || 'untitled' }}_{{ $now.format('yyyy-MM-dd_HHmmss') }}.md",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('settings').first().json.SUPABASE_API_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('settings').first().json.SUPABASE_API_KEY }}"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/markdown",
        "body": "={{ $json.story_text }}",
        "options": {}
      },
      "id": "ss-save",
      "name": "save_draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        0
      ]
    },
    {
      "parameters": {
        "sendTo": "eric@agileadtesting.com",
        "subject": "=Short Story Draft: {{ $('set_full_story').first().json.title }}",
        "message": "={{ $('set_full_story').first().json.story_text.replace(/\\n/g, '<br>') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "ss-email",
      "name": "send_email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2640,
        0
      ],
      "webhookId": "161a2317-1fdf-494b-b9c5-cb8a60825107",
      "credentials": {
        "gmailOAuth2": {
          "id": "CPCSZOInV8Zj1PI1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "value": "SxeLHxzvITEKyKc0"
        },
        "options": {},
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "story_title": "={{ $('set_full_story').first().json.title }}",
            "image_description": "={{ $('set_full_story').first().json.image_prompt }}",
            "genre_slug": "={{ $('workflow_trigger').first().json.genre_slug }}",
            "content_type": "Short Story"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "image_description",
              "displayName": "image_description",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "removed": false
            },
            {
              "id": "story_title",
              "displayName": "story_title",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "removed": false
            },
            {
              "id": "genre_slug",
              "displayName": "genre_slug",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "removed": false
            },
            {
              "id": "content_type",
              "displayName": "content_type",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "removed": false
            }
          ]
        }
      },
      "id": "ss-cover",
      "name": "generate_cover_image",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2160,
        240
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sr1",
              "name": "result",
              "value": "=Short story written, saved, emailed, and cover art generated: {{ $('set_full_story').first().json.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ss-result",
      "name": "set_result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2880,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const supabaseUrl = $('settings').first().json.SUPABASE_URL;\nconst apiKey = $('settings').first().json.SUPABASE_API_KEY;\nconst headers = { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey, 'Content-Type': 'application/json' };\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: supabaseUrl + '/rest/v1/published_content',\n    headers,\n    body: {\n      title: $('set_full_story').first().json.title,\n      content_type: 'short_story',\n      genre_slug: $('workflow_trigger').first().json.genre_slug,\n      content_text: $('set_full_story').first().json.story_text,\n      storage_path: $json.Key || '',\n      project_id: null,\n      chapter_number: null,\n      status: 'draft'\n    }\n  });\n} catch (e) {\n  // Don't fail the workflow if draft insert fails\n}\n\nreturn $input.all();"
      },
      "id": "ss-draft",
      "name": "insert_draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        0
      ]
    }
  ],
  "connections": {
    "workflow_trigger": {
      "main": [
        [
          {
            "node": "settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "settings": {
      "main": [
        [
          {
            "node": "get_genre_config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_genre_config": {
      "main": [
        [
          {
            "node": "build_research_query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build_research_query": {
      "main": [
        [
          {
            "node": "research_topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "research_topic": {
      "main": [
        [
          {
            "node": "fetch_writing_samples",
            "type": "main",
            "index": 0
          },
          {
            "node": "get_recent_content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch_writing_samples": {
      "main": [
        [
          {
            "node": "style_analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "claude-sonnet-style": {
      "ai_languageModel": [
        [
          {
            "node": "style_analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "style_analysis": {
      "main": [
        [
          {
            "node": "build_story_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_recent_content": {
      "main": [
        [
          {
            "node": "build_story_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build_story_prompt": {
      "main": [
        [
          {
            "node": "write_story",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "claude-sonnet-write": {
      "ai_languageModel": [
        [
          {
            "node": "write_story",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "write_story": {
      "main": [
        [
          {
            "node": "set_full_story",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_full_story": {
      "main": [
        [
          {
            "node": "save_draft",
            "type": "main",
            "index": 0
          },
          {
            "node": "generate_cover_image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save_draft": {
      "main": [
        [
          {
            "node": "insert_draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_email": {
      "main": [
        [
          {
            "node": "set_result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate_cover_image": {
      "main": [
        [
          {
            "node": "set_result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_draft": {
      "main": [
        [
          {
            "node": "send_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {}
}