workflows/10_tool_write_short_story.json
{
  "name": "Tool - Write Short Story",
  "nodes": [
    {
      "id": "ss-trigger",
      "name": "workflow_trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "genre_slug"
            },
            {
              "name": "premise"
            },
            {
              "name": "tone"
            },
            {
              "name": "length"
            },
            {
              "name": "style_references"
            },
            {
              "name": "research_topics"
            }
          ]
        }
      }
    },
    {
      "id": "ss-settings",
      "name": "settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        120,
        0
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s1",
              "name": "SUPABASE_URL",
              "value": "https://qsirioazmsmrrfoltrhn.supabase.co",
              "type": "string"
            },
            {
              "id": "sapi",
              "name": "SUPABASE_API_KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFzaXJpb2F6bXNtcnJmb2x0cmhuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjgwOTU2MSwiZXhwIjoyMDg4Mzg1NTYxfQ.oqvzwBcCwYTI1pe1MPnNQn64Yc3e-mozT2yFOYi3iAk",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "ss-genre",
      "name": "get_genre_config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $('settings').item.json.SUPABASE_URL }}/rest/v1/genre_config?genre_slug=eq.{{ $json.genre_slug }}&limit=1",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('settings').item.json.SUPABASE_API_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('settings').item.json.SUPABASE_API_KEY }}"
            }
          ]
        }
      }
    },
    {
      "id": "ss-research-query",
      "name": "build_research_query",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        0
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "rq1",
              "name": "research_query",
              "value": "=Research for a {{ $('get_genre_config').first().json[0]?.genre_name }} short story about: {{ $('workflow_trigger').item.json.premise }}. Provide factual details about: {{ $('workflow_trigger').item.json.research_topics || $('workflow_trigger').item.json.premise }}. Include scientific accuracy, historical details, cultural context, and sensory details useful for fiction writing.",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "ss-research",
      "name": "research_topic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'sonar-reasoning', messages: [{ role: 'user', content: $json.research_query }] }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "ss-samples",
      "name": "fetch_writing_samples",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        160
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $('settings').item.json.SUPABASE_URL }}/storage/v1/object/list/author-content/writing-samples/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('settings').item.json.SUPABASE_API_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('settings').item.json.SUPABASE_API_KEY }}"
            }
          ]
        }
      }
    },
    {
      "id": "ss-style",
      "name": "style_analysis",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1200,
        160
      ],
      "parameters": {
        "promptType": "define",
        "text": "=Analyze these writing samples and extract the author's distinctive style:\n\nSamples found: {{ $json.length || 0 }}\nSample names: {{ $json.map?.(s => s.name)?.join(', ') || 'No samples available' }}\n\nIf no samples are available, describe a general literary fiction style with vivid imagery and strong character voice.\n\nExtract: Voice, Pacing, Sentence structure, Dialogue style, Literary devices, Paragraph structure.",
        "hasOutputParser": false,
        "batching": {}
      }
    },
    {
      "id": "ss-style-claude",
      "name": "claude-sonnet-style",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1200,
        368
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "options": {}
      }
    },
    {
      "id": "ss-content",
      "name": "get_recent_content",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        960,
        -160
      ],
      "parameters": {
        "workflowId": {
          "value": "iLuMoCq0tNJJAH5n"
        },
        "fields": {
          "values": [
            {
              "name": "genre_slug",
              "value": "={{ $('workflow_trigger').item.json.genre_slug }}"
            },
            {
              "name": "date",
              "value": "={{ $now.minus(14, 'days').format('yyyy-MM-dd') }}"
            }
          ]
        }
      }
    },
    {
      "id": "ss-plan",
      "name": "plan_scenes",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        0
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ps1",
              "name": "scene_plan",
              "value": "={{ JSON.stringify((() => {\n  const length = parseInt($('workflow_trigger').item.json.length) || 3000;\n  const numScenes = Math.max(3, Math.min(7, Math.ceil(length / 1000)));\n  const scenes = [];\n  for (let i = 1; i <= numScenes; i++) {\n    scenes.push({ scene_number: i, total_scenes: numScenes, brief: i === 1 ? 'Opening: Establish the world, introduce protagonist.' : i === numScenes ? 'Climax and resolution.' : 'Scene ' + i + ': Develop conflict, deepen character.' });\n  }\n  return scenes;\n})()) }}",
              "type": "string"
            },
            {
              "id": "ps2",
              "name": "research_results",
              "value": "={{ $('research_topic').item.json.choices?.[0]?.message?.content || '' }}",
              "type": "string"
            },
            {
              "id": "ps3",
              "name": "style_results",
              "value": "={{ $('style_analysis').item.json.output || $('style_analysis').item.json.text || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "ss-iterate",
      "name": "iterate_scenes",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1680,
        0
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "ss-write",
      "name": "write_scene",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1920,
        0
      ],
      "parameters": {
        "promptType": "define",
        "text": "=You are a world-class science fiction author writing scene {{ $json.scene_number || 1 }} of {{ $json.total_scenes || 5 }}.\n\n## Genre\n{{ $('get_genre_config').first().json[0]?.genre_name }}\n\n## Guidelines\n{{ $('get_genre_config').first().json[0]?.writing_guidelines }}\n\n## Research\n{{ $('plan_scenes').item.json.research_results }}\n\n## Style\n{{ $('plan_scenes').item.json.style_results }}\n\n## Story\n- Premise: {{ $('workflow_trigger').item.json.premise }}\n- Tone: {{ $('workflow_trigger').item.json.tone }}\n- Length: {{ $('workflow_trigger').item.json.length }} words total\n\n## Scene Brief\n{{ $json.brief || 'Continue the story.' }}\n\nWrite the scene text directly. No JSON wrapping.",
        "hasOutputParser": false,
        "batching": {}
      }
    },
    {
      "id": "ss-write-claude",
      "name": "claude-sonnet-write",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1920,
        208
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "options": {
          "maxTokensToSample": 8000
        }
      }
    },
    {
      "id": "ss-aggregate",
      "name": "aggregate_scenes",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2160,
        0
      ],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      }
    },
    {
      "id": "ss-full",
      "name": "set_full_story",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2400,
        0
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sf1",
              "name": "story_text",
              "value": "={{ $json.data?.map(s => s.output || s.text || '').join('\\n\\n---\\n\\n') || '' }}",
              "type": "string"
            },
            {
              "id": "sf2",
              "name": "title",
              "value": "={{ $('workflow_trigger').item.json.premise?.split(' ').slice(0, 5).join(' ') || 'Untitled' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "ss-save",
      "name": "save_draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $('settings').item.json.SUPABASE_URL }}/storage/v1/object/author-content/drafts/story_{{ $json.title?.toLowerCase().replace(/[^a-z0-9]+/g, '-').substring(0, 50) || 'untitled' }}_{{ $now.format('yyyy-MM-dd') }}.md",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/markdown",
        "body": "={{ $json.story_text }}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('settings').item.json.SUPABASE_API_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('settings').item.json.SUPABASE_API_KEY }}"
            }
          ]
        }
      }
    },
    {
      "id": "ss-email",
      "name": "send_email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2880,
        0
      ],
      "parameters": {
        "operation": "send",
        "sendTo": "eric@agileadtesting.com",
        "subject": "=Short Story Draft: {{ $('set_full_story').item.json.title }}",
        "message": "={{ $('set_full_story').item.json.story_text.replace(/\\n/g, '<br>') }}",
        "options": {
          "appendAttribution": false
        }
      }
    }
  ],
  "connections": {
    "workflow_trigger": {
      "main": [
        [
          {
            "node": "settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "settings": {
      "main": [
        [
          {
            "node": "get_genre_config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_genre_config": {
      "main": [
        [
          {
            "node": "build_research_query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build_research_query": {
      "main": [
        [
          {
            "node": "research_topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "research_topic": {
      "main": [
        [
          {
            "node": "fetch_writing_samples",
            "type": "main",
            "index": 0
          },
          {
            "node": "get_recent_content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch_writing_samples": {
      "main": [
        [
          {
            "node": "style_analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "claude-sonnet-style": {
      "ai_languageModel": [
        [
          {
            "node": "style_analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "style_analysis": {
      "main": [
        [
          {
            "node": "plan_scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_recent_content": {
      "main": [
        [
          {
            "node": "plan_scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "plan_scenes": {
      "main": [
        [
          {
            "node": "iterate_scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "iterate_scenes": {
      "main": [
        [
          {
            "node": "write_scene",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "aggregate_scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "claude-sonnet-write": {
      "ai_languageModel": [
        [
          {
            "node": "write_scene",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "write_scene": {
      "main": [
        [
          {
            "node": "iterate_scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aggregate_scenes": {
      "main": [
        [
          {
            "node": "set_full_story",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_full_story": {
      "main": [
        [
          {
            "node": "save_draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save_draft": {
      "main": [
        [
          {
            "node": "send_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  }
}
