workflows/11_tool_write_chapter.json
{
  "name": "Tool - Write Chapter",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "genre_slug"
            },
            {
              "name": "project_title"
            },
            {
              "name": "chapter_number"
            },
            {
              "name": "brief"
            },
            {
              "name": "outline"
            },
            {
              "name": "research_topics"
            }
          ]
        }
      },
      "id": "ch-trigger",
      "name": "workflow_trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -32,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s1",
              "name": "SUPABASE_URL",
              "value": "https://qsirioazmsmrrfoltrhn.supabase.co",
              "type": "string"
            },
            {
              "id": "sapi",
              "name": "SUPABASE_API_KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFzaXJpb2F6bXNtcnJmb2x0cmhuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjgwOTU2MSwiZXhwIjoyMDg4Mzg1NTYxfQ.oqvzwBcCwYTI1pe1MPnNQn64Yc3e-mozT2yFOYi3iAk",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ch-settings",
      "name": "settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $('settings').item.json.SUPABASE_URL }}/rest/v1/genre_config?genre_slug=eq.{{ $('workflow_trigger').item.json.genre_slug }}&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('settings').item.json.SUPABASE_API_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('settings').item.json.SUPABASE_API_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "ch-genre",
      "name": "get_genre_config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get or create the writing project\nconst supabaseUrl = $('settings').first().json.SUPABASE_URL;\nconst apiKey = $('settings').first().json.SUPABASE_API_KEY;\nconst headers = { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey, 'Content-Type': 'application/json' };\nconst projectTitle = $('workflow_trigger').first().json.project_title;\nconst genreSlug = $('workflow_trigger').first().json.genre_slug;\n\n// Try to find the project (includes outline)\nlet project = null;\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: supabaseUrl + '/rest/v1/writing_projects?title=eq.' + encodeURIComponent(projectTitle) + '&limit=1',\n    headers: headers\n  });\n  const projects = Array.isArray(resp) ? resp : [resp];\n  if (projects.length > 0 && projects[0]?.id) {\n    project = projects[0];\n  }\n} catch (e) {}\n\n// Create project if not found\nif (!project) {\n  try {\n    const created = await this.helpers.httpRequest({\n      method: 'POST',\n      url: supabaseUrl + '/rest/v1/writing_projects',\n      headers: { ...headers, 'Prefer': 'return=representation' },\n      body: { title: projectTitle, genre_slug: genreSlug, project_type: 'book', status: 'in_progress', chapter_count: 0 }\n    });\n    project = Array.isArray(created) ? created[0] : created;\n  } catch (e) {\n    project = { id: null, title: projectTitle };\n  }\n}\n\n// Fetch story bible entries\nlet storyBible = [];\nif (project?.id) {\n  try {\n    const bibleResp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: supabaseUrl + '/rest/v1/story_bible?project_id=eq.' + project.id + '&order=chapter_introduced,entry_type,name',\n      headers: headers\n    });\n    storyBible = Array.isArray(bibleResp) ? bibleResp : [];\n  } catch (e) {}\n}\n\n// Fetch writing samples\nlet samplesText = 'No writing samples available.';\ntry {\n  const listResp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: supabaseUrl + '/storage/v1/object/list/author-content',\n    headers: headers,\n    body: { prefix: 'writing-samples', limit: 20 }\n  });\n  const files = (listResp || []).filter(f => f.name && f.name !== '.gitkeep' && f.metadata?.size > 0);\n  if (files.length > 0) {\n    const samples = [];\n    for (const file of files.slice(0, 5)) {\n      try {\n        const content = await this.helpers.httpRequest({\n          method: 'GET',\n          url: supabaseUrl + '/storage/v1/object/author-content/writing-samples/' + file.name,\n          headers: { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey },\n          encoding: 'utf-8',\n          json: false\n        });\n        samples.push(typeof content === 'string' ? content : JSON.stringify(content));\n      } catch (e) {}\n    }\n    if (samples.length > 0) samplesText = samples.join('\\n\\n');\n  }\n} catch (e) {}\n\nreturn [{ json: { project: project, story_bible: storyBible, writing_samples: samplesText, outline: project?.outline || null } }];"
      },
      "id": "ch-project",
      "name": "get_project_data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "=You are a research assistant. Provide detailed, factual information with citations useful for fiction writing.",
              "role": "system"
            },
            {
              "content": "=Research for chapter {{ $('workflow_trigger').first().json.chapter_number }} of a novel titled \"{{ $('workflow_trigger').first().json.project_title }}\". Chapter brief: {{ $('workflow_trigger').first().json.brief }}. Provide factual details about: {{ $('workflow_trigger').first().json.research_topics || $('workflow_trigger').first().json.brief }}."
            }
          ]
        },
        "simplify": true,
        "options": {
          "temperature": 0.1,
          "searchRecency": "month"
        },
        "requestOptions": {}
      },
      "id": "ch-research",
      "name": "research_topic",
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        720,
        0
      ],
      "credentials": {
        "perplexityApi": {
          "id": "ggr9QCRobQVA6Lwb",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const trigger = $('workflow_trigger').first().json;\nconst genre = $('get_genre_config').first().json;\nconst genreData = Array.isArray(genre) ? genre[0] : genre;\nconst research = $('research_topic').first().json.message || '';\nconst projectData = $('get_project_data').first().json;\nconst storyBible = projectData.story_bible || [];\nconst writingSamples = projectData.writing_samples || '';\n\n// Auto-load outline: use trigger.outline if provided, otherwise fall back to stored outline\nconst storedOutline = projectData.outline;\nlet outlineText = trigger.outline || '';\n\nif (!outlineText && storedOutline) {\n  // Format the stored JSON outline into readable text for the prompt\n  if (typeof storedOutline === 'object') {\n    const parts = [];\n    if (storedOutline.premise) parts.push('PREMISE: ' + storedOutline.premise);\n    if (storedOutline.themes) parts.push('THEMES: ' + storedOutline.themes.join(', '));\n    if (storedOutline.characters) {\n      parts.push('CHARACTERS:\\n' + storedOutline.characters.map(c => \n        '- ' + c.name + ' (' + c.role + '): ' + c.arc + (c.description ? ' \u2014 ' + c.description : '')\n      ).join('\\n'));\n    }\n    if (storedOutline.chapters) {\n      parts.push('CHAPTER OUTLINE:\\n' + storedOutline.chapters.map(ch => \n        'Ch ' + ch.number + ' \u2014 ' + ch.title + ': ' + ch.brief + (ch.arc_notes ? ' [Arc: ' + ch.arc_notes + ']' : '')\n      ).join('\\n'));\n    }\n    outlineText = parts.join('\\n\\n');\n  } else {\n    outlineText = String(storedOutline);\n  }\n}\n\n// Format story bible for the prompt\nconst bibleText = storyBible.length > 0\n  ? storyBible.map(e => '[' + e.entry_type + '] ' + e.name + ': ' + e.description + ' (ch' + e.chapter_introduced + (e.last_chapter_seen > e.chapter_introduced ? '-ch' + e.last_chapter_seen : '') + ')').join('\\n')\n  : 'No story bible entries yet (this is likely the first chapter).';\n\nconst chapterNum = parseInt(trigger.chapter_number);\n\n// If we have a stored outline, extract this specific chapter's details\nlet chapterBrief = trigger.brief || '';\nlet chapterResearchTopics = '';\nif (storedOutline?.chapters && !trigger.brief) {\n  const thisChapter = storedOutline.chapters.find(ch => ch.number === chapterNum);\n  if (thisChapter) {\n    chapterBrief = thisChapter.brief + (thisChapter.arc_notes ? '\\nArc notes: ' + thisChapter.arc_notes : '');\n    if (thisChapter.research_topics) chapterResearchTopics = thisChapter.research_topics.join(', ');\n  }\n}\n\nconst prompt = 'You are a world-class novelist writing Chapter ' + chapterNum + ' of \"' + trigger.project_title + '\", a ' + (genreData?.genre_name || 'fiction') + ' novel.\\n\\n## Genre Guidelines\\n' + (genreData?.writing_guidelines || '') + '\\n\\n## Writing Style Reference\\n' + writingSamples + '\\n\\n## Research\\n' + research + '\\n\\n## Story Bible (established canon - DO NOT contradict)\\n' + bibleText + '\\n\\n## Book Outline\\n' + (outlineText || 'No outline provided.') + '\\n\\n## This Chapter\\'s Brief\\n' + (chapterBrief || trigger.brief || 'No specific brief provided.') + '\\n\\n## Requirements\\n- Maintain consistency with all story bible entries above\\n- Internal character arc within this chapter\\n- End on a compelling hook for the next chapter\\n- Track character development and relationships\\n- 3000-5000 words\\n- Include natural scene breaks (---)\\n- Reference established locations, characters, and plot threads where relevant\\n\\n## Output Format\\nReturn JSON with these fields:\\n- chapter_title: title for this chapter\\n- chapter_text: the full chapter text\\n- word_count: approximate word count\\n- chapter_summary: 2-3 sentence summary of what happens\\n- next_chapter_notes: suggestions for what should happen next\\n- new_story_bible_entries: array of new entries to add [{entry_type, name, description}] where entry_type is one of: character, location, plot_thread, item, event';\n\nreturn [{ json: { prompt: prompt, project_id: projectData.project?.id } }];"
      },
      "id": "ch-prompt",
      "name": "build_chapter_prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "id": "ch-write",
      "name": "write_chapter",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "options": {
          "maxTokensToSample": 16000
        }
      },
      "id": "ch-claude",
      "name": "claude-sonnet",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1200,
        224
      ],
      "credentials": {
        "anthropicApi": {
          "id": "5LhCYKsaFO3fF7II",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\"type\":\"object\",\"properties\":{\"chapter_title\":{\"type\":\"string\"},\"chapter_text\":{\"type\":\"string\"},\"word_count\":{\"type\":\"integer\"},\"chapter_summary\":{\"type\":\"string\"},\"next_chapter_notes\":{\"type\":\"string\"},\"new_story_bible_entries\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"properties\":{\"entry_type\":{\"type\":\"string\"},\"name\":{\"type\":\"string\"},\"description\":{\"type\":\"string\"}}}}},\"required\":[\"chapter_title\",\"chapter_text\",\"word_count\",\"chapter_summary\",\"next_chapter_notes\"]}"
      },
      "id": "ch-parser",
      "name": "chapter_parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1360,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// Update story bible with new entries from this chapter\nconst supabaseUrl = $('settings').first().json.SUPABASE_URL;\nconst apiKey = $('settings').first().json.SUPABASE_API_KEY;\nconst headers = { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey, 'Content-Type': 'application/json' };\nconst projectId = $('build_chapter_prompt').first().json.project_id;\nconst chapterNum = parseInt($('workflow_trigger').first().json.chapter_number);\nconst output = $input.first().json.output || {};\nconst newEntries = output.new_story_bible_entries || [];\n\n// Insert new story bible entries\nif (newEntries.length > 0 && projectId) {\n  try {\n    const entries = newEntries.map(e => ({\n      entry_type: e.entry_type,\n      name: e.name,\n      description: e.description,\n      project_id: projectId,\n      chapter_introduced: chapterNum,\n      last_chapter_seen: chapterNum\n    }));\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: supabaseUrl + '/rest/v1/story_bible',\n      headers: headers,\n      body: entries\n    });\n  } catch (e) {}\n}\n\n// Update project chapter count\nif (projectId) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'PATCH',\n      url: supabaseUrl + '/rest/v1/writing_projects?id=eq.' + projectId,\n      headers: headers,\n      body: { chapter_count: chapterNum, status: 'in_progress', updated_at: new Date().toISOString() }\n    });\n  } catch (e) {}\n}\n\nreturn [{ json: { output: output, project_id: projectId } }];"
      },
      "id": "ch-update",
      "name": "update_story_bible",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('settings').first().json.SUPABASE_URL }}/storage/v1/object/author-content/drafts/chapter_{{ $('workflow_trigger').first().json.project_title?.toLowerCase().replace(/[^a-z0-9]+/g, '-').substring(0, 30) || 'book' }}_ch{{ $('workflow_trigger').first().json.chapter_number }}_{{ $now.format('yyyy-MM-dd_HHmmss') }}.md",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('settings').first().json.SUPABASE_API_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('settings').first().json.SUPABASE_API_KEY }}"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/markdown",
        "body": "={{ $json.output?.chapter_text || '' }}",
        "options": {}
      },
      "id": "ch-save",
      "name": "save_draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        0
      ]
    },
    {
      "parameters": {
        "sendTo": "eric@agileadtesting.com",
        "subject": "={{ $('workflow_trigger').first().json.project_title }} - Chapter {{ $('workflow_trigger').first().json.chapter_number }}: {{ $('update_story_bible').first().json.output?.chapter_title || 'Draft' }}",
        "message": "={{ ($('update_story_bible').first().json.output?.chapter_text || '').replace(/\\n/g, '<br>') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "ch-email",
      "name": "send_email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2160,
        0
      ],
      "webhookId": "2980b0e0-2638-4b1e-a72e-742faef985f5",
      "credentials": {
        "gmailOAuth2": {
          "id": "CPCSZOInV8Zj1PI1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "value": "SxeLHxzvITEKyKc0"
        },
        "options": {},
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "story_title": "={{ $('workflow_trigger').first().json.project_title }} - Chapter {{ $('workflow_trigger').first().json.chapter_number }}",
            "image_description": "=A cinematic cover image for Chapter {{ $('workflow_trigger').first().json.chapter_number }} of \"{{ $('workflow_trigger').first().json.project_title }}\".\n\nChapter synopsis: {{ $('workflow_trigger').first().json.brief }}\n\nOpening scene excerpt:\n{{ $('set_chapter_text').first().json.chapter_text?.substring(0, 1200) || 'No text available' }}\n\nCreate a single powerful visual scene capturing this chapter's key moment \u2014 the environment, lighting, character silhouettes, and atmospheric details. Do NOT include any text, titles, or words in the image.",
            "genre_slug": "={{ $('workflow_trigger').first().json.genre_slug }}",
            "content_type": "Book Chapter"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "image_description",
              "displayName": "image_description",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "removed": false
            },
            {
              "id": "story_title",
              "displayName": "story_title",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "removed": false
            },
            {
              "id": "genre_slug",
              "displayName": "genre_slug",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "removed": false
            },
            {
              "id": "content_type",
              "displayName": "content_type",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "removed": false
            }
          ]
        }
      },
      "id": "ch-cover",
      "name": "generate_cover_image",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1680,
        240
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cr1",
              "name": "result",
              "value": "=Chapter {{ $('workflow_trigger').first().json.chapter_number }} written: {{ $('update_story_bible').first().json.output?.chapter_title || 'Untitled' }} ({{ $('update_story_bible').first().json.output?.word_count || 0 }} words). Story bible updated with {{ ($('update_story_bible').first().json.output?.new_story_bible_entries || []).length }} new entries.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ch-result",
      "name": "set_result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2400,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const supabaseUrl = $('settings').first().json.SUPABASE_URL;\nconst apiKey = $('settings').first().json.SUPABASE_API_KEY;\nconst headers = { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey, 'Content-Type': 'application/json' };\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: supabaseUrl + '/rest/v1/published_content',\n    headers,\n    body: {\n      title: ($('update_story_bible').first().json.output?.chapter_title || 'Chapter ' + $('workflow_trigger').first().json.chapter_number),\n      content_type: 'chapter',\n      genre_slug: $('workflow_trigger').first().json.genre_slug,\n      content_text: ($('update_story_bible').first().json.output?.chapter_text || ''),\n      storage_path: $json.Key || '',\n      project_id: $('build_chapter_prompt').first().json.project_id || null,\n      chapter_number: parseInt($('workflow_trigger').first().json.chapter_number) || null,\n      status: 'draft'\n    }\n  });\n} catch (e) {\n  // Don't fail the workflow if draft insert fails\n}\n\nreturn $input.all();"
      },
      "id": "ch-draft",
      "name": "insert_draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        0
      ]
    }
  ],
  "connections": {
    "workflow_trigger": {
      "main": [
        [
          {
            "node": "settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "settings": {
      "main": [
        [
          {
            "node": "get_genre_config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_genre_config": {
      "main": [
        [
          {
            "node": "get_project_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_project_data": {
      "main": [
        [
          {
            "node": "research_topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "research_topic": {
      "main": [
        [
          {
            "node": "build_chapter_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build_chapter_prompt": {
      "main": [
        [
          {
            "node": "write_chapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "claude-sonnet": {
      "ai_languageModel": [
        [
          {
            "node": "write_chapter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "chapter_parser": {
      "ai_outputParser": [
        [
          {
            "node": "write_chapter",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "write_chapter": {
      "main": [
        [
          {
            "node": "update_story_bible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_story_bible": {
      "main": [
        [
          {
            "node": "save_draft",
            "type": "main",
            "index": 0
          },
          {
            "node": "generate_cover_image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save_draft": {
      "main": [
        [
          {
            "node": "insert_draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_email": {
      "main": [
        [
          {
            "node": "set_result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate_cover_image": {
      "main": [
        [
          {
            "node": "set_result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_draft": {
      "main": [
        [
          {
            "node": "send_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {}
}