workflows/11_tool_write_chapter_v2.json
{
  "updatedAt": "2026-04-18T20:47:29.833Z",
  "createdAt": "2026-03-15T16:42:21.260Z",
  "id": "CQdwL0Wo1ZmelyXF",
  "name": "Tool - Write Chapter V2",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "genre_slug"
            },
            {
              "name": "project_title"
            },
            {
              "name": "chapter_number"
            },
            {
              "name": "brief"
            },
            {
              "name": "outline"
            },
            {
              "name": "research_topics"
            },
            {
              "name": "user_prompt"
            },
            {
              "name": "recipient_email"
            },
            {
              "name": "bcc_email"
            },
            {
              "name": "user_id"
            },
            {
              "name": "words_per_section"
            }
          ]
        }
      },
      "id": "ch-trigger",
      "name": "workflow_trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -32,
        408
      ]
    },
    {
      "parameters": {
        "jsCode": "const SUPABASE_URL = 'https://faklxfakgzkpkbxfihzh.supabase.co';\nconst SUPABASE_SERVICE_KEY = 'REDACTED_SUPABASE_KEY';\nconst SUPABASE_API_KEY = 'REDACTED_SUPABASE_KEY';\nconst trigger = $('workflow_trigger').first().json;\nconst userId = trigger.user_id || '';\n\nlet recipient_email = trigger.recipient_email;\nlet bcc_email = trigger.bcc_email;\nlet story_structure_guidelines = '';\ntry {\n  const rows = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${SUPABASE_URL}/rest/v1/app_config_v2?key=in.(recipient_email,bcc_email,story_structure_guidelines)&select=key,value&user_id=eq.${encodeURIComponent(userId)}`,\n    headers: { 'apikey': SUPABASE_API_KEY, 'Authorization': `Bearer ${SUPABASE_API_KEY}` }\n  });\n  for (const row of rows) {\n    if (row.key === 'recipient_email' && !recipient_email) recipient_email = row.value;\n    if (row.key === 'bcc_email' && !bcc_email) bcc_email = row.value;\n    if (row.key === 'story_structure_guidelines') story_structure_guidelines = row.value;\n  }\n} catch (e) {\n  if (!recipient_email) recipient_email = 'eric@agileadtesting.com';\n}\n\n\n// Load story arcs for write_chapter\nlet book_arc_prompt = '';\nlet book_arc_name = '';\nlet chapter_arc_prompt = '';\nlet chapter_arc_name = '';\nlet project_genre_slug = trigger.genre_slug || '';\nconst projectTitle = trigger.project_title || '';\n// Try to get book arc from project outline\nif (projectTitle) {\n  try {\n    const projResp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: SUPABASE_URL + '/rest/v1/writing_projects_v2?title=ilike.*' + encodeURIComponent(projectTitle) + '*&select=outline,genre_slug&limit=1&user_id=eq.' + encodeURIComponent(userId),\n      headers: { 'apikey': SUPABASE_API_KEY, 'Authorization': 'Bearer ' + SUPABASE_API_KEY }\n    });\n    if (Array.isArray(projResp) && projResp.length > 0) {\n      // DB is authoritative for genre_slug. Override any value the hub agent guessed.\n      if (projResp[0].genre_slug) project_genre_slug = projResp[0].genre_slug;\n      if (projResp[0].outline) {\n      const bookArc = projResp[0].outline.story_arc_name || '';\n      if (bookArc) {\n        book_arc_name = bookArc;\n        try {\n          const arcs = await this.helpers.httpRequest({\n            method: 'GET',\n            url: SUPABASE_URL + '/rest/v1/story_arcs_v2?name=ilike.*' + encodeURIComponent(bookArc) + '*&limit=1',\n            headers: { 'apikey': SUPABASE_API_KEY, 'Authorization': 'Bearer ' + SUPABASE_API_KEY }\n          });\n          if (Array.isArray(arcs) && arcs.length > 0) book_arc_prompt = arcs[0].prompt_text;\n        } catch (e) {}\n      }\n      // Check for chapter-level story arc\n      const rawCh = (trigger.chapter_number || '').toString().trim();\n      const chNum = /^(prologue|prol|0)$/i.test(rawCh) ? 0 : (/^(epilogue|epil)$/i.test(rawCh) ? -1 : parseInt(rawCh));\n      const chapters = projResp[0].outline.chapters || [];\n      let thisCh = chapters.find(ch => ch.number === chNum);\n      if (!thisCh && chNum === 0) thisCh = chapters.find(ch => /prologue/i.test(ch.title));\n      if (thisCh?.chapter_outline?.chapter_story_arc) {\n        chapter_arc_name = thisCh.chapter_outline.chapter_story_arc;\n        if (chapter_arc_name !== book_arc_name) {\n          try {\n            const arcs = await this.helpers.httpRequest({\n              method: 'GET',\n              url: SUPABASE_URL + '/rest/v1/story_arcs_v2?name=ilike.*' + encodeURIComponent(chapter_arc_name) + '*&limit=1',\n              headers: { 'apikey': SUPABASE_API_KEY, 'Authorization': 'Bearer ' + SUPABASE_API_KEY }\n            });\n            if (Array.isArray(arcs) && arcs.length > 0) chapter_arc_prompt = arcs[0].prompt_text;\n          } catch (e) {}\n        }\n      }\n    }\n    }\n  } catch (e) {}\n}\n\n// Check if project has embeddings, if not trigger embedding\nlet embeddings_ready = false;\nif (projectTitle) {\n  try {\n    const embCheck = await this.helpers.httpRequest({\n      method: 'GET',\n      url: SUPABASE_URL + '/rest/v1/writing_embeddings_v2?project_id=eq.' + encodeURIComponent(projResp[0]?.id || '') + '&limit=1&select=id',\n      headers: { 'apikey': SUPABASE_API_KEY, 'Authorization': 'Bearer ' + SUPABASE_API_KEY }\n    });\n    embeddings_ready = Array.isArray(embCheck) && embCheck.length > 0;\n  } catch (e) {}\n}\n\nreturn [{ json: { embeddings_ready, book_arc_prompt, book_arc_name, chapter_arc_prompt, chapter_arc_name, SUPABASE_SERVICE_KEY, SUPABASE_URL, SUPABASE_API_KEY, recipient_email, bcc_email: bcc_email || '', story_structure_guidelines, userId, genre_slug: project_genre_slug } }];"
      },
      "id": "ch-settings",
      "name": "settings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        408
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validate inputs and fire async worker\nconst trigger = $('workflow_trigger').first().json;\nconst settings = $('settings').first().json;\nconst N8N_URL = 'https://n8n.agileadautomation.com';\n\nconst rawCh = (trigger.chapter_number || '').toString().trim();\nconst isProl = /^(prologue|prol|0)$/i.test(rawCh);\nconst isEpil = /^(epilogue|epil)$/i.test(rawCh);\nconst chapterLabel = isProl ? 'Prologue' : (isEpil ? 'Epilogue' : 'Chapter ' + rawCh);\n\n// Validate: must have project_title and chapter_number\nif (!trigger.project_title) {\n  return [{ json: { result: 'Error: No project_title provided. Please specify which book to write.' } }];\n}\nif (!trigger.chapter_number && trigger.chapter_number !== 0) {\n  return [{ json: { result: 'Error: No chapter_number provided. Please specify which chapter to write.' } }];\n}\n\n// Validate: check if project exists and has chapter outline\nconst supabaseUrl = settings.SUPABASE_URL;\nconst apiKey = settings.SUPABASE_API_KEY;\nconst userId = settings.userId;\nconst headers = { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey };\n\nlet project = null;\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: supabaseUrl + '/rest/v1/writing_projects_v2?title=ilike.' + encodeURIComponent(trigger.project_title) + '&user_id=eq.' + encodeURIComponent(userId) + '&limit=1',\n    headers\n  });\n  if (Array.isArray(resp) && resp.length > 0) project = resp[0];\n} catch(e) {}\n\nif (!project || !project.outline) {\n  return [{ json: { result: 'Error: No outline found for \"' + trigger.project_title + '\". Please brainstorm the story first.' } }];\n}\n\n// Check chapter outline exists\nconst outline = project.outline;\nconst chNum = isProl ? 0 : (isEpil ? -1 : parseInt(rawCh));\nlet thisChapter = null;\nif (outline.chapters) {\n  if (isProl) {\n    thisChapter = outline.chapters[0];\n  } else if (isEpil) {\n    thisChapter = outline.chapters[outline.chapters.length - 1];\n  } else {\n    thisChapter = outline.chapters.find(ch => ch.number === chNum);\n  }\n}\n\nif (!thisChapter || !thisChapter.chapter_outline || !thisChapter.chapter_outline.sub_chapters || thisChapter.chapter_outline.sub_chapters.length === 0) {\n  return [{ json: { result: 'Error: No chapter outline found for ' + chapterLabel + ' of \"' + trigger.project_title + '\". Please create a chapter outline first: \"create a chapter outline for ' + chapterLabel.toLowerCase() + '\"' } }];\n}\n\nconst subCount = thisChapter.chapter_outline.sub_chapters.length;\n\n// Fire the worker webhook (async - don't wait for completion)\nconst workerPayload = {\n  genre_slug: settings.genre_slug || trigger.genre_slug || '',  // DB value (via settings) takes precedence over hub agent guess\n  project_title: trigger.project_title,\n  chapter_number: trigger.chapter_number,\n  brief: trigger.brief || '',\n  outline: trigger.outline || '',\n  research_topics: trigger.research_topics || '',\n  user_prompt: trigger.user_prompt || '',\n  words_per_section: trigger.words_per_section || '',\n  userId: userId,\n  SUPABASE_URL: supabaseUrl,\n  SUPABASE_API_KEY: apiKey,\n  recipient_email: settings.recipient_email || '',\n  bcc_email: settings.bcc_email || '',\n  story_structure_guidelines: settings.story_structure_guidelines || '',\n  book_arc_prompt: settings.book_arc_prompt || '',\n  book_arc_name: settings.book_arc_name || '',\n  chapter_arc_prompt: settings.chapter_arc_prompt || '',\n  chapter_arc_name: settings.chapter_arc_name || '',\n  genre_slug_settings: settings.genre_slug || ''\n};\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: N8N_URL + '/webhook/write-chapter-worker-v2',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify(workerPayload),\n    timeout: 5000\n  });\n} catch(e) {\n  // Worker responds immediately but connection might still error - that's ok\n  // as long as the request was sent\n  if (!e.message?.includes('timeout') && !e.message?.includes('ECONNRESET')) {\n    return [{ json: { result: 'Error: Could not start chapter writing. ' + (e.message || 'Unknown error') } }];\n  }\n}\n\nreturn [{ json: { \n  result: chapterLabel + ' of \"' + trigger.project_title + '\" is now being written (' + subCount + ' sub-chapters). This will take approximately 10-15 minutes. You will receive an email with the completed chapter and a quality report when it is done. You do not need to wait here.'\n} }];"
      },
      "id": "ch-validate",
      "name": "validate_and_fire",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        408
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cr1",
              "name": "result",
              "value": "={{ $json.result }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "includeOtherFields": false
        }
      },
      "id": "ch-result",
      "name": "set_result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        408
      ]
    }
  ],
  "connections": {
    "workflow_trigger": {
      "main": [
        [
          {
            "node": "settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "settings": {
      "main": [
        [
          {
            "node": "validate_and_fire",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validate_and_fire": {
      "main": [
        [
          {
            "node": "set_result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "tags": []
}
