workflows/11b_worker_write_chapter_v2.json
{
  "updatedAt": "2026-03-29T16:28:15.536Z",
  "createdAt": "2026-03-25T22:40:44.872Z",
  "id": "VxO2eG6uvImqaPA2",
  "name": "Worker - Write Chapter V2",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "write-chapter-worker-v2",
        "options": {}
      },
      "id": "wk-trigger",
      "name": "webhook_trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -208,
        400
      ],
      "webhookId": "wc-worker-v2"
    },
    {
      "parameters": {
        "jsCode": "// Worker settings - all data passed from trigger\nconst body = $json.body || $json;\nconst SUPABASE_URL = body.SUPABASE_URL;\nconst SUPABASE_API_KEY = body.SUPABASE_API_KEY;\nconst userId = body.userId;\nconst recipient_email = body.recipient_email;\nconst bcc_email = body.bcc_email || '';\nconst book_arc_prompt = body.book_arc_prompt || '';\nconst book_arc_name = body.book_arc_name || '';\nconst chapter_arc_prompt = body.chapter_arc_prompt || '';\nconst chapter_arc_name = body.chapter_arc_name || '';\nconst story_structure_guidelines = body.story_structure_guidelines || '';\nconst genre_slug = body.genre_slug || '';\n\nreturn [{ json: { \n  SUPABASE_URL, SUPABASE_API_KEY, userId,\n  recipient_email, bcc_email, story_structure_guidelines,\n  book_arc_prompt, book_arc_name, chapter_arc_prompt, chapter_arc_name,\n  genre_slug\n} }];"
      },
      "id": "wk-settings",
      "name": "settings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract trigger data from webhook body\nconst body = $('webhook_trigger').first().json.body || $('webhook_trigger').first().json;\nreturn [{ json: {\n  genre_slug: body.genre_slug || '',\n  project_title: body.project_title || '',\n  chapter_number: body.chapter_number || '',\n  brief: body.brief || '',\n  outline: body.outline || '',\n  research_topics: body.research_topics || '',\n  user_prompt: body.user_prompt || '',\n  words_per_section: body.words_per_section || '',\n  user_id: body.userId || ''\n} }];"
      },
      "id": "wk-input",
      "name": "workflow_trigger",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "url": "={{ $('settings').first().json.SUPABASE_URL }}/rest/v1/genre_config_v2?genre_slug=eq.{{ $('settings').first().json.genre_slug }}&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('settings').first().json.SUPABASE_API_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('settings').first().json.SUPABASE_API_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "wk-genre",
      "name": "get_genre_config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get or create the writing project\nconst supabaseUrl = $('settings').first().json.SUPABASE_URL;\nconst apiKey = $('settings').first().json.SUPABASE_API_KEY;\nconst headers = { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey, 'Content-Type': 'application/json' };\nconst userId = $('settings').first().json.userId;\nconst projectTitle = $('workflow_trigger').first().json.project_title;\nconst genreSlug = $('workflow_trigger').first().json.genre_slug;\n\n// Try to find the project (includes outline)\nlet project = null;\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: supabaseUrl + '/rest/v1/writing_projects_v2?title=ilike.' + encodeURIComponent(projectTitle) + '&user_id=eq.' + encodeURIComponent(userId) + '&limit=1',\n    headers: headers\n  });\n  const projects = Array.isArray(resp) ? resp : [resp];\n  if (projects.length > 0 && projects[0]?.id) {\n    project = projects[0];\n  }\n} catch (e) {}\n\n// Create project if not found\nif (!project) {\n  try {\n    const created = await this.helpers.httpRequest({\n      method: 'POST',\n      url: supabaseUrl + '/rest/v1/writing_projects_v2',\n      headers: { ...headers, 'Prefer': 'return=representation' },\n      body: { title: projectTitle, genre_slug: genreSlug, project_type: 'book', status: 'in_progress', chapter_count: 0, user_id: userId }\n    });\n    project = Array.isArray(created) ? created[0] : created;\n  } catch (e) {\n    // Creation may have failed due to duplicate key \u2014 retry lookup before giving up\n    try {\n      const retry = await this.helpers.httpRequest({\n        method: 'GET',\n        url: supabaseUrl + '/rest/v1/writing_projects_v2?title=ilike.' + encodeURIComponent(projectTitle) + '&user_id=eq.' + encodeURIComponent(userId) + '&limit=1',\n        headers: headers\n      });\n      const retryProjects = Array.isArray(retry) ? retry : [retry];\n      project = (retryProjects.length > 0 && retryProjects[0]?.id) ? retryProjects[0] : { id: null, title: projectTitle };\n    } catch (e2) {\n      project = { id: null, title: projectTitle };\n    }\n  }\n}\n\n// Fetch story bible entries\nlet storyBible = [];\nif (project?.id) {\n  try {\n    const bibleResp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: supabaseUrl + '/rest/v1/story_bible_v2?project_id=eq.' + project.id + '&user_id=eq.' + encodeURIComponent(userId) + '&order=chapter_introduced,entry_type,name',\n      headers: headers\n    });\n    storyBible = Array.isArray(bibleResp) ? bibleResp : [];\n  } catch (e) {}\n}\n\n// Fetch writing samples\nlet samplesText = 'No writing samples available.';\ntry {\n  const listResp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: supabaseUrl + '/storage/v1/object/list/author-content',\n    headers: headers,\n    body: { prefix: 'writing-samples', limit: 20 }\n  });\n  const files = (listResp || []).filter(f => f.name && f.name !== '.gitkeep' && f.metadata?.size > 0);\n  if (files.length > 0) {\n    const samples = [];\n    for (const file of files.slice(0, 5)) {\n      try {\n        const content = await this.helpers.httpRequest({\n          method: 'GET',\n          url: supabaseUrl + '/storage/v1/object/author-content/writing-samples/' + file.name,\n          headers: { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey },\n          encoding: 'utf-8',\n          json: false\n        });\n        samples.push(typeof content === 'string' ? content : JSON.stringify(content));\n      } catch (e) {}\n    }\n    if (samples.length > 0) samplesText = samples.join('\\n\\n');\n  }\n} catch (e) {}\n\nreturn [{ json: { project: project, story_bible: storyBible, writing_samples: samplesText, outline: project?.outline || null } }];"
      },
      "id": "wk-project",
      "name": "get_project_data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        208
      ]
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "=You are a research assistant. Provide detailed, factual information with citations useful for fiction writing.",
              "role": "system"
            },
            {
              "content": "=Research for the {{ /^(prologue|prol|0)$/i.test($('workflow_trigger').first().json.chapter_number) ? 'Prologue' : (/^(epilogue|epil)$/i.test($('workflow_trigger').first().json.chapter_number) ? 'Epilogue' : 'Chapter ' + $('workflow_trigger').first().json.chapter_number) }} of a novel titled \"{{ $('workflow_trigger').first().json.project_title }}\". Chapter brief: {{ $('workflow_trigger').first().json.brief }}. Provide factual details about: {{ $('workflow_trigger').first().json.research_topics || $('workflow_trigger').first().json.brief }}."
            }
          ]
        },
        "simplify": true,
        "options": {
          "temperature": 0.1,
          "searchRecency": "month"
        },
        "requestOptions": {}
      },
      "id": "ch-research",
      "name": "research_topic",
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        1072,
        416
      ],
      "credentials": {
        "perplexityApi": {
          "id": "ggr9QCRobQVA6Lwb",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const trigger = $('workflow_trigger').first().json;\nconst genre = $('get_genre_config').first().json;\nconst genreData = Array.isArray(genre) ? genre[0] : genre;\nconst research = $('research_topic').first().json.message || '';\nconst projectData = $('get_project_data').first().json;\nconst storyBible = projectData.story_bible || [];\nconst writingSamples = projectData.writing_samples || '';\nconst bookArcPrompt = $('settings').first().json.book_arc_prompt || '';\nconst bookArcName = $('settings').first().json.book_arc_name || '';\nconst chapterArcPrompt = $('settings').first().json.chapter_arc_prompt || '';\nconst chapterArcName = $('settings').first().json.chapter_arc_name || '';\n\nconst wordsPerSection = parseInt(trigger.words_per_section) || 1200;\nconst storedOutline = projectData.outline;\nlet outlineText = trigger.outline || '';\n\nif (!outlineText && storedOutline) {\n  if (typeof storedOutline === 'object') {\n    const parts = [];\n    if (storedOutline.premise) parts.push('PREMISE: ' + storedOutline.premise);\n    if (storedOutline.themes) parts.push('THEMES: ' + storedOutline.themes.join(', '));\n    if (storedOutline.characters) {\n      parts.push('CHARACTERS:\\n' + storedOutline.characters.map(c => \n        '- ' + c.name + ' (' + c.role + '): ' + c.arc + (c.description ? ' \u2014 ' + c.description : '')\n      ).join('\\n'));\n    }\n    if (storedOutline.chapters) {\n      parts.push('CHAPTER OUTLINE:\\n' + storedOutline.chapters.map(ch => \n        'Ch ' + ch.number + ' \u2014 ' + ch.title + ': ' + ch.brief + (ch.arc_notes ? ' [Arc: ' + ch.arc_notes + ']' : '')\n      ).join('\\n'));\n    }\n    outlineText = parts.join('\\n\\n');\n  } else {\n    outlineText = String(storedOutline);\n  }\n}\n\nconst bibleText = storyBible.length > 0\n  ? storyBible.map(e => '[' + e.entry_type + '] ' + e.name + ': ' + e.description + ' (ch' + e.chapter_introduced + ')').join('\\n')\n  : 'No story bible entries yet.';\n\nconst rawChapter = (trigger.chapter_number || '').toString().trim();\nconst isPrologue = /^(prologue|prol|0)$/i.test(rawChapter);\nconst isEpilogue = /^(epilogue|epil)$/i.test(rawChapter);\nconst chapterNum = isPrologue ? 0 : (isEpilogue ? -1 : parseInt(rawChapter));\nconst chapterLabel = isPrologue ? 'Prologue' : (isEpilogue ? 'Epilogue' : 'Chapter ' + chapterNum);\n\nlet chapterBrief = trigger.brief || '';\nlet chapterOutlineText = '';\nlet subChapters = [];\nlet chapterOutlineMeta = {};\n\nif (storedOutline && storedOutline.chapters) {\n  let thisChapter;\n  if (isPrologue) {\n    thisChapter = storedOutline.chapters.find(ch => ch.number === 0 || /^prologue$/i.test(String(ch.title)));\n  } else if (isEpilogue) {\n    thisChapter = storedOutline.chapters.find(ch => /^epilogue$/i.test(String(ch.title)) || ch.number > storedOutline.chapters.filter(c => typeof c.number === 'number').length);\n  } else {\n    thisChapter = storedOutline.chapters.find(ch => ch.number === chapterNum);\n  }\n  if (thisChapter) {\n    if (!trigger.brief) chapterBrief = thisChapter.brief + (thisChapter.arc_notes ? '\\nArc notes: ' + thisChapter.arc_notes : '');\n    if (thisChapter.research_topics) {\n      // research topics available\n    }\n  }\n  if (thisChapter && thisChapter.chapter_outline && thisChapter.chapter_outline.sub_chapters && thisChapter.chapter_outline.sub_chapters.length > 0) {\n    const co = thisChapter.chapter_outline;\n    subChapters = co.sub_chapters;\n    chapterOutlineMeta = co;\n  }\n}\n\n// SAFETY GATE\nif (subChapters.length === 0) {\n  throw new Error('Cannot write ' + chapterLabel + ' \u2014 no chapter outline with sub-chapters found. Create one first: \"create a chapter outline for ' + chapterLabel.toLowerCase() + ' of ' + trigger.project_title + '\"');\n}\n\n// Fill in story arc placeholders with actual project data\nconst protagonist = (storedOutline && storedOutline.characters) ? storedOutline.characters.find(c => c.role === 'Protagonist') : null;\nconst protagonistDesc = protagonist ? protagonist.name + ' \u2014 ' + protagonist.arc : 'See characters in book outline';\n\nfunction fillArcPlaceholders(arcText) {\n  if (!arcText) return '';\n  return arcText\n    .replace(/\\[a full book \\/ a single chapter[^\\]]*\\]/gi, 'a single sub-chapter scene')\n    .replace(/\\[Book \\/ Chapter \\/ Short Story[^\\]]*\\]/gi, 'Sub-chapter scene within a novel chapter')\n    .replace(/\\[e\\.g\\., thriller[^\\]]*\\]/gi, (genreData && genreData.genre_name) || 'fiction')\n    .replace(/\\[Describe briefly[^\\]]*\\]/gi, protagonistDesc)\n    .replace(/\\[What is the core problem[^\\]]*\\]/gi, (storedOutline && storedOutline.premise) || 'See book outline premise')\n    .replace(/\\[Where and when[^\\]]*\\]/gi, 'See sub-chapter setting below')\n    .replace(/\\[What does the protagonist stand to lose[^\\]]*\\]/gi, 'See book outline and chapter arc notes')\n    .replace(/\\[e\\.g\\., 1,000 words[^\\]]*\\]/gi, wordsPerSection.toLocaleString() + ' words per sub-chapter')\n    .replace(/\\[.*?central moral.*?\\]/gi, 'See book outline themes')\n    .replace(/\\[.*?Genre.*?\\]/gi, (genreData && genreData.genre_name) || 'fiction')\n    .replace(/\\[.*?Main character.*?\\]/gi, protagonistDesc)\n    .replace(/\\[.*?Setting.*?\\]/gi, 'See sub-chapter setting')\n    .replace(/\\[.*?Length goal.*?\\]/gi, wordsPerSection.toLocaleString() + ' words');\n}\n\nconst filledChapterArc = fillArcPlaceholders(chapterArcPrompt);\nconst filledBookArc = fillArcPlaceholders(bookArcPrompt);\n\n// ============================================================\n// SPLIT PROMPT: system_prompt (cached) + user_prompt (variable)\n// The agent systemMessage receives the stable content \u2014 Anthropic\n// auto-caches it across all sub-chapter iterations and tool rounds.\n// The agent text (user message) gets the per-sub-chapter assignment.\n// ============================================================\n\n// SYSTEM PROMPT (identical across all sub-chapters \u2014 CACHED)\nconst allSubChaptersList = subChapters.map(sc =>\n  'Sub-chapter ' + sc.number + ' \u2014 ' + sc.title + ': ' + sc.brief\n).join('\\\\n');\n\nconst chapterArc = chapterOutlineMeta.chapter_story_arc || chapterArcName || bookArcName || 'Not specified';\nconst systemPrompt =\n  'You are a world-class novelist writing the ' + chapterLabel + ' of \"' + trigger.project_title + '\", a ' + (genreData && genreData.genre_name || 'fiction') + ' novel.\\n\\n' +\n  '## \u26a0\ufe0f MANDATORY STORY ARC: ' + chapterArc + '\\n' +\n  'This chapter uses the ' + chapterArc + ' structure. Every sub-chapter MUST execute its assigned arc beat exactly. This is the #1 priority \u2014 it OVERRIDES pacing preferences, tone defaults, and writing style when they conflict.\\n' +\n  (chapterArc === 'Fichtean Curve' ? '- Fichtean Curve REQUIRES: Open IN MEDIAS RES (mid-action, immediate tension). Build through THREE ESCALATING CRISES. Each crisis more intense than the last. Short, impactful resolution. NO slow setup. NO contemplative openings. NO gentle pacing. Backstory revealed ON THE MOVE during action, never in exposition blocks.\\n' : '') +\n  (chapterArc === 'Three-Act Structure' ? '- Three-Act Structure REQUIRES: Act I setup with inciting incident, Act II rising action with complications, Act III climax and resolution.\\n' : '') +\n  'If an arc beat says \"Opening in Medias Res\" \u2014 your FIRST SENTENCE must drop the reader into action. If it says \"Crisis\" \u2014 escalate conflict dramatically. If it says \"Climax\" \u2014 deliver maximum tension.\\n\\n' +\n  '## Genre: ' + (genreData && genreData.genre_name || 'fiction') +\n  '\\n\\n## Writing Style\\nClear, everyday language. Short sentences. No cliches. Show, don\\'t tell. Concrete details, sensory moments. Short paragraphs. Respect the reader.\\n\\n' +\n  '## SCENE REQUIREMENTS\\n- CHARACTER DESCRIPTIONS: Only provide a full physical description (age, build, face, clothing) on a character\\'s FIRST APPEARANCE IN THE ENTIRE BOOK. Use the character\\'s first_described_in field from the outline to know if they have already been introduced. If they were described in a previous chapter, reference them naturally without repeating their physical description. Use EXACT age and appearance from the book outline \u2014 never invent or change these details.\\n- CHARACTER NAMES: Use the exact name_format from the book outline. Be consistent throughout.\\n- Every scene: LOCAL COLOR (sounds, smells, textures, light, weather).\\n- Each sub-chapter is a DISTINCT SCENE with clear beginning, middle, end. Must feel like a chapter break before and after.\\n- Do NOT blend sub-chapters into continuous narrative. Each sub-chapter stands alone.\\n\\n' +\n  '## CHARACTER NAME RULES \u2014 MANDATORY\\nThe following name formats are LOCKED. Use ONLY these forms when referring to characters:\\n' + (storedOutline && storedOutline.characters ? storedOutline.characters.filter(c => c.name_format).map(c => '- ' + c.name + ': ' + c.name_format).join('\\\\n') : '') + '\\nIf a character has no name_format specified, use their full name from the outline. NEVER abbreviate or create name forms not listed above. UNIVERSAL RULE: Never combine an honorific (Dr., Mr., Mrs., Prof.) with only a first name \u2014 use honorific + last name (Dr. Moyaone) or first name alone (Tayak), never honorific + first name (Dr. Tayak).\\n\\n## RETRIEVING CONTEXT\\nUse the search_project_knowledge tool to retrieve character details, story bible, genre guidelines, chapter structure, and research facts.\\nDo NOT invent characters or details. Make ONE search call.';\n\n// Output one item per sub-chapter\n// Load Q/A feedback from previous write if available\nlet thisChapterQA = '';\nif (chapterOutlineMeta && storedOutline && storedOutline.chapters) {\n  const rawCh2 = (trigger.chapter_number || '').toString().trim();\n  const chNum2 = /^(prologue|prol|0)$/i.test(rawCh2) ? 0 : (/^(epilogue|epil)$/i.test(rawCh2) ? -1 : parseInt(rawCh2));\n  const thisCh2 = storedOutline.chapters.find(ch => ch.number === chNum2);\n  if (thisCh2 && thisCh2.last_qa_report && thisCh2.last_qa_report.concerns && thisCh2.last_qa_report.concerns.length > 0) {\n    thisChapterQA = thisCh2.last_qa_report.concerns.map((c, i) => (i+1) + '. ' + c).join('\\\\n');\n  }\n}\n\nconst items = subChapters.map((sc, index) => {\n  const prevSc = index > 0 ? subChapters[index - 1] : null;\n  const prevSummaries = prevSc ? 'Previous sub-chapter ' + prevSc.number + ' (' + prevSc.title + '): ' + prevSc.brief : '';\n  \n  // nextSc removed \u2014 not needed\n  \n  // USER PROMPT (changes per sub-chapter \u2014 NOT cached)\n  const userPrompt =\n    'Write Sub-chapter ' + sc.number + ' of ' + subChapters.length + ': ' + sc.title + '\\n' +\n    'Begin with the sub-chapter title as a heading on its own line (e.g., \"The Committee Room\"), then write narrative prose. No JSON, no metadata, no numbering.\\n\\n' +\n    'Arc Beat (' + (chapterOutlineMeta.chapter_story_arc || '') + '): ' + (sc.arc_beat || '') + '\\n' +\n    'Characters: ' + (sc.characters || []).join(', ') + '\\n' +\n    'Setting: ' + (sc.setting || '') + '\\n' +\n    'Emotional Tone: ' + (sc.emotional_tone || '') + '\\n' +\n    '\\n## MANDATORY SCENE BRIEF \u2014 YOU MUST WRITE EXACTLY THIS:\\n' + (sc.brief || '') + '\\n\\nThe above brief is your SCRIPT. Every event, action, and detail described in the brief MUST appear in your prose. Do NOT substitute different events. Do NOT skip any element. Do NOT reinterpret the brief \u2014 dramatize it exactly as written.\\n' +\n    'Book Arc Connection: ' + (sc.connects_to_book_arc || '') + '\\n\\n' +\n    'RULES:\\n' +\n    '- Write approximately ' + wordsPerSection.toLocaleString() + ' words\\n' +\n    '- Use ONLY the characters listed above\\n' +\n    '- This sub-chapter MUST execute its arc beat: ' + (sc.arc_beat || '') + '. This is not a suggestion \u2014 structure your prose around this beat. If the beat says \"Opening in Medias Res\" start mid-action with immediate tension. If it says \"Crisis\" escalate conflict dramatically. If it says \"Climax\" deliver the highest tension. If it says \"Resolution\" close with impact.\\n' +\n    '- Match the emotional tone: ' + (sc.emotional_tone || '') + '\\n' +\n    '- This sub-chapter must be a DISTINCT SCENE with a clear beginning, middle, and end. It should feel like a chapter break before and after.\\n' +\n    (index === 0 ? '- OPENING sub-chapter: establish the scene, full character description, set the tone. If the arc is Fichtean Curve, open IN MEDIAS RES \u2014 drop the reader into action, not setup.\\n' : '') +\n    (index === subChapters.length - 1 ? '- FINAL sub-chapter: provide closure, create a hook for next chapter\\n' : '') +\n    (prevSummaries ? '\\nPrevious sub-chapter (maintain continuity):\\n' + prevSummaries + '\\n' : '') +\n    \n    '\\n' +\n    (thisChapterQA ? '\\nQ/A FEEDBACK FROM PREVIOUS WRITE \u2014 YOU MUST ADDRESS THESE ISSUES:\\n' + thisChapterQA + '\\n' : '') +\n    (trigger.user_prompt ? '\\n## SPECIAL INSTRUCTIONS FROM USER\\n' + trigger.user_prompt + '\\nYou MUST incorporate these instructions into your writing. They override default descriptions and details from the outline.\\n\\n' : '') +\n    (trigger.brief && !trigger.user_prompt ? '\\n## SPECIAL INSTRUCTIONS FROM USER\\n' + trigger.brief + '\\nYou MUST incorporate these instructions into your writing. They override default descriptions and details from the outline.\\n\\n' : '') +\n    'STEPS: 1) Make exactly ONE call to search_project_knowledge with a query combining character names, story bible, and genre guidelines. 2) Then immediately write the full sub-chapter prose. Do NOT make a second tool call.';\n  \n  return {\n    json: {\n      system_prompt: systemPrompt,\n      user_prompt: userPrompt,\n      sub_chapter_number: sc.number,\n      sub_chapter_title: sc.title,\n      sub_chapter_characters: (sc.characters || []).join(', '),\n      words_per_section: wordsPerSection,\n      project_id: projectData.project && projectData.project.id,\n      total_sub_chapters: subChapters.length,\n      chapter_label: chapterLabel,\n      chapter_outline_meta: chapterOutlineMeta\n    }\n  };\n});\n\nreturn items;"
      },
      "id": "ch-prompt",
      "name": "build_sub_chapter_prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        416
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "wc-split",
      "name": "Loop Over Sub-Chapters",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1568,
        -112
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 120
      },
      "id": "wc-delay",
      "name": "rate_limit_delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1792,
        -80
      ],
      "webhookId": "f5d1d29d-1f88-4aa3-bdff-b348f56a5af4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_prompt }}",
        "options": {
          "systemMessage": "={{ $json.system_prompt }}",
          "maxIterations": 3
        }
      },
      "id": "wc-agent",
      "name": "write_sub_chapter",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2032,
        -96
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {
          "maxTokensToSample": 8192,
          "temperature": 0.7
        }
      },
      "id": "wc-claude",
      "name": "claude-sonnet",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        1968,
        224
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 120000,
      "credentials": {
        "anthropicApi": {
          "id": "5LhCYKsaFO3fF7II",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the project knowledge base for characters, chapter briefs, story bible entries, genre guidelines, sub-chapter outlines, and book premise. Use this to retrieve relevant context before writing.",
        "tableName": {
          "mode": "id",
          "value": "writing_embeddings_v2"
        },
        "topK": 8,
        "options": {
          "queryName": "match_writing_documents"
        }
      },
      "id": "wc-vectorstore",
      "name": "supabase_vector_store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        2224,
        224
      ],
      "credentials": {
        "supabaseApi": {
          "id": "D7ri25ZKiCkoANji",
          "name": "Suprabase Writers Agent v2"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "wc-embeddings",
      "name": "openai_embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        2240,
        400
      ],
      "credentials": {
        "openAiApi": {
          "id": "xSzPIySN61drme77",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ 'write_ch_' + ($json.project_id || 'unknown') + '_' + ($json.chapter_label || 'ch') }}",
        "contextWindowLength": 4
      },
      "id": "wc-memory",
      "name": "chapter_memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2096,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "// Check for failed sub-chapters\nconst allItems = $input.all();\nconst totalExpected = allItems[0]?.json?.total_sub_chapters || 0;\nconst successItems = allItems.filter(item => item.json?.output && item.json.output.length > 100);\nconst failedCount = totalExpected - successItems.length;\n\nconst items = $input.all();\nconst firstItem = $('build_sub_chapter_prompts').first().json;\nconst chapterLabel = firstItem.chapter_label || 'Chapter';\nconst meta = firstItem.chapter_outline_meta || {};\n\n// Collect all sub-chapter texts\nconst subChapterTexts = items.map((item, i) => {\n  const text = item.json.output || item.json.text || item.json.response || '';\n  return text;\n});\n\n// Concatenate with scene breaks\nconst fullText = subChapterTexts.join('\\n\\n---\\n\\n');\nconst wordCount = fullText.split(/\\s+/).length;\n\n// Build chapter summary from meta\nconst summary = meta.chapter_summary || 'Chapter written with ' + items.length + ' sub-chapters.';\n\nreturn [{ json: {\n  output: {\n    chapter_title: meta.chapter_title || chapterLabel,\n    chapter_text: fullText,\n    word_count: wordCount,\n    chapter_summary: summary,\n    next_chapter_notes: 'Continue to the next chapter per the book outline.',\n    new_story_bible_entries: []\n  }\n} }];"
      },
      "id": "wc-concat",
      "name": "concatenate_chapter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1952,
        -400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Update story bible with new entries from this chapter\nconst supabaseUrl = $('settings').first().json.SUPABASE_URL;\nconst apiKey = $('settings').first().json.SUPABASE_API_KEY;\nconst headers = { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey, 'Content-Type': 'application/json' };\nconst userId = $('settings').first().json.userId;\nconst projectId = $('build_sub_chapter_prompts').first().json.project_id;\nconst rawCh = ($('workflow_trigger').first().json.chapter_number || '').toString().trim();\nconst isProl = /^(prologue|prol|0)$/i.test(rawCh);\nconst isEpil = /^(epilogue|epil)$/i.test(rawCh);\nconst chapterNum = isProl ? 0 : (isEpil ? 999 : (parseInt(rawCh) || 0));\nconst chapterLabel = isProl ? 'Prologue' : (isEpil ? 'Epilogue' : rawCh);\nconst output = $input.first().json.output || {};\nconst newEntries = output.new_story_bible_entries || [];\n\n// Insert new story bible entries\nif (newEntries.length > 0 && projectId) {\n  try {\n    const entries = newEntries.map(e => ({\n      entry_type: e.entry_type,\n      name: e.name,\n      description: e.description,\n      project_id: projectId,\n      chapter_introduced: chapterNum,\n      last_chapter_seen: chapterNum,\n      user_id: userId\n    }));\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: supabaseUrl + '/rest/v1/story_bible_v2',\n      headers: headers,\n      body: entries\n    });\n  } catch (e) {}\n}\n\n// Update project chapter count\nif (projectId) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'PATCH',\n      url: supabaseUrl + '/rest/v1/writing_projects_v2?id=eq.' + projectId + '&user_id=eq.' + encodeURIComponent(userId),\n      headers: headers,\n      body: Object.assign({ status: 'in_progress', updated_at: new Date().toISOString() }, (!isProl && !isEpil) ? { chapter_count: chapterNum } : {})\n    });\n  } catch (e) {}\n}\n\nreturn [{ json: { output: output, project_id: projectId } }];"
      },
      "id": "ch-update",
      "name": "update_story_bible",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        -304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('settings').first().json.SUPABASE_URL }}/storage/v1/object/author-content/drafts/chapter_{{ $('workflow_trigger').first().json.project_title?.toLowerCase().replace(/[^a-z0-9]+/g, '-').substring(0, 30) || 'book' }}_{{ /^(prologue|prol|0)$/i.test($('workflow_trigger').first().json.chapter_number) ? 'prologue' : (/^(epilogue|epil)$/i.test($('workflow_trigger').first().json.chapter_number) ? 'epilogue' : 'ch' + $('workflow_trigger').first().json.chapter_number) }}_{{ $now.format('yyyy-MM-dd_HHmmss') }}.md",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('settings').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('settings').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/markdown",
        "body": "={{ $json.output?.chapter_text || '' }}",
        "options": {}
      },
      "id": "ch-save",
      "name": "save_draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2800,
        -400
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $('settings').first().json.recipient_email }}",
        "subject": "={{ $('workflow_trigger').first().json.project_title }} - {{ /^(prologue|prol|0)$/i.test($('workflow_trigger').first().json.chapter_number) ? 'Prologue' : (/^(epilogue|epil)$/i.test($('workflow_trigger').first().json.chapter_number) ? 'Epilogue' : 'Chapter ' + $('workflow_trigger').first().json.chapter_number) }}: {{ $('update_story_bible').first().json.output?.chapter_title || 'Draft' }}",
        "message": "={{ ($('workflow_trigger').first().json.user_prompt ? '<div style=\"background:#f0f0f0; border-left:4px solid #666; padding:12px 16px; margin-bottom:24px; font-family:sans-serif; font-size:14px; color:#333;\"><strong>Command:</strong> ' + $('workflow_trigger').first().json.user_prompt + '</div>' : '') + ($('update_story_bible').first().json.output?.chapter_text || '').replace(/\\n/g, '<br>') + ($('qa_parse_result').first().json.qa_html || '') }}",
        "options": {
          "appendAttribution": false,
          "bccList": "={{ $('settings').first().json.bcc_email }}"
        }
      },
      "id": "ch-email",
      "name": "send_email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4048,
        -400
      ],
      "webhookId": "2980b0e0-2638-4b1e-a72e-742faef985f5",
      "credentials": {
        "gmailOAuth2": {
          "id": "CPCSZOInV8Zj1PI1",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "value": "iWIcj915TYJQkdmC"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "story_title": "={{ $('workflow_trigger').first().json.project_title }} - {{ /^(prologue|prol|0)$/i.test($('workflow_trigger').first().json.chapter_number) ? 'Prologue' : (/^(epilogue|epil)$/i.test($('workflow_trigger').first().json.chapter_number) ? 'Epilogue' : 'Chapter ' + $('workflow_trigger').first().json.chapter_number) }}",
            "image_description": "=A cinematic cover image for the {{ /^(prologue|prol|0)$/i.test($('workflow_trigger').first().json.chapter_number) ? 'Prologue' : (/^(epilogue|epil)$/i.test($('workflow_trigger').first().json.chapter_number) ? 'Epilogue' : 'Chapter ' + $('workflow_trigger').first().json.chapter_number) }} of \"{{ $('workflow_trigger').first().json.project_title }}\".\n\nChapter synopsis: {{ $('workflow_trigger').first().json.brief }}\n\nOpening scene excerpt:\n{{ $('update_story_bible').first().json.output?.chapter_text?.substring(0, 1200) || 'No text available' }}\n\nCreate a single powerful visual scene capturing this chapter's key moment \u2014 the environment, lighting, character silhouettes, and atmospheric details. Do NOT include any text, titles, or words in the image.",
            "genre_slug": "={{ $('workflow_trigger').first().json.genre_slug }}",
            "content_type": "Book Chapter",
            "user_id": "={{ $('settings').first().json.userId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "image_description",
              "displayName": "image_description",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "removed": false
            },
            {
              "id": "story_title",
              "displayName": "story_title",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "removed": false
            },
            {
              "id": "genre_slug",
              "displayName": "genre_slug",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "removed": false
            },
            {
              "id": "content_type",
              "displayName": "content_type",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "ch-cover",
      "name": "generate_cover_image",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3920,
        48
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cr1",
              "name": "result",
              "value": "={{ /^(prologue|prol|0)$/i.test($('workflow_trigger').first().json.chapter_number) ? 'Prologue' : (/^(epilogue|epil)$/i.test($('workflow_trigger').first().json.chapter_number) ? 'Epilogue' : 'Chapter ' + $('workflow_trigger').first().json.chapter_number) }} written: {{ $('update_story_bible').first().json.output?.chapter_title || 'Untitled' }} ({{ $('update_story_bible').first().json.output?.word_count || 0 }} words). Story bible updated with {{ ($('update_story_bible').first().json.output?.new_story_bible_entries || []).length }} new entries.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ch-result",
      "name": "set_result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4272,
        -304
      ]
    },
    {
      "parameters": {
        "jsCode": "const supabaseUrl = $('settings').first().json.SUPABASE_URL;\nconst apiKey = $('settings').first().json.SUPABASE_API_KEY;\nconst userId = $('settings').first().json.userId;\nconst headers = { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey, 'Content-Type': 'application/json' };\nconst projectId = $('build_sub_chapter_prompts').first().json.project_id || null;\nconst rawCh = ($('workflow_trigger').first().json.chapter_number || '').toString().trim();\nconst isProl = /^(prologue|prol|0)$/i.test(rawCh);\nconst isEpil = /^(epilogue|epil)$/i.test(rawCh);\nconst chapterNum = isProl ? 0 : (isEpil ? 999 : (parseInt(rawCh) || null));\nconst newTitle = $('update_story_bible').first().json.output?.chapter_title || (isProl ? 'Prologue' : (isEpil ? 'Epilogue' : 'Chapter ' + rawCh));\nconst newText = $('update_story_bible').first().json.output?.chapter_text || '';\nconst genreSlug = $('workflow_trigger').first().json.genre_slug;\n\ntry {\n  // Check if a chapter with this project_id + chapter_number already exists\n  let existing = null;\n  if (projectId && chapterNum !== null) {\n    const resp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: supabaseUrl + '/rest/v1/published_content_v2?project_id=eq.' + projectId + '&chapter_number=eq.' + chapterNum + '&content_type=eq.chapter&user_id=eq.' + encodeURIComponent(userId) + '&order=created_at.desc&limit=1&select=id,title,content_text',\n      headers\n    });\n    if (Array.isArray(resp) && resp.length > 0 && resp[0].id) {\n      existing = resp[0];\n    }\n  }\n\n  if (existing) {\n    // Auto-snapshot the existing version before overwriting\n    const versionsResp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: supabaseUrl + '/rest/v1/content_versions_v2?content_id=eq.' + existing.id + '&order=version_number.desc&limit=1&select=version_number&user_id=eq.' + encodeURIComponent(userId),\n      headers\n    });\n    const maxVersion = Array.isArray(versionsResp) && versionsResp.length > 0 ? versionsResp[0].version_number : 0;\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: supabaseUrl + '/rest/v1/content_versions_v2',\n      headers: { ...headers, 'Prefer': 'return=minimal' },\n      body: {\n        content_id: existing.id,\n        version_number: maxVersion + 1,\n        content_text: existing.content_text || '',\n        changed_by: 'system',\n        change_note: 'Auto-snapshot before chapter rewrite',\n        created_at: new Date().toISOString(),\n        user_id: userId\n      }\n    });\n\n    // PATCH the existing row with new content\n    await this.helpers.httpRequest({\n      method: 'PATCH',\n      url: supabaseUrl + '/rest/v1/published_content_v2?id=eq.' + existing.id + '&user_id=eq.' + encodeURIComponent(userId),\n      headers: { ...headers, 'Prefer': 'return=minimal' },\n      body: {\n        title: newTitle,\n        content_text: newText,\n        storage_path: $json.Key || '',\n        updated_at: new Date().toISOString()\n      }\n    });\n  } else {\n    // No existing chapter \u2014 insert new\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: supabaseUrl + '/rest/v1/published_content_v2',\n      headers,\n      body: {\n        title: newTitle,\n        content_type: 'chapter',\n        genre_slug: genreSlug,\n        content_text: newText,\n        storage_path: $json.Key || '',\n        project_id: projectId,\n        chapter_number: chapterNum,\n        status: 'draft',\n        user_id: userId\n      }\n    });\n  }\n} catch (e) {\n  // Don't fail the workflow if draft insert/update fails\n}\n\nreturn $input.all();"
      },
      "id": "ch-draft",
      "name": "insert_draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3024,
        -400
      ]
    },
    {
      "parameters": {
        "jsCode": "const s = $('settings').first().json;\nconst trigger = $('workflow_trigger').first().json;\nconst chapterOutput = $('update_story_bible').first().json.output || {};\nconst promptData = $('build_sub_chapter_prompts').first().json;\nconst projectData = $('get_project_data').first().json;\nconst storedOutline = projectData.outline;\n\n// Get chapter text\nconst chapterText = chapterOutput.chapter_text || '';\nconst chapterTitle = chapterOutput.chapter_title || '';\n\n// Get book outline context\nlet bookOutlineText = '';\nif (storedOutline) {\n  const parts = [];\n  if (storedOutline.premise) parts.push('PREMISE: ' + storedOutline.premise);\n  if (storedOutline.themes) parts.push('THEMES: ' + storedOutline.themes.join(', '));\n  if (storedOutline.story_arc_name) parts.push('BOOK STORY ARC: ' + storedOutline.story_arc_name);\n  if (storedOutline.characters) {\n    parts.push('CHARACTERS:\\n' + storedOutline.characters.map(c =>\n      '- ' + c.name + ' (' + c.role + '): ' + c.arc\n    ).join('\\n'));\n  }\n  if (storedOutline.chapters) {\n    parts.push('CHAPTER OUTLINE:\\n' + storedOutline.chapters.map(ch =>\n      'Ch ' + ch.number + ' \u2014 ' + ch.title + ': ' + ch.brief + (ch.arc_notes ? ' [Arc: ' + ch.arc_notes + ']' : '')\n    ).join('\\n'));\n  }\n  bookOutlineText = parts.join('\\n\\n');\n}\n\n// Get chapter outline (sub-chapters)\nconst rawCh = (trigger.chapter_number || '').toString().trim();\nconst isProl = /^(prologue|prol|0)$/i.test(rawCh);\nconst isEpil = /^(epilogue|epil)$/i.test(rawCh);\nconst chNum = isProl ? 0 : (isEpil ? -1 : parseInt(rawCh));\nlet chapterOutlineText = 'No chapter outline found.';\nlet thisChapter = null;\nif (storedOutline?.chapters) {\n  if (isProl) thisChapter = storedOutline.chapters.find(ch => ch.number === 0 || /prologue/i.test(ch.title));\n  else if (isEpil) thisChapter = storedOutline.chapters.find(ch => /epilogue/i.test(ch.title));\n  else thisChapter = storedOutline.chapters.find(ch => ch.number === chNum);\n}\nif (thisChapter?.chapter_outline?.sub_chapters) {\n  const co = thisChapter.chapter_outline;\n  chapterOutlineText = 'Chapter Story Arc: ' + (co.chapter_story_arc || 'Same as book') + '\\n' +\n    'Book Arc Beat: ' + (co.book_arc_beat || '') + '\\n' +\n    co.sub_chapters.map(sc =>\n      'Sub-chapter ' + sc.number + ': ' + sc.title + '\\n' +\n      '  Brief: ' + sc.brief + '\\n' +\n      '  Characters: ' + (sc.characters || []).join(', ')\n    ).join('\\n\\n');\n}\n\n// Load story arc prompts for validation\nconst bookArcName = storedOutline?.story_arc_name || '';\nconst bookArcPrompt = s.book_arc_prompt || '';\nlet chapterArcName = '';\nlet chapterArcPrompt = '';\nif (thisChapter?.chapter_outline) {\n  chapterArcName = thisChapter.chapter_outline.chapter_story_arc || bookArcName;\n  chapterArcPrompt = s.chapter_arc_prompt || '';\n}\n\n// Build story arc context for Q/A\nlet storyArcContext = '';\nif (bookArcName) {\n  storyArcContext += '\\nBOOK STORY ARC: ' + bookArcName;\n  if (bookArcPrompt) {\n    // Extract just the key structural rules (first 2000 chars of arc prompt)\n    const arcRules = bookArcPrompt.substring(0, 2000);\n    storyArcContext += '\\nKey structural requirements:\\n' + arcRules;\n  }\n}\nif (chapterArcName && chapterArcName !== bookArcName) {\n  storyArcContext += '\\n\\nCHAPTER STORY ARC: ' + chapterArcName;\n  if (chapterArcPrompt) {\n    const chArcRules = chapterArcPrompt.substring(0, 2000);\n    storyArcContext += '\\nKey structural requirements:\\n' + chArcRules;\n  }\n}\n\n// Build Q/A prompt\nconst qaPrompt = `You are a story consistency auditor. A chapter has just been written. Your job is to verify it against the book outline, chapter outline, and the story arc frameworks being used. Be thorough but fair.\n\n## BOOK OUTLINE\n${bookOutlineText}\n\n## STORY ARC FRAMEWORKS\n${storyArcContext || 'No story arc specified.'}\n\n## CHAPTER OUTLINE (SUB-CHAPTERS)\n${chapterOutlineText}\n\n## CHAPTER JUST WRITTEN\nTitle: ${chapterTitle}\n${chapterText.substring(0, 60000)}${chapterText.length > 60000 ? '\\n...[truncated for review]' : ''}\n\n## VALIDATION CHECKLIST\nFor each item, respond PASS or FAIL with a brief explanation:\n\n1. **Character Consistency**: Do all character names in the written chapter match the book outline exactly? Are there any invented, renamed, or missing characters?\n2. **Book Arc Advancement**: Does this chapter advance the book's story arc as described in the book outline's arc_notes for this chapter?\n3. **Chapter Outline Adherence**: Does the written chapter follow the sub-chapter sequence from the chapter outline? Sub-chapters are separated by their TITLE as a heading (e.g., 'The Committee Room', 'The Evidence Speaks') \u2014 NOT by numbers. Look for these title headings to identify sub-chapter boundaries. Are all sub-chapters from the outline represented as titled sections?\n4. **Plot Consistency**: Does the chapter contradict any established plot points, events, or character relationships from the book outline?\n5. **Theme Alignment**: Does the chapter support the book's stated themes, or does it drift toward unrelated themes?\n6. **Story Drift Risk**: Is there any subtle change in the story's direction that could take the narrative off its intended path? (e.g., a character making a decision that contradicts their arc, a plot thread introduced that wasn't in the outline)\n7. **Book Story Arc Compliance**: Does this chapter fulfill its assigned role in the BOOK's story arc (${bookArcName || 'not specified'})? Check: does the chapter hit the structural beat assigned to it in the book outline's arc_notes? Does the emotional progression match what the arc framework requires at this position in the story?\n8. **Chapter Story Arc Compliance**: If this chapter uses its own story arc (${chapterArcName || 'same as book'}), does the internal structure of the chapter follow that arc's framework? Are the sub-chapters organized according to the arc's beats/stages? Does the chapter's internal emotional progression follow the arc's prescribed pattern?\n9. **Arc Contradiction Check**: Does anything in this chapter CONTRADICT the story arc's rules? For example: if the book arc says this chapter should be the \"Ordeal\" (Hero's Journey), does the chapter actually deliver a crisis/ordeal? If the chapter arc is Kish\u014dtenketsu, is there forced conflict where the arc says there should be contrast? Flag any structural violations.\n\n## OUTPUT FORMAT\nReturn JSON with:\n- overall_status: \"PASS\" or \"NEEDS_REVIEW\" (use NEEDS_REVIEW if ANY item is FAIL)\n- checks: array of {name, status (\"PASS\" or \"FAIL\"), detail}\n- summary: one paragraph summarizing the chapter's consistency\n- concerns: array of strings listing any specific issues (empty if all PASS)`;\n\n// Call Claude for Q/A validation\n\nreturn [{ json: { qaPrompt } }];"
      },
      "id": "wc-qa-prompt",
      "name": "qa_build_prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3248,
        -400
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.qaPrompt }}"
      },
      "id": "wc-qa-llm",
      "name": "qa_llm_chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        3472,
        -400
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 120000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0.3
        }
      },
      "id": "wc-qa-claude",
      "name": "qa_claude",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        3536,
        -176
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 60000,
      "credentials": {
        "anthropicApi": {
          "id": "5LhCYKsaFO3fF7II",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const qaText = $input.first().json.text || $input.first().json.output?.text || '';\n\nlet qaResult;\ntry {\n  const jsonMatch = qaText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    qaResult = JSON.parse(jsonMatch[0]);\n  } else {\n    qaResult = { overall_status: 'UNKNOWN', summary: qaText.substring(0, 500), checks: [], concerns: ['Could not parse Q/A response as JSON'] };\n  }\n} catch (e) {\n  qaResult = { overall_status: 'UNKNOWN', summary: qaText.substring(0, 500), checks: [], concerns: ['JSON parse error: ' + e.message] };\n}\n\nconst statusColor = qaResult.overall_status === 'PASS' ? '#2d8a4e' : (qaResult.overall_status === 'NEEDS_REVIEW' ? '#c9302c' : '#888');\n\nlet checksHtml = '';\nif (qaResult.checks && qaResult.checks.length > 0) {\n  checksHtml = qaResult.checks.map(c =>\n    '<tr><td style=\"padding:4px 8px;\">' + (c.status === 'PASS' ? '\u2705' : '\u274c') + ' ' + c.name + '</td><td style=\"padding:4px 8px;\">' + c.detail + '</td></tr>'\n  ).join('');\n}\n\nconst qaHtml = '<div style=\"border:2px solid ' + statusColor + '; border-radius:8px; padding:16px; margin-top:24px; font-family:sans-serif;\">' +\n  '<h2 style=\"color:' + statusColor + '; margin-top:0;\">Story Consistency Report: ' + qaResult.overall_status + '</h2>' +\n  '<p>' + (qaResult.summary || '') + '</p>' +\n  (checksHtml ? '<table style=\"width:100%; border-collapse:collapse; margin:12px 0;\"><tr style=\"background:#f5f5f5;\"><th style=\"text-align:left; padding:4px 8px;\">Check</th><th style=\"text-align:left; padding:4px 8px;\">Detail</th></tr>' + checksHtml + '</table>' : '') +\n  (qaResult.concerns && qaResult.concerns.length > 0 ? '<h3 style=\"color:#c9302c;\">Concerns:</h3><ul>' + qaResult.concerns.map(c => '<li>' + c + '</li>').join('') + '</ul>' : '') +\n  '</div>';\n\n\n\n// Store Q/A report in Supabase for future reference\nconst supabaseUrl = $('settings').first().json.SUPABASE_URL;\nconst apiKey = $('settings').first().json.SUPABASE_API_KEY;\nconst userId = $('settings').first().json.userId;\nconst projectId = $('build_sub_chapter_prompts').first().json.project_id;\nconst chapterLabel = $('build_sub_chapter_prompts').first().json.chapter_label;\nconst chapterMeta = $('build_sub_chapter_prompts').first().json.chapter_outline_meta || {};\n\nif (projectId && supabaseUrl) {\n  try {\n    // Upsert Q/A report into writing_projects_v2 outline metadata\n    const projResp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: supabaseUrl + '/rest/v1/writing_projects_v2?id=eq.' + projectId + '&select=outline&limit=1',\n      headers: { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey }\n    });\n    if (Array.isArray(projResp) && projResp.length > 0) {\n      const outline = projResp[0].outline || {};\n      const chNum = chapterMeta.chapter_number;\n      if (outline.chapters) {\n        for (let i = 0; i < outline.chapters.length; i++) {\n          if (outline.chapters[i].number === chNum) {\n            outline.chapters[i].last_qa_report = {\n              status: qaResult.overall_status,\n              checks: qaResult.checks,\n              concerns: qaResult.concerns,\n              summary: qaResult.summary,\n              timestamp: new Date().toISOString()\n            };\n            break;\n          }\n        }\n        // Auto-snapshot before Q/A update\n        try {\n          const verResp = await this.helpers.httpRequest({\n            method: 'GET',\n            url: supabaseUrl + '/rest/v1/outline_versions_v2?project_id=eq.' + projectId + '&order=version_number.desc&limit=1&select=version_number&user_id=eq.' + encodeURIComponent(userId),\n            headers: { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey }\n          });\n          const maxV = (Array.isArray(verResp) && verResp.length > 0) ? verResp[0].version_number : 0;\n          await this.helpers.httpRequest({\n            method: 'POST',\n            url: supabaseUrl + '/rest/v1/outline_versions_v2',\n            headers: { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey, 'Content-Type': 'application/json' },\n            body: { project_id: projectId, version_number: maxV + 1, outline: projResp[0].outline, revision_note: 'Auto-snapshot before Q/A update', user_id: userId }\n          });\n        } catch (snapErr) { /* snapshot is best-effort */ }\n\n        await this.helpers.httpRequest({\n          method: 'PATCH',\n          url: supabaseUrl + '/rest/v1/writing_projects_v2?id=eq.' + projectId + '&user_id=eq.' + encodeURIComponent(userId),\n          headers: { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey, 'Content-Type': 'application/json' },\n          body: { outline }\n        });\n      }\n    }\n  } catch (e) { /* Q/A storage is best-effort */ }\n}\n\nreturn [{ json: { qa_report: qaResult, qa_html: qaHtml, qa_status: qaResult.overall_status || 'UNKNOWN' } }];"
      },
      "id": "wc-qa-parse",
      "name": "qa_parse_result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3824,
        -400
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "DTjjVk51Z9aHgAg0",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "project_id": "={{ $json.project_id || '' }}",
            "user_id": "={{ $('settings').first().json.userId || '' }}",
            "openai_api_key": ""
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "project_id",
              "displayName": "project_id",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "removed": false
            },
            {
              "id": "openai_api_key",
              "displayName": "openai_api_key",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "embed-call",
      "name": "re_embed_project",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2720,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "dk75OYTASeu6NkTr",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "execution_id": "={{ $execution.id }}",
            "source_workflow_name": "Write Chapter Worker"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "removed": false
            },
            {
              "id": "source_workflow_name",
              "displayName": "source_workflow_name",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "removed": false
            }
          ]
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "tt-call",
      "name": "track_token_usage",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4512,
        -96
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "webhook_trigger": {
      "main": [
        [
          {
            "node": "settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "workflow_trigger": {
      "main": [
        [
          {
            "node": "get_genre_config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_genre_config": {
      "main": [
        [
          {
            "node": "get_project_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_project_data": {
      "main": [
        [
          {
            "node": "research_topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "research_topic": {
      "main": [
        [
          {
            "node": "build_sub_chapter_prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build_sub_chapter_prompts": {
      "main": [
        [
          {
            "node": "Loop Over Sub-Chapters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Sub-Chapters": {
      "main": [
        [
          {
            "node": "concatenate_chapter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "rate_limit_delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rate_limit_delay": {
      "main": [
        [
          {
            "node": "write_sub_chapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "write_sub_chapter": {
      "main": [
        [
          {
            "node": "Loop Over Sub-Chapters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "claude-sonnet": {
      "ai_languageModel": [
        [
          {
            "node": "write_sub_chapter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "chapter_memory": {
      "ai_memory": [
        [
          {
            "node": "write_sub_chapter",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "supabase_vector_store": {
      "ai_tool": [
        [
          {
            "node": "write_sub_chapter",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "openai_embeddings": {
      "ai_embedding": [
        [
          {
            "node": "supabase_vector_store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "concatenate_chapter": {
      "main": [
        [
          {
            "node": "update_story_bible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_story_bible": {
      "main": [
        [
          {
            "node": "save_draft",
            "type": "main",
            "index": 0
          },
          {
            "node": "generate_cover_image",
            "type": "main",
            "index": 0
          },
          {
            "node": "re_embed_project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save_draft": {
      "main": [
        [
          {
            "node": "insert_draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_draft": {
      "main": [
        [
          {
            "node": "qa_build_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qa_build_prompt": {
      "main": [
        [
          {
            "node": "qa_llm_chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qa_claude": {
      "ai_languageModel": [
        [
          {
            "node": "qa_llm_chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "qa_llm_chain": {
      "main": [
        [
          {
            "node": "qa_parse_result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qa_parse_result": {
      "main": [
        [
          {
            "node": "send_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_email": {
      "main": [
        [
          {
            "node": "set_result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate_cover_image": {
      "main": [
        [
          {
            "node": "set_result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "settings": {
      "main": [
        [
          {
            "node": "workflow_trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_result": {
      "main": [
        [
          {
            "node": "track_token_usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "Ww4PZU1fJcuv9yrW",
    "executionTimeout": 1200,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "63c0beec-54de-4efb-881f-98ea0749d189",
  "activeVersionId": "63c0beec-54de-4efb-881f-98ea0749d189",
  "versionCounter": 50,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-25T22:40:44.872Z",
      "createdAt": "2026-03-25T22:40:44.872Z",
      "role": "workflow:owner",
      "workflowId": "VxO2eG6uvImqaPA2",
      "projectId": "so6FfyLmNOjnxEMJ",
      "project": {
        "updatedAt": "2026-01-12T16:36:13.622Z",
        "createdAt": "2026-01-12T15:34:50.204Z",
        "id": "so6FfyLmNOjnxEMJ",
        "name": "Eric Beser <eric@agileadtesting.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fd7cc91d-5051-4455-95a6-842a68ceadb7"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-29T16:28:23.754Z",
    "createdAt": "2026-03-29T16:28:15.541Z",
    "versionId": "63c0beec-54de-4efb-881f-98ea0749d189",
    "workflowId": "VxO2eG6uvImqaPA2",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "write-chapter-worker-v2",
          "options": {}
        },
        "id": "wk-trigger",
        "name": "webhook_trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -208,
          400
        ],
        "webhookId": "wc-worker-v2"
      },
      {
        "parameters": {
          "jsCode": "// Worker settings - all data passed from trigger\nconst body = $json.body || $json;\nconst SUPABASE_URL = body.SUPABASE_URL;\nconst SUPABASE_API_KEY = body.SUPABASE_API_KEY;\nconst userId = body.userId;\nconst recipient_email = body.recipient_email;\nconst bcc_email = body.bcc_email || '';\nconst book_arc_prompt = body.book_arc_prompt || '';\nconst book_arc_name = body.book_arc_name || '';\nconst chapter_arc_prompt = body.chapter_arc_prompt || '';\nconst chapter_arc_name = body.chapter_arc_name || '';\nconst story_structure_guidelines = body.story_structure_guidelines || '';\nconst genre_slug = body.genre_slug || '';\n\nreturn [{ json: { \n  SUPABASE_URL, SUPABASE_API_KEY, userId,\n  recipient_email, bcc_email, story_structure_guidelines,\n  book_arc_prompt, book_arc_name, chapter_arc_prompt, chapter_arc_name,\n  genre_slug\n} }];"
        },
        "id": "wk-settings",
        "name": "settings",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "// Extract trigger data from webhook body\nconst body = $('webhook_trigger').first().json.body || $('webhook_trigger').first().json;\nreturn [{ json: {\n  genre_slug: body.genre_slug || '',\n  project_title: body.project_title || '',\n  chapter_number: body.chapter_number || '',\n  brief: body.brief || '',\n  outline: body.outline || '',\n  research_topics: body.research_topics || '',\n  user_prompt: body.user_prompt || '',\n  words_per_section: body.words_per_section || '',\n  user_id: body.userId || ''\n} }];"
        },
        "id": "wk-input",
        "name": "workflow_trigger",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          208
        ]
      },
      {
        "parameters": {
          "url": "={{ $('settings').first().json.SUPABASE_URL }}/rest/v1/genre_config_v2?genre_slug=eq.{{ $('settings').first().json.genre_slug }}&limit=1",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('settings').first().json.SUPABASE_API_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('settings').first().json.SUPABASE_API_KEY }}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "wk-genre",
        "name": "get_genre_config",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          208,
          208
        ]
      },
      {
        "parameters": {
          "jsCode": "// Get or create the writing project\nconst supabaseUrl = $('settings').first().json.SUPABASE_URL;\nconst apiKey = $('settings').first().json.SUPABASE_API_KEY;\nconst headers = { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey, 'Content-Type': 'application/json' };\nconst userId = $('settings').first().json.userId;\nconst projectTitle = $('workflow_trigger').first().json.project_title;\nconst genreSlug = $('workflow_trigger').first().json.genre_slug;\n\n// Try to find the project (includes outline)\nlet project = null;\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: supabaseUrl + '/rest/v1/writing_projects_v2?title=ilike.' + encodeURIComponent(projectTitle) + '&user_id=eq.' + encodeURIComponent(userId) + '&limit=1',\n    headers: headers\n  });\n  const projects = Array.isArray(resp) ? resp : [resp];\n  if (projects.length > 0 && projects[0]?.id) {\n    project = projects[0];\n  }\n} catch (e) {}\n\n// Create project if not found\nif (!project) {\n  try {\n    const created = await this.helpers.httpRequest({\n      method: 'POST',\n      url: supabaseUrl + '/rest/v1/writing_projects_v2',\n      headers: { ...headers, 'Prefer': 'return=representation' },\n      body: { title: projectTitle, genre_slug: genreSlug, project_type: 'book', status: 'in_progress', chapter_count: 0, user_id: userId }\n    });\n    project = Array.isArray(created) ? created[0] : created;\n  } catch (e) {\n    // Creation may have failed due to duplicate key \u2014 retry lookup before giving up\n    try {\n      const retry = await this.helpers.httpRequest({\n        method: 'GET',\n        url: supabaseUrl + '/rest/v1/writing_projects_v2?title=ilike.' + encodeURIComponent(projectTitle) + '&user_id=eq.' + encodeURIComponent(userId) + '&limit=1',\n        headers: headers\n      });\n      const retryProjects = Array.isArray(retry) ? retry : [retry];\n      project = (retryProjects.length > 0 && retryProjects[0]?.id) ? retryProjects[0] : { id: null, title: projectTitle };\n    } catch (e2) {\n      project = { id: null, title: projectTitle };\n    }\n  }\n}\n\n// Fetch story bible entries\nlet storyBible = [];\nif (project?.id) {\n  try {\n    const bibleResp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: supabaseUrl + '/rest/v1/story_bible_v2?project_id=eq.' + project.id + '&user_id=eq.' + encodeURIComponent(userId) + '&order=chapter_introduced,entry_type,name',\n      headers: headers\n    });\n    storyBible = Array.isArray(bibleResp) ? bibleResp : [];\n  } catch (e) {}\n}\n\n// Fetch writing samples\nlet samplesText = 'No writing samples available.';\ntry {\n  const listResp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: supabaseUrl + '/storage/v1/object/list/author-content',\n    headers: headers,\n    body: { prefix: 'writing-samples', limit: 20 }\n  });\n  const files = (listResp || []).filter(f => f.name && f.name !== '.gitkeep' && f.metadata?.size > 0);\n  if (files.length > 0) {\n    const samples = [];\n    for (const file of files.slice(0, 5)) {\n      try {\n        const content = await this.helpers.httpRequest({\n          method: 'GET',\n          url: supabaseUrl + '/storage/v1/object/author-content/writing-samples/' + file.name,\n          headers: { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey },\n          encoding: 'utf-8',\n          json: false\n        });\n        samples.push(typeof content === 'string' ? content : JSON.stringify(content));\n      } catch (e) {}\n    }\n    if (samples.length > 0) samplesText = samples.join('\\n\\n');\n  }\n} catch (e) {}\n\nreturn [{ json: { project: project, story_bible: storyBible, writing_samples: samplesText, outline: project?.outline || null } }];"
        },
        "id": "wk-project",
        "name": "get_project_data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          400,
          208
        ]
      },
      {
        "parameters": {
          "messages": {
            "message": [
              {
                "content": "=You are a research assistant. Provide detailed, factual information with citations useful for fiction writing.",
                "role": "system"
              },
              {
                "content": "=Research for the {{ /^(prologue|prol|0)$/i.test($('workflow_trigger').first().json.chapter_number) ? 'Prologue' : (/^(epilogue|epil)$/i.test($('workflow_trigger').first().json.chapter_number) ? 'Epilogue' : 'Chapter ' + $('workflow_trigger').first().json.chapter_number) }} of a novel titled \"{{ $('workflow_trigger').first().json.project_title }}\". Chapter brief: {{ $('workflow_trigger').first().json.brief }}. Provide factual details about: {{ $('workflow_trigger').first().json.research_topics || $('workflow_trigger').first().json.brief }}."
              }
            ]
          },
          "simplify": true,
          "options": {
            "temperature": 0.1,
            "searchRecency": "month"
          },
          "requestOptions": {}
        },
        "id": "ch-research",
        "name": "research_topic",
        "type": "n8n-nodes-base.perplexity",
        "typeVersion": 1,
        "position": [
          1072,
          416
        ],
        "credentials": {
          "perplexityApi": {
            "id": "ggr9QCRobQVA6Lwb",
            "name": "Perplexity account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const trigger = $('workflow_trigger').first().json;\nconst genre = $('get_genre_config').first().json;\nconst genreData = Array.isArray(genre) ? genre[0] : genre;\nconst research = $('research_topic').first().json.message || '';\nconst projectData = $('get_project_data').first().json;\nconst storyBible = projectData.story_bible || [];\nconst writingSamples = projectData.writing_samples || '';\nconst bookArcPrompt = $('settings').first().json.book_arc_prompt || '';\nconst bookArcName = $('settings').first().json.book_arc_name || '';\nconst chapterArcPrompt = $('settings').first().json.chapter_arc_prompt || '';\nconst chapterArcName = $('settings').first().json.chapter_arc_name || '';\n\nconst wordsPerSection = parseInt(trigger.words_per_section) || 1200;\nconst storedOutline = projectData.outline;\nlet outlineText = trigger.outline || '';\n\nif (!outlineText && storedOutline) {\n  if (typeof storedOutline === 'object') {\n    const parts = [];\n    if (storedOutline.premise) parts.push('PREMISE: ' + storedOutline.premise);\n    if (storedOutline.themes) parts.push('THEMES: ' + storedOutline.themes.join(', '));\n    if (storedOutline.characters) {\n      parts.push('CHARACTERS:\\n' + storedOutline.characters.map(c => \n        '- ' + c.name + ' (' + c.role + '): ' + c.arc + (c.description ? ' \u2014 ' + c.description : '')\n      ).join('\\n'));\n    }\n    if (storedOutline.chapters) {\n      parts.push('CHAPTER OUTLINE:\\n' + storedOutline.chapters.map(ch => \n        'Ch ' + ch.number + ' \u2014 ' + ch.title + ': ' + ch.brief + (ch.arc_notes ? ' [Arc: ' + ch.arc_notes + ']' : '')\n      ).join('\\n'));\n    }\n    outlineText = parts.join('\\n\\n');\n  } else {\n    outlineText = String(storedOutline);\n  }\n}\n\nconst bibleText = storyBible.length > 0\n  ? storyBible.map(e => '[' + e.entry_type + '] ' + e.name + ': ' + e.description + ' (ch' + e.chapter_introduced + ')').join('\\n')\n  : 'No story bible entries yet.';\n\nconst rawChapter = (trigger.chapter_number || '').toString().trim();\nconst isPrologue = /^(prologue|prol|0)$/i.test(rawChapter);\nconst isEpilogue = /^(epilogue|epil)$/i.test(rawChapter);\nconst chapterNum = isPrologue ? 0 : (isEpilogue ? -1 : parseInt(rawChapter));\nconst chapterLabel = isPrologue ? 'Prologue' : (isEpilogue ? 'Epilogue' : 'Chapter ' + chapterNum);\n\nlet chapterBrief = trigger.brief || '';\nlet chapterOutlineText = '';\nlet subChapters = [];\nlet chapterOutlineMeta = {};\n\nif (storedOutline && storedOutline.chapters) {\n  let thisChapter;\n  if (isPrologue) {\n    thisChapter = storedOutline.chapters.find(ch => ch.number === 0 || /^prologue$/i.test(String(ch.title)));\n  } else if (isEpilogue) {\n    thisChapter = storedOutline.chapters.find(ch => /^epilogue$/i.test(String(ch.title)) || ch.number > storedOutline.chapters.filter(c => typeof c.number === 'number').length);\n  } else {\n    thisChapter = storedOutline.chapters.find(ch => ch.number === chapterNum);\n  }\n  if (thisChapter) {\n    if (!trigger.brief) chapterBrief = thisChapter.brief + (thisChapter.arc_notes ? '\\nArc notes: ' + thisChapter.arc_notes : '');\n    if (thisChapter.research_topics) {\n      // research topics available\n    }\n  }\n  if (thisChapter && thisChapter.chapter_outline && thisChapter.chapter_outline.sub_chapters && thisChapter.chapter_outline.sub_chapters.length > 0) {\n    const co = thisChapter.chapter_outline;\n    subChapters = co.sub_chapters;\n    chapterOutlineMeta = co;\n  }\n}\n\n// SAFETY GATE\nif (subChapters.length === 0) {\n  throw new Error('Cannot write ' + chapterLabel + ' \u2014 no chapter outline with sub-chapters found. Create one first: \"create a chapter outline for ' + chapterLabel.toLowerCase() + ' of ' + trigger.project_title + '\"');\n}\n\n// Fill in story arc placeholders with actual project data\nconst protagonist = (storedOutline && storedOutline.characters) ? storedOutline.characters.find(c => c.role === 'Protagonist') : null;\nconst protagonistDesc = protagonist ? protagonist.name + ' \u2014 ' + protagonist.arc : 'See characters in book outline';\n\nfunction fillArcPlaceholders(arcText) {\n  if (!arcText) return '';\n  return arcText\n    .replace(/\\[a full book \\/ a single chapter[^\\]]*\\]/gi, 'a single sub-chapter scene')\n    .replace(/\\[Book \\/ Chapter \\/ Short Story[^\\]]*\\]/gi, 'Sub-chapter scene within a novel chapter')\n    .replace(/\\[e\\.g\\., thriller[^\\]]*\\]/gi, (genreData && genreData.genre_name) || 'fiction')\n    .replace(/\\[Describe briefly[^\\]]*\\]/gi, protagonistDesc)\n    .replace(/\\[What is the core problem[^\\]]*\\]/gi, (storedOutline && storedOutline.premise) || 'See book outline premise')\n    .replace(/\\[Where and when[^\\]]*\\]/gi, 'See sub-chapter setting below')\n    .replace(/\\[What does the protagonist stand to lose[^\\]]*\\]/gi, 'See book outline and chapter arc notes')\n    .replace(/\\[e\\.g\\., 1,000 words[^\\]]*\\]/gi, wordsPerSection.toLocaleString() + ' words per sub-chapter')\n    .replace(/\\[.*?central moral.*?\\]/gi, 'See book outline themes')\n    .replace(/\\[.*?Genre.*?\\]/gi, (genreData && genreData.genre_name) || 'fiction')\n    .replace(/\\[.*?Main character.*?\\]/gi, protagonistDesc)\n    .replace(/\\[.*?Setting.*?\\]/gi, 'See sub-chapter setting')\n    .replace(/\\[.*?Length goal.*?\\]/gi, wordsPerSection.toLocaleString() + ' words');\n}\n\nconst filledChapterArc = fillArcPlaceholders(chapterArcPrompt);\nconst filledBookArc = fillArcPlaceholders(bookArcPrompt);\n\n// ============================================================\n// SPLIT PROMPT: system_prompt (cached) + user_prompt (variable)\n// The agent systemMessage receives the stable content \u2014 Anthropic\n// auto-caches it across all sub-chapter iterations and tool rounds.\n// The agent text (user message) gets the per-sub-chapter assignment.\n// ============================================================\n\n// SYSTEM PROMPT (identical across all sub-chapters \u2014 CACHED)\nconst allSubChaptersList = subChapters.map(sc =>\n  'Sub-chapter ' + sc.number + ' \u2014 ' + sc.title + ': ' + sc.brief\n).join('\\\\n');\n\nconst chapterArc = chapterOutlineMeta.chapter_story_arc || chapterArcName || bookArcName || 'Not specified';\nconst systemPrompt =\n  'You are a world-class novelist writing the ' + chapterLabel + ' of \"' + trigger.project_title + '\", a ' + (genreData && genreData.genre_name || 'fiction') + ' novel.\\n\\n' +\n  '## \u26a0\ufe0f MANDATORY STORY ARC: ' + chapterArc + '\\n' +\n  'This chapter uses the ' + chapterArc + ' structure. Every sub-chapter MUST execute its assigned arc beat exactly. This is the #1 priority \u2014 it OVERRIDES pacing preferences, tone defaults, and writing style when they conflict.\\n' +\n  (chapterArc === 'Fichtean Curve' ? '- Fichtean Curve REQUIRES: Open IN MEDIAS RES (mid-action, immediate tension). Build through THREE ESCALATING CRISES. Each crisis more intense than the last. Short, impactful resolution. NO slow setup. NO contemplative openings. NO gentle pacing. Backstory revealed ON THE MOVE during action, never in exposition blocks.\\n' : '') +\n  (chapterArc === 'Three-Act Structure' ? '- Three-Act Structure REQUIRES: Act I setup with inciting incident, Act II rising action with complications, Act III climax and resolution.\\n' : '') +\n  'If an arc beat says \"Opening in Medias Res\" \u2014 your FIRST SENTENCE must drop the reader into action. If it says \"Crisis\" \u2014 escalate conflict dramatically. If it says \"Climax\" \u2014 deliver maximum tension.\\n\\n' +\n  '## Genre: ' + (genreData && genreData.genre_name || 'fiction') +\n  '\\n\\n## Writing Style\\nClear, everyday language. Short sentences. No cliches. Show, don\\'t tell. Concrete details, sensory moments. Short paragraphs. Respect the reader.\\n\\n' +\n  '## SCENE REQUIREMENTS\\n- CHARACTER DESCRIPTIONS: Only provide a full physical description (age, build, face, clothing) on a character\\'s FIRST APPEARANCE IN THE ENTIRE BOOK. Use the character\\'s first_described_in field from the outline to know if they have already been introduced. If they were described in a previous chapter, reference them naturally without repeating their physical description. Use EXACT age and appearance from the book outline \u2014 never invent or change these details.\\n- CHARACTER NAMES: Use the exact name_format from the book outline. Be consistent throughout.\\n- Every scene: LOCAL COLOR (sounds, smells, textures, light, weather).\\n- Each sub-chapter is a DISTINCT SCENE with clear beginning, middle, end. Must feel like a chapter break before and after.\\n- Do NOT blend sub-chapters into continuous narrative. Each sub-chapter stands alone.\\n\\n' +\n  '## CHARACTER NAME RULES \u2014 MANDATORY\\nThe following name formats are LOCKED. Use ONLY these forms when referring to characters:\\n' + (storedOutline && storedOutline.characters ? storedOutline.characters.filter(c => c.name_format).map(c => '- ' + c.name + ': ' + c.name_format).join('\\\\n') : '') + '\\nIf a character has no name_format specified, use their full name from the outline. NEVER abbreviate or create name forms not listed above. UNIVERSAL RULE: Never combine an honorific (Dr., Mr., Mrs., Prof.) with only a first name \u2014 use honorific + last name (Dr. Moyaone) or first name alone (Tayak), never honorific + first name (Dr. Tayak).\\n\\n## RETRIEVING CONTEXT\\nUse the search_project_knowledge tool to retrieve character details, story bible, genre guidelines, chapter structure, and research facts.\\nDo NOT invent characters or details. Make ONE search call.';\n\n// Output one item per sub-chapter\n// Load Q/A feedback from previous write if available\nlet thisChapterQA = '';\nif (chapterOutlineMeta && storedOutline && storedOutline.chapters) {\n  const rawCh2 = (trigger.chapter_number || '').toString().trim();\n  const chNum2 = /^(prologue|prol|0)$/i.test(rawCh2) ? 0 : (/^(epilogue|epil)$/i.test(rawCh2) ? -1 : parseInt(rawCh2));\n  const thisCh2 = storedOutline.chapters.find(ch => ch.number === chNum2);\n  if (thisCh2 && thisCh2.last_qa_report && thisCh2.last_qa_report.concerns && thisCh2.last_qa_report.concerns.length > 0) {\n    thisChapterQA = thisCh2.last_qa_report.concerns.map((c, i) => (i+1) + '. ' + c).join('\\\\n');\n  }\n}\n\nconst items = subChapters.map((sc, index) => {\n  const prevSc = index > 0 ? subChapters[index - 1] : null;\n  const prevSummaries = prevSc ? 'Previous sub-chapter ' + prevSc.number + ' (' + prevSc.title + '): ' + prevSc.brief : '';\n  \n  // nextSc removed \u2014 not needed\n  \n  // USER PROMPT (changes per sub-chapter \u2014 NOT cached)\n  const userPrompt =\n    'Write Sub-chapter ' + sc.number + ' of ' + subChapters.length + ': ' + sc.title + '\\n' +\n    'Begin with the sub-chapter title as a heading on its own line (e.g., \"The Committee Room\"), then write narrative prose. No JSON, no metadata, no numbering.\\n\\n' +\n    'Arc Beat (' + (chapterOutlineMeta.chapter_story_arc || '') + '): ' + (sc.arc_beat || '') + '\\n' +\n    'Characters: ' + (sc.characters || []).join(', ') + '\\n' +\n    'Setting: ' + (sc.setting || '') + '\\n' +\n    'Emotional Tone: ' + (sc.emotional_tone || '') + '\\n' +\n    '\\n## MANDATORY SCENE BRIEF \u2014 YOU MUST WRITE EXACTLY THIS:\\n' + (sc.brief || '') + '\\n\\nThe above brief is your SCRIPT. Every event, action, and detail described in the brief MUST appear in your prose. Do NOT substitute different events. Do NOT skip any element. Do NOT reinterpret the brief \u2014 dramatize it exactly as written.\\n' +\n    'Book Arc Connection: ' + (sc.connects_to_book_arc || '') + '\\n\\n' +\n    'RULES:\\n' +\n    '- Write approximately ' + wordsPerSection.toLocaleString() + ' words\\n' +\n    '- Use ONLY the characters listed above\\n' +\n    '- This sub-chapter MUST execute its arc beat: ' + (sc.arc_beat || '') + '. This is not a suggestion \u2014 structure your prose around this beat. If the beat says \"Opening in Medias Res\" start mid-action with immediate tension. If it says \"Crisis\" escalate conflict dramatically. If it says \"Climax\" deliver the highest tension. If it says \"Resolution\" close with impact.\\n' +\n    '- Match the emotional tone: ' + (sc.emotional_tone || '') + '\\n' +\n    '- This sub-chapter must be a DISTINCT SCENE with a clear beginning, middle, and end. It should feel like a chapter break before and after.\\n' +\n    (index === 0 ? '- OPENING sub-chapter: establish the scene, full character description, set the tone. If the arc is Fichtean Curve, open IN MEDIAS RES \u2014 drop the reader into action, not setup.\\n' : '') +\n    (index === subChapters.length - 1 ? '- FINAL sub-chapter: provide closure, create a hook for next chapter\\n' : '') +\n    (prevSummaries ? '\\nPrevious sub-chapter (maintain continuity):\\n' + prevSummaries + '\\n' : '') +\n    \n    '\\n' +\n    (thisChapterQA ? '\\nQ/A FEEDBACK FROM PREVIOUS WRITE \u2014 YOU MUST ADDRESS THESE ISSUES:\\n' + thisChapterQA + '\\n' : '') +\n    (trigger.user_prompt ? '\\n## SPECIAL INSTRUCTIONS FROM USER\\n' + trigger.user_prompt + '\\nYou MUST incorporate these instructions into your writing. They override default descriptions and details from the outline.\\n\\n' : '') +\n    (trigger.brief && !trigger.user_prompt ? '\\n## SPECIAL INSTRUCTIONS FROM USER\\n' + trigger.brief + '\\nYou MUST incorporate these instructions into your writing. They override default descriptions and details from the outline.\\n\\n' : '') +\n    'STEPS: 1) Make exactly ONE call to search_project_knowledge with a query combining character names, story bible, and genre guidelines. 2) Then immediately write the full sub-chapter prose. Do NOT make a second tool call.';\n  \n  return {\n    json: {\n      system_prompt: systemPrompt,\n      user_prompt: userPrompt,\n      sub_chapter_number: sc.number,\n      sub_chapter_title: sc.title,\n      sub_chapter_characters: (sc.characters || []).join(', '),\n      words_per_section: wordsPerSection,\n      project_id: projectData.project && projectData.project.id,\n      total_sub_chapters: subChapters.length,\n      chapter_label: chapterLabel,\n      chapter_outline_meta: chapterOutlineMeta\n    }\n  };\n});\n\nreturn items;"
        },
        "id": "ch-prompt",
        "name": "build_sub_chapter_prompts",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1296,
          416
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "wc-split",
        "name": "Loop Over Sub-Chapters",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1568,
          -112
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "amount": 120
        },
        "id": "wc-delay",
        "name": "rate_limit_delay",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1792,
          -80
        ],
        "webhookId": "f5d1d29d-1f88-4aa3-bdff-b348f56a5af4"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.user_prompt }}",
          "options": {
            "systemMessage": "={{ $json.system_prompt }}",
            "maxIterations": 3
          }
        },
        "id": "wc-agent",
        "name": "write_sub_chapter",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          2032,
          -96
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "model": "claude-sonnet-4-20250514",
          "options": {
            "maxTokensToSample": 8192,
            "temperature": 0.7
          }
        },
        "id": "wc-claude",
        "name": "claude-sonnet",
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.2,
        "position": [
          1968,
          224
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 120000,
        "credentials": {
          "anthropicApi": {
            "id": "5LhCYKsaFO3fF7II",
            "name": "Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolDescription": "Search the project knowledge base for characters, chapter briefs, story bible entries, genre guidelines, sub-chapter outlines, and book premise. Use this to retrieve relevant context before writing.",
          "tableName": {
            "mode": "id",
            "value": "writing_embeddings_v2"
          },
          "topK": 8,
          "options": {
            "queryName": "match_writing_documents"
          }
        },
        "id": "wc-vectorstore",
        "name": "supabase_vector_store",
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1.3,
        "position": [
          2224,
          224
        ],
        "credentials": {
          "supabaseApi": {
            "id": "D7ri25ZKiCkoANji",
            "name": "Suprabase Writers Agent v2"
          }
        }
      },
      {
        "parameters": {
          "model": "text-embedding-3-small",
          "options": {}
        },
        "id": "wc-embeddings",
        "name": "openai_embeddings",
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1,
        "position": [
          2240,
          400
        ],
        "credentials": {
          "openAiApi": {
            "id": "xSzPIySN61drme77",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ 'write_ch_' + ($json.project_id || 'unknown') + '_' + ($json.chapter_label || 'ch') }}",
          "contextWindowLength": 4
        },
        "id": "wc-memory",
        "name": "chapter_memory",
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          2096,
          224
        ]
      },
      {
        "parameters": {
          "jsCode": "// Check for failed sub-chapters\nconst allItems = $input.all();\nconst totalExpected = allItems[0]?.json?.total_sub_chapters || 0;\nconst successItems = allItems.filter(item => item.json?.output && item.json.output.length > 100);\nconst failedCount = totalExpected - successItems.length;\n\nconst items = $input.all();\nconst firstItem = $('build_sub_chapter_prompts').first().json;\nconst chapterLabel = firstItem.chapter_label || 'Chapter';\nconst meta = firstItem.chapter_outline_meta || {};\n\n// Collect all sub-chapter texts\nconst subChapterTexts = items.map((item, i) => {\n  const text = item.json.output || item.json.text || item.json.response || '';\n  return text;\n});\n\n// Concatenate with scene breaks\nconst fullText = subChapterTexts.join('\\n\\n---\\n\\n');\nconst wordCount = fullText.split(/\\s+/).length;\n\n// Build chapter summary from meta\nconst summary = meta.chapter_summary || 'Chapter written with ' + items.length + ' sub-chapters.';\n\nreturn [{ json: {\n  output: {\n    chapter_title: meta.chapter_title || chapterLabel,\n    chapter_text: fullText,\n    word_count: wordCount,\n    chapter_summary: summary,\n    next_chapter_notes: 'Continue to the next chapter per the book outline.',\n    new_story_bible_entries: []\n  }\n} }];"
        },
        "id": "wc-concat",
        "name": "concatenate_chapter",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1952,
          -400
        ]
      },
      {
        "parameters": {
          "jsCode": "// Update story bible with new entries from this chapter\nconst supabaseUrl = $('settings').first().json.SUPABASE_URL;\nconst apiKey = $('settings').first().json.SUPABASE_API_KEY;\nconst headers = { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey, 'Content-Type': 'application/json' };\nconst userId = $('settings').first().json.userId;\nconst projectId = $('build_sub_chapter_prompts').first().json.project_id;\nconst rawCh = ($('workflow_trigger').first().json.chapter_number || '').toString().trim();\nconst isProl = /^(prologue|prol|0)$/i.test(rawCh);\nconst isEpil = /^(epilogue|epil)$/i.test(rawCh);\nconst chapterNum = isProl ? 0 : (isEpil ? 999 : (parseInt(rawCh) || 0));\nconst chapterLabel = isProl ? 'Prologue' : (isEpil ? 'Epilogue' : rawCh);\nconst output = $input.first().json.output || {};\nconst newEntries = output.new_story_bible_entries || [];\n\n// Insert new story bible entries\nif (newEntries.length > 0 && projectId) {\n  try {\n    const entries = newEntries.map(e => ({\n      entry_type: e.entry_type,\n      name: e.name,\n      description: e.description,\n      project_id: projectId,\n      chapter_introduced: chapterNum,\n      last_chapter_seen: chapterNum,\n      user_id: userId\n    }));\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: supabaseUrl + '/rest/v1/story_bible_v2',\n      headers: headers,\n      body: entries\n    });\n  } catch (e) {}\n}\n\n// Update project chapter count\nif (projectId) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'PATCH',\n      url: supabaseUrl + '/rest/v1/writing_projects_v2?id=eq.' + projectId + '&user_id=eq.' + encodeURIComponent(userId),\n      headers: headers,\n      body: Object.assign({ status: 'in_progress', updated_at: new Date().toISOString() }, (!isProl && !isEpil) ? { chapter_count: chapterNum } : {})\n    });\n  } catch (e) {}\n}\n\nreturn [{ json: { output: output, project_id: projectId } }];"
        },
        "id": "ch-update",
        "name": "update_story_bible",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2368,
          -304
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('settings').first().json.SUPABASE_URL }}/storage/v1/object/author-content/drafts/chapter_{{ $('workflow_trigger').first().json.project_title?.toLowerCase().replace(/[^a-z0-9]+/g, '-').substring(0, 30) || 'book' }}_{{ /^(prologue|prol|0)$/i.test($('workflow_trigger').first().json.chapter_number) ? 'prologue' : (/^(epilogue|epil)$/i.test($('workflow_trigger').first().json.chapter_number) ? 'epilogue' : 'ch' + $('workflow_trigger').first().json.chapter_number) }}_{{ $now.format('yyyy-MM-dd_HHmmss') }}.md",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('settings').first().json.SUPABASE_SERVICE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('settings').first().json.SUPABASE_SERVICE_KEY }}"
              },
              {
                "name": "x-upsert",
                "value": "true"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "text/markdown",
          "body": "={{ $json.output?.chapter_text || '' }}",
          "options": {}
        },
        "id": "ch-save",
        "name": "save_draft",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2800,
          -400
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "sendTo": "={{ $('settings').first().json.recipient_email }}",
          "subject": "={{ $('workflow_trigger').first().json.project_title }} - {{ /^(prologue|prol|0)$/i.test($('workflow_trigger').first().json.chapter_number) ? 'Prologue' : (/^(epilogue|epil)$/i.test($('workflow_trigger').first().json.chapter_number) ? 'Epilogue' : 'Chapter ' + $('workflow_trigger').first().json.chapter_number) }}: {{ $('update_story_bible').first().json.output?.chapter_title || 'Draft' }}",
          "message": "={{ ($('workflow_trigger').first().json.user_prompt ? '<div style=\"background:#f0f0f0; border-left:4px solid #666; padding:12px 16px; margin-bottom:24px; font-family:sans-serif; font-size:14px; color:#333;\"><strong>Command:</strong> ' + $('workflow_trigger').first().json.user_prompt + '</div>' : '') + ($('update_story_bible').first().json.output?.chapter_text || '').replace(/\\n/g, '<br>') + ($('qa_parse_result').first().json.qa_html || '') }}",
          "options": {
            "appendAttribution": false,
            "bccList": "={{ $('settings').first().json.bcc_email }}"
          }
        },
        "id": "ch-email",
        "name": "send_email",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          4048,
          -400
        ],
        "webhookId": "2980b0e0-2638-4b1e-a72e-742faef985f5",
        "credentials": {
          "gmailOAuth2": {
            "id": "CPCSZOInV8Zj1PI1",
            "name": "Gmail account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "workflowId": {
            "value": "iWIcj915TYJQkdmC"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "story_title": "={{ $('workflow_trigger').first().json.project_title }} - {{ /^(prologue|prol|0)$/i.test($('workflow_trigger').first().json.chapter_number) ? 'Prologue' : (/^(epilogue|epil)$/i.test($('workflow_trigger').first().json.chapter_number) ? 'Epilogue' : 'Chapter ' + $('workflow_trigger').first().json.chapter_number) }}",
              "image_description": "=A cinematic cover image for the {{ /^(prologue|prol|0)$/i.test($('workflow_trigger').first().json.chapter_number) ? 'Prologue' : (/^(epilogue|epil)$/i.test($('workflow_trigger').first().json.chapter_number) ? 'Epilogue' : 'Chapter ' + $('workflow_trigger').first().json.chapter_number) }} of \"{{ $('workflow_trigger').first().json.project_title }}\".\n\nChapter synopsis: {{ $('workflow_trigger').first().json.brief }}\n\nOpening scene excerpt:\n{{ $('update_story_bible').first().json.output?.chapter_text?.substring(0, 1200) || 'No text available' }}\n\nCreate a single powerful visual scene capturing this chapter's key moment \u2014 the environment, lighting, character silhouettes, and atmospheric details. Do NOT include any text, titles, or words in the image.",
              "genre_slug": "={{ $('workflow_trigger').first().json.genre_slug }}",
              "content_type": "Book Chapter",
              "user_id": "={{ $('settings').first().json.userId }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "image_description",
                "displayName": "image_description",
                "type": "string",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "removed": false
              },
              {
                "id": "story_title",
                "displayName": "story_title",
                "type": "string",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "removed": false
              },
              {
                "id": "genre_slug",
                "displayName": "genre_slug",
                "type": "string",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "removed": false
              },
              {
                "id": "content_type",
                "displayName": "content_type",
                "type": "string",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "removed": false
              },
              {
                "id": "user_id",
                "displayName": "user_id",
                "type": "string",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "removed": false
              }
            ]
          },
          "options": {}
        },
        "id": "ch-cover",
        "name": "generate_cover_image",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          3920,
          48
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "cr1",
                "name": "result",
                "value": "={{ /^(prologue|prol|0)$/i.test($('workflow_trigger').first().json.chapter_number) ? 'Prologue' : (/^(epilogue|epil)$/i.test($('workflow_trigger').first().json.chapter_number) ? 'Epilogue' : 'Chapter ' + $('workflow_trigger').first().json.chapter_number) }} written: {{ $('update_story_bible').first().json.output?.chapter_title || 'Untitled' }} ({{ $('update_story_bible').first().json.output?.word_count || 0 }} words). Story bible updated with {{ ($('update_story_bible').first().json.output?.new_story_bible_entries || []).length }} new entries.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "ch-result",
        "name": "set_result",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          4272,
          -304
        ]
      },
      {
        "parameters": {
          "jsCode": "const supabaseUrl = $('settings').first().json.SUPABASE_URL;\nconst apiKey = $('settings').first().json.SUPABASE_API_KEY;\nconst userId = $('settings').first().json.userId;\nconst headers = { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey, 'Content-Type': 'application/json' };\nconst projectId = $('build_sub_chapter_prompts').first().json.project_id || null;\nconst rawCh = ($('workflow_trigger').first().json.chapter_number || '').toString().trim();\nconst isProl = /^(prologue|prol|0)$/i.test(rawCh);\nconst isEpil = /^(epilogue|epil)$/i.test(rawCh);\nconst chapterNum = isProl ? 0 : (isEpil ? 999 : (parseInt(rawCh) || null));\nconst newTitle = $('update_story_bible').first().json.output?.chapter_title || (isProl ? 'Prologue' : (isEpil ? 'Epilogue' : 'Chapter ' + rawCh));\nconst newText = $('update_story_bible').first().json.output?.chapter_text || '';\nconst genreSlug = $('workflow_trigger').first().json.genre_slug;\n\ntry {\n  // Check if a chapter with this project_id + chapter_number already exists\n  let existing = null;\n  if (projectId && chapterNum !== null) {\n    const resp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: supabaseUrl + '/rest/v1/published_content_v2?project_id=eq.' + projectId + '&chapter_number=eq.' + chapterNum + '&content_type=eq.chapter&user_id=eq.' + encodeURIComponent(userId) + '&order=created_at.desc&limit=1&select=id,title,content_text',\n      headers\n    });\n    if (Array.isArray(resp) && resp.length > 0 && resp[0].id) {\n      existing = resp[0];\n    }\n  }\n\n  if (existing) {\n    // Auto-snapshot the existing version before overwriting\n    const versionsResp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: supabaseUrl + '/rest/v1/content_versions_v2?content_id=eq.' + existing.id + '&order=version_number.desc&limit=1&select=version_number&user_id=eq.' + encodeURIComponent(userId),\n      headers\n    });\n    const maxVersion = Array.isArray(versionsResp) && versionsResp.length > 0 ? versionsResp[0].version_number : 0;\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: supabaseUrl + '/rest/v1/content_versions_v2',\n      headers: { ...headers, 'Prefer': 'return=minimal' },\n      body: {\n        content_id: existing.id,\n        version_number: maxVersion + 1,\n        content_text: existing.content_text || '',\n        changed_by: 'system',\n        change_note: 'Auto-snapshot before chapter rewrite',\n        created_at: new Date().toISOString(),\n        user_id: userId\n      }\n    });\n\n    // PATCH the existing row with new content\n    await this.helpers.httpRequest({\n      method: 'PATCH',\n      url: supabaseUrl + '/rest/v1/published_content_v2?id=eq.' + existing.id + '&user_id=eq.' + encodeURIComponent(userId),\n      headers: { ...headers, 'Prefer': 'return=minimal' },\n      body: {\n        title: newTitle,\n        content_text: newText,\n        storage_path: $json.Key || '',\n        updated_at: new Date().toISOString()\n      }\n    });\n  } else {\n    // No existing chapter \u2014 insert new\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: supabaseUrl + '/rest/v1/published_content_v2',\n      headers,\n      body: {\n        title: newTitle,\n        content_type: 'chapter',\n        genre_slug: genreSlug,\n        content_text: newText,\n        storage_path: $json.Key || '',\n        project_id: projectId,\n        chapter_number: chapterNum,\n        status: 'draft',\n        user_id: userId\n      }\n    });\n  }\n} catch (e) {\n  // Don't fail the workflow if draft insert/update fails\n}\n\nreturn $input.all();"
        },
        "id": "ch-draft",
        "name": "insert_draft",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3024,
          -400
        ]
      },
      {
        "parameters": {
          "jsCode": "const s = $('settings').first().json;\nconst trigger = $('workflow_trigger').first().json;\nconst chapterOutput = $('update_story_bible').first().json.output || {};\nconst promptData = $('build_sub_chapter_prompts').first().json;\nconst projectData = $('get_project_data').first().json;\nconst storedOutline = projectData.outline;\n\n// Get chapter text\nconst chapterText = chapterOutput.chapter_text || '';\nconst chapterTitle = chapterOutput.chapter_title || '';\n\n// Get book outline context\nlet bookOutlineText = '';\nif (storedOutline) {\n  const parts = [];\n  if (storedOutline.premise) parts.push('PREMISE: ' + storedOutline.premise);\n  if (storedOutline.themes) parts.push('THEMES: ' + storedOutline.themes.join(', '));\n  if (storedOutline.story_arc_name) parts.push('BOOK STORY ARC: ' + storedOutline.story_arc_name);\n  if (storedOutline.characters) {\n    parts.push('CHARACTERS:\\n' + storedOutline.characters.map(c =>\n      '- ' + c.name + ' (' + c.role + '): ' + c.arc\n    ).join('\\n'));\n  }\n  if (storedOutline.chapters) {\n    parts.push('CHAPTER OUTLINE:\\n' + storedOutline.chapters.map(ch =>\n      'Ch ' + ch.number + ' \u2014 ' + ch.title + ': ' + ch.brief + (ch.arc_notes ? ' [Arc: ' + ch.arc_notes + ']' : '')\n    ).join('\\n'));\n  }\n  bookOutlineText = parts.join('\\n\\n');\n}\n\n// Get chapter outline (sub-chapters)\nconst rawCh = (trigger.chapter_number || '').toString().trim();\nconst isProl = /^(prologue|prol|0)$/i.test(rawCh);\nconst isEpil = /^(epilogue|epil)$/i.test(rawCh);\nconst chNum = isProl ? 0 : (isEpil ? -1 : parseInt(rawCh));\nlet chapterOutlineText = 'No chapter outline found.';\nlet thisChapter = null;\nif (storedOutline?.chapters) {\n  if (isProl) thisChapter = storedOutline.chapters.find(ch => ch.number === 0 || /prologue/i.test(ch.title));\n  else if (isEpil) thisChapter = storedOutline.chapters.find(ch => /epilogue/i.test(ch.title));\n  else thisChapter = storedOutline.chapters.find(ch => ch.number === chNum);\n}\nif (thisChapter?.chapter_outline?.sub_chapters) {\n  const co = thisChapter.chapter_outline;\n  chapterOutlineText = 'Chapter Story Arc: ' + (co.chapter_story_arc || 'Same as book') + '\\n' +\n    'Book Arc Beat: ' + (co.book_arc_beat || '') + '\\n' +\n    co.sub_chapters.map(sc =>\n      'Sub-chapter ' + sc.number + ': ' + sc.title + '\\n' +\n      '  Brief: ' + sc.brief + '\\n' +\n      '  Characters: ' + (sc.characters || []).join(', ')\n    ).join('\\n\\n');\n}\n\n// Load story arc prompts for validation\nconst bookArcName = storedOutline?.story_arc_name || '';\nconst bookArcPrompt = s.book_arc_prompt || '';\nlet chapterArcName = '';\nlet chapterArcPrompt = '';\nif (thisChapter?.chapter_outline) {\n  chapterArcName = thisChapter.chapter_outline.chapter_story_arc || bookArcName;\n  chapterArcPrompt = s.chapter_arc_prompt || '';\n}\n\n// Build story arc context for Q/A\nlet storyArcContext = '';\nif (bookArcName) {\n  storyArcContext += '\\nBOOK STORY ARC: ' + bookArcName;\n  if (bookArcPrompt) {\n    // Extract just the key structural rules (first 2000 chars of arc prompt)\n    const arcRules = bookArcPrompt.substring(0, 2000);\n    storyArcContext += '\\nKey structural requirements:\\n' + arcRules;\n  }\n}\nif (chapterArcName && chapterArcName !== bookArcName) {\n  storyArcContext += '\\n\\nCHAPTER STORY ARC: ' + chapterArcName;\n  if (chapterArcPrompt) {\n    const chArcRules = chapterArcPrompt.substring(0, 2000);\n    storyArcContext += '\\nKey structural requirements:\\n' + chArcRules;\n  }\n}\n\n// Build Q/A prompt\nconst qaPrompt = `You are a story consistency auditor. A chapter has just been written. Your job is to verify it against the book outline, chapter outline, and the story arc frameworks being used. Be thorough but fair.\n\n## BOOK OUTLINE\n${bookOutlineText}\n\n## STORY ARC FRAMEWORKS\n${storyArcContext || 'No story arc specified.'}\n\n## CHAPTER OUTLINE (SUB-CHAPTERS)\n${chapterOutlineText}\n\n## CHAPTER JUST WRITTEN\nTitle: ${chapterTitle}\n${chapterText.substring(0, 60000)}${chapterText.length > 60000 ? '\\n...[truncated for review]' : ''}\n\n## VALIDATION CHECKLIST\nFor each item, respond PASS or FAIL with a brief explanation:\n\n1. **Character Consistency**: Do all character names in the written chapter match the book outline exactly? Are there any invented, renamed, or missing characters?\n2. **Book Arc Advancement**: Does this chapter advance the book's story arc as described in the book outline's arc_notes for this chapter?\n3. **Chapter Outline Adherence**: Does the written chapter follow the sub-chapter sequence from the chapter outline? Sub-chapters are separated by their TITLE as a heading (e.g., 'The Committee Room', 'The Evidence Speaks') \u2014 NOT by numbers. Look for these title headings to identify sub-chapter boundaries. Are all sub-chapters from the outline represented as titled sections?\n4. **Plot Consistency**: Does the chapter contradict any established plot points, events, or character relationships from the book outline?\n5. **Theme Alignment**: Does the chapter support the book's stated themes, or does it drift toward unrelated themes?\n6. **Story Drift Risk**: Is there any subtle change in the story's direction that could take the narrative off its intended path? (e.g., a character making a decision that contradicts their arc, a plot thread introduced that wasn't in the outline)\n7. **Book Story Arc Compliance**: Does this chapter fulfill its assigned role in the BOOK's story arc (${bookArcName || 'not specified'})? Check: does the chapter hit the structural beat assigned to it in the book outline's arc_notes? Does the emotional progression match what the arc framework requires at this position in the story?\n8. **Chapter Story Arc Compliance**: If this chapter uses its own story arc (${chapterArcName || 'same as book'}), does the internal structure of the chapter follow that arc's framework? Are the sub-chapters organized according to the arc's beats/stages? Does the chapter's internal emotional progression follow the arc's prescribed pattern?\n9. **Arc Contradiction Check**: Does anything in this chapter CONTRADICT the story arc's rules? For example: if the book arc says this chapter should be the \"Ordeal\" (Hero's Journey), does the chapter actually deliver a crisis/ordeal? If the chapter arc is Kish\u014dtenketsu, is there forced conflict where the arc says there should be contrast? Flag any structural violations.\n\n## OUTPUT FORMAT\nReturn JSON with:\n- overall_status: \"PASS\" or \"NEEDS_REVIEW\" (use NEEDS_REVIEW if ANY item is FAIL)\n- checks: array of {name, status (\"PASS\" or \"FAIL\"), detail}\n- summary: one paragraph summarizing the chapter's consistency\n- concerns: array of strings listing any specific issues (empty if all PASS)`;\n\n// Call Claude for Q/A validation\n\nreturn [{ json: { qaPrompt } }];"
        },
        "id": "wc-qa-prompt",
        "name": "qa_build_prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3248,
          -400
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.qaPrompt }}"
        },
        "id": "wc-qa-llm",
        "name": "qa_llm_chain",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.4,
        "position": [
          3472,
          -400
        ],
        "retryOnFail": true,
        "maxTries": 2,
        "waitBetweenTries": 120000,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "model": "claude-sonnet-4-20250514",
          "options": {
            "maxTokensToSample": 4096,
            "temperature": 0.3
          }
        },
        "id": "wc-qa-claude",
        "name": "qa_claude",
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.2,
        "position": [
          3536,
          -176
        ],
        "retryOnFail": true,
        "maxTries": 2,
        "waitBetweenTries": 60000,
        "credentials": {
          "anthropicApi": {
            "id": "5LhCYKsaFO3fF7II",
            "name": "Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const qaText = $input.first().json.text || $input.first().json.output?.text || '';\n\nlet qaResult;\ntry {\n  const jsonMatch = qaText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    qaResult = JSON.parse(jsonMatch[0]);\n  } else {\n    qaResult = { overall_status: 'UNKNOWN', summary: qaText.substring(0, 500), checks: [], concerns: ['Could not parse Q/A response as JSON'] };\n  }\n} catch (e) {\n  qaResult = { overall_status: 'UNKNOWN', summary: qaText.substring(0, 500), checks: [], concerns: ['JSON parse error: ' + e.message] };\n}\n\nconst statusColor = qaResult.overall_status === 'PASS' ? '#2d8a4e' : (qaResult.overall_status === 'NEEDS_REVIEW' ? '#c9302c' : '#888');\n\nlet checksHtml = '';\nif (qaResult.checks && qaResult.checks.length > 0) {\n  checksHtml = qaResult.checks.map(c =>\n    '<tr><td style=\"padding:4px 8px;\">' + (c.status === 'PASS' ? '\u2705' : '\u274c') + ' ' + c.name + '</td><td style=\"padding:4px 8px;\">' + c.detail + '</td></tr>'\n  ).join('');\n}\n\nconst qaHtml = '<div style=\"border:2px solid ' + statusColor + '; border-radius:8px; padding:16px; margin-top:24px; font-family:sans-serif;\">' +\n  '<h2 style=\"color:' + statusColor + '; margin-top:0;\">Story Consistency Report: ' + qaResult.overall_status + '</h2>' +\n  '<p>' + (qaResult.summary || '') + '</p>' +\n  (checksHtml ? '<table style=\"width:100%; border-collapse:collapse; margin:12px 0;\"><tr style=\"background:#f5f5f5;\"><th style=\"text-align:left; padding:4px 8px;\">Check</th><th style=\"text-align:left; padding:4px 8px;\">Detail</th></tr>' + checksHtml + '</table>' : '') +\n  (qaResult.concerns && qaResult.concerns.length > 0 ? '<h3 style=\"color:#c9302c;\">Concerns:</h3><ul>' + qaResult.concerns.map(c => '<li>' + c + '</li>').join('') + '</ul>' : '') +\n  '</div>';\n\n\n\n// Store Q/A report in Supabase for future reference\nconst supabaseUrl = $('settings').first().json.SUPABASE_URL;\nconst apiKey = $('settings').first().json.SUPABASE_API_KEY;\nconst userId = $('settings').first().json.userId;\nconst projectId = $('build_sub_chapter_prompts').first().json.project_id;\nconst chapterLabel = $('build_sub_chapter_prompts').first().json.chapter_label;\nconst chapterMeta = $('build_sub_chapter_prompts').first().json.chapter_outline_meta || {};\n\nif (projectId && supabaseUrl) {\n  try {\n    // Upsert Q/A report into writing_projects_v2 outline metadata\n    const projResp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: supabaseUrl + '/rest/v1/writing_projects_v2?id=eq.' + projectId + '&select=outline&limit=1',\n      headers: { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey }\n    });\n    if (Array.isArray(projResp) && projResp.length > 0) {\n      const outline = projResp[0].outline || {};\n      const chNum = chapterMeta.chapter_number;\n      if (outline.chapters) {\n        for (let i = 0; i < outline.chapters.length; i++) {\n          if (outline.chapters[i].number === chNum) {\n            outline.chapters[i].last_qa_report = {\n              status: qaResult.overall_status,\n              checks: qaResult.checks,\n              concerns: qaResult.concerns,\n              summary: qaResult.summary,\n              timestamp: new Date().toISOString()\n            };\n            break;\n          }\n        }\n        // Auto-snapshot before Q/A update\n        try {\n          const verResp = await this.helpers.httpRequest({\n            method: 'GET',\n            url: supabaseUrl + '/rest/v1/outline_versions_v2?project_id=eq.' + projectId + '&order=version_number.desc&limit=1&select=version_number&user_id=eq.' + encodeURIComponent(userId),\n            headers: { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey }\n          });\n          const maxV = (Array.isArray(verResp) && verResp.length > 0) ? verResp[0].version_number : 0;\n          await this.helpers.httpRequest({\n            method: 'POST',\n            url: supabaseUrl + '/rest/v1/outline_versions_v2',\n            headers: { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey, 'Content-Type': 'application/json' },\n            body: { project_id: projectId, version_number: maxV + 1, outline: projResp[0].outline, revision_note: 'Auto-snapshot before Q/A update', user_id: userId }\n          });\n        } catch (snapErr) { /* snapshot is best-effort */ }\n\n        await this.helpers.httpRequest({\n          method: 'PATCH',\n          url: supabaseUrl + '/rest/v1/writing_projects_v2?id=eq.' + projectId + '&user_id=eq.' + encodeURIComponent(userId),\n          headers: { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey, 'Content-Type': 'application/json' },\n          body: { outline }\n        });\n      }\n    }\n  } catch (e) { /* Q/A storage is best-effort */ }\n}\n\nreturn [{ json: { qa_report: qaResult, qa_html: qaHtml, qa_status: qaResult.overall_status || 'UNKNOWN' } }];"
        },
        "id": "wc-qa-parse",
        "name": "qa_parse_result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3824,
          -400
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "DTjjVk51Z9aHgAg0",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "project_id": "={{ $json.project_id || '' }}",
              "user_id": "={{ $('settings').first().json.userId || '' }}",
              "openai_api_key": ""
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "project_id",
                "displayName": "project_id",
                "type": "string",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "removed": false
              },
              {
                "id": "user_id",
                "displayName": "user_id",
                "type": "string",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "removed": false
              },
              {
                "id": "openai_api_key",
                "displayName": "openai_api_key",
                "type": "string",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "removed": false
              }
            ]
          },
          "options": {}
        },
        "id": "embed-call",
        "name": "re_embed_project",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          2720,
          0
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "dk75OYTASeu6NkTr",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "execution_id": "={{ $execution.id }}",
              "source_workflow_name": "Write Chapter Worker"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "execution_id",
                "displayName": "execution_id",
                "type": "string",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "removed": false
              },
              {
                "id": "source_workflow_name",
                "displayName": "source_workflow_name",
                "type": "string",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "removed": false
              }
            ]
          },
          "mode": "each",
          "options": {
            "waitForSubWorkflow": false
          }
        },
        "id": "tt-call",
        "name": "track_token_usage",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          4512,
          -96
        ],
        "onError": "continueRegularOutput"
      }
    ],
    "connections": {
      "webhook_trigger": {
        "main": [
          [
            {
              "node": "settings",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "workflow_trigger": {
        "main": [
          [
            {
              "node": "get_genre_config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "get_genre_config": {
        "main": [
          [
            {
              "node": "get_project_data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "get_project_data": {
        "main": [
          [
            {
              "node": "research_topic",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "research_topic": {
        "main": [
          [
            {
              "node": "build_sub_chapter_prompts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "build_sub_chapter_prompts": {
        "main": [
          [
            {
              "node": "Loop Over Sub-Chapters",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Sub-Chapters": {
        "main": [
          [
            {
              "node": "concatenate_chapter",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "rate_limit_delay",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "rate_limit_delay": {
        "main": [
          [
            {
              "node": "write_sub_chapter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "write_sub_chapter": {
        "main": [
          [
            {
              "node": "Loop Over Sub-Chapters",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "claude-sonnet": {
        "ai_languageModel": [
          [
            {
              "node": "write_sub_chapter",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "chapter_memory": {
        "ai_memory": [
          [
            {
              "node": "write_sub_chapter",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "supabase_vector_store": {
        "ai_tool": [
          [
            {
              "node": "write_sub_chapter",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "openai_embeddings": {
        "ai_embedding": [
          [
            {
              "node": "supabase_vector_store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "concatenate_chapter": {
        "main": [
          [
            {
              "node": "update_story_bible",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "update_story_bible": {
        "main": [
          [
            {
              "node": "save_draft",
              "type": "main",
              "index": 0
            },
            {
              "node": "generate_cover_image",
              "type": "main",
              "index": 0
            },
            {
              "node": "re_embed_project",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "save_draft": {
        "main": [
          [
            {
              "node": "insert_draft",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "insert_draft": {
        "main": [
          [
            {
              "node": "qa_build_prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "qa_build_prompt": {
        "main": [
          [
            {
              "node": "qa_llm_chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "qa_claude": {
        "ai_languageModel": [
          [
            {
              "node": "qa_llm_chain",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "qa_llm_chain": {
        "main": [
          [
            {
              "node": "qa_parse_result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "qa_parse_result": {
        "main": [
          [
            {
              "node": "send_email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "send_email": {
        "main": [
          [
            {
              "node": "set_result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "generate_cover_image": {
        "main": [
          [
            {
              "node": "set_result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "settings": {
        "main": [
          [
            {
              "node": "workflow_trigger",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "set_result": {
        "main": [
          [
            {
              "node": "track_token_usage",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Eric Beser",
    "name": "Version 63c0beec",
    "description": "changed layout",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-29T16:28:23.748Z",
        "id": 1377,
        "workflowId": "VxO2eG6uvImqaPA2",
        "versionId": "63c0beec-54de-4efb-881f-98ea0749d189",
        "event": "activated",
        "userId": "fd7cc91d-5051-4455-95a6-842a68ceadb7"
      }
    ]
  }
}