workflows/13_sub_manage_library_v2.json
{
  "updatedAt": "2026-04-01T13:55:25.939Z",
  "createdAt": "2026-03-15T16:42:22.177Z",
  "id": "QJFwA21FgfRmrSap",
  "name": "Sub - Manage Library V2",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "trigger-001",
      "name": "workflow_trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "set-url",
              "name": "SUPABASE_URL",
              "value": "https://faklxfakgzkpkbxfihzh.supabase.co",
              "type": "string"
            },
            {
              "id": "set-key",
              "name": "SUPABASE_API_KEY",
              "value": "REDACTED_SUPABASE_KEY",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-001",
      "name": "settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const supabaseUrl = $('settings').first().json.SUPABASE_URL;\nconst apiKey = $('settings').first().json.SUPABASE_API_KEY;\nconst headers = { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey, 'Content-Type': 'application/json' };\nconst trigger = $('workflow_trigger').first().json;\nconst userId = trigger.user_id || '';\nconst userFilter = userId ? '&user_id=eq.' + encodeURIComponent(userId) : '';\nconst operation = trigger.operation || 'list_drafts';\nlet contentId = trigger.content_id || '';\nconst contentTitle = trigger.content_title || '';\nconst triggerChapterNumber = trigger.chapter_number || '';\nconst triggerProjectTitle = trigger.project_title || '';\nconst typeFilter = trigger.content_type_filter || '';\nconst scheduleDate = trigger.schedule_date || '';\n\n// Resolve \"prologue\"/\"epilogue\" to chapter_number before title lookup\nconst isPrologueRef = /\\bprologue\\b/i.test(contentTitle.trim()) && !/chapter\\s*\\d/i.test(contentTitle.trim());\nconst isEpilogueRef = /\\bepilogue\\b/i.test(contentTitle.trim()) && !/chapter\\s*\\d/i.test(contentTitle.trim());\nlet prologueEpilogueProjectFilter = '';\nif (isPrologueRef || isEpilogueRef) {\n  const projName = contentTitle.replace(/\\b(the\\s+)?(prologue|epilogue)\\b/gi, '').replace(/[\\s\\-\u2014]+/g, ' ').replace(/^\\s*(of|from|for|in)\\s+/i, '').trim();\n  if (projName) {\n    const projResp = await this.helpers.httpRequest({ method: 'GET', url: supabaseUrl + '/rest/v1/writing_projects_v2?title=ilike.*' + encodeURIComponent(projName) + '*&select=id&limit=1' + userFilter, headers });\n    if (Array.isArray(projResp) && projResp.length > 0) {\n      prologueEpilogueProjectFilter = '&project_id=eq.' + projResp[0].id;\n    }\n  }\n}\n\n// Title \u2192 ID resolution: if content_title is provided but content_id is not, look it up\nif (!contentId && contentTitle && ['approve', 'publish', 'reject', 'delete', 'undelete', 'schedule', 'unschedule', 'unpublish', 'list_versions', 'get_version', 'save_version'].includes(operation)) {\n  // Fetch all title matches, then filter by valid status in JS (PostgREST ignores status filter with ilike)\n  let lookupUrl;\n  if (isPrologueRef) {\n    lookupUrl = supabaseUrl + '/rest/v1/published_content_v2?chapter_number=eq.0&content_type=eq.chapter&order=created_at.desc&select=id,title,content_type,genre_slug,status,created_at' + userFilter + prologueEpilogueProjectFilter;\n  } else if (isEpilogueRef) {\n    lookupUrl = supabaseUrl + '/rest/v1/published_content_v2?chapter_number=eq.999&content_type=eq.chapter&order=created_at.desc&select=id,title,content_type,genre_slug,status,created_at' + userFilter + prologueEpilogueProjectFilter;\n  } else {\n    // Check if this is a \"Chapter N\" or \"Project - Chapter N\" reference\n    const chapterMatch = contentTitle.match(/chapter\\s*(\\d+)/i);\n    if (chapterMatch) {\n      const chNum = parseInt(chapterMatch[1]);\n      const chProjName = contentTitle.replace(/[-\u2014]?\\s*chapter\\s*\\d+/i, '').replace(/^[\\s\\-\u2014]+|[\\s\\-\u2014]+$/g, '').trim();\n      let chProjectFilter = '';\n      if (chProjName) {\n        const chProjResp = await this.helpers.httpRequest({ method: 'GET', url: supabaseUrl + '/rest/v1/writing_projects_v2?title=ilike.*' + encodeURIComponent(chProjName) + '*&select=id&limit=1' + userFilter, headers });\n        if (Array.isArray(chProjResp) && chProjResp.length > 0) {\n          chProjectFilter = '&project_id=eq.' + chProjResp[0].id;\n        }\n      }\n      lookupUrl = supabaseUrl + '/rest/v1/published_content_v2?chapter_number=eq.' + chNum + '&content_type=eq.chapter&order=created_at.desc&select=id,title,content_type,genre_slug,status,created_at' + userFilter + chProjectFilter;\n    } else {\n      lookupUrl = supabaseUrl + '/rest/v1/published_content_v2?title=ilike.' + encodeURIComponent(contentTitle) + '&order=created_at.desc&select=id,title,content_type,genre_slug,status,created_at' + userFilter;\n    }\n  }\n  if (typeFilter) lookupUrl += '&content_type=eq.' + typeFilter;\n  const allMatches = await this.helpers.httpRequest({ method: 'GET', url: lookupUrl, headers });\n  const validStatuses = operation === 'approve' ? ['draft']\n    : operation === 'publish' ? ['approved']\n    : operation === 'reject' ? ['draft', 'approved']\n    : operation === 'schedule' ? ['draft', 'approved']\n    : operation === 'unschedule' ? ['scheduled']\n    : operation === 'unpublish' ? ['published']\n    : operation === 'delete' ? ['draft', 'approved', 'rejected', 'scheduled']\n    : operation === 'undelete' ? ['deleted']\n    : null;\n  let matches = validStatuses\n    ? (Array.isArray(allMatches) ? allMatches.filter(m => validStatuses.includes(m.status)) : [])\n    : (Array.isArray(allMatches) ? allMatches : []);\n  // Fallback 1: use explicit chapter_number + project_title if provided\n  if ((!Array.isArray(matches) || matches.length === 0) && triggerChapterNumber) {\n    let fbChNum = null;\n    if (/^(prologue|prol|0)$/i.test(triggerChapterNumber)) fbChNum = 0;\n    else if (/^(epilogue|epil)$/i.test(triggerChapterNumber)) fbChNum = 999;\n    else if (/^\\d+$/.test(triggerChapterNumber)) fbChNum = parseInt(triggerChapterNumber);\n    if (fbChNum !== null) {\n      let fbProjFilter2 = '';\n      if (triggerProjectTitle) {\n        const fp2 = await this.helpers.httpRequest({ method: 'GET', url: supabaseUrl + '/rest/v1/writing_projects_v2?title=ilike.*' + encodeURIComponent(triggerProjectTitle) + '*&select=id&limit=1' + userFilter, headers });\n        if (Array.isArray(fp2) && fp2.length > 0) fbProjFilter2 = '&project_id=eq.' + fp2[0].id;\n      }\n      const fb2Resp = await this.helpers.httpRequest({ method: 'GET', url: supabaseUrl + '/rest/v1/published_content_v2?chapter_number=eq.' + fbChNum + '&content_type=eq.chapter&order=created_at.desc&select=id,title,content_type,genre_slug,status,created_at' + userFilter + fbProjFilter2, headers });\n      if (Array.isArray(fb2Resp) && fb2Resp.length > 0) {\n        matches = validStatuses ? fb2Resp.filter(m => validStatuses.includes(m.status)) : fb2Resp;\n      }\n    }\n  }\n  // Fallback 2: if title lookup failed and contentTitle looks like it could be a chapter reference, try chapter_number\n  if ((!Array.isArray(matches) || matches.length === 0) && !isPrologueRef && !isEpilogueRef) {\n    const fallbackChMatch = contentTitle.match(/chapter\\s*(\\d+)/i);\n    const fallbackProl = /\\bprologue\\b/i.test(contentTitle);\n    const fallbackEpil = /\\bepilogue\\b/i.test(contentTitle);\n    const fallbackChNum = fallbackChMatch ? parseInt(fallbackChMatch[1]) : (fallbackProl ? 0 : (fallbackEpil ? 999 : null));\n    if (fallbackChNum !== null) {\n      const fbProjName = contentTitle.replace(/[-\u2014]?\\s*(chapter\\s*\\d+|prologue|epilogue)/i, '').replace(/^[\\s\\-\u2014]+|[\\s\\-\u2014]+$/g, '').replace(/^\\s*(of|from|for|in|the)\\s+/i, '').trim();\n      let fbProjFilter = '';\n      if (fbProjName) {\n        const fbProjResp = await this.helpers.httpRequest({ method: 'GET', url: supabaseUrl + '/rest/v1/writing_projects_v2?title=ilike.*' + encodeURIComponent(fbProjName) + '*&select=id&limit=1' + userFilter, headers });\n        if (Array.isArray(fbProjResp) && fbProjResp.length > 0) fbProjFilter = '&project_id=eq.' + fbProjResp[0].id;\n      }\n      const fbResp = await this.helpers.httpRequest({ method: 'GET', url: supabaseUrl + '/rest/v1/published_content_v2?chapter_number=eq.' + fallbackChNum + '&content_type=eq.chapter&order=created_at.desc&select=id,title,content_type,genre_slug,status,created_at' + userFilter + fbProjFilter, headers });\n      if (Array.isArray(fbResp) && fbResp.length > 0) {\n        matches = validStatuses ? fbResp.filter(m => validStatuses.includes(m.status)) : fbResp;\n      }\n    }\n  }\n  if (!Array.isArray(matches) || matches.length === 0) {\n    const statusMsg = operation === 'approve' ? 'only drafts can be approved'\n      : operation === 'publish' ? 'only approved items can be published \u2014 use approve first'\n      : operation === 'reject' ? 'only draft or approved items can be rejected'\n      : operation === 'schedule' ? 'only draft or approved items can be scheduled'\n      : operation === 'unschedule' ? 'only scheduled items can be unscheduled'\n      : operation === 'unpublish' ? 'only published items can be unpublished'\n      : operation === 'delete' ? 'published items must be unpublished first before deleting'\n      : operation === 'undelete' ? 'only deleted items can be undeleted'\n      : '';\n    return [{ json: { result: 'FAILED \u2014 NOTHING WAS APPROVED/CHANGED. No eligible content found with title \"' + contentTitle + '\"' + (statusMsg ? ' (' + statusMsg + ')' : '') + '. Use list_drafts or list_approved to see available items.', send_notification: false } }];\n  } else if (matches.length > 1) {\n    const uniqueTypes = [...new Set(matches.map(m => m.content_type))];\n    const letters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';\n    const lines = matches.map((m, i) => letters[i] + '. ' + m.title + ' \u2014 ' + m.content_type + ' \u2014 ' + new Date(m.created_at || 0).toLocaleDateString() + ' \u2014 ' + m.status + ' [ID:' + m.id + ']');\n    const display = lines.join('\\n');\n    return [{ json: { result: 'NEEDS_CLARIFICATION \u2014 say this to the user word for word:\\nI found ' + matches.length + ' items with that title. Which one?\\n' + display + '\\nReply A, B, C etc. (agent: once user picks, call manage_library again with content_id from the matching [ID:...] above)', send_notification: false } }];\n  } else {\n    contentId = matches[0].id;\n  }\n}\nlet recipientEmail = trigger.recipient_email;\nlet bccEmail = trigger.bcc_email;\nif (!recipientEmail) {\n  try {\n    const emailRows = await this.helpers.httpRequest({\n      method: 'GET',\n      url: supabaseUrl + '/rest/v1/app_config_v2?key=in.(recipient_email,bcc_email)&select=key,value' + userFilter,\n      headers: { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey }\n    });\n    for (const row of emailRows) {\n      if (row.key === 'recipient_email') recipientEmail = row.value;\n      if (row.key === 'bcc_email') bccEmail = row.value;\n    }\n  } catch (e) {\n    recipientEmail = 'eric@agileadtesting.com';\n    bccEmail = '';\n  }\n}\nrecipientEmail = recipientEmail || 'eric@agileadtesting.com';\nbccEmail = bccEmail || '';\n\nlet result = '';\nlet send_notification = false;\nlet notification_subject = '';\nlet notification_body = '';\nlet content_title = '';\n\n// Helper: save a version snapshot to content_versions\nasync function saveVersionSnapshot(cId, changedBy, changeNote) {\n  // GET current content_text and title\n  const contentResp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: supabaseUrl + '/rest/v1/published_content_v2?id=eq.' + cId + '&select=content_text,title' + userFilter,\n    headers\n  });\n  const contentRow = Array.isArray(contentResp) && contentResp.length > 0 ? contentResp[0] : null;\n  if (!contentRow) return null;\n\n  // GET max version_number\n  const versionsResp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: supabaseUrl + '/rest/v1/content_versions_v2?content_id=eq.' + cId + '&order=version_number.desc&limit=1&select=version_number' + userFilter,\n    headers\n  });\n  const maxVersion = Array.isArray(versionsResp) && versionsResp.length > 0 ? versionsResp[0].version_number : 0;\n  const newVersion = maxVersion + 1;\n\n  // POST new version\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: supabaseUrl + '/rest/v1/content_versions_v2',\n    headers: { ...headers, 'Prefer': 'return=minimal' },\n    body: {\n      content_id: cId,\n      version_number: newVersion,\n      content_text: contentRow.content_text || '',\n      changed_by: changedBy,\n      change_note: changeNote,\n      created_at: new Date().toISOString(),\n      ...(userId ? { user_id: userId } : {})\n    }\n  });\n  return { version_number: newVersion, title: contentRow.title };\n}\n\n// Helper: build notification HTML\nfunction buildNotification(op, title, newStatus) {\n  const now = new Date().toISOString();\n  notification_subject = 'Content Library: ' + op.charAt(0).toUpperCase() + op.slice(1) + ' - ' + (title || 'Untitled');\n  notification_body = '<h2>Content Library Update</h2>' +\n    '<p><strong>Action:</strong> ' + op + '</p>' +\n    '<p><strong>Title:</strong> ' + (title || 'Untitled') + '</p>' +\n    '<p><strong>New Status:</strong> ' + newStatus + '</p>' +\n    '<p><strong>Time:</strong> ' + now + '</p>';\n  send_notification = true;\n}\n\nif (operation === 'email_content') {\n  // Email any content type: outline, research, chapter, short_story, blog_post, newsletter\n  const emailType = typeFilter || 'outline';\n  const searchTitle = contentTitle || '';\n  if (!searchTitle) {\n    result = 'Error: content_title is required for email_content. Specify the title of the content to email.';\n  } else {\n    let fetchedTitle = '';\n    let fetchedContent = '';\n    let fetchedGenre = '';\n    // Helper: basic markdown to HTML\n    function md2html(md) {\n      let h = md.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n      h = h.replace(/^### (.+)$/gm, '<h3>$1</h3>');\n      h = h.replace(/^## (.+)$/gm, '<h2>$1</h2>');\n      h = h.replace(/^# (.+)$/gm, '<h1>$1</h1>');\n      h = h.replace(/\\*\\*(.+?)\\*\\*/g, '<strong>$1</strong>');\n      h = h.replace(/\\*(.+?)\\*/g, '<em>$1</em>');\n      h = h.replace(/^[-*] (.+)$/gm, '<li>$1</li>');\n      h = h.replace(/(<li>.*<\\/li>)/gs, '<ul>$1</ul>');\n      h = h.replace(/<\\/ul>\\s*<ul>/g, '');\n      h = h.replace(/\\n\\n/g, '</p><p>');\n      h = '<p>' + h + '</p>';\n      h = h.replace(/<p><h([123])>/g, '<h$1>').replace(/<\\/h([123])><\\/p>/g, '</h$1>');\n      h = h.replace(/<p><ul>/g, '<ul>').replace(/<\\/ul><\\/p>/g, '</ul>');\n      return h;\n    }\n    // Helper: format outline JSON to HTML\n    function outlineToHtml(outline) {\n      if (!outline || typeof outline !== 'object') return '<p>No outline data.</p>';\n      let html = '<h1>' + (outline.title || 'Untitled') + '</h1>';\n      if (outline.premise) html += '<p><strong>Premise:</strong> ' + outline.premise + '</p>';\n      if (outline.themes && Array.isArray(outline.themes)) html += '<p><strong>Themes:</strong> ' + outline.themes.join(', ') + '</p>';\n      if (outline.characters && Array.isArray(outline.characters)) {\n        html += '<h2>Characters</h2><ul>';\n        for (const c of outline.characters) {\n          html += '<li><strong>' + (c.name || 'Unknown') + '</strong> (' + (c.role || '') + ') \u2014 ' + (c.description || '') + (c.arc ? '<br/><em>Arc: ' + c.arc + '</em>' : '') + '</li>';\n        }\n        html += '</ul>';\n      }\n      if (outline.chapters && Array.isArray(outline.chapters)) {\n        html += '<h2>Chapters</h2>';\n        for (const ch of outline.chapters) {\n          const num = ch.number === 0 ? 'Prologue' : ch.number === 999 ? 'Epilogue' : 'Chapter ' + ch.number;\n          html += '<h3>' + num + ': ' + (ch.title || 'Untitled') + '</h3>';\n          if (ch.brief) html += '<p>' + ch.brief + '</p>';\n          if (ch.arc_notes) html += '<p><em>Arc notes: ' + ch.arc_notes + '</em></p>';\n          if (ch.research_topics && Array.isArray(ch.research_topics) && ch.research_topics.length > 0) html += '<p><em>Research: ' + ch.research_topics.join(', ') + '</em></p>';\n        }\n      }\n      return html;\n    }\n    try {\n      if (emailType === 'outline') {\n        const resp = await this.helpers.httpRequest({ method: 'GET', url: supabaseUrl + '/rest/v1/writing_projects_v2?title=ilike.' + encodeURIComponent(searchTitle) + '&select=title,genre_slug,outline&outline=not.is.null&limit=1' + userFilter, headers });\n        if (Array.isArray(resp) && resp.length > 0 && resp[0].outline && Object.keys(resp[0].outline).length > 0) {\n          fetchedTitle = resp[0].title;\n          fetchedGenre = resp[0].genre_slug || '';\n          fetchedContent = outlineToHtml(resp[0].outline);\n        } else {\n          result = 'Error: No outline found for \"' + searchTitle + '\".';\n        }\n      } else if (emailType === 'research') {\n        const resp = await this.helpers.httpRequest({ method: 'GET', url: supabaseUrl + '/rest/v1/research_reports_v2?topic=ilike.' + encodeURIComponent('%' + searchTitle + '%') + '&select=topic,genre_slug,content&order=created_at.desc&limit=1' + userFilter, headers });\n        if (Array.isArray(resp) && resp.length > 0 && resp[0].content) {\n          fetchedTitle = resp[0].topic;\n          fetchedGenre = resp[0].genre_slug || '';\n          fetchedContent = md2html(resp[0].content);\n        } else {\n          result = 'Error: No research report found matching \"' + searchTitle + '\".';\n        }\n      } else {\n        // chapter, short_story, blog_post, newsletter \u2014 from published_content_v2\n        let url = supabaseUrl + '/rest/v1/published_content_v2?title=ilike.' + encodeURIComponent(searchTitle) + '&select=title,genre_slug,content_text,content_type&order=created_at.desc&limit=1' + userFilter;\n        if (emailType && emailType !== 'any') url += '&content_type=eq.' + emailType;\n        const resp = await this.helpers.httpRequest({ method: 'GET', url, headers });\n        if (Array.isArray(resp) && resp.length > 0 && resp[0].content_text) {\n          fetchedTitle = resp[0].title;\n          fetchedGenre = resp[0].genre_slug || '';\n          fetchedContent = md2html(resp[0].content_text);\n        } else {\n          result = 'Error: No ' + emailType + ' found matching \"' + searchTitle + '\".';\n        }\n      }\n      if (fetchedContent && !result) {\n        const genreLabel = fetchedGenre ? ' (' + fetchedGenre + ')' : '';\n        notification_subject = fetchedTitle + genreLabel;\n        notification_body = '<div style=\"font-family: Georgia, serif; max-width: 800px; margin: 0 auto; padding: 20px;\">' + fetchedContent + '</div>';\n        send_notification = true;\n        result = 'Email sent: \"' + fetchedTitle + '\" (' + emailType + ') has been emailed to you.';\n      }\n    } catch (e) {\n      result = 'Error fetching content: ' + (e.message || String(e));\n    }\n  }\n\n} else if (operation === 'list_all') {\n  let url = supabaseUrl + '/rest/v1/published_content_v2?status=neq.deleted&order=created_at.desc&limit=50&select=id,title,content_type,genre_slug,status,created_at,published_at' + userFilter;\n  if (typeFilter) url += '&content_type=eq.' + typeFilter;\n  const resp = await this.helpers.httpRequest({ method: 'GET', url, headers });\n  const items = Array.isArray(resp) ? resp : [];\n  if (items.length === 0) {\n    result = 'No content found in library.';\n  } else {\n    result = 'Found ' + items.length + ' item(s) total:\\n' + items.map((item, i) =>\n      (i + 1) + '. [' + item.status.toUpperCase() + '] ' + item.title + ' (' + item.content_type + ', ' + (item.genre_slug || 'no genre') + ') \\u2014 ' + new Date(item.created_at).toLocaleDateString() + ' [ID: ' + item.id + ']'\n    ).join('\\n');\n  }\n\n} else if (operation === 'list_drafts' || operation === 'list_published' || operation === 'list_approved' || operation === 'list_rejected' || operation === 'list_deleted') {\n  const status = operation === 'list_drafts' ? 'draft' : operation === 'list_approved' ? 'approved' : operation === 'list_rejected' ? 'rejected' : operation === 'list_deleted' ? 'deleted' : 'published';\n  let url = supabaseUrl + '/rest/v1/published_content_v2?status=eq.' + status + '&order=created_at.desc&limit=20&select=id,title,content_type,genre_slug,status,created_at,published_at' + userFilter;\n  if (typeFilter) url += '&content_type=eq.' + typeFilter;\n  const resp = await this.helpers.httpRequest({ method: 'GET', url, headers });\n  const items = Array.isArray(resp) ? resp : [];\n  if (items.length === 0) {\n    result = 'No ' + status + ' content found.';\n  } else {\n    result = 'Found ' + items.length + ' ' + status + ' item(s):\\n' + items.map((item, i) => \n      (i + 1) + '. ' + item.title + ' (' + item.content_type + ', ' + (item.genre_slug || 'no genre') + ') \\u2014 ' + new Date(item.created_at).toLocaleDateString() + ' [ID: ' + item.id + ']'\n    ).join('\\n');\n  }\n\n} else if (operation === 'list_scheduled') {\n  let url = supabaseUrl + '/rest/v1/published_content_v2?status=eq.scheduled&order=created_at.desc&limit=20&select=id,title,content_type,genre_slug,status,metadata,created_at' + userFilter;\n  if (typeFilter) url += '&content_type=eq.' + typeFilter;\n  const resp = await this.helpers.httpRequest({ method: 'GET', url, headers });\n  const items = Array.isArray(resp) ? resp : [];\n  if (items.length === 0) {\n    result = 'No scheduled content found.';\n  } else {\n    result = 'Found ' + items.length + ' scheduled item(s):\\n' + items.map((item, i) => {\n      const sd = item.metadata && item.metadata.schedule_date ? item.metadata.schedule_date : 'no date';\n      return (i + 1) + '. ' + item.title + ' (' + item.content_type + ', ' + (item.genre_slug || 'no genre') + ') \\u2014 Scheduled: ' + sd + ' [ID: ' + item.id + ']';\n    }).join('\\n');\n  }\n\n} else if (operation === 'list_versions') {\n  if (!contentId) {\n    result = 'Error: content_id is required for list_versions operation.';\n  } else {\n    const resp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: supabaseUrl + '/rest/v1/content_versions_v2?content_id=eq.' + contentId + '&order=version_number.desc&select=version_number,changed_by,change_note,created_at' + userFilter,\n      headers\n    });\n    const items = Array.isArray(resp) ? resp : [];\n    if (items.length === 0) {\n      result = 'No versions found for content_id: ' + contentId;\n    } else {\n      result = 'Found ' + items.length + ' version(s):\\n' + items.map((v, i) =>\n        'v' + v.version_number + ' \\u2014 ' + (v.changed_by || 'unknown') + ' \\u2014 ' + (v.change_note || 'no note') + ' \\u2014 ' + new Date(v.created_at).toLocaleDateString()\n      ).join('\\n');\n    }\n  }\n\n} else if (operation === 'get_version') {\n  const versionNumber = trigger.version_number;\n  if (!contentId || !versionNumber) {\n    result = 'Error: content_id and version_number are required for get_version operation.';\n  } else {\n    const resp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: supabaseUrl + '/rest/v1/content_versions_v2?content_id=eq.' + contentId + '&version_number=eq.' + versionNumber + '&select=version_number,content_text,changed_by,change_note,created_at' + userFilter,\n      headers\n    });\n    const items = Array.isArray(resp) ? resp : [];\n    if (items.length === 0) {\n      result = 'Version ' + versionNumber + ' not found for content_id: ' + contentId;\n    } else {\n      const v = items[0];\n      result = 'Version ' + v.version_number + ' by ' + (v.changed_by || 'unknown') + ':\\n' + (v.content_text || '(empty)');\n    }\n  }\n\n} else if (operation === 'save_version') {\n  if (!contentId) {\n    result = 'Error: content_id is required for save_version operation.';\n  } else {\n    const changedBy = trigger.changed_by || 'system';\n    const changeNote = trigger.change_note || 'Manual version snapshot';\n    const snapshot = await saveVersionSnapshot.call(this, contentId, changedBy, changeNote);\n    if (!snapshot) {\n      result = 'Error: content not found for content_id: ' + contentId;\n    } else {\n      result = 'Version ' + snapshot.version_number + ' saved for \"' + snapshot.title + '\".';\n    }\n  }\n\n} else if (operation === 'schedule') {\n  if (!contentId || !scheduleDate) {\n    result = 'Error: content_id and schedule_date are required for schedule operation.';\n  } else {\n    // GET existing metadata to merge\n    const existing = await this.helpers.httpRequest({\n      method: 'GET',\n      url: supabaseUrl + '/rest/v1/published_content_v2?id=eq.' + contentId + '&select=metadata,title' + userFilter,\n      headers\n    });\n    const row = Array.isArray(existing) && existing.length > 0 ? existing[0] : null;\n    if (!row) {\n      result = 'Error: content not found for content_id: ' + contentId;\n    } else {\n      content_title = row.title || 'Untitled';\n      const existingMeta = row.metadata && typeof row.metadata === 'object' ? row.metadata : {};\n      const mergedMeta = { ...existingMeta, schedule_date: scheduleDate };\n      const body = { status: 'scheduled', metadata: mergedMeta, updated_at: new Date().toISOString() };\n      await this.helpers.httpRequest({\n        method: 'PATCH',\n        url: supabaseUrl + '/rest/v1/published_content_v2?id=eq.' + contentId + userFilter,\n        headers: { ...headers, 'Prefer': 'return=representation' },\n        body\n      });\n      result = 'Content \"' + content_title + '\" scheduled for ' + scheduleDate + '. [ID: ' + contentId + '] (agent: use this content_id for the next operation on this item)';\n      buildNotification('schedule', content_title, 'scheduled');\n    }\n  }\n\n} else if (operation === 'unschedule') {\n  if (!contentId) {\n    result = 'Error: content_id required for unschedule.';\n  } else {\n    const existing = await this.helpers.httpRequest({ method: 'GET', url: supabaseUrl + '/rest/v1/published_content_v2?id=eq.' + contentId + '&select=title,metadata' + userFilter, headers });\n    const row = Array.isArray(existing) && existing.length > 0 ? existing[0] : null;\n    if (!row) { result = 'Error: content not found.'; } else {\n      content_title = row.title || 'Untitled';\n      const meta = row.metadata && typeof row.metadata === 'object' ? { ...row.metadata } : {};\n      delete meta.schedule_date;\n      await this.helpers.httpRequest({ method: 'PATCH', url: supabaseUrl + '/rest/v1/published_content_v2?id=eq.' + contentId + userFilter, headers: { ...headers, 'Prefer': 'return=representation' }, body: { status: 'draft', metadata: meta, updated_at: new Date().toISOString() } });\n      result = 'Content \"' + content_title + '\" unscheduled \\u2014 status reverted to draft. [ID: ' + contentId + '] (agent: use this content_id for the next operation on this item)';\n      buildNotification('unschedule', content_title, 'draft');\n    }\n  }\n\n} else if (operation === 'unpublish') {\n  if (!contentId) {\n    result = 'Error: content_id is required for unpublish operation.';\n  } else {\n    const titleResp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: supabaseUrl + '/rest/v1/published_content_v2?id=eq.' + contentId + '&select=title' + userFilter,\n      headers\n    });\n    content_title = Array.isArray(titleResp) && titleResp.length > 0 ? (titleResp[0].title || 'Untitled') : 'Untitled';\n    const body = { status: 'approved', published_at: null, updated_at: new Date().toISOString() };\n    await this.helpers.httpRequest({ method: 'PATCH', url: supabaseUrl + '/rest/v1/published_content_v2?id=eq.' + contentId + userFilter, headers: { ...headers, 'Prefer': 'return=representation' }, body });\n    result = 'Content \"' + content_title + '\" unpublished \\u2014 status reverted to approved. [ID: ' + contentId + '] (agent: use this content_id for the next operation on this item)';\n    buildNotification('unpublish', content_title, 'approved');\n  }\n\n} else if (operation === 'delete') {\n  if (!contentId) {\n    result = 'Error: content_id is required for delete operation.';\n  } else {\n    const changeNote = 'Auto-snapshot before delete';\n    await saveVersionSnapshot.call(this, contentId, 'system', changeNote);\n    const titleResp = await this.helpers.httpRequest({ method: 'GET', url: supabaseUrl + '/rest/v1/published_content_v2?id=eq.' + contentId + '&select=title' + userFilter, headers });\n    content_title = Array.isArray(titleResp) && titleResp.length > 0 ? (titleResp[0].title || 'Untitled') : 'Untitled';\n    const body = { status: 'deleted', updated_at: new Date().toISOString() };\n    await this.helpers.httpRequest({ method: 'PATCH', url: supabaseUrl + '/rest/v1/published_content_v2?id=eq.' + contentId + userFilter, headers: { ...headers, 'Prefer': 'return=representation' }, body });\n    result = 'Content \"' + content_title + '\" moved to trash (soft-deleted). Use undelete to restore it. [ID: ' + contentId + '] (agent: use this content_id for the next operation on this item)';\n    buildNotification('delete', content_title, 'deleted');\n  }\n\n} else if (operation === 'undelete') {\n  if (!contentId) {\n    result = 'Error: content_id is required for undelete operation.';\n  } else {\n    const titleResp = await this.helpers.httpRequest({ method: 'GET', url: supabaseUrl + '/rest/v1/published_content_v2?id=eq.' + contentId + '&select=title' + userFilter, headers });\n    content_title = Array.isArray(titleResp) && titleResp.length > 0 ? (titleResp[0].title || 'Untitled') : 'Untitled';\n    const body = { status: 'draft', updated_at: new Date().toISOString() };\n    await this.helpers.httpRequest({ method: 'PATCH', url: supabaseUrl + '/rest/v1/published_content_v2?id=eq.' + contentId + userFilter, headers: { ...headers, 'Prefer': 'return=representation' }, body });\n    result = 'Content \"' + content_title + '\" restored from trash \u2014 status reverted to draft. [ID: ' + contentId + '] (agent: use this content_id for the next operation on this item)';\n    buildNotification('undelete', content_title, 'draft');\n  }\n\n} else if (operation === 'approve_all_chapters' || operation === 'publish_all_chapters') {\n  const bulkOp = operation.startsWith('approve') ? 'approved' : 'published';\n  const bulkFromStatus = operation.startsWith('approve') ? 'draft' : 'approved';\n  let bulkProjFilter = '';\n  const bulkProjectName = contentTitle || triggerProjectTitle || '';\n  if (bulkProjectName) {\n    const bpResp = await this.helpers.httpRequest({ method: 'GET', url: supabaseUrl + '/rest/v1/writing_projects_v2?title=ilike.*' + encodeURIComponent(bulkProjectName) + '*&select=id,title&limit=1' + userFilter, headers });\n    if (Array.isArray(bpResp) && bpResp.length > 0) bulkProjFilter = '&project_id=eq.' + bpResp[0].id;\n  }\n  const bulkResp = await this.helpers.httpRequest({ method: 'GET', url: supabaseUrl + '/rest/v1/published_content_v2?content_type=eq.chapter&status=eq.' + bulkFromStatus + '&order=chapter_number.asc&select=id,title,chapter_number' + userFilter + bulkProjFilter, headers });\n  const bulkChapters = Array.isArray(bulkResp) ? bulkResp : [];\n  if (bulkChapters.length === 0) {\n    result = 'FAILED \u2014 No ' + bulkFromStatus + ' chapters found' + (triggerProjectTitle ? ' for \"' + triggerProjectTitle + '\"' : '') + '.';\n  } else {\n    for (const ch of bulkChapters) {\n      await this.helpers.httpRequest({ method: 'PATCH', url: supabaseUrl + '/rest/v1/published_content_v2?id=eq.' + ch.id + userFilter, headers, body: { status: bulkOp, updated_at: new Date().toISOString() } });\n    }\n    const labels = bulkChapters.map(ch => ch.chapter_number === 0 ? 'Prologue' : (ch.chapter_number === 999 ? 'Epilogue' : 'Chapter ' + ch.chapter_number) + ': ' + ch.title);\n    result = 'Successfully ' + bulkOp + ' ' + bulkChapters.length + ' chapters:\\n' + labels.join('\\n');\n    buildNotification(operation.startsWith('approve') ? 'approve' : 'publish', bulkChapters.length + ' chapters', bulkOp);\n  }\n} else if (['approve', 'publish', 'reject'].includes(operation)) {\n  if (!contentId) {\n    result = 'Error: content_id is required for ' + operation + ' operation.';\n  } else {\n    // Auto-snapshot version before approve/publish\n    if (operation === 'approve' || operation === 'publish') {\n      const changeNote = 'Auto-snapshot before ' + operation;\n      await saveVersionSnapshot.call(this, contentId, 'system', changeNote);\n    }\n\n    // Get title for notification\n    const titleResp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: supabaseUrl + '/rest/v1/published_content_v2?id=eq.' + contentId + '&select=title' + userFilter,\n      headers\n    });\n    content_title = Array.isArray(titleResp) && titleResp.length > 0 ? (titleResp[0].title || 'Untitled') : 'Untitled';\n\n    const newStatus = operation === 'approve' ? 'approved' : operation === 'publish' ? 'published' : 'rejected';\n    const body = { status: newStatus, updated_at: new Date().toISOString() };\n    if (operation === 'publish') body.published_at = new Date().toISOString();\n    await this.helpers.httpRequest({ method: 'PATCH', url: supabaseUrl + '/rest/v1/published_content_v2?id=eq.' + contentId + userFilter, headers: { ...headers, 'Prefer': 'return=representation' }, body });\n    result = 'Content \"' + content_title + '\" ' + (operation === 'approve' ? 'approved' : operation === 'publish' ? 'published' : 'rejected') + ' successfully. [ID: ' + contentId + '] (agent: use this content_id for the next operation on this item)';\n\n    buildNotification(operation, content_title, newStatus);\n  }\n\n} else if (operation === 'list_projects') {\n  const resp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: supabaseUrl + '/rest/v1/writing_projects_v2?order=created_at.desc&select=id,title,genre_slug,created_at' + userFilter,\n    headers\n  });\n  const projects = Array.isArray(resp) ? resp : [];\n  if (projects.length === 0) {\n    result = 'No writing projects found. Start by brainstorming a story.';\n  } else {\n    result = 'Found ' + projects.length + ' writing project(s):\\n' + projects.map((p, i) =>\n      (i + 1) + '. ' + p.title + ' (' + (p.genre_slug || 'no genre') + ') \\u2014 created ' + new Date(p.created_at).toLocaleDateString()\n    ).join('\\n');\n  }\n\n} else {\n  result = 'Unknown operation: ' + operation + '. Valid operations: list_all, list_drafts, list_approved, list_published, list_rejected, list_scheduled, list_deleted, list_versions, get_version, save_version, schedule, unschedule, approve, publish, reject, unpublish, delete, undelete, email_content, list_projects';\n}\n\nreturn [{ json: { result, send_notification, notification_subject, notification_body, recipient_email: recipientEmail, bcc_email: bccEmail } }];"
      },
      "id": "code-001",
      "name": "handle_operation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "set-result",
              "name": "result",
              "value": "={{ $json.result }}",
              "type": "string"
            },
            {
              "id": "set-notify",
              "name": "send_notification",
              "value": "={{ $json.send_notification }}",
              "type": "boolean"
            },
            {
              "id": "set-recipient",
              "name": "recipient_email",
              "value": "={{ $json.recipient_email }}",
              "type": "string"
            },
            {
              "id": "set-subject",
              "name": "notification_subject",
              "value": "={{ $json.notification_subject }}",
              "type": "string"
            },
            {
              "id": "set-body",
              "name": "notification_body",
              "value": "={{ $json.notification_body }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-002",
      "name": "set_result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-notify",
              "leftValue": "={{ $json.send_notification }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-notify",
      "name": "check_notification",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.recipient_email }}",
        "subject": "={{ $json.notification_subject }}",
        "message": "={{ $json.notification_body }}",
        "options": {
          "appendAttribution": false,
          "bccList": "={{ $json.bcc_email || '' }}"
        }
      },
      "id": "gmail-notify",
      "name": "send_email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1100,
        -100
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "CPCSZOInV8Zj1PI1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const r = $('set_result').first().json;\nreturn [{ json: { result: r.result || '' } }];"
      },
      "id": "return-result",
      "name": "return_result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        0
      ]
    }
  ],
  "connections": {
    "workflow_trigger": {
      "main": [
        [
          {
            "node": "settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "settings": {
      "main": [
        [
          {
            "node": "handle_operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "handle_operation": {
      "main": [
        [
          {
            "node": "set_result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_result": {
      "main": [
        [
          {
            "node": "check_notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_notification": {
      "main": [
        [
          {
            "node": "send_email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "return_result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_email": {
      "main": [
        [
          {
            "node": "return_result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": null,
  "versionId": "b02435ac-ce6c-447e-9926-34f436c878c3"
}
