workflows/14_tool_brainstorm_story.json
{
  "id": "StwejB5GLFE26hmU",
  "name": "Tool - Brainstorm Story",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "genre_slug"
            },
            {
              "name": "initial_concept"
            },
            {
              "name": "themes"
            },
            {
              "name": "target_chapter_count"
            },
            {
              "name": "project_title"
            },
            {
              "name": "user_prompt"
            },
            {
              "name": "recipient_email"
            },
            {
              "name": "bcc_email"
            }
          ]
        }
      },
      "id": "bs-trigger",
      "name": "workflow_trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const SUPABASE_URL = 'https://qsirioazmsmrrfoltrhn.supabase.co';\nconst SUPABASE_API_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFzaXJpb2F6bXNtcnJmb2x0cmhuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjgwOTU2MSwiZXhwIjoyMDg4Mzg1NTYxfQ.oqvzwBcCwYTI1pe1MPnNQn64Yc3e-mozT2yFOYi3iAk';\nconst trigger = $('workflow_trigger').first().json;\n\nlet recipient_email = trigger.recipient_email;\nlet bcc_email = trigger.bcc_email;\nlet story_structure_guidelines = '';\ntry {\n  const rows = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${SUPABASE_URL}/rest/v1/app_config?key=in.(recipient_email,bcc_email,story_structure_guidelines)&select=key,value`,\n    headers: { 'apikey': SUPABASE_API_KEY, 'Authorization': `Bearer ${SUPABASE_API_KEY}` }\n  });\n  for (const row of rows) {\n    if (row.key === 'recipient_email' && !recipient_email) recipient_email = row.value;\n    if (row.key === 'bcc_email' && !bcc_email) bcc_email = row.value;\n    if (row.key === 'story_structure_guidelines') story_structure_guidelines = row.value;\n  }\n} catch (e) {\n  if (!recipient_email) recipient_email = 'eric@agileadtesting.com';\n}\n\nreturn [{ json: { SUPABASE_URL, SUPABASE_API_KEY, recipient_email, bcc_email: bcc_email || '', story_structure_guidelines } }];"
      },
      "id": "bs-settings",
      "name": "settings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $('settings').item.json.SUPABASE_URL }}/rest/v1/genre_config?genre_slug=eq.{{ $('workflow_trigger').item.json.genre_slug }}&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('settings').item.json.SUPABASE_API_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('settings').item.json.SUPABASE_API_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "bs-genre",
      "name": "get_genre_config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "=You are a research assistant for fiction writing.",
              "role": "system"
            },
            {
              "content": "=Research for a {{ $('get_genre_config').first().json[0]?.genre_name || $('get_genre_config').first().json.genre_name || 'fiction' }} novel about: {{ $('workflow_trigger').item.json.initial_concept }}. Themes: {{ $('workflow_trigger').item.json.themes }}. Provide historical details, scientific accuracy, cultural context, real-world parallels, and inspiration sources."
            }
          ]
        },
        "simplify": true,
        "options": {
          "temperature": 0.1,
          "searchRecency": "month"
        },
        "requestOptions": {}
      },
      "id": "bs-research",
      "name": "research_concept",
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "credentials": {
        "perplexityApi": {
          "id": "ggr9QCRobQVA6Lwb",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const trigger = $('workflow_trigger').first().json;\nconst genre = $('get_genre_config').first().json;\nconst genreData = Array.isArray(genre) ? genre[0] : genre;\nconst research = $('research_concept').first().json.message || '';\nconst chapterCount = parseInt(trigger.target_chapter_count) || 10;\nconst structureGuidelines = $('settings').first().json.story_structure_guidelines || '';\n\nconst prompt = `You are a master storyteller and book architect.\n\n## Genre: ${genreData?.genre_name || 'Fiction'}\n## Genre Guidelines: ${genreData?.writing_guidelines || ''}\n\n## Writing Prime Directive\nWrite like a human, not a machine. Use clear, everyday language and short sentences. Cut cliches — no revolutionize, game-changing, unleash, or delve. Get to the point — remove filler words. No hype, just facts. Be genuine. Show, don't tell — use concrete examples instead of vague claims. Stay focused. Keep descriptions tight. Respect the reader's intelligence. Write like you'd pitch a story to a smart friend. Skip unnecessary adjectives and adverbs.\n\n## Story Structure Guidelines\nUse these guidelines to shape the plot architecture, character roles, and arc structure of the outline:\n\n${structureGuidelines}\n\n## Research\n${research}\n\n## Assignment\nCreate a detailed outline for \"${trigger.project_title || 'Untitled'}\".\n\nCore concept: ${trigger.initial_concept}\nThemes: ${trigger.themes || 'To be determined'}\nTarget chapters/sections: ${chapterCount}\n\n## Requirements\nApply the Story Structure Guidelines above to design the plot. Choose the most appropriate structural model (Three-Act, Hero's Journey, Seven-Point, etc.) for this story's tone and genre, then build the outline using that model's beats. Include:\n1. A refined title and one-paragraph premise\n2. Core themes (3-5)\n3. Character profiles with clearly assigned roles (Protagonist, Antagonist, Dynamic, Static) with name, role, arc, and description\n4. Section/chapter breakdown (${chapterCount} entries) with:\n   - Number and title\n   - 2-3 sentence brief of what happens\n   - Arc notes (which structural beat this represents, character development, theme progression)\n   - Research topics to explore for this section\n\nReturn as JSON matching the output schema exactly.`;\n\nreturn [{ json: { prompt } }];"
      },
      "id": "bs-prompt",
      "name": "build_outline_prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "id": "bs-outline",
      "name": "generate_outline",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "options": {
          "maxTokensToSample": 8000
        }
      },
      "id": "bs-claude",
      "name": "claude-sonnet",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1100,
        208
      ],
      "credentials": {
        "anthropicApi": {
          "id": "5LhCYKsaFO3fF7II",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\"type\": \"object\", \"properties\": {\"title\": {\"type\": \"string\"}, \"premise\": {\"type\": \"string\"}, \"themes\": {\"type\": \"array\", \"items\": {\"type\": \"string\"}}, \"characters\": {\"type\": \"array\", \"items\": {\"type\": \"object\", \"properties\": {\"name\": {\"type\": \"string\"}, \"role\": {\"type\": \"string\"}, \"arc\": {\"type\": \"string\"}, \"description\": {\"type\": \"string\"}}}}, \"chapters\": {\"type\": \"array\", \"items\": {\"type\": \"object\", \"properties\": {\"number\": {\"type\": \"integer\"}, \"title\": {\"type\": \"string\"}, \"brief\": {\"type\": \"string\"}, \"arc_notes\": {\"type\": \"string\"}, \"research_topics\": {\"type\": \"array\", \"items\": {\"type\": \"string\"}}}}}}, \"required\": [\"title\", \"premise\", \"themes\", \"characters\", \"chapters\"]}"
      },
      "id": "bs-parser",
      "name": "outline_parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1300,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const supabaseUrl = $('settings').first().json.SUPABASE_URL;\nconst apiKey = $('settings').first().json.SUPABASE_API_KEY;\nconst headers = { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey, 'Content-Type': 'application/json', 'Prefer': 'return=representation' };\nconst trigger = $('workflow_trigger').first().json;\nconst outline = $input.first().json.output || {};\nconst title = outline.title || trigger.project_title || 'Untitled';\nconst genreSlug = trigger.genre_slug;\n\n// Try to find existing project\nlet project = null;\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: supabaseUrl + '/rest/v1/writing_projects?title=eq.' + encodeURIComponent(title) + '&limit=1',\n    headers: { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey }\n  });\n  if (Array.isArray(resp) && resp.length > 0 && resp[0].id) project = resp[0];\n} catch (e) {}\n\nif (project) {\n  // Update existing\n  await this.helpers.httpRequest({\n    method: 'PATCH',\n    url: supabaseUrl + '/rest/v1/writing_projects?id=eq.' + project.id,\n    headers,\n    body: { outline: outline, genre_slug: genreSlug, updated_at: new Date().toISOString() }\n  });\n} else {\n  // Create new\n  const created = await this.helpers.httpRequest({\n    method: 'POST',\n    url: supabaseUrl + '/rest/v1/writing_projects',\n    headers,\n    body: { title, genre_slug: genreSlug, project_type: 'story', status: 'outlined', outline: outline, chapter_count: (outline.chapters || []).length }\n  });\n  project = Array.isArray(created) ? created[0] : created;\n}\n\nreturn [{ json: { outline, project_id: project?.id || null, title } }];"
      },
      "id": "bs-save",
      "name": "save_outline",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('settings').item.json.recipient_email }}",
        "subject": "=Story Outline: {{ $('save_outline').item.json.title }}",
        "message": "={{ $('workflow_trigger').first().json.user_prompt ? '<div style=\"background:#f0f0f0; border-left:4px solid #666; padding:12px 16px; margin-bottom:24px; font-family:sans-serif; font-size:14px; color:#333;\"><strong>Command:</strong> ' + $('workflow_trigger').first().json.user_prompt + '</div>' : '' }}<h2>{{ $json.title }}</h2>\n<p><strong>Premise:</strong> {{ $json.outline?.premise }}</p>\n<h3>Themes</h3>\n<ul>{{ ($json.outline?.themes || []).map(t => '<li>' + t + '</li>').join('') }}</ul>\n<h3>Characters</h3>\n<table style=\"border-collapse:collapse;width:100%;\"><tr style=\"background:#f5f5f5;\"><th style=\"padding:8px;border:1px solid #ddd;\">Name</th><th style=\"padding:8px;border:1px solid #ddd;\">Role</th><th style=\"padding:8px;border:1px solid #ddd;\">Arc</th></tr>{{ ($json.outline?.characters || []).map(c => '<tr><td style=\"padding:8px;border:1px solid #ddd;font-weight:bold;\">' + c.name + '</td><td style=\"padding:8px;border:1px solid #ddd;\">' + c.role + '</td><td style=\"padding:8px;border:1px solid #ddd;\">' + c.arc + '</td></tr>').join('') }}</table>\n<h3>Section Outline</h3>\n{{ ($json.outline?.chapters || []).map(ch => '<div style=\"margin:12px 0;padding:12px;background:#f9f9f9;border-left:4px solid #333;\"><strong>Section ' + ch.number + ': ' + ch.title + '</strong><br>' + ch.brief + '<br><em style=\"color:#666;\">Arc: ' + (ch.arc_notes || '') + '</em></div>').join('') }}",
        "options": {
          "appendAttribution": false,
          "bccList": "={{ $('settings').item.json.bcc_email }}"
        }
      },
      "id": "bs-email",
      "name": "send_email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1540,
        0
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "CPCSZOInV8Zj1PI1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bsr1",
              "name": "result",
              "value": "=Story outline created for \"{{ $('save_outline').item.json.title }}\" with {{ ($('save_outline').item.json.outline?.chapters || []).length }} sections and {{ ($('save_outline').item.json.outline?.characters || []).length }} characters. Emailed and saved to writing projects.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bs-result",
      "name": "set_result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        0
      ]
    }
  ],
  "connections": {
    "workflow_trigger": {
      "main": [
        [
          {
            "node": "settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "settings": {
      "main": [
        [
          {
            "node": "get_genre_config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_genre_config": {
      "main": [
        [
          {
            "node": "research_concept",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "research_concept": {
      "main": [
        [
          {
            "node": "build_outline_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build_outline_prompt": {
      "main": [
        [
          {
            "node": "generate_outline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate_outline": {
      "main": [
        [
          {
            "node": "save_outline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "claude-sonnet": {
      "ai_languageModel": [
        [
          {
            "node": "generate_outline",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "outline_parser": {
      "ai_outputParser": [
        [
          {
            "node": "generate_outline",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "save_outline": {
      "main": [
        [
          {
            "node": "send_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_email": {
      "main": [
        [
          {
            "node": "set_result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "meta": null,
  "pinData": {}
}
