workflows/15_sub_retrieve_content_v2.json
{
  "updatedAt": "2026-03-29T16:28:58.012Z",
  "createdAt": "2026-03-15T16:42:22.979Z",
  "id": "2T7rElM5RqCKst51",
  "name": "Sub - Retrieve Content V2",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "rc-trigger",
      "name": "workflow_trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "inputSource": "passthrough"
      }
    },
    {
      "id": "rc-settings",
      "name": "settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s1",
              "name": "SUPABASE_URL",
              "value": "https://faklxfakgzkpkbxfihzh.supabase.co",
              "type": "string"
            },
            {
              "id": "s2",
              "name": "SUPABASE_API_KEY",
              "value": "REDACTED_SUPABASE_KEY",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "rc-handler",
      "name": "retrieve_content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        0
      ],
      "parameters": {
        "jsCode": "const supabaseUrl = $('settings').first().json.SUPABASE_URL;\nconst apiKey = $('settings').first().json.SUPABASE_API_KEY;\nconst headers = { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey, 'Content-Type': 'application/json' };\nconst trigger = $('workflow_trigger').first().json;\nconst contentType = trigger.content_type || '';\nconst rawSearch = trigger.search_term || '';\nconst rawLower = rawSearch.toLowerCase();\nconst httpSelf = this;\nconst userId = trigger.user_id || '';\nconst userFilter = userId ? '&user_id=eq.' + encodeURIComponent(userId) : '';\n\nif (contentType === 'story_arc' || rawLower.indexOf('story arc') >= 0 || rawLower.indexOf('story arcs') >= 0 || trigger.operation === 'list_story_arcs') {\n  const resp = await httpSelf.helpers.httpRequest({ method: 'GET', url: supabaseUrl + '/rest/v1/story_arcs_v2?order=name.asc&select=id,name,description,discovery_question', headers });\n  const arcs = Array.isArray(resp) ? resp : [];\n  if (arcs.length === 0) { return [{ json: { found: false, result: 'No story arcs found.', content_type: 'story_arc_list', title: '', content_text: '', content_id: '' } }]; }\n  const list = arcs.map((a, i) => (i + 1) + '. **' + a.name + '** \\u2014 ' + a.description + (a.discovery_question ? ' [Discovery Question: ' + a.discovery_question + ']' : '')).join('\\n');\n  return [{ json: { found: true, result: 'Available story arcs:\\n' + list, content_type: 'story_arc_list', title: 'Story Arcs', content_text: list, content_id: '' } }];\n}\n\nif (trigger.operation === 'list_projects' || rawLower.trim() === 'list_projects') {\n  const resp = await httpSelf.helpers.httpRequest({ method: 'GET', url: supabaseUrl + '/rest/v1/writing_projects_v2?order=created_at.desc&select=id,title,genre_slug,created_at' + userFilter, headers });\n  const projects = Array.isArray(resp) ? resp : [];\n  if (projects.length === 0) { return [{ json: { found: false, result: 'No writing projects found.', content_type: 'project_list', title: '', content_text: '', content_id: '' } }]; }\n  const list = projects.map((p, i) => (i + 1) + '. ' + p.title + ' (' + (p.genre_slug || 'no genre') + ') \\u2014 created ' + new Date(p.created_at).toLocaleDateString()).join('\\n');\n  return [{ json: { found: true, result: 'Found ' + projects.length + ' writing project(s):\\n' + list, content_type: 'project_list', title: 'Writing Projects', content_text: list, content_id: '' } }];\n}\n\nconst isListChapterOutlines = /\\b(list|show|all)\\b.*\\bchapter\\s+outline/i.test(rawSearch) || (contentType === 'chapter_outline');\nif (isListChapterOutlines) {\n  let coProject = null;\n  const coSearchTerms = rawSearch.replace(/\\b(list|show|all|chapter|outlines?|for|the|of|my)\\b/gi, '').trim();\n  if (coSearchTerms) {\n    const coResp = await httpSelf.helpers.httpRequest({ method: 'GET', url: supabaseUrl + '/rest/v1/writing_projects_v2?title=ilike.*' + encodeURIComponent(coSearchTerms) + '*&select=id,title,outline' + userFilter + '&limit=1', headers });\n    if (Array.isArray(coResp) && coResp.length > 0) coProject = coResp[0];\n  }\n  if (!coProject) {\n    const coResp2 = await httpSelf.helpers.httpRequest({ method: 'GET', url: supabaseUrl + '/rest/v1/writing_projects_v2?outline=not.is.null&order=updated_at.desc&select=id,title,outline' + userFilter + '&limit=5', headers });\n    const withCo = (coResp2 || []).filter(function(p) { return p.outline && p.outline.chapters && p.outline.chapters.some(function(ch) { return ch.chapter_outline && ch.chapter_outline.sub_chapters && ch.chapter_outline.sub_chapters.length > 0; }); });\n    if (withCo.length > 0) coProject = withCo[0];\n  }\n  if (!coProject || !coProject.outline || !coProject.outline.chapters) {\n    return [{ json: { found: false, result: 'No chapter outlines found. Create one with: \"create a chapter outline for chapter N of [book title]\"', content_type: 'chapter_outline_list', title: '', content_text: '', content_id: '' } }];\n  }\n  const chaptersWithOutlines = coProject.outline.chapters.filter(function(ch) { return ch.chapter_outline && ch.chapter_outline.sub_chapters && ch.chapter_outline.sub_chapters.length > 0; });\n  if (chaptersWithOutlines.length === 0) {\n    return [{ json: { found: false, result: 'No chapter outlines found for \"' + coProject.title + '\". The book outline exists with ' + coProject.outline.chapters.length + ' chapters, but none have detailed sub-chapter outlines yet.', content_type: 'chapter_outline_list', title: coProject.title, content_text: '', content_id: '' } }];\n  }\n  const coList = chaptersWithOutlines.map(function(ch) {\n    const co = ch.chapter_outline;\n    const subCount = co.sub_chapters.length;\n    const arc = co.chapter_story_arc || 'not set';\n    const allChs = coProject.outline.chapters;\n    const chLbl = (ch === allChs[0] || ch.number === 0) ? 'Prologue' : (ch === allChs[allChs.length - 1] ? 'Epilogue' : 'Ch ' + ch.number);\n    return '- **' + chLbl + ' \\u2014 ' + (co.chapter_title || ch.title) + '**: ' + subCount + ' sub-chapters, arc: ' + arc;\n  }).join('\\n');\n  return [{ json: { found: true, result: '\"' + coProject.title + '\" has ' + chaptersWithOutlines.length + ' chapter outline(s):\\n' + coList + '\\n\\nChapters without outlines: ' + (coProject.outline.chapters.length - chaptersWithOutlines.length) + '. Use \"create a chapter outline for chapter N\" to add more.', content_type: 'chapter_outline_list', title: coProject.title, content_text: coList, content_id: coProject.id } }];\n}\n\nconst isListOutlines = trigger.operation === 'list_outlines' || /\\b(list|show|all)\\b.*\\boutline/i.test(rawSearch) || (contentType === 'outline' && /\\b(list|show|all)\\b/i.test(rawSearch)) || (contentType === 'outline' && /^\\s*outlines?\\s*$/i.test(rawSearch));\nif (isListOutlines) {\n  const resp = await httpSelf.helpers.httpRequest({ method: 'GET', url: supabaseUrl + '/rest/v1/writing_projects_v2?outline=not.is.null&order=updated_at.desc&select=id,title,genre_slug,status,chapter_count,outline,updated_at' + userFilter, headers });\n  const projects = Array.isArray(resp) ? resp : [];\n  const withOutlines = projects.filter(function(p) { return p.title && p.outline && typeof p.outline === 'object' && Object.keys(p.outline).length > 0; });\n  if (withOutlines.length === 0) { return [{ json: { found: false, result: 'No outlines found.', content_type: 'outline_list', title: '', content_text: '', content_id: '' } }]; }\n  const list = withOutlines.map((p, i) => (i + 1) + '. **' + p.title + '** (' + (p.genre_slug || 'no genre') + ') \\u2014 ' + (p.status || 'outlined') + ', ' + (p.chapter_count || 0) + ' chapters \\u2014 updated ' + new Date(p.updated_at).toLocaleDateString()).join('\\n');\n  return [{ json: { found: true, result: 'Found ' + withOutlines.length + ' outline(s):\\n' + list, content_type: 'outline_list', title: 'Story Outlines', content_text: list, content_id: '' } }];\n}\n\nconst isOutlineVersions = trigger.operation === 'outline_versions' || /\\b(version|versions|history)\\b.*\\boutline/i.test(rawSearch) || /\\boutline\\b.*\\b(version|versions|history)\\b/i.test(rawSearch);\nif (isOutlineVersions) {\n  const vSearchTerms = rawLower.replace(/[^a-z0-9 ]/g, ' ').split(/[ ]+/).filter(function(w) { return w.length > 2 && ['the','outline','version','versions','history','show','list','for','get'].indexOf(w) === -1; }).slice(0, 4);\n  let projectId = null; let projectTitle = '';\n  for (const term of vSearchTerms) {\n    const pResp = await httpSelf.helpers.httpRequest({ method: 'GET', url: supabaseUrl + '/rest/v1/writing_projects_v2?title=ilike.*' + encodeURIComponent(term) + '*&select=id,title&limit=1' + userFilter, headers });\n    if (Array.isArray(pResp) && pResp.length > 0) { projectId = pResp[0].id; projectTitle = pResp[0].title; break; }\n  }\n  if (!projectId) { return [{ json: { found: false, result: 'No project found matching: ' + rawSearch, content_type: 'outline_version_list', title: '', content_text: '', content_id: '' } }]; }\n  const verResp = await httpSelf.helpers.httpRequest({ method: 'GET', url: supabaseUrl + '/rest/v1/outline_versions_v2?project_id=eq.' + projectId + '&order=version_number.desc&select=id,version_number,revision_note,created_at' + userFilter, headers });\n  const versions = Array.isArray(verResp) ? verResp : [];\n  if (versions.length === 0) { return [{ json: { found: true, result: 'No version history found for \"' + projectTitle + '\".', content_type: 'outline_version_list', title: projectTitle, content_text: '', content_id: '' } }]; }\n  const vList = versions.map(function(v, i) { return (i + 1) + '. Version ' + v.version_number + ' \\u2014 ' + new Date(v.created_at).toLocaleString() + (v.revision_note ? ' (' + v.revision_note + ')' : ''); }).join('\\n');\n  return [{ json: { found: true, result: 'Outline versions for \"' + projectTitle + '\":\\n' + vList + '\\n\\nTo revert: \"revert outline for ' + projectTitle + ' to version N\"', content_type: 'outline_version_list', title: projectTitle, content_text: vList, content_id: '' } }];\n}\n\nconst revertMatch = rawLower.match(/revert.*outline.*(?:to|version)\\s*(\\d+)/i) || (trigger.operation === 'revert_outline' ? [null, trigger.version_number] : null);\nif (revertMatch) {\n  const targetVersion = parseInt(revertMatch[1]);\n  const rSearchTerms = rawLower.replace(/[^a-z0-9 ]/g, ' ').split(/[ ]+/).filter(function(w) { return w.length > 2 && ['the','outline','version','revert','to','for','get','back'].indexOf(w) === -1 && !/^\\d+$/.test(w); }).slice(0, 4);\n  let rProjectId = null; let rProjectTitle = '';\n  for (const term of rSearchTerms) {\n    const pResp = await httpSelf.helpers.httpRequest({ method: 'GET', url: supabaseUrl + '/rest/v1/writing_projects_v2?title=ilike.*' + encodeURIComponent(term) + '*&select=id,title&limit=1' + userFilter, headers });\n    if (Array.isArray(pResp) && pResp.length > 0) { rProjectId = pResp[0].id; rProjectTitle = pResp[0].title; break; }\n  }\n  if (!rProjectId) { return [{ json: { found: false, result: 'No project found matching: ' + rawSearch, content_type: 'outline_revert', title: '', content_text: '', content_id: '' } }]; }\n  const vResp = await httpSelf.helpers.httpRequest({ method: 'GET', url: supabaseUrl + '/rest/v1/outline_versions_v2?project_id=eq.' + rProjectId + '&version_number=eq.' + targetVersion + '&select=outline,version_number&limit=1' + userFilter, headers });\n  if (!Array.isArray(vResp) || vResp.length === 0) { return [{ json: { found: false, result: 'Version ' + targetVersion + ' not found for \"' + rProjectTitle + '\".', content_type: 'outline_revert', title: rProjectTitle, content_text: '', content_id: '' } }]; }\n  const oldOutline = vResp[0].outline;\n  await httpSelf.helpers.httpRequest({ method: 'PATCH', url: supabaseUrl + '/rest/v1/writing_projects_v2?id=eq.' + rProjectId + userFilter, headers: { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey, 'Content-Type': 'application/json' }, body: { outline: oldOutline, updated_at: new Date().toISOString() } });\n  const chars = (oldOutline.characters || []).map(function(c) { return c.name; }).join(', ');\n  return [{ json: { found: true, result: 'Reverted \"' + rProjectTitle + '\" to version ' + targetVersion + '. Characters: ' + chars + '. Chapters: ' + (oldOutline.chapters || []).length, content_type: 'outline_revert', title: rProjectTitle, content_text: 'Reverted to version ' + targetVersion, content_id: rProjectId } }];\n}\n\nconst stopWords = ['the', 'a', 'an', 'in', 'on', 'at', 'to', 'for', 'of', 'and', 'or', 'is', 'are', 'was', 'were', 'how', 'what', 'why', 'when', 'my', 'draft', 'about', 'called', 'titled', 'named', 'get', 'pull', 'up', 'blog', 'post', 'story', 'short', 'newsletter', 'chapter', 'report', 'research', 'all', 'chapters', 'from', 'project', 'retrieve', 'fetch', 'find', 'outline', 'outlines', 'list', 'show'];\nconst words = rawSearch.toLowerCase().replace(/[^a-z0-9 ]/g, ' ').split(/[ ]+/).filter(function(w) { return w.length > 2 && stopWords.indexOf(w) === -1; });\nconst searchTerms = words.slice(0, 4);\n\nlet title = ''; let contentText = ''; let storagePath = ''; let contentId = ''; let foundType = contentType;\n\nasync function searchProjectChapters(terms) {\n  for (const term of terms) {\n    const url = supabaseUrl + '/rest/v1/writing_projects_v2?title=ilike.*' + encodeURIComponent(term) + '*&select=id,title,genre_slug,outline&limit=5' + userFilter;\n    const resp = await httpSelf.helpers.httpRequest({ method: 'GET', url, headers });\n    const projects = Array.isArray(resp) ? resp : [];\n    if (projects.length > 0) {\n      const project = projects[0];\n      let epilogueNum = 999;\n      if (project.outline && project.outline.chapters && project.outline.chapters.length > 0) {\n        epilogueNum = project.outline.chapters[project.outline.chapters.length - 1].number;\n      }\n      project.epilogueNum = epilogueNum;\n      delete project.outline;\n      const chapUrl = supabaseUrl + '/rest/v1/published_content_v2?project_id=eq.' + project.id + '&content_type=eq.chapter&order=chapter_number.asc&select=id,title,content_type,status,chapter_number,created_at' + userFilter;\n      const chapResp = await httpSelf.helpers.httpRequest({ method: 'GET', url: chapUrl, headers });\n      return { project, chapters: Array.isArray(chapResp) ? chapResp : [] };\n    }\n  }\n  return null;\n}\n\nasync function searchPublishedContent(type, terms) {\n  for (const term of terms) {\n    let url = supabaseUrl + '/rest/v1/published_content_v2?title=ilike.*' + encodeURIComponent(term) + '*&order=created_at.desc&limit=5' + userFilter;\n    if (type) url += '&content_type=eq.' + type;\n    const resp = await httpSelf.helpers.httpRequest({ method: 'GET', url, headers });\n    const items = Array.isArray(resp) ? resp : [];\n    if (items.length > 0) {\n      return items.find(function(item) { const t = (item.title || '').toLowerCase(); return terms.filter(function(kw) { return t.indexOf(kw) >= 0; }).length >= 2; }) || items[0];\n    }\n  }\n  return null;\n}\n\nasync function searchResearchReports(terms) {\n  for (const term of terms) {\n    const url = supabaseUrl + '/rest/v1/research_reports_v2?topic=ilike.*' + encodeURIComponent(term) + '*&order=updated_at.desc&limit=5' + userFilter;\n    const resp = await httpSelf.helpers.httpRequest({ method: 'GET', url, headers });\n    const items = Array.isArray(resp) ? resp : [];\n    if (items.length > 0) {\n      return items.find(function(item) { const t = (item.topic || '').toLowerCase(); return terms.filter(function(kw) { return t.indexOf(kw) >= 0; }).length >= 2; }) || items[0];\n    }\n  }\n  return null;\n}\n\ntry {\n  if (contentType === 'outline' || contentType === '' || rawSearch.toLowerCase().indexOf('outline') >= 0) {\n    for (const term of searchTerms) {\n      const url = supabaseUrl + '/rest/v1/writing_projects_v2?title=ilike.*' + encodeURIComponent(term) + '*&select=id,title,genre_slug,outline,created_at&limit=5' + userFilter;\n      const resp = await httpSelf.helpers.httpRequest({ method: 'GET', url, headers });\n      const projects = Array.isArray(resp) ? resp : [];\n      const match = projects.find(function(p) { return p.outline && Object.keys(p.outline).length > 0; });\n      if (match) {\n        const o = match.outline;\n        const parts = [];\n        parts.push('# Story Outline: ' + (o.title || match.title));\n        if (o.premise) parts.push('\\n## Premise\\n' + o.premise);\n        if (o.themes) parts.push('\\n## Themes\\n' + (Array.isArray(o.themes) ? o.themes.join(', ') : o.themes));\n        if (o.characters) {\n          parts.push('\\n## Characters');\n          o.characters.forEach(function(c) { parts.push('- **' + c.name + '** (' + c.role + '): ' + c.arc + (c.description ? ' \\u2014 ' + c.description : '')); });\n        }\n        if (o.chapters) {\n          parts.push('\\n## Story Structure');\n          o.chapters.forEach(function(ch, idx, arr) { var lbl = (idx === 0 ? 'Prologue' : (idx === arr.length - 1 ? 'Epilogue' : 'Ch ' + ch.number)); parts.push(lbl + '. **' + ch.title + '**: ' + ch.brief + (ch.arc_notes ? ' _[Arc: ' + ch.arc_notes + ']_' : '')); });\n        }\n        const outlineText = parts.join('\\n');\n        return [{ json: { found: true, title: o.title || match.title, content_text: outlineText, content_type: 'outline', content_id: match.id, result: 'Found outline: ' + (o.title || match.title) + ' (' + outlineText.length + ' chars)' } }];\n      }\n    }\n    if (contentType === 'outline') { return [{ json: { found: false, result: 'No outline found for: ' + rawSearch, content_type: 'outline', title: '', content_text: '', content_id: '' } }]; }\n  }\n\n  if (contentType === '' || contentType === 'chapter') {\n    const projectResult = await searchProjectChapters(searchTerms);\n    if (projectResult) {\n      const { project, chapters } = projectResult;\n      if (chapters.length === 0) {\n        if (project.genre_slug) {\n          const fallbackUrl = supabaseUrl + '/rest/v1/published_content_v2?content_type=eq.chapter&genre_slug=eq.' + encodeURIComponent(project.genre_slug) + '&order=created_at.desc&limit=10&select=id,title,content_type,status,chapter_number,created_at' + userFilter;\n          const fallbackResp = await httpSelf.helpers.httpRequest({ method: 'GET', url: fallbackUrl, headers });\n          const fallbackChapters = Array.isArray(fallbackResp) ? fallbackResp : [];\n          if (fallbackChapters.length > 0) {\n            const epN = project.epilogueNum || 999;\n            const flist = fallbackChapters.map((c, i) => (i + 1) + '. ' + (c.chapter_number === 0 || !c.chapter_number ? 'Prologue' : (c.chapter_number === epN || c.chapter_number === 999 ? 'Epilogue' : 'Chapter ' + c.chapter_number)) + ': ' + (c.title || 'Untitled') + ' \\u2014 ' + (c.status || 'draft') + ' [ID: ' + c.id + ']').join('\\n');\n            return [{ json: { found: true, result: 'Project: ' + project.title + '\\nFound ' + fallbackChapters.length + ' chapter(s):\\n' + flist, content_type: 'chapter_list', title: project.title, content_text: flist, content_id: '' } }];\n          }\n        }\n        return [{ json: { found: false, result: 'Project \"' + project.title + '\" found but no chapters written yet.', content_type: 'chapter_list', title: project.title, content_text: '', content_id: '' } }];\n      }\n      const epNum = project.epilogueNum || 999;\n      const list = chapters.map((c, i) => (i + 1) + '. ' + (c.chapter_number === 0 || !c.chapter_number ? 'Prologue' : (c.chapter_number === epNum || c.chapter_number === 999 ? 'Epilogue' : 'Chapter ' + c.chapter_number)) + ': ' + (c.title || 'Untitled') + ' \\u2014 ' + (c.status || 'draft') + ' [ID: ' + c.id + ']').join('\\n');\n      return [{ json: { found: true, result: 'Project: ' + project.title + '\\nFound ' + chapters.length + ' chapter(s):\\n' + list, content_type: 'chapter_list', title: project.title, content_text: list, content_id: '' } }];\n    }\n  }\n\n  if (contentType === 'research_report') {\n    const item = await searchResearchReports(searchTerms);\n    if (item) { title = item.topic || 'Research Report'; contentText = item.content || ''; contentId = item.id; }\n  } else if (['short_story', 'blog_post', 'newsletter', 'chapter'].indexOf(contentType) >= 0) {\n    const item = await searchPublishedContent(contentType, searchTerms);\n    if (item) { title = item.title || 'Untitled'; contentText = item.content_text || ''; storagePath = item.storage_path || ''; contentId = item.id; }\n  } else {\n    var pcItem = await searchPublishedContent('', searchTerms);\n    if (pcItem) { title = pcItem.title || 'Untitled'; contentText = pcItem.content_text || ''; storagePath = pcItem.storage_path || ''; contentId = pcItem.id; foundType = pcItem.content_type || 'unknown'; }\n    else {\n      var rrItem = await searchResearchReports(searchTerms);\n      if (rrItem) { title = rrItem.topic || 'Research Report'; contentText = rrItem.content || ''; contentId = rrItem.id; foundType = 'research_report'; }\n    }\n  }\n\n  if (contentText === '' && storagePath) {\n    try {\n      contentText = await httpSelf.helpers.httpRequest({ method: 'GET', url: supabaseUrl + '/storage/v1/object/' + storagePath, headers: { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey }, returnFullResponse: false });\n      if (typeof contentText !== 'string') contentText = JSON.stringify(contentText);\n    } catch (e) { contentText = '[Error fetching from storage: ' + e.message + ']'; }\n  }\n\n  if (contentText === '' && title === '') {\n    return [{ json: { found: false, result: 'No content found for: ' + rawSearch + ' (type: ' + (contentType || 'any') + '). Keywords: ' + searchTerms.join(', ') } }];\n  }\n\n  var maxLen = 100000;\n  if (contentText.length > maxLen) contentText = contentText.substring(0, maxLen) + ' [Truncated]';\n\n  return [{ json: { found: true, title: title, content_text: contentText, content_type: foundType, content_id: contentId, result: 'Found: ' + title + ' (' + foundType + ', ' + contentText.length + ' chars)' } }];\n} catch (err) {\n  return [{ json: { found: false, result: 'Error: ' + err.message } }];\n}"
      }
    },
    {
      "id": "rc-result",
      "name": "set_result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        0
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "result",
              "value": "={{ $json.result }}",
              "type": "string"
            },
            {
              "id": "r2",
              "name": "found",
              "value": "={{ $json.found }}",
              "type": "boolean"
            },
            {
              "id": "r3",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "r4",
              "name": "content_text",
              "value": "={{ $json.content_text }}",
              "type": "string"
            },
            {
              "id": "r5",
              "name": "content_type",
              "value": "={{ $json.content_type }}",
              "type": "string"
            },
            {
              "id": "r6",
              "name": "content_id",
              "value": "={{ $json.content_id }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "includeOtherFields": false
        }
      }
    }
  ],
  "connections": {
    "workflow_trigger": {
      "main": [
        [
          {
            "node": "settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "settings": {
      "main": [
        [
          {
            "node": "retrieve_content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "retrieve_content": {
      "main": [
        [
          {
            "node": "set_result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "02e55154-9ac3-4820-b262-237b87905969",
  "activeVersionId": "02e55154-9ac3-4820-b262-237b87905969",
  "versionCounter": 54,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-15T16:42:22.979Z",
      "createdAt": "2026-03-15T16:42:22.979Z",
      "role": "workflow:owner",
      "workflowId": "2T7rElM5RqCKst51",
      "projectId": "so6FfyLmNOjnxEMJ",
      "project": {
        "updatedAt": "2026-01-12T16:36:13.622Z",
        "createdAt": "2026-01-12T15:34:50.204Z",
        "id": "so6FfyLmNOjnxEMJ",
        "name": "Eric Beser <eric@agileadtesting.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fd7cc91d-5051-4455-95a6-842a68ceadb7"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-29T16:28:58.017Z",
    "createdAt": "2026-03-29T16:28:58.017Z",
    "versionId": "02e55154-9ac3-4820-b262-237b87905969",
    "workflowId": "2T7rElM5RqCKst51",
    "nodes": [
      {
        "id": "rc-trigger",
        "name": "workflow_trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "parameters": {
          "inputSource": "passthrough"
        }
      },
      {
        "id": "rc-settings",
        "name": "settings",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          220,
          0
        ],
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "s1",
                "name": "SUPABASE_URL",
                "value": "https://faklxfakgzkpkbxfihzh.supabase.co",
                "type": "string"
              },
              {
                "id": "s2",
                "name": "SUPABASE_API_KEY",
                "value": "REDACTED_SUPABASE_KEY",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "rc-handler",
        "name": "retrieve_content",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          460,
          0
        ],
        "parameters": {
          "jsCode": "const supabaseUrl = $('settings').first().json.SUPABASE_URL;\nconst apiKey = $('settings').first().json.SUPABASE_API_KEY;\nconst headers = { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey, 'Content-Type': 'application/json' };\nconst trigger = $('workflow_trigger').first().json;\nconst contentType = trigger.content_type || '';\nconst rawSearch = trigger.search_term || '';\nconst rawLower = rawSearch.toLowerCase();\nconst httpSelf = this;\nconst userId = trigger.user_id || '';\nconst userFilter = userId ? '&user_id=eq.' + encodeURIComponent(userId) : '';\n\nif (contentType === 'story_arc' || rawLower.indexOf('story arc') >= 0 || rawLower.indexOf('story arcs') >= 0 || trigger.operation === 'list_story_arcs') {\n  const resp = await httpSelf.helpers.httpRequest({ method: 'GET', url: supabaseUrl + '/rest/v1/story_arcs_v2?order=name.asc&select=id,name,description,discovery_question', headers });\n  const arcs = Array.isArray(resp) ? resp : [];\n  if (arcs.length === 0) { return [{ json: { found: false, result: 'No story arcs found.', content_type: 'story_arc_list', title: '', content_text: '', content_id: '' } }]; }\n  const list = arcs.map((a, i) => (i + 1) + '. **' + a.name + '** \\u2014 ' + a.description + (a.discovery_question ? ' [Discovery Question: ' + a.discovery_question + ']' : '')).join('\\n');\n  return [{ json: { found: true, result: 'Available story arcs:\\n' + list, content_type: 'story_arc_list', title: 'Story Arcs', content_text: list, content_id: '' } }];\n}\n\nif (trigger.operation === 'list_projects' || rawLower.trim() === 'list_projects') {\n  const resp = await httpSelf.helpers.httpRequest({ method: 'GET', url: supabaseUrl + '/rest/v1/writing_projects_v2?order=created_at.desc&select=id,title,genre_slug,created_at' + userFilter, headers });\n  const projects = Array.isArray(resp) ? resp : [];\n  if (projects.length === 0) { return [{ json: { found: false, result: 'No writing projects found.', content_type: 'project_list', title: '', content_text: '', content_id: '' } }]; }\n  const list = projects.map((p, i) => (i + 1) + '. ' + p.title + ' (' + (p.genre_slug || 'no genre') + ') \\u2014 created ' + new Date(p.created_at).toLocaleDateString()).join('\\n');\n  return [{ json: { found: true, result: 'Found ' + projects.length + ' writing project(s):\\n' + list, content_type: 'project_list', title: 'Writing Projects', content_text: list, content_id: '' } }];\n}\n\nconst isListChapterOutlines = /\\b(list|show|all)\\b.*\\bchapter\\s+outline/i.test(rawSearch) || (contentType === 'chapter_outline');\nif (isListChapterOutlines) {\n  let coProject = null;\n  const coSearchTerms = rawSearch.replace(/\\b(list|show|all|chapter|outlines?|for|the|of|my)\\b/gi, '').trim();\n  if (coSearchTerms) {\n    const coResp = await httpSelf.helpers.httpRequest({ method: 'GET', url: supabaseUrl + '/rest/v1/writing_projects_v2?title=ilike.*' + encodeURIComponent(coSearchTerms) + '*&select=id,title,outline' + userFilter + '&limit=1', headers });\n    if (Array.isArray(coResp) && coResp.length > 0) coProject = coResp[0];\n  }\n  if (!coProject) {\n    const coResp2 = await httpSelf.helpers.httpRequest({ method: 'GET', url: supabaseUrl + '/rest/v1/writing_projects_v2?outline=not.is.null&order=updated_at.desc&select=id,title,outline' + userFilter + '&limit=5', headers });\n    const withCo = (coResp2 || []).filter(function(p) { return p.outline && p.outline.chapters && p.outline.chapters.some(function(ch) { return ch.chapter_outline && ch.chapter_outline.sub_chapters && ch.chapter_outline.sub_chapters.length > 0; }); });\n    if (withCo.length > 0) coProject = withCo[0];\n  }\n  if (!coProject || !coProject.outline || !coProject.outline.chapters) {\n    return [{ json: { found: false, result: 'No chapter outlines found. Create one with: \"create a chapter outline for chapter N of [book title]\"', content_type: 'chapter_outline_list', title: '', content_text: '', content_id: '' } }];\n  }\n  const chaptersWithOutlines = coProject.outline.chapters.filter(function(ch) { return ch.chapter_outline && ch.chapter_outline.sub_chapters && ch.chapter_outline.sub_chapters.length > 0; });\n  if (chaptersWithOutlines.length === 0) {\n    return [{ json: { found: false, result: 'No chapter outlines found for \"' + coProject.title + '\". The book outline exists with ' + coProject.outline.chapters.length + ' chapters, but none have detailed sub-chapter outlines yet.', content_type: 'chapter_outline_list', title: coProject.title, content_text: '', content_id: '' } }];\n  }\n  const coList = chaptersWithOutlines.map(function(ch) {\n    const co = ch.chapter_outline;\n    const subCount = co.sub_chapters.length;\n    const arc = co.chapter_story_arc || 'not set';\n    const allChs = coProject.outline.chapters;\n    const chLbl = (ch === allChs[0] || ch.number === 0) ? 'Prologue' : (ch === allChs[allChs.length - 1] ? 'Epilogue' : 'Ch ' + ch.number);\n    return '- **' + chLbl + ' \\u2014 ' + (co.chapter_title || ch.title) + '**: ' + subCount + ' sub-chapters, arc: ' + arc;\n  }).join('\\n');\n  return [{ json: { found: true, result: '\"' + coProject.title + '\" has ' + chaptersWithOutlines.length + ' chapter outline(s):\\n' + coList + '\\n\\nChapters without outlines: ' + (coProject.outline.chapters.length - chaptersWithOutlines.length) + '. Use \"create a chapter outline for chapter N\" to add more.', content_type: 'chapter_outline_list', title: coProject.title, content_text: coList, content_id: coProject.id } }];\n}\n\nconst isListOutlines = trigger.operation === 'list_outlines' || /\\b(list|show|all)\\b.*\\boutline/i.test(rawSearch) || (contentType === 'outline' && /\\b(list|show|all)\\b/i.test(rawSearch)) || (contentType === 'outline' && /^\\s*outlines?\\s*$/i.test(rawSearch));\nif (isListOutlines) {\n  const resp = await httpSelf.helpers.httpRequest({ method: 'GET', url: supabaseUrl + '/rest/v1/writing_projects_v2?outline=not.is.null&order=updated_at.desc&select=id,title,genre_slug,status,chapter_count,outline,updated_at' + userFilter, headers });\n  const projects = Array.isArray(resp) ? resp : [];\n  const withOutlines = projects.filter(function(p) { return p.title && p.outline && typeof p.outline === 'object' && Object.keys(p.outline).length > 0; });\n  if (withOutlines.length === 0) { return [{ json: { found: false, result: 'No outlines found.', content_type: 'outline_list', title: '', content_text: '', content_id: '' } }]; }\n  const list = withOutlines.map((p, i) => (i + 1) + '. **' + p.title + '** (' + (p.genre_slug || 'no genre') + ') \\u2014 ' + (p.status || 'outlined') + ', ' + (p.chapter_count || 0) + ' chapters \\u2014 updated ' + new Date(p.updated_at).toLocaleDateString()).join('\\n');\n  return [{ json: { found: true, result: 'Found ' + withOutlines.length + ' outline(s):\\n' + list, content_type: 'outline_list', title: 'Story Outlines', content_text: list, content_id: '' } }];\n}\n\nconst isOutlineVersions = trigger.operation === 'outline_versions' || /\\b(version|versions|history)\\b.*\\boutline/i.test(rawSearch) || /\\boutline\\b.*\\b(version|versions|history)\\b/i.test(rawSearch);\nif (isOutlineVersions) {\n  const vSearchTerms = rawLower.replace(/[^a-z0-9 ]/g, ' ').split(/[ ]+/).filter(function(w) { return w.length > 2 && ['the','outline','version','versions','history','show','list','for','get'].indexOf(w) === -1; }).slice(0, 4);\n  let projectId = null; let projectTitle = '';\n  for (const term of vSearchTerms) {\n    const pResp = await httpSelf.helpers.httpRequest({ method: 'GET', url: supabaseUrl + '/rest/v1/writing_projects_v2?title=ilike.*' + encodeURIComponent(term) + '*&select=id,title&limit=1' + userFilter, headers });\n    if (Array.isArray(pResp) && pResp.length > 0) { projectId = pResp[0].id; projectTitle = pResp[0].title; break; }\n  }\n  if (!projectId) { return [{ json: { found: false, result: 'No project found matching: ' + rawSearch, content_type: 'outline_version_list', title: '', content_text: '', content_id: '' } }]; }\n  const verResp = await httpSelf.helpers.httpRequest({ method: 'GET', url: supabaseUrl + '/rest/v1/outline_versions_v2?project_id=eq.' + projectId + '&order=version_number.desc&select=id,version_number,revision_note,created_at' + userFilter, headers });\n  const versions = Array.isArray(verResp) ? verResp : [];\n  if (versions.length === 0) { return [{ json: { found: true, result: 'No version history found for \"' + projectTitle + '\".', content_type: 'outline_version_list', title: projectTitle, content_text: '', content_id: '' } }]; }\n  const vList = versions.map(function(v, i) { return (i + 1) + '. Version ' + v.version_number + ' \\u2014 ' + new Date(v.created_at).toLocaleString() + (v.revision_note ? ' (' + v.revision_note + ')' : ''); }).join('\\n');\n  return [{ json: { found: true, result: 'Outline versions for \"' + projectTitle + '\":\\n' + vList + '\\n\\nTo revert: \"revert outline for ' + projectTitle + ' to version N\"', content_type: 'outline_version_list', title: projectTitle, content_text: vList, content_id: '' } }];\n}\n\nconst revertMatch = rawLower.match(/revert.*outline.*(?:to|version)\\s*(\\d+)/i) || (trigger.operation === 'revert_outline' ? [null, trigger.version_number] : null);\nif (revertMatch) {\n  const targetVersion = parseInt(revertMatch[1]);\n  const rSearchTerms = rawLower.replace(/[^a-z0-9 ]/g, ' ').split(/[ ]+/).filter(function(w) { return w.length > 2 && ['the','outline','version','revert','to','for','get','back'].indexOf(w) === -1 && !/^\\d+$/.test(w); }).slice(0, 4);\n  let rProjectId = null; let rProjectTitle = '';\n  for (const term of rSearchTerms) {\n    const pResp = await httpSelf.helpers.httpRequest({ method: 'GET', url: supabaseUrl + '/rest/v1/writing_projects_v2?title=ilike.*' + encodeURIComponent(term) + '*&select=id,title&limit=1' + userFilter, headers });\n    if (Array.isArray(pResp) && pResp.length > 0) { rProjectId = pResp[0].id; rProjectTitle = pResp[0].title; break; }\n  }\n  if (!rProjectId) { return [{ json: { found: false, result: 'No project found matching: ' + rawSearch, content_type: 'outline_revert', title: '', content_text: '', content_id: '' } }]; }\n  const vResp = await httpSelf.helpers.httpRequest({ method: 'GET', url: supabaseUrl + '/rest/v1/outline_versions_v2?project_id=eq.' + rProjectId + '&version_number=eq.' + targetVersion + '&select=outline,version_number&limit=1' + userFilter, headers });\n  if (!Array.isArray(vResp) || vResp.length === 0) { return [{ json: { found: false, result: 'Version ' + targetVersion + ' not found for \"' + rProjectTitle + '\".', content_type: 'outline_revert', title: rProjectTitle, content_text: '', content_id: '' } }]; }\n  const oldOutline = vResp[0].outline;\n  await httpSelf.helpers.httpRequest({ method: 'PATCH', url: supabaseUrl + '/rest/v1/writing_projects_v2?id=eq.' + rProjectId + userFilter, headers: { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey, 'Content-Type': 'application/json' }, body: { outline: oldOutline, updated_at: new Date().toISOString() } });\n  const chars = (oldOutline.characters || []).map(function(c) { return c.name; }).join(', ');\n  return [{ json: { found: true, result: 'Reverted \"' + rProjectTitle + '\" to version ' + targetVersion + '. Characters: ' + chars + '. Chapters: ' + (oldOutline.chapters || []).length, content_type: 'outline_revert', title: rProjectTitle, content_text: 'Reverted to version ' + targetVersion, content_id: rProjectId } }];\n}\n\nconst stopWords = ['the', 'a', 'an', 'in', 'on', 'at', 'to', 'for', 'of', 'and', 'or', 'is', 'are', 'was', 'were', 'how', 'what', 'why', 'when', 'my', 'draft', 'about', 'called', 'titled', 'named', 'get', 'pull', 'up', 'blog', 'post', 'story', 'short', 'newsletter', 'chapter', 'report', 'research', 'all', 'chapters', 'from', 'project', 'retrieve', 'fetch', 'find', 'outline', 'outlines', 'list', 'show'];\nconst words = rawSearch.toLowerCase().replace(/[^a-z0-9 ]/g, ' ').split(/[ ]+/).filter(function(w) { return w.length > 2 && stopWords.indexOf(w) === -1; });\nconst searchTerms = words.slice(0, 4);\n\nlet title = ''; let contentText = ''; let storagePath = ''; let contentId = ''; let foundType = contentType;\n\nasync function searchProjectChapters(terms) {\n  for (const term of terms) {\n    const url = supabaseUrl + '/rest/v1/writing_projects_v2?title=ilike.*' + encodeURIComponent(term) + '*&select=id,title,genre_slug,outline&limit=5' + userFilter;\n    const resp = await httpSelf.helpers.httpRequest({ method: 'GET', url, headers });\n    const projects = Array.isArray(resp) ? resp : [];\n    if (projects.length > 0) {\n      const project = projects[0];\n      let epilogueNum = 999;\n      if (project.outline && project.outline.chapters && project.outline.chapters.length > 0) {\n        epilogueNum = project.outline.chapters[project.outline.chapters.length - 1].number;\n      }\n      project.epilogueNum = epilogueNum;\n      delete project.outline;\n      const chapUrl = supabaseUrl + '/rest/v1/published_content_v2?project_id=eq.' + project.id + '&content_type=eq.chapter&order=chapter_number.asc&select=id,title,content_type,status,chapter_number,created_at' + userFilter;\n      const chapResp = await httpSelf.helpers.httpRequest({ method: 'GET', url: chapUrl, headers });\n      return { project, chapters: Array.isArray(chapResp) ? chapResp : [] };\n    }\n  }\n  return null;\n}\n\nasync function searchPublishedContent(type, terms) {\n  for (const term of terms) {\n    let url = supabaseUrl + '/rest/v1/published_content_v2?title=ilike.*' + encodeURIComponent(term) + '*&order=created_at.desc&limit=5' + userFilter;\n    if (type) url += '&content_type=eq.' + type;\n    const resp = await httpSelf.helpers.httpRequest({ method: 'GET', url, headers });\n    const items = Array.isArray(resp) ? resp : [];\n    if (items.length > 0) {\n      return items.find(function(item) { const t = (item.title || '').toLowerCase(); return terms.filter(function(kw) { return t.indexOf(kw) >= 0; }).length >= 2; }) || items[0];\n    }\n  }\n  return null;\n}\n\nasync function searchResearchReports(terms) {\n  for (const term of terms) {\n    const url = supabaseUrl + '/rest/v1/research_reports_v2?topic=ilike.*' + encodeURIComponent(term) + '*&order=updated_at.desc&limit=5' + userFilter;\n    const resp = await httpSelf.helpers.httpRequest({ method: 'GET', url, headers });\n    const items = Array.isArray(resp) ? resp : [];\n    if (items.length > 0) {\n      return items.find(function(item) { const t = (item.topic || '').toLowerCase(); return terms.filter(function(kw) { return t.indexOf(kw) >= 0; }).length >= 2; }) || items[0];\n    }\n  }\n  return null;\n}\n\ntry {\n  if (contentType === 'outline' || contentType === '' || rawSearch.toLowerCase().indexOf('outline') >= 0) {\n    for (const term of searchTerms) {\n      const url = supabaseUrl + '/rest/v1/writing_projects_v2?title=ilike.*' + encodeURIComponent(term) + '*&select=id,title,genre_slug,outline,created_at&limit=5' + userFilter;\n      const resp = await httpSelf.helpers.httpRequest({ method: 'GET', url, headers });\n      const projects = Array.isArray(resp) ? resp : [];\n      const match = projects.find(function(p) { return p.outline && Object.keys(p.outline).length > 0; });\n      if (match) {\n        const o = match.outline;\n        const parts = [];\n        parts.push('# Story Outline: ' + (o.title || match.title));\n        if (o.premise) parts.push('\\n## Premise\\n' + o.premise);\n        if (o.themes) parts.push('\\n## Themes\\n' + (Array.isArray(o.themes) ? o.themes.join(', ') : o.themes));\n        if (o.characters) {\n          parts.push('\\n## Characters');\n          o.characters.forEach(function(c) { parts.push('- **' + c.name + '** (' + c.role + '): ' + c.arc + (c.description ? ' \\u2014 ' + c.description : '')); });\n        }\n        if (o.chapters) {\n          parts.push('\\n## Story Structure');\n          o.chapters.forEach(function(ch, idx, arr) { var lbl = (idx === 0 ? 'Prologue' : (idx === arr.length - 1 ? 'Epilogue' : 'Ch ' + ch.number)); parts.push(lbl + '. **' + ch.title + '**: ' + ch.brief + (ch.arc_notes ? ' _[Arc: ' + ch.arc_notes + ']_' : '')); });\n        }\n        const outlineText = parts.join('\\n');\n        return [{ json: { found: true, title: o.title || match.title, content_text: outlineText, content_type: 'outline', content_id: match.id, result: 'Found outline: ' + (o.title || match.title) + ' (' + outlineText.length + ' chars)' } }];\n      }\n    }\n    if (contentType === 'outline') { return [{ json: { found: false, result: 'No outline found for: ' + rawSearch, content_type: 'outline', title: '', content_text: '', content_id: '' } }]; }\n  }\n\n  if (contentType === '' || contentType === 'chapter') {\n    const projectResult = await searchProjectChapters(searchTerms);\n    if (projectResult) {\n      const { project, chapters } = projectResult;\n      if (chapters.length === 0) {\n        if (project.genre_slug) {\n          const fallbackUrl = supabaseUrl + '/rest/v1/published_content_v2?content_type=eq.chapter&genre_slug=eq.' + encodeURIComponent(project.genre_slug) + '&order=created_at.desc&limit=10&select=id,title,content_type,status,chapter_number,created_at' + userFilter;\n          const fallbackResp = await httpSelf.helpers.httpRequest({ method: 'GET', url: fallbackUrl, headers });\n          const fallbackChapters = Array.isArray(fallbackResp) ? fallbackResp : [];\n          if (fallbackChapters.length > 0) {\n            const epN = project.epilogueNum || 999;\n            const flist = fallbackChapters.map((c, i) => (i + 1) + '. ' + (c.chapter_number === 0 || !c.chapter_number ? 'Prologue' : (c.chapter_number === epN || c.chapter_number === 999 ? 'Epilogue' : 'Chapter ' + c.chapter_number)) + ': ' + (c.title || 'Untitled') + ' \\u2014 ' + (c.status || 'draft') + ' [ID: ' + c.id + ']').join('\\n');\n            return [{ json: { found: true, result: 'Project: ' + project.title + '\\nFound ' + fallbackChapters.length + ' chapter(s):\\n' + flist, content_type: 'chapter_list', title: project.title, content_text: flist, content_id: '' } }];\n          }\n        }\n        return [{ json: { found: false, result: 'Project \"' + project.title + '\" found but no chapters written yet.', content_type: 'chapter_list', title: project.title, content_text: '', content_id: '' } }];\n      }\n      const epNum = project.epilogueNum || 999;\n      const list = chapters.map((c, i) => (i + 1) + '. ' + (c.chapter_number === 0 || !c.chapter_number ? 'Prologue' : (c.chapter_number === epNum || c.chapter_number === 999 ? 'Epilogue' : 'Chapter ' + c.chapter_number)) + ': ' + (c.title || 'Untitled') + ' \\u2014 ' + (c.status || 'draft') + ' [ID: ' + c.id + ']').join('\\n');\n      return [{ json: { found: true, result: 'Project: ' + project.title + '\\nFound ' + chapters.length + ' chapter(s):\\n' + list, content_type: 'chapter_list', title: project.title, content_text: list, content_id: '' } }];\n    }\n  }\n\n  if (contentType === 'research_report') {\n    const item = await searchResearchReports(searchTerms);\n    if (item) { title = item.topic || 'Research Report'; contentText = item.content || ''; contentId = item.id; }\n  } else if (['short_story', 'blog_post', 'newsletter', 'chapter'].indexOf(contentType) >= 0) {\n    const item = await searchPublishedContent(contentType, searchTerms);\n    if (item) { title = item.title || 'Untitled'; contentText = item.content_text || ''; storagePath = item.storage_path || ''; contentId = item.id; }\n  } else {\n    var pcItem = await searchPublishedContent('', searchTerms);\n    if (pcItem) { title = pcItem.title || 'Untitled'; contentText = pcItem.content_text || ''; storagePath = pcItem.storage_path || ''; contentId = pcItem.id; foundType = pcItem.content_type || 'unknown'; }\n    else {\n      var rrItem = await searchResearchReports(searchTerms);\n      if (rrItem) { title = rrItem.topic || 'Research Report'; contentText = rrItem.content || ''; contentId = rrItem.id; foundType = 'research_report'; }\n    }\n  }\n\n  if (contentText === '' && storagePath) {\n    try {\n      contentText = await httpSelf.helpers.httpRequest({ method: 'GET', url: supabaseUrl + '/storage/v1/object/' + storagePath, headers: { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey }, returnFullResponse: false });\n      if (typeof contentText !== 'string') contentText = JSON.stringify(contentText);\n    } catch (e) { contentText = '[Error fetching from storage: ' + e.message + ']'; }\n  }\n\n  if (contentText === '' && title === '') {\n    return [{ json: { found: false, result: 'No content found for: ' + rawSearch + ' (type: ' + (contentType || 'any') + '). Keywords: ' + searchTerms.join(', ') } }];\n  }\n\n  var maxLen = 100000;\n  if (contentText.length > maxLen) contentText = contentText.substring(0, maxLen) + ' [Truncated]';\n\n  return [{ json: { found: true, title: title, content_text: contentText, content_type: foundType, content_id: contentId, result: 'Found: ' + title + ' (' + foundType + ', ' + contentText.length + ' chars)' } }];\n} catch (err) {\n  return [{ json: { found: false, result: 'Error: ' + err.message } }];\n}"
        }
      },
      {
        "id": "rc-result",
        "name": "set_result",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          700,
          0
        ],
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "r1",
                "name": "result",
                "value": "={{ $json.result }}",
                "type": "string"
              },
              {
                "id": "r2",
                "name": "found",
                "value": "={{ $json.found }}",
                "type": "boolean"
              },
              {
                "id": "r3",
                "name": "title",
                "value": "={{ $json.title }}",
                "type": "string"
              },
              {
                "id": "r4",
                "name": "content_text",
                "value": "={{ $json.content_text }}",
                "type": "string"
              },
              {
                "id": "r5",
                "name": "content_type",
                "value": "={{ $json.content_type }}",
                "type": "string"
              },
              {
                "id": "r6",
                "name": "content_id",
                "value": "={{ $json.content_id }}",
                "type": "string"
              }
            ]
          },
          "options": {
            "includeOtherFields": false
          }
        }
      }
    ],
    "connections": {
      "workflow_trigger": {
        "main": [
          [
            {
              "node": "settings",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "settings": {
        "main": [
          [
            {
              "node": "retrieve_content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "retrieve_content": {
        "main": [
          [
            {
              "node": "set_result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Eric Beser",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-29T16:28:58.113Z",
        "id": 1382,
        "workflowId": "2T7rElM5RqCKst51",
        "versionId": "02e55154-9ac3-4820-b262-237b87905969",
        "event": "deactivated",
        "userId": "fd7cc91d-5051-4455-95a6-842a68ceadb7"
      },
      {
        "createdAt": "2026-03-29T16:28:58.162Z",
        "id": 1383,
        "workflowId": "2T7rElM5RqCKst51",
        "versionId": "02e55154-9ac3-4820-b262-237b87905969",
        "event": "activated",
        "userId": "fd7cc91d-5051-4455-95a6-842a68ceadb7"
      },
      {
        "createdAt": "2026-03-29T16:28:58.462Z",
        "id": 1384,
        "workflowId": "2T7rElM5RqCKst51",
        "versionId": "02e55154-9ac3-4820-b262-237b87905969",
        "event": "deactivated",
        "userId": "fd7cc91d-5051-4455-95a6-842a68ceadb7"
      },
      {
        "createdAt": "2026-03-29T16:28:58.521Z",
        "id": 1385,
        "workflowId": "2T7rElM5RqCKst51",
        "versionId": "02e55154-9ac3-4820-b262-237b87905969",
        "event": "activated",
        "userId": "fd7cc91d-5051-4455-95a6-842a68ceadb7"
      }
    ]
  }
}