workflows/16_sub_eve_knowledge_callback.json
{
  "id": "PaFJlsxWq4BKt0iq",
  "name": "Sub - Eve Knowledge Callback",
  "active": true,
  "nodes": [
    {
      "id": "ek-trigger",
      "name": "workflow_trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "parameters": {
        "inputSource": "passthrough"
      }
    },
    {
      "id": "ek-settings",
      "name": "settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "s1", "name": "SUPABASE_URL", "value": "https://qsirioazmsmrrfoltrhn.supabase.co", "type": "string" },
            { "id": "s2", "name": "SUPABASE_API_KEY", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFzaXJpb2F6bXNtcnJmb2x0cmhuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjgwOTU2MSwiZXhwIjoyMDg4Mzg1NTYxfQ.oqvzwBcCwYTI1pe1MPnNQn64Yc3e-mozT2yFOYi3iAk", "type": "string" },
            { "id": "s3", "name": "ELEVENLABS_API_KEY", "value": "03bdc156dc98ef157baf2090e148f6141952e6ba115b8ad4cc5c364ec5fbc9ff", "type": "string" },
            { "id": "s4", "name": "EVE_AGENT_ID", "value": "agent_6401kjwqy66nfhabj82dvy8pnh2b", "type": "string" },
            { "id": "s5", "name": "PHONE_NUMBER_ID", "value": "phnum_8201kectdg3ze30shnq7wsm8bm84", "type": "string" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "ek-handler",
      "name": "eve_callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 0],
      "parameters": {
        "jsCode": "const elApiKey = $('settings').first().json.ELEVENLABS_API_KEY;\nconst agentId = $('settings').first().json.EVE_AGENT_ID;\nconst phoneNumberId = $('settings').first().json.PHONE_NUMBER_ID;\nconst elHeaders = { 'xi-api-key': elApiKey, 'Content-Type': 'application/json' };\n\nconst trigger = $('workflow_trigger').first().json;\nconst contentText = trigger.content_text || '';\nconst contentTitle = trigger.content_title || 'Untitled';\nconst contentType = trigger.content_type || 'content';\nconst callbackMode = trigger.callback_mode || 'review';\nconst self = this;\n\nif (contentText === '') {\n  return [{ json: { result: 'Error: No content_text provided for knowledge base injection.' } }];\n}\n\ntry {\n  // Step 0: Get the caller's phone number from most recent COMPLETED inbound call\n  const convosResp = await self.helpers.httpRequest({\n    method: 'GET',\n    url: 'https://api.elevenlabs.io/v1/convai/conversations?agent_id=' + agentId + '&page_size=10',\n    headers: elHeaders\n  });\n\n  var callbackPhone = '';\n  var eveAgentNumber = '';\n  const convos = convosResp.conversations || [];\n  for (var i = 0; i < convos.length; i++) {\n    // Only check completed calls\n    if (convos[i].status !== 'done') continue;\n\n    var convoDetail = await self.helpers.httpRequest({\n      method: 'GET',\n      url: 'https://api.elevenlabs.io/v1/convai/conversations/' + convos[i].conversation_id,\n      headers: elHeaders\n    });\n    var phoneCall = (convoDetail.metadata || {}).phone_call || {};\n    if (phoneCall.direction === 'inbound' && phoneCall.external_number) {\n      callbackPhone = phoneCall.external_number;\n      eveAgentNumber = phoneCall.agent_number || '';\n      break;\n    }\n  }\n\n  if (callbackPhone === '') {\n    return [{ json: { result: 'Error: Could not find caller phone number from recent conversations.' } }];\n  }\n\n  // SAFETY: Never call Eve's own number (would create infinite loop)\n  if (eveAgentNumber && callbackPhone === eveAgentNumber) {\n    return [{ json: { result: 'Error: Callback phone matches Eve agent number. Aborting to prevent loop.' } }];\n  }\n\n  // Step 1: Get current agent config\n  const agentResp = await self.helpers.httpRequest({\n    method: 'GET',\n    url: 'https://api.elevenlabs.io/v1/convai/agents/' + agentId,\n    headers: elHeaders\n  });\n\n  var cc = agentResp.conversation_config || {};\n  var ag = cc.agent || {};\n  var pr = ag.prompt || {};\n  var existingKB = pr.knowledge_base || [];\n\n  var sessionDocs = existingKB.filter(function(doc) {\n    return doc.name && doc.name.indexOf('Eve Session:') === 0;\n  });\n  var remainingKB = existingKB.filter(function(doc) {\n    return !(doc.name && doc.name.indexOf('Eve Session:') === 0);\n  });\n\n  // Step 2: Detach old session docs then delete\n  if (sessionDocs.length > 0) {\n    await self.helpers.httpRequest({\n      method: 'PATCH',\n      url: 'https://api.elevenlabs.io/v1/convai/agents/' + agentId,\n      headers: elHeaders,\n      body: JSON.stringify({ conversation_config: { agent: { prompt: { knowledge_base: remainingKB } } } })\n    });\n    for (var d = 0; d < sessionDocs.length; d++) {\n      try {\n        await self.helpers.httpRequest({\n          method: 'DELETE',\n          url: 'https://api.elevenlabs.io/v1/convai/knowledge-base/' + sessionDocs[d].id,\n          headers: { 'xi-api-key': elApiKey }\n        });\n      } catch (delErr) {}\n    }\n  }\n\n  // Step 3: Create new KB document\n  var timestamp = new Date().toISOString().replace(/[:.]/g, '-');\n  var docName = 'Eve Session: ' + contentType + ' - ' + contentTitle + ' - ' + timestamp;\n  var fileName = contentTitle.replace(/[^a-zA-Z0-9]/g, '_').substring(0, 50) + '.txt';\n\n  var boundary = '----n8nFormBoundary' + Date.now();\n  var formBody = '--' + boundary + '\\r\\n';\n  formBody += 'Content-Disposition: form-data; name=\"name\"\\r\\n\\r\\n';\n  formBody += docName + '\\r\\n';\n  formBody += '--' + boundary + '\\r\\n';\n  formBody += 'Content-Disposition: form-data; name=\"file\"; filename=\"' + fileName + '\"\\r\\n';\n  formBody += 'Content-Type: text/plain\\r\\n\\r\\n';\n  formBody += contentText + '\\r\\n';\n  formBody += '--' + boundary + '--\\r\\n';\n\n  var kbResp = await self.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.elevenlabs.io/v1/convai/knowledge-base',\n    headers: {\n      'xi-api-key': elApiKey,\n      'Content-Type': 'multipart/form-data; boundary=' + boundary\n    },\n    body: formBody\n  });\n\n  var newDocId = kbResp.id || kbResp.document_id || '';\n  if (newDocId === '') {\n    return [{ json: { result: 'Error: Failed to create KB doc. Response: ' + JSON.stringify(kbResp) } }];\n  }\n\n  // Step 4: Attach new KB doc to agent\n  var updatedKB = remainingKB.slice();\n  updatedKB.push({ type: 'file', id: newDocId, name: docName });\n\n  await self.helpers.httpRequest({\n    method: 'PATCH',\n    url: 'https://api.elevenlabs.io/v1/convai/agents/' + agentId,\n    headers: elHeaders,\n    body: JSON.stringify({ conversation_config: { agent: { prompt: { knowledge_base: updatedKB } } } })\n  });\n\n  // Step 5: Update first_message\n  var firstMessage = '';\n  if (callbackMode === 'brainstorm') {\n    firstMessage = 'Hey darling, I have got that ' + contentType.replace(/_/g, ' ') + ' loaded up, ' + contentTitle + '. Want me to summarize the key points first, or should we dive straight into brainstorming?';\n  } else {\n    firstMessage = 'Hey darling, I have got your ' + contentType.replace(/_/g, ' ') + ' loaded up, ' + contentTitle + '. Want the highlights first, or should we dive straight into revisions?';\n  }\n\n  await self.helpers.httpRequest({\n    method: 'PATCH',\n    url: 'https://api.elevenlabs.io/v1/convai/agents/' + agentId,\n    headers: elHeaders,\n    body: JSON.stringify({ conversation_config: { agent: { first_message: firstMessage } } })\n  });\n\n  // Step 6: Make outbound call to the caller's phone\n  var callResp = await self.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.elevenlabs.io/v1/convai/twilio/outbound-call',\n    headers: elHeaders,\n    body: JSON.stringify({\n      agent_id: agentId,\n      agent_phone_number_id: phoneNumberId,\n      to_number: callbackPhone\n    })\n  });\n\n  var callId = callResp.call_id || callResp.id || 'initiated';\n  return [{ json: { result: 'KB updated with \"' + contentTitle + '\" (' + contentText.length + ' chars). Calling ' + callbackPhone + ' in ' + callbackMode + ' mode. Call ID: ' + callId, call_id: callId, kb_doc_id: newDocId, callback_phone: callbackPhone } }];\n\n} catch (err) {\n  return [{ json: { result: 'Error in Eve callback flow: ' + err.message } }];\n}"
      }
    },
    {
      "id": "ek-result",
      "name": "set_result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [740, 0],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "r1", "name": "result", "value": "={{ $json.result }}", "type": "string" }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "workflow_trigger": { "main": [[{ "node": "settings", "type": "main", "index": 0 }]] },
    "settings": { "main": [[{ "node": "eve_callback", "type": "main", "index": 0 }]] },
    "eve_callback": { "main": [[{ "node": "set_result", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}