workflows/18_tool_edit_outline_v2.json
{
  "updatedAt": "2026-03-29T16:29:47.900Z",
  "createdAt": "2026-03-15T16:42:23.774Z",
  "id": "GzCpOrWwXHYkEAeX",
  "name": "Tool - Edit Outline V2",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "project_title"
            },
            {
              "name": "edit_instructions"
            },
            {
              "name": "recipient_email"
            },
            {
              "name": "bcc_email"
            },
            {
              "name": "user_prompt"
            },
            {
              "name": "user_id"
            }
          ]
        }
      },
      "id": "eo-trigger",
      "name": "workflow_trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const SUPABASE_URL = 'https://faklxfakgzkpkbxfihzh.supabase.co';\nconst SUPABASE_API_KEY = 'REDACTED_SUPABASE_KEY';\nconst trigger = $('workflow_trigger').first().json;\nconst userId = trigger.user_id || '';\n\nlet recipient_email = trigger.recipient_email;\nlet bcc_email = trigger.bcc_email;\ntry {\n  const rows = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${SUPABASE_URL}/rest/v1/app_config_v2?key=in.(recipient_email,bcc_email)&select=key,value&user_id=eq.${encodeURIComponent(userId)}`,\n    headers: { 'apikey': SUPABASE_API_KEY, 'Authorization': `Bearer ${SUPABASE_API_KEY}` }\n  });\n  for (const row of rows) {\n    if (row.key === 'recipient_email' && !recipient_email) recipient_email = row.value;\n    if (row.key === 'bcc_email' && !bcc_email) bcc_email = row.value;\n  }\n} catch (e) {\n  if (!recipient_email) recipient_email = 'eric@agileadtesting.com';\n}\n\nreturn [{ json: { SUPABASE_URL, SUPABASE_API_KEY, userId, recipient_email, bcc_email: bcc_email || '' } }];"
      },
      "id": "eo-settings",
      "name": "settings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const supabaseUrl = $('settings').first().json.SUPABASE_URL;\nconst apiKey = $('settings').first().json.SUPABASE_API_KEY;\nconst userId = $('settings').first().json.userId || '';\nconst headers = { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey };\nconst trigger = $('workflow_trigger').first().json;\nconst projectTitle = trigger.project_title || '';\nconst editInstructions = trigger.edit_instructions || '';\n\nif (!projectTitle) {\n  return [{ json: { error: true, result: 'No project_title provided. Specify which outline to edit.' } }];\n}\n\n// Load the existing outline\nconst resp = await this.helpers.httpRequest({\n  method: 'GET',\n  url: supabaseUrl + '/rest/v1/writing_projects_v2?title=ilike.*' + encodeURIComponent(projectTitle) + '*&select=id,title,genre_slug,outline&limit=1&user_id=eq.' + encodeURIComponent(userId),\n  headers\n});\n\nif (!Array.isArray(resp) || resp.length === 0) {\n  return [{ json: { error: true, result: 'No project found matching: ' + projectTitle } }];\n}\n\nconst project = resp[0];\nif (!project.outline || Object.keys(project.outline).length === 0) {\n  return [{ json: { error: true, result: 'Project \"' + project.title + '\" has no outline. Brainstorm a story first.' } }];\n}\n\n// Build a tight edit prompt\nconst outlineJson = JSON.stringify(project.outline, null, 2);\n\nconst prompt = `You are a precise JSON editor for story outlines. You will receive an existing story outline as JSON and specific edit instructions.\n\n## RULES \u2014 READ CAREFULLY\n1. Apply ONLY the changes explicitly requested in the edit instructions below.\n2. Do NOT modify any field, character, chapter, theme, or premise that is not mentioned in the edit instructions.\n3. If the instruction says \"change Margaret's age to 50\", find Margaret in the characters array and update ONLY her description or arc text to reflect the new age. Do NOT change her name, role, or anything else. Do NOT touch any other character.\n4. If the instruction says \"rename chapter 5\", change ONLY that chapter's title. Do NOT modify its brief, arc_notes, or any other chapter.\n5. Preserve all text EXACTLY as-is for fields you are not editing \u2014 same wording, same punctuation, same spelling.\n6. Return the COMPLETE outline JSON with the targeted edits applied. Do not omit any fields or chapters.\n7. If you are unsure whether a change is requested, DO NOT make it. When in doubt, preserve the original.\n\n## EXISTING OUTLINE (JSON)\n${outlineJson}\n\n## EDIT INSTRUCTIONS\n${editInstructions}\n\nApply ONLY the requested edits to the outline above. Return the complete outline as JSON.`;\n\nreturn [{ json: { prompt, project_id: project.id, project_title: project.title, existing_outline: project.outline } }];"
      },
      "id": "eo-load",
      "name": "load_and_prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "id": "eo-chain",
      "name": "apply_edits",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "options": {
          "maxTokensToSample": 16000
        }
      },
      "id": "eo-claude",
      "name": "claude-sonnet",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        624,
        240
      ],
      "credentials": {
        "anthropicApi": {
          "id": "5LhCYKsaFO3fF7II",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\"type\": \"object\", \"properties\": {\"title\": {\"type\": \"string\"}, \"premise\": {\"type\": \"string\"}, \"themes\": {\"type\": \"array\", \"items\": {\"type\": \"string\"}}, \"characters\": {\"type\": \"array\", \"items\": {\"type\": \"object\", \"properties\": {\"name\": {\"type\": \"string\"}, \"role\": {\"type\": \"string\"}, \"arc\": {\"type\": \"string\"}, \"description\": {\"type\": \"string\"}}}}, \"chapters\": {\"type\": \"array\", \"items\": {\"type\": \"object\", \"properties\": {\"number\": {\"type\": \"integer\"}, \"title\": {\"type\": \"string\"}, \"brief\": {\"type\": \"string\"}, \"arc_notes\": {\"type\": \"string\"}, \"research_topics\": {\"type\": \"array\", \"items\": {\"type\": \"string\"}}}}}}, \"required\": [\"title\", \"premise\", \"themes\", \"characters\", \"chapters\"]}"
      },
      "id": "eo-parser",
      "name": "outline_parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        808,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "const supabaseUrl = $('settings').first().json.SUPABASE_URL;\nconst apiKey = $('settings').first().json.SUPABASE_API_KEY;\nconst userId = $('settings').first().json.userId || '';\nconst headers = { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey, 'Content-Type': 'application/json', 'Prefer': 'return=representation' };\nconst readHeaders = { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey };\n\nconst loadData = $('load_and_prompt').first().json;\nconst projectId = loadData.project_id;\nconst projectTitle = loadData.project_title;\nconst existingOutline = loadData.existing_outline;\nconst editedOutline = $input.first().json.output || {};\n\n// Check for error from load_and_prompt\nif (loadData.error) {\n  return [{ json: { outline: null, project_id: null, title: '', result: loadData.result } }];\n}\n\n// Auto-snapshot the previous outline before saving edits\ntry {\n  const verResp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: supabaseUrl + '/rest/v1/outline_versions_v2?project_id=eq.' + projectId + '&order=version_number.desc&limit=1&select=version_number&user_id=eq.' + encodeURIComponent(userId),\n    headers: readHeaders\n  });\n  const maxVersion = (Array.isArray(verResp) && verResp.length > 0) ? verResp[0].version_number : 0;\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: supabaseUrl + '/rest/v1/outline_versions_v2',\n    headers,\n    body: {\n      project_id: projectId,\n      version_number: maxVersion + 1,\n      outline: existingOutline,\n      revision_note: 'Auto-snapshot before edit',\n      user_id: userId\n    }\n  });\n} catch (e) { /* continue */ }\n\n// MERGE edited outline into existing \u2014 preserve chapter_outline sub-structures\nconst mergedOutline = JSON.parse(JSON.stringify(existingOutline));\n\n// Update top-level fields from edit\nif (editedOutline.title) mergedOutline.title = editedOutline.title;\nif (editedOutline.premise) mergedOutline.premise = editedOutline.premise;\nif (editedOutline.themes) mergedOutline.themes = editedOutline.themes;\nif (editedOutline.characters) mergedOutline.characters = editedOutline.characters;\nif (editedOutline.story_arc_name) mergedOutline.story_arc_name = editedOutline.story_arc_name;\n\n// Merge chapters: update edited fields but PRESERVE chapter_outline from existing\nif (editedOutline.chapters && Array.isArray(editedOutline.chapters)) {\n  for (const editedCh of editedOutline.chapters) {\n    const existingCh = mergedOutline.chapters.find(ch => ch.number === editedCh.number);\n    if (existingCh) {\n      // Update book-level chapter fields from edit\n      if (editedCh.title) existingCh.title = editedCh.title;\n      if (editedCh.brief) existingCh.brief = editedCh.brief;\n      if (editedCh.arc_notes) existingCh.arc_notes = editedCh.arc_notes;\n      if (editedCh.research_topics) existingCh.research_topics = editedCh.research_topics;\n      \n      // If Claude included chapter_outline in the edit, use it (intentional edit)\n      // Otherwise PRESERVE the existing chapter_outline\n      if (editedCh.chapter_outline && editedCh.chapter_outline.sub_chapters) {\n        existingCh.chapter_outline = editedCh.chapter_outline;\n      }\n      // existing chapter_outline stays untouched if not in edit\n    }\n  }\n}\n\n// Save merged outline\nawait this.helpers.httpRequest({\n  method: 'PATCH',\n  url: supabaseUrl + '/rest/v1/writing_projects_v2?id=eq.' + projectId + '&user_id=eq.' + encodeURIComponent(userId),\n  headers,\n  body: { outline: mergedOutline, updated_at: new Date().toISOString() }\n});\n\nreturn [{ json: { outline: mergedOutline, project_id: projectId, title: projectTitle } }];"
      },
      "id": "eo-save",
      "name": "save_edited_outline",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        0
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('settings').item.json.recipient_email }}",
        "subject": "=Outline Edit: {{ $('save_edited_outline').item.json.title }}",
        "message": "={{ $('workflow_trigger').first().json.user_prompt ? '<div style=\"background:#f0f0f0; border-left:4px solid #666; padding:12px 16px; margin-bottom:24px; font-family:sans-serif; font-size:14px; color:#333;\"><strong>Command:</strong> ' + $('workflow_trigger').first().json.user_prompt + '</div>' : '' }}<h2>{{ $json.title }} (Edited)</h2>\n<p><strong>Premise:</strong> {{ $json.outline?.premise }}</p>\n<h3>Themes</h3>\n<ul>{{ ($json.outline?.themes || []).map(t => '<li>' + t + '</li>').join('') }}</ul>\n<h3>Characters</h3>\n<table style=\"border-collapse:collapse;width:100%;\"><tr style=\"background:#f5f5f5;\"><th style=\"padding:8px;border:1px solid #ddd;\">Name</th><th style=\"padding:8px;border:1px solid #ddd;\">Role</th><th style=\"padding:8px;border:1px solid #ddd;\">Arc</th></tr>{{ ($json.outline?.characters || []).map(c => '<tr><td style=\"padding:8px;border:1px solid #ddd;font-weight:bold;\">' + c.name + '</td><td style=\"padding:8px;border:1px solid #ddd;\">' + c.role + '</td><td style=\"padding:8px;border:1px solid #ddd;\">' + c.arc + '</td></tr>').join('') }}</table>\n<h3>Section Outline</h3>\n{{ ($json.outline?.chapters || []).map(ch => '<div style=\"margin:12px 0;padding:12px;background:#f9f9f9;border-left:4px solid #333;\"><strong>Section ' + ch.number + ': ' + ch.title + '</strong><br>' + ch.brief + '<br><em style=\"color:#666;\">Arc: ' + (ch.arc_notes || '') + '</em></div>').join('') }}",
        "options": {
          "appendAttribution": false,
          "bccList": "={{ $('settings').item.json.bcc_email }}"
        }
      },
      "id": "eo-email",
      "name": "send_email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1248,
        0
      ],
      "webhookId": "1e60d6ca-1672-4b6e-90f3-f50ef2127ac8",
      "credentials": {
        "gmailOAuth2": {
          "id": "CPCSZOInV8Zj1PI1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eor1",
              "name": "result",
              "value": "=Outline edited for \"{{ $('save_edited_outline').item.json.title }}\". Changes applied and emailed. Previous version auto-saved \u2014 use \"outline version history\" to see versions.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "eo-result",
      "name": "set_result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1472,
        0
      ]
    }
  ],
  "connections": {
    "workflow_trigger": {
      "main": [
        [
          {
            "node": "settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "settings": {
      "main": [
        [
          {
            "node": "load_and_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "load_and_prompt": {
      "main": [
        [
          {
            "node": "apply_edits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "apply_edits": {
      "main": [
        [
          {
            "node": "save_edited_outline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "claude-sonnet": {
      "ai_languageModel": [
        [
          {
            "node": "apply_edits",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "outline_parser": {
      "ai_outputParser": [
        [
          {
            "node": "apply_edits",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "save_edited_outline": {
      "main": [
        [
          {
            "node": "send_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_email": {
      "main": [
        [
          {
            "node": "set_result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "4a0f0ee6-1080-44ac-a805-96356ff28fd3",
  "activeVersionId": "4a0f0ee6-1080-44ac-a805-96356ff28fd3",
  "versionCounter": 32,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-15T16:42:23.774Z",
      "createdAt": "2026-03-15T16:42:23.774Z",
      "role": "workflow:owner",
      "workflowId": "GzCpOrWwXHYkEAeX",
      "projectId": "so6FfyLmNOjnxEMJ",
      "project": {
        "updatedAt": "2026-01-12T16:36:13.622Z",
        "createdAt": "2026-01-12T15:34:50.204Z",
        "id": "so6FfyLmNOjnxEMJ",
        "name": "Eric Beser <eric@agileadtesting.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fd7cc91d-5051-4455-95a6-842a68ceadb7"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-29T16:29:58.461Z",
    "createdAt": "2026-03-29T16:29:47.904Z",
    "versionId": "4a0f0ee6-1080-44ac-a805-96356ff28fd3",
    "workflowId": "GzCpOrWwXHYkEAeX",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "project_title"
              },
              {
                "name": "edit_instructions"
              },
              {
                "name": "recipient_email"
              },
              {
                "name": "bcc_email"
              },
              {
                "name": "user_prompt"
              },
              {
                "name": "user_id"
              }
            ]
          }
        },
        "id": "eo-trigger",
        "name": "workflow_trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const SUPABASE_URL = 'https://faklxfakgzkpkbxfihzh.supabase.co';\nconst SUPABASE_API_KEY = 'REDACTED_SUPABASE_KEY';\nconst trigger = $('workflow_trigger').first().json;\nconst userId = trigger.user_id || '';\n\nlet recipient_email = trigger.recipient_email;\nlet bcc_email = trigger.bcc_email;\ntry {\n  const rows = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${SUPABASE_URL}/rest/v1/app_config_v2?key=in.(recipient_email,bcc_email)&select=key,value&user_id=eq.${encodeURIComponent(userId)}`,\n    headers: { 'apikey': SUPABASE_API_KEY, 'Authorization': `Bearer ${SUPABASE_API_KEY}` }\n  });\n  for (const row of rows) {\n    if (row.key === 'recipient_email' && !recipient_email) recipient_email = row.value;\n    if (row.key === 'bcc_email' && !bcc_email) bcc_email = row.value;\n  }\n} catch (e) {\n  if (!recipient_email) recipient_email = 'eric@agileadtesting.com';\n}\n\nreturn [{ json: { SUPABASE_URL, SUPABASE_API_KEY, userId, recipient_email, bcc_email: bcc_email || '' } }];"
        },
        "id": "eo-settings",
        "name": "settings",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const supabaseUrl = $('settings').first().json.SUPABASE_URL;\nconst apiKey = $('settings').first().json.SUPABASE_API_KEY;\nconst userId = $('settings').first().json.userId || '';\nconst headers = { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey };\nconst trigger = $('workflow_trigger').first().json;\nconst projectTitle = trigger.project_title || '';\nconst editInstructions = trigger.edit_instructions || '';\n\nif (!projectTitle) {\n  return [{ json: { error: true, result: 'No project_title provided. Specify which outline to edit.' } }];\n}\n\n// Load the existing outline\nconst resp = await this.helpers.httpRequest({\n  method: 'GET',\n  url: supabaseUrl + '/rest/v1/writing_projects_v2?title=ilike.*' + encodeURIComponent(projectTitle) + '*&select=id,title,genre_slug,outline&limit=1&user_id=eq.' + encodeURIComponent(userId),\n  headers\n});\n\nif (!Array.isArray(resp) || resp.length === 0) {\n  return [{ json: { error: true, result: 'No project found matching: ' + projectTitle } }];\n}\n\nconst project = resp[0];\nif (!project.outline || Object.keys(project.outline).length === 0) {\n  return [{ json: { error: true, result: 'Project \"' + project.title + '\" has no outline. Brainstorm a story first.' } }];\n}\n\n// Build a tight edit prompt\nconst outlineJson = JSON.stringify(project.outline, null, 2);\n\nconst prompt = `You are a precise JSON editor for story outlines. You will receive an existing story outline as JSON and specific edit instructions.\n\n## RULES \u2014 READ CAREFULLY\n1. Apply ONLY the changes explicitly requested in the edit instructions below.\n2. Do NOT modify any field, character, chapter, theme, or premise that is not mentioned in the edit instructions.\n3. If the instruction says \"change Margaret's age to 50\", find Margaret in the characters array and update ONLY her description or arc text to reflect the new age. Do NOT change her name, role, or anything else. Do NOT touch any other character.\n4. If the instruction says \"rename chapter 5\", change ONLY that chapter's title. Do NOT modify its brief, arc_notes, or any other chapter.\n5. Preserve all text EXACTLY as-is for fields you are not editing \u2014 same wording, same punctuation, same spelling.\n6. Return the COMPLETE outline JSON with the targeted edits applied. Do not omit any fields or chapters.\n7. If you are unsure whether a change is requested, DO NOT make it. When in doubt, preserve the original.\n\n## EXISTING OUTLINE (JSON)\n${outlineJson}\n\n## EDIT INSTRUCTIONS\n${editInstructions}\n\nApply ONLY the requested edits to the outline above. Return the complete outline as JSON.`;\n\nreturn [{ json: { prompt, project_id: project.id, project_title: project.title, existing_outline: project.outline } }];"
        },
        "id": "eo-load",
        "name": "load_and_prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          448,
          0
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.prompt }}",
          "hasOutputParser": true,
          "batching": {}
        },
        "id": "eo-chain",
        "name": "apply_edits",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          672,
          0
        ]
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "claude-sonnet-4-20250514",
            "mode": "list",
            "cachedResultName": "Claude Sonnet 4"
          },
          "options": {
            "maxTokensToSample": 16000
          }
        },
        "id": "eo-claude",
        "name": "claude-sonnet",
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.3,
        "position": [
          624,
          240
        ],
        "credentials": {
          "anthropicApi": {
            "id": "5LhCYKsaFO3fF7II",
            "name": "Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "schemaType": "manual",
          "inputSchema": "{\"type\": \"object\", \"properties\": {\"title\": {\"type\": \"string\"}, \"premise\": {\"type\": \"string\"}, \"themes\": {\"type\": \"array\", \"items\": {\"type\": \"string\"}}, \"characters\": {\"type\": \"array\", \"items\": {\"type\": \"object\", \"properties\": {\"name\": {\"type\": \"string\"}, \"role\": {\"type\": \"string\"}, \"arc\": {\"type\": \"string\"}, \"description\": {\"type\": \"string\"}}}}, \"chapters\": {\"type\": \"array\", \"items\": {\"type\": \"object\", \"properties\": {\"number\": {\"type\": \"integer\"}, \"title\": {\"type\": \"string\"}, \"brief\": {\"type\": \"string\"}, \"arc_notes\": {\"type\": \"string\"}, \"research_topics\": {\"type\": \"array\", \"items\": {\"type\": \"string\"}}}}}}, \"required\": [\"title\", \"premise\", \"themes\", \"characters\", \"chapters\"]}"
        },
        "id": "eo-parser",
        "name": "outline_parser",
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          808,
          224
        ]
      },
      {
        "parameters": {
          "jsCode": "const supabaseUrl = $('settings').first().json.SUPABASE_URL;\nconst apiKey = $('settings').first().json.SUPABASE_API_KEY;\nconst userId = $('settings').first().json.userId || '';\nconst headers = { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey, 'Content-Type': 'application/json', 'Prefer': 'return=representation' };\nconst readHeaders = { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey };\n\nconst loadData = $('load_and_prompt').first().json;\nconst projectId = loadData.project_id;\nconst projectTitle = loadData.project_title;\nconst existingOutline = loadData.existing_outline;\nconst editedOutline = $input.first().json.output || {};\n\n// Check for error from load_and_prompt\nif (loadData.error) {\n  return [{ json: { outline: null, project_id: null, title: '', result: loadData.result } }];\n}\n\n// Auto-snapshot the previous outline before saving edits\ntry {\n  const verResp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: supabaseUrl + '/rest/v1/outline_versions_v2?project_id=eq.' + projectId + '&order=version_number.desc&limit=1&select=version_number&user_id=eq.' + encodeURIComponent(userId),\n    headers: readHeaders\n  });\n  const maxVersion = (Array.isArray(verResp) && verResp.length > 0) ? verResp[0].version_number : 0;\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: supabaseUrl + '/rest/v1/outline_versions_v2',\n    headers,\n    body: {\n      project_id: projectId,\n      version_number: maxVersion + 1,\n      outline: existingOutline,\n      revision_note: 'Auto-snapshot before edit',\n      user_id: userId\n    }\n  });\n} catch (e) { /* continue */ }\n\n// MERGE edited outline into existing \u2014 preserve chapter_outline sub-structures\nconst mergedOutline = JSON.parse(JSON.stringify(existingOutline));\n\n// Update top-level fields from edit\nif (editedOutline.title) mergedOutline.title = editedOutline.title;\nif (editedOutline.premise) mergedOutline.premise = editedOutline.premise;\nif (editedOutline.themes) mergedOutline.themes = editedOutline.themes;\nif (editedOutline.characters) mergedOutline.characters = editedOutline.characters;\nif (editedOutline.story_arc_name) mergedOutline.story_arc_name = editedOutline.story_arc_name;\n\n// Merge chapters: update edited fields but PRESERVE chapter_outline from existing\nif (editedOutline.chapters && Array.isArray(editedOutline.chapters)) {\n  for (const editedCh of editedOutline.chapters) {\n    const existingCh = mergedOutline.chapters.find(ch => ch.number === editedCh.number);\n    if (existingCh) {\n      // Update book-level chapter fields from edit\n      if (editedCh.title) existingCh.title = editedCh.title;\n      if (editedCh.brief) existingCh.brief = editedCh.brief;\n      if (editedCh.arc_notes) existingCh.arc_notes = editedCh.arc_notes;\n      if (editedCh.research_topics) existingCh.research_topics = editedCh.research_topics;\n      \n      // If Claude included chapter_outline in the edit, use it (intentional edit)\n      // Otherwise PRESERVE the existing chapter_outline\n      if (editedCh.chapter_outline && editedCh.chapter_outline.sub_chapters) {\n        existingCh.chapter_outline = editedCh.chapter_outline;\n      }\n      // existing chapter_outline stays untouched if not in edit\n    }\n  }\n}\n\n// Save merged outline\nawait this.helpers.httpRequest({\n  method: 'PATCH',\n  url: supabaseUrl + '/rest/v1/writing_projects_v2?id=eq.' + projectId + '&user_id=eq.' + encodeURIComponent(userId),\n  headers,\n  body: { outline: mergedOutline, updated_at: new Date().toISOString() }\n});\n\nreturn [{ json: { outline: mergedOutline, project_id: projectId, title: projectTitle } }];"
        },
        "id": "eo-save",
        "name": "save_edited_outline",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1024,
          0
        ]
      },
      {
        "parameters": {
          "sendTo": "={{ $('settings').item.json.recipient_email }}",
          "subject": "=Outline Edit: {{ $('save_edited_outline').item.json.title }}",
          "message": "={{ $('workflow_trigger').first().json.user_prompt ? '<div style=\"background:#f0f0f0; border-left:4px solid #666; padding:12px 16px; margin-bottom:24px; font-family:sans-serif; font-size:14px; color:#333;\"><strong>Command:</strong> ' + $('workflow_trigger').first().json.user_prompt + '</div>' : '' }}<h2>{{ $json.title }} (Edited)</h2>\n<p><strong>Premise:</strong> {{ $json.outline?.premise }}</p>\n<h3>Themes</h3>\n<ul>{{ ($json.outline?.themes || []).map(t => '<li>' + t + '</li>').join('') }}</ul>\n<h3>Characters</h3>\n<table style=\"border-collapse:collapse;width:100%;\"><tr style=\"background:#f5f5f5;\"><th style=\"padding:8px;border:1px solid #ddd;\">Name</th><th style=\"padding:8px;border:1px solid #ddd;\">Role</th><th style=\"padding:8px;border:1px solid #ddd;\">Arc</th></tr>{{ ($json.outline?.characters || []).map(c => '<tr><td style=\"padding:8px;border:1px solid #ddd;font-weight:bold;\">' + c.name + '</td><td style=\"padding:8px;border:1px solid #ddd;\">' + c.role + '</td><td style=\"padding:8px;border:1px solid #ddd;\">' + c.arc + '</td></tr>').join('') }}</table>\n<h3>Section Outline</h3>\n{{ ($json.outline?.chapters || []).map(ch => '<div style=\"margin:12px 0;padding:12px;background:#f9f9f9;border-left:4px solid #333;\"><strong>Section ' + ch.number + ': ' + ch.title + '</strong><br>' + ch.brief + '<br><em style=\"color:#666;\">Arc: ' + (ch.arc_notes || '') + '</em></div>').join('') }}",
          "options": {
            "appendAttribution": false,
            "bccList": "={{ $('settings').item.json.bcc_email }}"
          }
        },
        "id": "eo-email",
        "name": "send_email",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          1248,
          0
        ],
        "webhookId": "1e60d6ca-1672-4b6e-90f3-f50ef2127ac8",
        "credentials": {
          "gmailOAuth2": {
            "id": "CPCSZOInV8Zj1PI1",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "eor1",
                "name": "result",
                "value": "=Outline edited for \"{{ $('save_edited_outline').item.json.title }}\". Changes applied and emailed. Previous version auto-saved \u2014 use \"outline version history\" to see versions.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "eo-result",
        "name": "set_result",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1472,
          0
        ]
      }
    ],
    "connections": {
      "workflow_trigger": {
        "main": [
          [
            {
              "node": "settings",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "settings": {
        "main": [
          [
            {
              "node": "load_and_prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "load_and_prompt": {
        "main": [
          [
            {
              "node": "apply_edits",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "apply_edits": {
        "main": [
          [
            {
              "node": "save_edited_outline",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "claude-sonnet": {
        "ai_languageModel": [
          [
            {
              "node": "apply_edits",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "outline_parser": {
        "ai_outputParser": [
          [
            {
              "node": "apply_edits",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "save_edited_outline": {
        "main": [
          [
            {
              "node": "send_email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "send_email": {
        "main": [
          [
            {
              "node": "set_result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Eric Beser",
    "name": "Version 4a0f0ee6",
    "description": "changed layout",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-29T16:29:58.456Z",
        "id": 1389,
        "workflowId": "GzCpOrWwXHYkEAeX",
        "versionId": "4a0f0ee6-1080-44ac-a805-96356ff28fd3",
        "event": "activated",
        "userId": "fd7cc91d-5051-4455-95a6-842a68ceadb7"
      }
    ]
  }
}